<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">
<th:block th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">
  <head th:replace="header_css :: header_css">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "header_css.html" at runtime.                                           -->
    <!-- ============================================================================ -->
  </head>
</th:block>


<body class="fixed-left" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">

<!--div class="animationload">
    <div class="loader"></div>
</div-->

<!-- Begin page -->
<div id="wrapper" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">
  <header class="navbar navbar-default navbar-static-top dark-header"
          style="  left: 0px;   position: fixed;   right: 0;   top: 0px;   z-index: 999;" role="banner"
          th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">
    <div th:replace="header :: header">
      <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "header.html" at runtime.                                               -->
      <!-- ============================================================================ -->
    </div>
  </header>


  <th:block th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">
    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu"
         th:replace="sidebar :: sidebar(page=${proposalType == 'renting'} ? label.proposal.renting : label.proposal.buying)">
      <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "sidebar.html" at runtime.                                              -->
      <!-- ============================================================================ -->
    </div>
    <!-- Left Sidebar End -->
  </th:block>

  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="content-page" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">
    <!-- Start content -->
    <div class="content" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">
      <div class="container-fluid" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">

        <th:block th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">
          <!-- Page-Title -->
          <div class="row"
               th:replace="profileproposal/jumbotron :: jumbotron(oneVar=${proposalType}, twoVar=${proposalType == 'renting'} ? #{label.proposal.renting} : #{label.proposal.buying}, page=label.listing)">
            <!-- ============================================================================ -->
            <!-- This content is only used for static prototyping purposes (natural templates)-->
            <!-- and is therefore entirely optional, as this markup fragment will be included -->
            <!-- from "jumbotron.html" at runtime.                                               -->
            <!-- ============================================================================ -->
          </div> <!-- /.col -->
        </th:block>


        <div class="row" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">
          <div class="col-sm-12" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">

            <div th:if="${!profile.profileSetting.showPrequalificationCompleted and proposalType == 'buying'}"
                 class="alert alert-warning alert-dismissable">
              <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
              <th:block th:text="#{label.prequalification.warning}">
              </th:block>
            </div>

            <div class="panel panel-default" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">

              <div class="panel-heading" style="height:50px;"
                   th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">
<span class="font-bold">
<th:block th:if="${proposalType == 'renting'}" th:text="#{label.proposal.renting}">Listing renting proposal</th:block>
                    <th:block th:if="${proposalType == 'buying'}" th:text="#{label.proposal.buying}">Listing renting
                      proposal
                    </th:block>
                    </span>


              </div>

              <div class="panel-heading" style="height:50px;"
                   th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">
                <div class="pull-left">
                  <span class="font-13">Filter By: </span>
                  <div class="btn-group btn-group-sm">
                    <a th:href="@{/profile/{proposalType}-proposal/(proposalType=${proposalType})}" type="button"
                       class="btn button">
                      Find all
                    </a><a th:classappend="${#httpServletRequest.getParameter('filter')} ? 'active' : ''"
                           th:href="@{/profile/{proposalType}-proposal/(proposalType=${proposalType},filter='1')}"
                           type="button" class="btn button">
                    Answer proposition
                  </a></div>
                </div>
                <form method="get" class="pull-right">
                  <select name="sorting" class="js_form_orderby">
                    <option value="dateCreated&#45;asc">Sort precedently created: old to new</option>
                    <option value="dateCreated&#45;desc" selected="selected">Sort recently created: new to old</option>
                  </select>
                </form>

              </div>

              <div class="panel-body" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">

                <ul class="table-list js_return_list"
                    th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">

                  <li th:each="list : ${list.content}" th:id="${list.id}" class="table-list-item">
                    <div class="table-list-cell issue-title">

                      <a th:href="@{/profile/proposal/{id}(id=${list.id})}" class="issue-title-link js-navigation-open"
                         th:text="#{${'label.' + list.propertyTypeInProposal}}">
                        condo / Appartement
                      </a>
                      <span class="label label-info m-l-5" th:text="#{${'label.' + list.proposalType}}">list.proposalType</span>
                      <span class="m-l-10 label label-primary" th:if="${list.rushPriority != null}"
                            th:text="#{${'label.InRush.' + list.rushPriority}}">rush priority</span>
                                    <span class="font-bold" style="display:block;font-size:13px;">
                                    <th:block th:text="${list.location.city.name + ','}">Type:</th:block>
                                  <th:block th:text="${list.location.province.name + ','}"> San Francisco,</th:block>
                                  <th:block th:text="${list.location.country.name}"> United States</th:block>
                                    </span>
                      <div class="issue-meta">
                                      <span class="issue-meta-section opened-by">
                                      <span>
                                        Price between (<th:block
                                          th:text="${list.minimumPrice + '-' + list.maximumPrice}"></th:block>)
                                      </span>
                                      <span class="m-l-15">
                                        Bedrooms (<th:block
                                          th:text="${list.bedroomsMin + '-' + list.bedroomsMax}"></th:block>)
                                        </span>
                                      <span class="m-l-15">
                                        Bathrooms (<th:block
                                          th:text="${list.bathroomsMin + '-' + list.bathroomsMax}"></th:block>)
                                      </span>
                                      </span>


                      </div>
                    </div>

                    <div class="table-list-cell table-list-cell-avatar font-bold">
                      <th:block th:each="listBinding,status : ${list.bindings}"
                                th:if="${listBinding.statusInterest == 'pending' and status.index &lt; 1 }">
                        <a class="label label-danger font-13"
                           th:id="${'js_notification_' + proposalType + '_proposal_' + list.id}"
                           th:href="@{/profile/binding/{id}(id=${list.id})}"
                           th:text="${'you have a proposition'}" data-toggle="modal"
                           data-target="#con-answer-proposition-modal"> </a>
                      </th:block>
                      <br />
                      <th:block th:text="#{label.views(${list.numberOfViews})}">4856 views</th:block>

                    </div>

                    <div class="table-list-cell issue-comments" style="font-size:18px;">
                      <a href="#" th:href="@{/profile/proposal/{id}/edit(id=${list.id})}"><i class="md md-edit"></i></a>

                      <a href="#" th:href="@{/profile/proposal/{id}/delete(id=${list.id})}"><i class="md md-close"></i></a>
                    </div>

                  </li>
                  <div class="module-section" th:unless="${not #lists.isEmpty(list.content)}">

                    <div class="placeholder ">
                      <h3 class="placeholder-title">No Listing</h3>
                      <div class="placeholder-text">This data will become available after your enter a proposal.</div>

                      <div class="placeholder-cta">
                        <a href="javascript:;" class="zeta-smo button"
                           th:if="${!profile.profileSetting.showPrequalificationCompleted and proposalType == 'renting'}"
                           th:href="@{/profile/{proposalType}-proposal/new(proposalType=${proposalType})}"
                           th:text="#{label.add(${proposalType})}">new</a>
                      </div>

                    </div>
                  </div>
                </ul>


              </div>
              <th:block th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">
                <div class="panel-footer" th:if="${list.totalPages &gt; 1}">


                  <!-- Pagination Bar -->
                  <div class="text-centered" th:if="${list.totalPages &gt; 1}">
                    <div class="pagination pagination-centered btn-group">

                      <span th:classappend="${list.firstPage}? 'disabled' : ''" class="btn btn-white"
                            th:if="${list.firstPage}">← First</span>
                      <a class="btn btn-white" th:if="${not list.firstPage}" th:href="@{${list.url}(page=1)}">←
                        First</a>

                      <span class="btn btn-white" th:if="${not list.hasPreviousPage}">«</span>
                      <a th:classappend="${list.hasPreviousPage}? '' : 'disabled'" class="btn btn-white"
                         th:if="${list.hasPreviousPage}" th:href="@{${list.url}(page=${list.number-1})}"
                         title="Go to previous page">«</a>

                      <th:block th:each="item : ${list.items}">
                        <span th:classappend="${item.current}? 'active' : ''" class="btn btn-white"
                              th:if="${item.current}" th:text="${item.number}">1</span>
                        <a class="btn btn-white" th:if="${not item.current}"
                           th:href="@{${list.url}(page=${item.number})}"><span th:text="${item.number}">1</span></a>
                      </th:block>

                      <span class="btn btn-white" th:if="${not list.hasNextPage}">»</span>
                      <a class="btn btn-white" th:classappend="${list.hasNextPage}? '' : 'disabled'"
                         th:if="${list.hasNextPage}" th:href="@{${list.url}(page=${list.number+1})}"
                         title="Go to next page">»</a>

                      <span class="btn btn-white" th:classappend="${list.lastPage}? 'disabled' : ''"
                            th:if="${list.lastPage}">Last →</span>
                      <a class="btn btn-white" th:if="${not list.lastPage}"
                         th:href="@{${list.url}(page=${list.totalPages})}">Last →</a>


                    </div>
                  </div>
                  <!-- end Pagination Bar -->

                </div>
              </th:block>

            </div>


          </div>
        </div>


      </div> <!-- container -->

    </div> <!-- content -->

    <footer class="footer" th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">
      2015 © Ubold.
    </footer>

  </div>
  <!-- ============================================================== -->
  <!-- End Right content here -->
  <!-- ============================================================== -->


  <!-- Right Sidebar -->
  <div class="side-bar right-bar nicescroll" th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">
    <h4 class="text-center">Chat</h4>
    <div class="contact-list nicescroll">
      <ul class="list-group contacts-list">
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-1.jpg}" alt=""/>
            </div>
            <span class="name">Chadengle</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-2.jpg}" alt=""/>
            </div>
            <span class="name">Tomaslau</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-3.jpg}" alt=""/>
            </div>
            <span class="name">Stillnotdavid</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-4.jpg}" alt=""/>
            </div>
            <span class="name">Kurafire</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-5.jpg}" alt=""/>
            </div>
            <span class="name">Shahedk</span>
            <i class="fa fa-circle away"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-6.jpg}" alt=""/>
            </div>
            <span class="name">Adhamdannaway</span>
            <i class="fa fa-circle away"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-7.jpg}" alt=""/>
            </div>
            <span class="name">Ok</span>
            <i class="fa fa-circle away"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-8.jpg}" alt=""/>
            </div>
            <span class="name">Arashasghari</span>
            <i class="fa fa-circle offline"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-9.jpg}" alt=""/>
            </div>
            <span class="name">Joshaustin</span>
            <i class="fa fa-circle offline"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-10.jpg}" alt=""/>
            </div>
            <span class="name">Sortino</span>
            <i class="fa fa-circle offline"></i>
          </a>
          <span class="clearfix"></span>
        </li>
      </ul>
    </div>
  </div>
  <!-- /Right-bar -->


</div>
<!-- END wrapper -->

<!-- modal -->
<div id="con-answer-proposition-modal" th:if="${#httpServletRequest.getParameter('rel') != 'tab'}" class="modal"
     tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

    </div>
  </div>
</div>
<!-- /.modal -->

<script th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">
            var resizefunc = [];

</script>
<th:block th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">
  <th:block th:replace="footer_js :: footer_js">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "footer_js.html" at runtime                                             -->
    <!-- ============================================================================ -->
  </th:block>
</th:block>


</body>
</html>
