<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>

<div id="wrapper">

  <header>

  </header>


  <div class="mainnav">

    <div class="container">


      <nav class="collapse mainnav-collapse" role="navigation">


      </nav>

    </div> <!-- /.container -->

  </div> <!-- /.mainnav -->

  <div class="content">

    <div class="container">

      <div class="layout layout-main-right layout-stack-sm">

        <div class="row" th:fragment="jumbotron(oneVar,twoVar,page)">
          <div class="col-sm-12">
            <div class="page-header-2">
              <ul class='center-top-menu'>
                <th:block th:if="${oneVar == 'buying'}">
                  <li th:classappend="${page == 'label.prequalification' ? 'active' : ''}"><a href="javascript:;"
                                                                                              th:href="@{/profile/prequalification}">Get
                    Prequalification</a></li>
                  <li th:classappend="${page == 'label.prequalification.show' ? 'active' : ''}"><a href="javascript:;"
                                                                                                   th:href="@{/profile/prequalification?show}">Show
                    pre - qualification</a></li>
                </th:block>
                <li th:classappend="${page == 'label.add' ? 'active' : ''}"><a href="javascript:;"
                                                                               th:href="@{/profile/{oneVar}-proposal/new(oneVar=${oneVar})}"
                                                                               th:text="#{label.add(${twoVar})}">Change
                  password</a></li>
                <li th:classappend="${page == 'label.listing' ? 'active' : ''}"><a href="javascript:;"
                                                                                   th:href="@{/profile/{oneVar}-proposal/(oneVar=${oneVar})}"
                                                                                   th:text="#{label.listing(${twoVar})}">Edit
                  Account</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.sidebar-secondary-admin -->


        <div class="col-md-9 col-sm-8 layout-main">

          <div id="settings-content" class="tab-content stacked-content">


          </div> <!-- /.tab-content -->

        </div> <!-- /.col -->

      </div> <!-- /.row -->


    </div> <!-- /.container -->

  </div> <!-- .content -->

</div> <!-- /#wrapper -->

<footer class="footer">

</footer>

</body>
</html>
