<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header_css :: header_css">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "header_css.html" at runtime.                                           -->
  <!-- ============================================================================ -->
</head>


<body class="fixed-left">

  <!--div class="animationload">
            <div class="loader"></div>
        </div-->

  <!-- Begin page -->
  <div id="wrapper">
    <header class="navbar navbar-default navbar-static-top dark-header topbar" role="banner" th:fragment="header">
      <div th:replace="header :: header">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "header.html" at runtime.                                               -->
        <!-- ============================================================================ -->
      </div>
    </header>




    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu" th:replace="sidebar :: sidebar(page=${proposalType == 'renting'} ? label.proposal.renting : label.proposal.buying)">
      <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "sidebar.html" at runtime.                                              -->
      <!-- ============================================================================ -->
    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
      <!-- Start content -->
      <div class="content">
        <div class="container-fluid">

          <!-- Page-Title -->
          <div class="row" th:replace="profileproposal/jumbotron :: jumbotron(oneVar=buying, twoVar=#{label.proposal.buying}, page=label.add)">
            <!-- ============================================================================ -->
            <!-- This content is only used for static prototyping purposes (natural templates)-->
            <!-- and is therefore entirely optional, as this markup fragment will be included -->
            <!-- from "jumbotron.html" at runtime.                                               -->
            <!-- ============================================================================ -->
          </div>
          <!-- /.col -->





          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading font-bold">
                  Add a new buying proposal
                </div>

                <div class="panel-body">
                  <form accept-charset="UTF-8" class="js_step_form ejb_eb form-horizontal" th:action="@{/profile/buying-proposal/new}" th:object="${proposal}" th:id="'ejb_Form'" method="post">
                    <!-- Progress Bar -->

                    <!-- BEGIN STEPS -->
                    <div class="form-group">
                      <!--div id="breadcrumbs">
                      <p>
                        <a class="current-page" href="/manual/">Shopify Manual</a>
                        <a class="current-page" href="/manual/configuration/store-customization/">Store customization</a>
                        <span class="current-page">Social media</span>
                      </p>
                    </div-->
                    </div>
                    <!-- #breadcrumbs -->
                    <div th:if="${!profile.profileSetting.showPrequalificationCompleted}" class="alert alert-warning alert-dismissable">
                      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                      <th:block th:text="#{label.prequalification.warning}">
                      </th:block>
                    </div>
                    <!-- END STEPS -->
                    <div th:if="${message != null and message != 'null'}" class="alert alert-success alert-dismissable">
                      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                      <th:block th:text="${message}">
                      </th:block>
                    </div>

                    <!-- Fieldsets -->
                      <div class="form-section current">
                        <h3>My location</h3>
                        <br />
                        <div class="form-group">

                          <div class="col-md-4">
                            <select id="country" th:field="*{location.country.id}" class="ajaxList form-control required" data-target="province" th:attr="data-url=@{/province.json}">
                                <option value="" th:text="#{label.country}">-- Select Country --</option>
                                <option th:each="type : ${country}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                            </select>
                          </div>
                          <div class="col-md-4">
                            <select id="province" th:field="*{location.province.id}" class="ajaxList form-control required" data-target="city" th:attr="data-url=@{/city.json}">
                              <option value="" th:text="#{label.province}">-- Select Province --</option>
                            </select>
                          </div>
                          <div class="col-md-4">
                            <select id="city" th:field="*{location.city.id}" class="form-control required">
                              <option value="" th:text="#{label.city}">-- Select City --</option>
                            </select>
                          </div>

                        </div>
                        <!-- /.form-group -->
                        <hr />

                        <h4>Type</h4>
                        <div class="form-group">
                          <label for="propertyTypeInProposal" class="col-sm-2 control-label">Property Type</label>
                          <div class="col-sm-10">
                            <select th:field="*{propertyTypeInProposal}" class="form-control required">
                              <option value="" th:text="#{label.select.empty}"> - Select the type of the property - </option>
                              <option th:each="type : ${propertyTypeOfProperty}" th:value="${type}" th:text="#{${'label.' + type}}">Wireframe</option>
                            </select>
                            <span class="errors"> </span>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="minimumPrice" class="col-sm-2 control-label">minimum price</label>
                          <div class="col-sm-4">
                            <input th:field="*{minimumPrice}" class="form-control number" id="minimumPrice" th:placeholder="#{label.placeholder.minimumPrice}" />
                            <span class="errors"></span>
                          </div>

                          <label for="maximumPrice" class="col-sm-2 control-label">maximumPrice</label>
                          <div class="col-sm-4">
                            <input th:field="*{maximumPrice}" class="form-control number" id="maximumPrice" th:placeholder="#{label.placeholder.maximumPrice}" />
                            <span class="errors"> </span>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="rushPriority" class="col-sm-2 control-label">Rush</label>
                          <div class="col-sm-10">
                            <select th:field="*{rushPriority}" class="form-control required">
                              <option value="" th:text="#{label.InRush.emptyValue}"> - When would you like to get the property - </option>
                              <option th:value="0_3" th:text="#{label.InRush.0_3}"> - Within three months to come - </option>
                              <option th:value="3_6" th:text="#{label.InRush.3_6}"> - Between the next three months and six to come - </option>
                            </select>
                            <span class="error"></span>
                          </div>
                        </div>

                      </div>
                      <div class="form-section">
                        <h4 style="font-weight:bold;">Features</h4>
                        <div class="form-group">
                          <label for="bedroomsMin" class="col-sm-2 control-label">Bedroom(s)</label>
                          <div class="col-sm-4">
                            <select class="form-control required" th:field="*{bedroomsMin}">
                              <option th:value="0" th:text="0"></option>
                              <option th:value="1" th:text="1">1</option>
                              <option th:value="2" th:text="2">2</option>
                              <option th:value="3" th:text="3">3</option>
                              <option th:value="4" th:text="4">5</option>
                              <option th:value="5" th:text="${'+5'}">+5</option>
                            </select>
                            <span class="error"></span>
                          </div>
                          <label for="bathroomsMin" class="col-sm-2 control-label">Bathroom(s)</label>
                          <div class="col-sm-4">
                            <select class="form-control required" th:field="*{bathroomsMin}">
                              <option th:value="0" th:text="0">0</option>
                              <option th:value="1" th:text="1">1</option>
                              <option th:value="2" th:text="2">2</option>
                              <option th:value="3" th:text="3">3</option>
                              <option th:value="4" th:text="4">4</option>
                              <option th:value="5" th:text="${'5+'}">+5</option>
                            </select>
                            <span class="error"></span>
                          </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                          <label for="typeOfAccommodation" class="col-sm-2 control-label">Type of accommodation</label>
                          <div class="col-sm-4">
                            <label th:each="type : ${typeOfAccommodation}" class="margin-right-30">
                              <input type="checkbox" th:field="*{typeOfAccommodation}" th:value="${type}" />
                              <span th:text="#{${'label.' + type}}">label.enum.type</span>
                            </label>
                          </div>
                          <label for="constructionOfProperty" class="col-sm-2 control-label">Construction</label>
                          <div class="col-sm-4">
                            <label th:each="type : ${constructionOfProperty}" class="checkbox-inline">
                              <input type="checkbox" th:field="*{constructionOfProperty}" th:value="${type}" />
                              <span th:text="#{${'label.' + type}}">label.enum.type</span>
                            </label>
                            <span class="error"></span>
                          </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                          <label for="propertyType" class="col-sm-2 control-label">Property Type</label>
                          <div class="col-sm-4">
                            <label th:each="type : ${propertyType}" class="margin-right-30">
                              <input type="checkbox" th:field="*{propertyType}" th:value="${type}" />
                              <span th:text="#{${'label.' + type}}">label.enum.type</span>
                            </label>
                            <span class="error"></span>
                          </div>
                          <label for="securityFacilities" class="col-sm-2 control-label">Security facilities</label>
                          <div class="col-sm-4">
                            <label th:each="type : ${labelYesNo}" class="checkbox-inline">
                              <input type="checkbox" th:field="*{securityFacilities}" th:value="${type}" />
                              <span th:text="#{${'label.' + type}}">label.enum.type</span>
                            </label>
                            <span class="error"></span>
                          </div>
                        </div>
                        <div class="form-group">
                          <!-- le bon -->
                          <label for="ageOfProperty" class="col-sm-2 control-label">age of property</label>
                          <div class="col-sm-4">
                            <select class="form-control required" th:field="*{ageOfProperty}">
                              <option th:value="0" th:text="0">0</option>
                              <option th:value="5" th:text="${'+5'}">+5</option>
                              <option th:value="10" th:text="${'+10'}">+10</option>
                              <option th:value="15" th:text="${'+15'}">+15</option>
                              <option th:value="20" th:text="${'+20'}">+20</option>
                            </select>
                            <span class="error"></span>
                          </div>

                          <label for="privateEntry" class="col-sm-2 control-label">Private entry</label>
                          <div class="col-sm-4">
                            <label th:each="type : ${labelYesNo}" class="checkbox-inline">
                              <input type="checkbox" th:field="*{privateEntry}" th:value="${type}" />
                              <span th:text="#{${'label.' + type}}">label.enum.type</span>
                            </label>
                            <span class="error"></span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="typeOfExteriorSiding" class="col-sm-2 control-label">Type of exterior siding</label>
                          <div class="col-sm-4">
                            <label th:each="type : ${typeOfExteriorSiding}" class="margin-right-30">
                              <input type="checkbox" th:field="*{typeOfExteriorSiding}" th:value="${type}" />
                              <span th:text="#{${'label.' + type}}">label.enum.type</span>
                            </label>
                            <span class="error"></span>
                          </div>

                          <label for="garage" class="col-sm-2 control-label">Garage</label>
                          <div class="col-sm-4">
                            <label th:each="type : ${garage}" class="margin-right-30">
                              <input type="checkbox" th:field="*{garage}" th:value="${type}" />
                              <span th:text="#{${'label.' + type}}">label.enum.type</span>
                            </label>
                            <span class="error"></span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="windowsSiding" class="col-sm-2 control-label">Windows - Siding</label>
                          <div class="col-sm-4">
                            <label th:each="type : ${windowsSiding}" class="margin-right-30">
                              <input type="checkbox" th:field="*{windowsSiding}" th:value="${type}" />
                              <span th:text="#{${'label.' + type}}">label.enum.type</span>
                            </label>
                            <span class="error"></span>
                          </div>

                          <label for="masterBedroomWithBathroom" class="col-sm-2 control-label">Master bedroom with bathroom</label>
                          <div class="col-sm-4">
                            <label th:each="type : ${labelYesNo}" class="checkbox-inline">
                              <input type="checkbox" th:field="*{masterBedroomWithBathroom}" th:value="${type}" />
                              <span th:text="#{${'label.' + type}}">label.enum.type</span>
                            </label>
                            <span class="error"></span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="windowsConstruction" class="col-sm-2 control-label">Windows - Construction</label>
                          <div class="col-sm-4">
                            <label th:each="type : ${windowsConstruction}" class="margin-right-30">
                              <input type="checkbox" th:field="*{windowsConstruction}" th:value="${type}" />
                              <span th:text="#{${'label.' + type}}">label.enum.type</span>
                            </label>
                            <span class="error"></span>
                          </div>


                          <label for="unhinderedAccess" class="col-sm-2 control-label">Unhindered access</label>
                          <div class="col-sm-4">
                            <label th:each="type : ${labelYesNo}" class="checkbox-inline">
                              <input type="checkbox" th:field="*{unhinderedAccess}" th:value="${type}" />
                              <span th:text="#{${'label.' + type}}">label.enum.type</span>
                            </label>
                            <span class="error"></span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="carShelter" class="col-sm-2 control-label">Car shelter</label>
                          <div class="col-sm-4">
                            <label th:each="type : ${labelYesNo}" class="checkbox-inline">
                              <input type="checkbox" th:field="*{carShelter}" th:value="${type}" />
                              <span th:text="#{${'label.' + type}}">label.enum.type</span>
                            </label>
                            <span class="error"></span>
                          </div>

                          <label for="ageOfProperty" class="col-sm-2 control-label">Water</label>
                          <div class="col-sm-4">
                            <label th:each="type : ${water}" class="checkbox-inline">
                              <input type="checkbox" th:field="*{water}" th:value="${type}" />
                              <span th:text="#{${'label.' + type}}">label.enum.type</span>
                            </label>
                            <span class="error"></span>
                          </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                          <label for="ground" class="col-sm-2 control-label">Ground</label>
                          <div class="col-sm-4">
                            <label th:each="type : ${ground}" class="margin-right-30">
                              <input type="checkbox" th:field="*{ground}" th:value="${type}" />
                              <span th:text="#{${'label.' + type}}">label.enum.type</span>
                            </label>
                            <span class="error"></span>
                          </div>

                          <label for="sewer" class="col-sm-2 control-label">Sewer</label>
                          <div class="col-sm-4">
                            <label th:each="type : ${sewer}" class="checkbox-inline">
                              <input type="checkbox" th:field="*{sewer}" th:value="${type}" />
                              <span th:text="#{${'label.' + type}}">label.enum.type</span>
                            </label>
                            <span class="error"></span>
                          </div>
                        </div>
                        <!-- /.form-group -->
                      </div>
                    <div class="form-navigation">
    <button type="button" class="previous btn btn-info pull-left">&lt; Previous</button>
    <button type="button" class="next btn btn-info pull-right">Next &gt;</button>
    <button type="submit" class="btn btn-default pull-right" th:text="#{label.changes.submit}"> Save changes</button>
    <span class="clearfix"></span>
  </div>

                  </form>
                </div>
              </div>
            </div>
          </div>






        </div>
        <!-- container -->

      </div>
      <!-- content -->

      <footer class="footer">
        2015 © Ubold.
      </footer>

    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->


    <!-- Right Sidebar -->
            <div class="side-bar right-bar nicescroll">
                <h4 class="text-center">Chat</h4>
                <div class="contact-list nicescroll">
                    <ul class="list-group contacts-list">
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-1.jpg}" alt="" />
                                </div>
                                <span class="name">Chadengle</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-2.jpg}" alt="" />
                                </div>
                                <span class="name">Tomaslau</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-3.jpg}" alt="" />
                                </div>
                                <span class="name">Stillnotdavid</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-4.jpg}" alt="" />
                                </div>
                                <span class="name">Kurafire</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-5.jpg}" alt="" />
                                </div>
                                <span class="name">Shahedk</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-6.jpg}" alt="" />
                                </div>
                                <span class="name">Adhamdannaway</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-7.jpg}" alt="" />
                                </div>
                                <span class="name">Ok</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-8.jpg}" alt="" />
                                </div>
                                <span class="name">Arashasghari</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-9.jpg}" alt="" />
                                </div>
                                <span class="name">Joshaustin</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-10.jpg}" alt="" />
                                </div>
                                <span class="name">Sortino</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Right-bar -->


  </div>
  <!-- END wrapper -->

  <script>
    var resizefunc = [];
  </script>

  <th:block th:replace="footer_js :: footer_js">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "footer_js.html" at runtime                                             -->
    <!-- ============================================================================ -->
  </th:block>





</body>

</html>
