<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header_css :: header_css">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "header_css.html" at runtime.                                           -->
  <!-- ============================================================================ -->
</head>


<body class="fixed-left">

<!--div class="animationload">
    <div class="loader"></div>
</div-->

<!-- Begin page -->
<div id="wrapper">
  <header class="navbar navbar-default navbar-static-top dark-header topbar" role="banner" th:fragment="header">
    <div th:replace="header :: header">
      <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "header.html" at runtime.                                               -->
      <!-- ============================================================================ -->
    </div>
  </header>


  <!-- ========== Left Sidebar Start ========== -->
  <div class="left side-menu"
       th:replace="sidebar :: sidebar(page=${proposal.proposalType == 'proposal.renting'} ? label.proposal.renting : label.proposal.buying)">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "sidebar.html" at runtime.                                              -->
    <!-- ============================================================================ -->
  </div>
  <!-- Left Sidebar End -->

  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="content-page">
    <!-- Start content -->
    <div class="content">
      <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row"
             th:replace="profileproposal/jumbotron :: jumbotron(oneVar=${proposal.proposalType == 'proposal.renting' ? 'renting' : 'buying'}, twoVar=#{${'label.' + proposal.proposalType}}, page=label.add)">
          <!-- ============================================================================ -->
          <!-- This content is only used for static prototyping purposes (natural templates)-->
          <!-- and is therefore entirely optional, as this markup fragment will be included -->
          <!-- from "jumbotron.html" at runtime.                                               -->
          <!-- ============================================================================ -->
        </div> <!-- /.col -->


        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <!-- <div class="panel-heading">
                  <h4>Invoice</h4>
              </div> -->
              <div class="panel-body">
                <div class="clearfix">
                  <div class="pull-right">
                    <a href="#" class="btn btn-primary" th:href="@{/profile/proposal/{id}/edit(id=${proposal.id})}"><i
                        class="md md-edit"></i> Edit</a>&nbsp;

                    <a href="#" class="btn btn-primary" th:href="@{/profile/proposal/{id}/edit(id=${proposal.id})}"><i
                        class="md md-close"></i> Delete</a>
                  </div>
                </div>
                <hr/>
                <div class="row">
                  <div class="col-md-12">

                    <div class="pull-left">
                      <h4 class="m-t-0"><b th:text="#{${'label.' + proposal.propertyTypeInProposal}}">Enveto Market Pty
                        Ltd. </b></h4>

                      <p class="text-dark m-b-5"><b th:text="${proposal.location.country.id+', '}">Type: </b> <b
                          th:text="${proposal.location.province.name+', '}">Type: </b> <b
                          th:text="${proposal.location.city.name}">Type: </b></p>
                      <p class="text-dark m-b-5"><b>Type: </b><span class="text-muted"
                                                                    th:text="#{${'label.' + proposal.proposalType}}">the type </span>
                      </p>

                    </div>
                    <div class="pull-right m-t-30">
                      <p class="text-dark m-t-10"><b>Price between:</b> <span class="text-muted"
                                                                              th:text="${proposal.minimumPrice+' - '}">12</span>
                        <span class="text-muted" th:text="${proposal.maximumPrice}">12</span></p>
                      <p class="text-dark m-t-10"><b>Bedrooms:</b> <span class="text-muted"
                                                                         th:text="${proposal.bedroomsMin+' - '}">12</span>
                        <span class="text-muted" th:text="${proposal.bedroomsMax}">12</span></p>
                      <p class="text-dark m-t-10"><b>Bathrooms:</b> <span class="text-muted"
                                                                          th:text="${proposal.bathroomsMin+' - '}">12</span>
                        <span class="text-muted" th:text="${proposal.bathroomsMax}">12</span></p>
                      <p class="m-t-10" th:if="${proposal.rushPriority != null}"><strong>Priority: </strong> <span
                          class="label label-info" th:text="#{${'label.InRush.' + proposal.rushPriority}}">Hot</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="m-h-50"></div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="table-responsive">


                      <h4>List of binding</h4>
                      <ul class="table-list">
                        <li th:each="list,status : ${proposal.bindings}" th:id="${list.property.id}"
                            class="table-list-item">


                          <div class="table-list-cell table-list-cell-type">
                            <a th:href="@{/profile/property/{id}(id=${list.property.id})}"
                               aria-label="View the property">
                              <img th:each="propertyPhoto,status : ${list.property.propertyPhotos}"
                                   th:src="@{/resources/images/uploads/{upload}(upload=${propertyPhoto.thumbnailFilename})}"
                                   alt="" title="" th:if="${status.index &lt; 1}"/>
                            </a>
                          </div>

                          <div class="table-list-cell issue-title">

                            <a th:href="@{/profile/property/{id}(id=${list.property.id})}"
                               class="issue-title-link"
                               th:text="#{${'label.' + list.property.propertyType}}">
                              condo / Appartement
                            </a>
                                                    <span class="m-l-5"
                                                          th:text="${list.property.propertyPrice}">14,000 usd</span>
                                                    <span class="m-l-10 label label-primary"
                                                          th:text="#{${'label.for.' + list.property.propertySaleType}}">on sale</span>
                                    <span style="display:block;color:#000;font-weight:600;font-size:13px;">
                                      <th:block th:text="${list.property.location.locationString + ','}">600 40th Ave,
                                        Richmond
                                        District,
                                      </th:block>
                                  <th:block th:text="${list.property.location.province.name + ','}"> San Francisco,
                                  </th:block>
                                  <th:block th:text="${list.property.location.locationZipCode + ','}"> 94121,</th:block>
                                  <th:block th:text="${list.property.location.country.name}"> United States</th:block>
                                    </span>
                            <div class="issue-meta">
                                      <span class="issue-meta-section opened-by">
                                      <span>
                                        <th:block th:text="${list.property.propertyNumOfBedrooms}">
                                        </th:block><i class="fa fa-bed"></i></span>
                                      <span class="m-l-15">
                                        <th:block th:text="${list.property.propertyNumOfBathrooms}">
                                        </th:block><i class="fa fa-tint"></i></span>
                                      <span class="m-l-15">
                                        <th:block th:text="${list.property.propertySqFeet}">
                                        </th:block><i class="fa fa-arrows"></i></span>
                                      <span class="m-l-15">
                                        <th:block th:text="${list.property.propertyNumOfFloors}">
                                        </th:block>
                                      </span>
                                      </span>

                                      <span class="issue-meta-section css-truncate issue-milestone">

                                      </span>


                            </div>
                          </div>

                        </li>

                      </ul>

                      <div class="module-section" th:unless="${not #lists.isEmpty(proposal.bindings)}">

                        <div class="placeholder ">
                          <h3 class="placeholder-title">No Listing</h3>
                          <div class="placeholder-text">This data will become available after your enter a proposal.
                          </div>

                          <div class="placeholder-cta">
                            <a href="javascript:;" class="button"
                               th:if="${!profile.profileSetting.showPrequalificationCompleted and proposalType == 'renting'}"
                               th:href="@{/profile/{proposalType}-proposal/new(proposalType=${proposalType})}"
                               th:text="#{label.add(${proposalType})}">new</a>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>


      </div> <!-- container -->

    </div> <!-- content -->

    <footer class="footer">
      2015 © Ubold.
    </footer>

  </div>
  <!-- ============================================================== -->
  <!-- End Right content here -->
  <!-- ============================================================== -->


  <!-- Right Sidebar -->
  <div class="side-bar right-bar nicescroll">
    <h4 class="text-center">Chat</h4>
    <div class="contact-list nicescroll">
      <ul class="list-group contacts-list">
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-1.jpg}" alt=""/>
            </div>
            <span class="name">Chadengle</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-2.jpg}" alt=""/>
            </div>
            <span class="name">Tomaslau</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-3.jpg}" alt=""/>
            </div>
            <span class="name">Stillnotdavid</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-4.jpg}" alt=""/>
            </div>
            <span class="name">Kurafire</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-5.jpg}" alt=""/>
            </div>
            <span class="name">Shahedk</span>
            <i class="fa fa-circle away"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-6.jpg}" alt=""/>
            </div>
            <span class="name">Adhamdannaway</span>
            <i class="fa fa-circle away"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-7.jpg}" alt=""/>
            </div>
            <span class="name">Ok</span>
            <i class="fa fa-circle away"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-8.jpg}" alt=""/>
            </div>
            <span class="name">Arashasghari</span>
            <i class="fa fa-circle offline"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-9.jpg}" alt=""/>
            </div>
            <span class="name">Joshaustin</span>
            <i class="fa fa-circle offline"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-10.jpg}" alt=""/>
            </div>
            <span class="name">Sortino</span>
            <i class="fa fa-circle offline"></i>
          </a>
          <span class="clearfix"></span>
        </li>
      </ul>
    </div>
  </div>
  <!-- /Right-bar -->


</div>
<!-- END wrapper -->

<script>
            var resizefunc = [];
</script>

<th:block th:replace="footer_js :: footer_js">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "footer_js.html" at runtime                                             -->
  <!-- ============================================================================ -->
</th:block>


</body>
</html>