<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header_css :: header_css">
 <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "header_css.html" at runtime.                                           -->
  <!-- ============================================================================ -->
</head>


    <body class="fixed-left">

        <!--div class="animationload">
            <div class="loader"></div>
        </div-->

    <!-- Begin page -->
    <div id="wrapper">
    <header class="navbar navbar-default navbar-static-top dark-header topbar" role="banner">
    <div th:replace="header :: header">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "header.html" at runtime.                                               -->
    <!-- ============================================================================ -->
    </div>
    </header>




    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu" th:replace="sidebar :: sidebar(page=${proposalType == 'renting'} ? label.proposal.renting : label.proposal.renting)">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "sidebar.html" at runtime.                                              -->
    <!-- ============================================================================ -->
    </div>
    <!-- Left Sidebar End -->

      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="content-page">
        <!-- Start content -->
        <div class="content">
          <div class="container-fluid">

          <!-- Page-Title -->
        <div class="row" th:replace="profileproposal/jumbotron :: jumbotron(oneVar=renting, twoVar=#{label.proposal.renting}, page=label.add)">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "jumbotron.html" at runtime.                                               -->
        <!-- ============================================================================ -->
        </div> <!-- /.col -->





            <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="m-t-0 header-title"><b>Add a new renting proposal</b></h4>

                </div>
                <div class="panel-body">
                  <div class="row">

                    <div class="col-md-12">
                      <div class="p-20">

                        <form accept-charset="UTF-8" class="ejb_eb form-horizontal" th:action="${#httpServletRequest.requestURI}" th:object="${proposal}" method="post">
                <div th:if="${message != null and message != 'null'}" class="alert alert-success alert-dismissable">
                  <button aria-hidden="true" data-dismiss="alert" class="close" type="button" th:text="'x'">×</button>
                  <th:block th:text="${message}">
                  </th:block>
                </div>
                <div class="form-group">
                <input name="proposalType" type="hidden" th:attr="value=${proposal.proposalType}"/>

                  <div class="col-md-4" th:id="'location.country.id'">
                    <select id="country" th:field="*{location.country.id}" class="ajaxList form-control required" data-target="province" th:attr="data-url=@{/province.json}">
                        <option value="" th:text="#{label.country}">-- Select Country --</option>
                        <option th:each="type : ${country}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                    </select>
                    <span class="help-block"><span th:if="${#fields.hasErrors('location.country.id')}" th:errors="*{location.country.id}" class="block text-danger"></span></span>
                  </div>
                  <div class="col-md-4" th:id="'location.province.id'">
                    <select id="province" th:field="*{location.province.id}" class="ajaxList form-control required" data-target="city" th:attr="data-url=@{/city.json}">
                      <option value="" th:text="#{label.province}">-- Select Province --</option>
                      <option th:each="type : ${province}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                    </select>
                    <span class="help-block"><span th:if="${#fields.hasErrors('location.province.id')}" th:errors="*{location.province.id}" class="block text-danger"></span></span>
                  </div>
                  <div class="col-md-4" th:id="'location.city.id'">
                    <select id="city" th:field="*{location.city.id}" class="form-control required">
                      <option value="" th:text="#{label.city}">-- Select City --</option>
                      <option th:each="type : ${city}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                    </select>
                    <span class="help-block"><span th:if="${#fields.hasErrors('location.city.id')}" th:errors="*{location.city.id}" class="block text-danger"></span></span>
                  </div>

                </div> <!-- /.form-group -->

                <hr />

                <h4>Type</h4>
                  <div class="form-group" th:id="'propertyTypeInProposal'">
                      <label for="propertyTypeInProposal" class="col-sm-2 control-label">Property Type</label>
                      <div class="col-sm-10">
                        <select th:field="*{propertyTypeInProposal}" class="form-control required">
                          <option value="" th:text="#{label.select.empty}"> - Select the type of the property - </option>
                          <option th:each="type : ${propertyTypeOfProperty}"
                                  th:value="${type}"
                                  th:text="#{${'label.' + type}}">Wireframe</option>
                        </select>
                        <span class="help-block"><span th:if="${#fields.hasErrors('propertyTypeInProposal')}" th:errors="*{propertyTypeInProposal}" class="block text-danger"></span></span>
                      </div>
                  </div>

                  <div class="form-group">
                  <label for="minimumPrice" class="col-sm-2 control-label">minimum price</label>
                  <div class="col-sm-4" th:id="'minimumPrice'">
                    <input th:field="*{minimumPrice}" class="form-control" id="minimumPrice" th:placeholder="#{label.placeholder.minimumPrice}" />
                    <span class="help-block"><span th:if="${#fields.hasErrors('minimumPrice')}" th:errors="*{minimumPrice}" class="block text-danger"></span></span>
                  </div>

                  <label for="maximumPrice" class="col-sm-2 control-label">maximumPrice</label>
                  <div class="col-sm-4" th:id="'maximumPrice'">
                    <input th:field="*{maximumPrice}" class="form-control" id="maximumPrice" th:placeholder="#{label.placeholder.maximumPrice}"/>
                    <span class="help-block"><span th:if="${#fields.hasErrors('maximumPrice')}" th:errors="*{maximumPrice}" class="block text-danger"></span></span>
                  </div>
                </div>

              <div class="form-group col-sm-6" th:id="'bathroomsMin'">
                <label for="bathroomsMin" class="col-sm-4 control-label">Room (s) bathrooms</label>
                <div class="col-sm-4">
                  <select class="form-control" th:field="*{bathroomsMin}">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">+5</option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" th:field="*{bathroomsMax}">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">+5</option>
                  </select>
                </div>
                <span class="help-block"><span th:if="${#fields.hasErrors('bathroomsMin')}" th:errors="*{bathroomsMin}" class="block text-danger"></span></span>
                </div>

                <div class="form-group col-sm-6" th:id="'bedroomsMin'">
                <label for="bedroomsMin" class="col-sm-4 control-label">Room (s) bedrooms</label>
                <div class="col-sm-4">
                  <select class="form-control" th:field="*{bedroomsMin}">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">+5</option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" th:field="*{bedroomsMax}">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">+5</option>
                  </select>
                  
                </div>
                <span class="help-block"><span th:if="${#fields.hasErrors('bedroomsMin')}" th:errors="*{bedroomsMin}" class="block text-danger"></span></span>
              </div>

              <hr />
                <h4>Features</h4>
                <div class="form-group">
                  <label for="parking" class="col-sm-2 control-label">Parking</label>
                  <div class="col-sm-4" th:id="'parking'">
                      <label th:each="type : ${labelYesNo}" class="checkbox-inline">
                        <th:block th:if="${not #lists.isEmpty(proposal.parking)}">
                          <input  type="checkbox" name="parking"
                                          th:value="${type}"
                                          th:checked="${#lists.contains(proposal.parking, '' + type)}" />
                        </th:block>
                        <th:block th:if="${#lists.isEmpty(proposal.parking)}">
                          <input type="checkbox" th:field="*{parking}"
                                         th:value="${type}" />
                        </th:block>
                        <span th:text="#{${'label.' + type}}"> label.label </span>
                      </label>
                  <span class="help-block"><span th:if="${#fields.hasErrors('parking')}" th:errors="*{parking}" class="block text-danger"></span></span>
                  </div> <!-- /.col -->
                  <label for="furnished" class="col-sm-2 control-label">Furnished</label>
                  <div class="col-sm-4" th:id="'furnished'">
                    <select th:field="*{furnished}" class="form-control">
                      <option value="" th:text="#{label.select.empty}">-- Select the item --</option>
                      <option th:each="type : ${labelYesNo}"
                              th:value="${type}"
                              th:text="#{${'label.' + type}}">Wireframe</option>

                    </select>
                    <span class="help-block"><span th:if="${#fields.hasErrors('furnished')}" th:errors="*{furnished}" class="block text-danger"></span></span>
                  </div> <!-- /.col -->
                </div> <!-- /.form-group -->

                <div class="form-group">
                  <label for="propertyType" class="col-sm-2 control-label">Type</label>
                  <div class="col-sm-4" th:id="'propertyType'">
                    <label th:each="type : ${propertyType}" class="margin-right-30">
                      <th:block th:if="${not #lists.isEmpty(proposal.propertyType)}">
                          <input  type="checkbox" name="propertyType"
                                          th:value="${type}"
                                          th:checked="${#lists.contains(proposal.propertyType, '' + type)}" />
                        </th:block>
                        <th:block th:if="${#lists.isEmpty(proposal.propertyType)}">
                          <input type="checkbox" th:field="*{propertyType}"
                                         th:value="${type}" />
                        </th:block>
                      <span th:text="#{${'label.' + type}}">label.type</span>
                    </label>
                    <span class="help-block"><span th:if="${#fields.hasErrors('propertyType')}" th:errors="*{propertyType}" class="block text-danger"></span></span>
                  </div> <!-- /.col -->
                </div> <!-- /.form-group -->

                <div class="form-group col-md-2">
                  <label for="features" class="col-sm-12 control-labels">Features</label>
                </div> <!-- /.col -->
                <div class="form-group col-md-10" th:id="'features'">
                  <label th:each="type : ${featuresRent}" class="col-sm-4">
                    <th:block th:if="${not #lists.isEmpty(proposal.features)}">
                      <input  type="checkbox" name="features"
                                          th:value="${type}"
                                          th:checked="${#lists.contains(proposal.features, '' + type)}" />
                    </th:block>
                    <th:block th:if="${#lists.isEmpty(proposal.features)}">
                      <input type="checkbox" th:field="*{features}"
                                         th:value="${type}" />
                    </th:block>
                    <span th:text="#{${'label.' + type}}">label.type</span>
                  </label>
                  <span class="help-block"><span th:if="${#fields.hasErrors('propertyType')}" th:errors="*{propertyType}" class="block text-danger"></span></span>
                </div> <!-- /.form-group -->


                <div class="form-group">
                  <div class="col-md-7 col-md-push-3">
                    <button type="submit" class="btn btn-primary" th:text="#{label.changes.submit}">Save Changes</button>
                    &nbsp;
                    <button type="reset" class="btn btn-default" th:text="#{label.changes.cancel}">Cancel</button>
                  </div> <!-- /.col -->
                </div> <!-- /.form-group -->

              </form>
                      </div>
                    </div>
                  </div>
                  </div>
            </div>






                </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer">
                    2015 © Ubold.
                </footer>

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


            <!-- Right Sidebar -->
            <div class="side-bar right-bar nicescroll">
                <h4 class="text-center">Chat</h4>
                <div class="contact-list nicescroll">
                    <ul class="list-group contacts-list">
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-1.jpg}" alt="" />
                                </div>
                                <span class="name">Chadengle</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-2.jpg}" alt="" />
                                </div>
                                <span class="name">Tomaslau</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-3.jpg}" alt="" />
                                </div>
                                <span class="name">Stillnotdavid</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-4.jpg}" alt="" />
                                </div>
                                <span class="name">Kurafire</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-5.jpg}" alt="" />
                                </div>
                                <span class="name">Shahedk</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-6.jpg}" alt="" />
                                </div>
                                <span class="name">Adhamdannaway</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-7.jpg}" alt="" />
                                </div>
                                <span class="name">Ok</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-8.jpg}" alt="" />
                                </div>
                                <span class="name">Arashasghari</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-9.jpg}" alt="" />
                                </div>
                                <span class="name">Joshaustin</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-10.jpg}" alt="" />
                                </div>
                                <span class="name">Sortino</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Right-bar -->


        </div>
        <!-- END wrapper -->

        <script>
            var resizefunc = [];
        </script>

  <th:block th:replace="footer_js :: footer_js">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "footer_js.html" at runtime                                             -->
  <!-- ============================================================================ -->
  </th:block>





  </body>
</html>
