<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header_css :: header_css">
 <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "header_css.html" at runtime.                                           -->
  <!-- ============================================================================ -->
</head>


    <body class="fixed-left">

        <!--div class="animationload">
            <div class="loader"></div>
        </div-->

    <!-- Begin page -->
    <div id="wrapper">
    <header class="navbar navbar-default navbar-static-top dark-header topbar" role="banner" th:fragment="header">
    <div th:replace="header :: header">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "header.html" at runtime.                                               -->
    <!-- ============================================================================ -->
    </div>
    </header>




    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu" th:replace="sidebar :: sidebar(page=${proposalType == 'renting'} ? label.proposal.renting : label.proposal.buying)">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "sidebar.html" at runtime.                                              -->
    <!-- ============================================================================ -->
    </div>
    <!-- Left Sidebar End -->

      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="content-page">
        <!-- Start content -->
        <div class="content">
          <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row" th:replace="profileproposal/jumbotron :: jumbotron(oneVar=buying, twoVar=#{label.proposal.buying}, page=label.add)">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "jumbotron.html" at runtime.                                               -->
        <!-- ============================================================================ -->
        </div> <!-- /.col -->





                <div class="panel panel-default">
                  <div class="panel-heading">
                  <h4 class="m-t-0 header-title"><b>Add a new buying proposal</b></h4>
                  </div>
                  <div class="panel panel-body">
                  <div class="row">

                    <div class="col-md-12">

                        <form accept-charset="UTF-8" class="js_step_form ejb_eb form-horizontal" th:action="${#httpServletRequest.requestURI}" th:object="${proposal}" th:id="'ejb_Form'" method="post">
                <!-- Progress Bar -->
                  <!--ul id="progressbar">
                    <li class="active">Create Account</li>
                    <li>Educational Profiles</li>
                    <li>Personal Details</li>
                  </ul-->
                  <div th:if="${message != null and message != 'null'}" class="alert alert-success alert-dismissable">
                  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                  <th:block th:text="${message}">
                  </th:block>
                </div>

                    <!-- Fieldsets -->
                    <div class="form-section current">
                      <h3>My location</h3>
                    <div class="form-group">
                      <input name="proposalType" type="hidden" th:attr="value=${proposal.proposalType}"/>
                  <div class="col-md-4">
                    <select id="country" th:field="*{location.country.id}" class="ajaxList form-control required" data-target="province" th:attr="data-url=@{/province.json}">
                        <option value="" th:text="#{label.country}">-- Select Country --</option>
                        <option th:each="type : ${country}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select id="province" th:field="*{location.province.id}" class="ajaxList form-control required" data-target="city" th:attr="data-url=@{/city.json}">
                      <option value="" th:text="#{label.province}">-- Select Province --</option>
                      <option th:each="type : ${province}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select id="city" th:field="*{location.city.id}" class="form-control required">
                      <option value="" th:text="#{label.city}">-- Select City --</option>
                      <option th:each="type : ${city}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                    </select>
                  </div>

                </div> <!-- /.form-group -->

                <hr />

                <h4>Type</h4>
                  <div class="form-group">
                      <label for="propertyTypeInProposal" class="col-sm-2 control-label">Property Type</label>
                      <div class="col-sm-10">
                        <select th:field="*{propertyTypeInProposal}" class="form-control required">
                          <option value="" th:text="#{label.select.empty}"> - Select the type of the property - </option>
                          <option th:each="type : ${propertyTypeOfProperty}"
                                  th:value="${type}"
                                  th:text="#{${'label.' + type}}">Wireframe</option>
                        </select>
                        <span class="errors"> </span>
                      </div>
                  </div>

                  <div class="form-group">
                  <label for="minimumPrice" class="col-sm-2 control-label">minimum price</label>
                  <div class="col-sm-4">
                    <input th:field="*{minimumPrice}" class="form-control" id="minimumPrice" th:placeholder="#{label.placeholder.minimumPrice}" />
                    <span class="errors"></span>
                  </div>

                  <label for="maximumPrice" class="col-sm-2 control-label">maximumPrice</label>
                  <div class="col-sm-4">
                    <input th:field="*{maximumPrice}" class="form-control" id="maximumPrice" th:placeholder="#{label.placeholder.maximumPrice}"/>
                    <span class="errors"> </span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="rushPriority" class="col-sm-2 control-label">Rush</label>
                  <div class="col-sm-10">
                  <select th:field="*{rushPriority}" class="form-control required">
                    <option th:value="0" th:text="#{label.InRush.emptyValue}"> - When would you like to get the property - </option>
                    <option th:value="0_3" th:text="#{label.InRush.0_3}"> - Within three months to come - </option>
                    <option th:value="3_6" th:text="#{label.InRush.3_6}"> - Between the next three months and six to come - </option>
                  </select>
                  <span class="error"></span>
                  </div>
                </div>

                </div>
                <div class="form-section">
                <h4 style="font-weight:bold;">Features</h4>
                  <div class="form-group">
                    <label for="bedroomsMin" class="col-sm-2 control-label">Bedroom(s)</label>
                    <div class="col-sm-4">
                      <select class="form-control required" th:field="*{bedroomsMin}">
                        <option th:value="0" th:text="0"></option>
                        <option th:value="1" th:text="1">1</option>
                        <option th:value="2" th:text="2">2</option>
                        <option th:value="3" th:text="3">3</option>
                        <option th:value="4" th:text="4">5</option>
                        <option th:value="5" th:text="${'+5'}">+5</option>
                      </select>
                      <span class="error"></span>
                    </div>
                    <label for="bathroomsMin" class="col-sm-2 control-label">Bathroom(s)</label>
                    <div class="col-sm-4">
                      <select class="form-control required" th:field="*{bathroomsMin}">
                        <option th:value="0" th:text="0">0</option>
                        <option th:value="1" th:text="1">1</option>
                        <option th:value="2" th:text="2">2</option>
                        <option th:value="3" th:text="3">3</option>
                        <option th:value="4" th:text="4">4</option>
                        <option th:value="5" th:text="${'5+'}">+5</option>
                      </select>
                      <span class="error"></span>
                    </div>
                  </div> <!-- /.form-group -->

                <div class="form-group">
                    <label for="typeOfAccommodation" class="col-sm-2 control-label">Type of accommodation</label>
                    <div class="col-sm-4">
                      <label th:each="type : ${typeOfAccommodation}" class="margin-right-30">
                        <th:block th:if="${not #lists.isEmpty(proposal.typeOfAccommodation)}">
              <input type="checkbox" name="typeOfAccommodation"
                                     th:value="${type}"
                                     th:checked="${#lists.contains(proposal.typeOfAccommodation, '' + type)}" />
              </th:block>
              <th:block th:if="${#lists.isEmpty(proposal.typeOfAccommodation)}">
              <input type="checkbox" th:field="*{typeOfAccommodation}"
                                     th:value="${type}" />
              </th:block>
                        <span th:text="#{${'label.' + type}}">label.type</span>
                      </label>
                    </div>
                    <label for="constructionOfProperty" class="col-sm-2 control-label">Construction</label>
                    <div class="col-sm-4">
                        <label th:each="type : ${constructionOfProperty}" class="checkbox-inline">
                          <th:block th:if="${not #lists.isEmpty(proposal.constructionOfProperty)}">
              <input type="checkbox" name="constructionOfProperty"
                                     th:value="${type}"
                                     th:checked="${#lists.contains(proposal.constructionOfProperty, '' + type)}" />
              </th:block>
              <th:block th:if="${#lists.isEmpty(proposal.constructionOfProperty)}">
              <input type="checkbox" th:field="*{constructionOfProperty}"
                                     th:value="${type}" />
              </th:block>
                          <span th:text="#{${'label.' + type}}">label.type</span>
                        </label>
                        <span class="error"></span>
                    </div>
                    </div> <!-- /.form-group -->

                 <div class="form-group">
          <label for="propertyType" class="col-sm-2 control-label">Property Type</label>
          <div class="col-sm-4">
              <label th:each="type : ${propertyType}" class="margin-right-30">
                <th:block th:if="${not #lists.isEmpty(proposal.propertyType)}">
              <input type="checkbox" name="propertyType"
                                     th:value="${type}"
                                     th:checked="${#lists.contains(proposal.propertyType, '' + type)}" />
              </th:block>
              <th:block th:if="${#lists.isEmpty(proposal.propertyType)}">
              <input type="checkbox" th:field="*{propertyType}"
                                     th:value="${type}" />
              </th:block>
                <span th:text="#{${'label.' + type}}">label.type</span>
              </label>
              <span class="error"></span>
          </div>
          <label for="securityFacilities" class="col-sm-2 control-label">Security facilities</label>
          <div class="col-sm-4">
            <label th:each="type : ${labelYesNo}" class="checkbox-inline">
              <th:block th:if="${not #lists.isEmpty(proposal.securityFacilities)}">
              <input type="checkbox" name="securityFacilities"
                                     th:value="${type}"
                                     th:checked="${#lists.contains(proposal.securityFacilities, '' + type)}" />
              </th:block>
              <th:block th:if="${#lists.isEmpty(proposal.securityFacilities)}">
              <input type="checkbox" th:field="*{securityFacilities}"
                                     th:value="${type}" />
              </th:block>
              <span th:text="#{${'label.' + type}}">label.type</span>
            </label>
            <span class="error"></span>
          </div>
        </div>
        <div class="form-group">
          <!-- le bon -->
          <label for="ageOfProperty" class="col-sm-2 control-label">age of property</label>
          <div class="col-sm-4">
            <select class="form-control required" th:field="*{ageOfProperty}">
              <option th:value="0" th:text="0">0</option>
              <option th:value="5" th:text="${'+5'}">+5</option>
              <option th:value="10" th:text="${'+10'}">+10</option>
              <option th:value="15" th:text="${'+15'}">+15</option>
              <option th:value="20" th:text="${'+20'}">+20</option>
            </select>
            <span class="error"></span>
          </div>

          <label for="privateEntry" class="col-sm-2 control-label">Private entry</label>
          <div class="col-sm-4">
            <label th:each="type : ${labelYesNo}" class="checkbox-inline">
              <th:block th:if="${not #lists.isEmpty(proposal.privateEntry)}">
              <input type="checkbox" name="privateEntry"
                                     th:value="${type}"
                                     th:checked="${#lists.contains(proposal.privateEntry, '' + type)}" />
              </th:block>
              <th:block th:if="${#lists.isEmpty(proposal.privateEntry)}">
              <input type="checkbox" th:field="*{privateEntry}"
                                     th:value="${type}" />
              </th:block>
              <span th:text="#{${'label.' + type}}">label.type</span>
            </label>
            <span class="error"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="typeOfExteriorSiding" class="col-sm-2 control-label">Type of exterior siding</label>
          <div class="col-sm-4">
              <label th:each="type : ${typeOfExteriorSiding}" class="margin-right-30">
                <th:block th:if="${not #lists.isEmpty(proposal.typeOfExteriorSiding)}">
              <input type="checkbox" name="typeOfExteriorSiding"
                                     th:value="${type}"
                                     th:checked="${#lists.contains(proposal.typeOfExteriorSiding, '' + type)}" />
              </th:block>
              <th:block th:if="${#lists.isEmpty(proposal.typeOfExteriorSiding)}">
              <input type="checkbox" th:field="*{typeOfExteriorSiding}"
                                     th:value="${type}" />
              </th:block>
                <span th:text="#{${'label.' + type}}">label.type</span>
              </label>
            <span class="error"></span>
          </div>

          <label for="garage" class="col-sm-2 control-label">Garage</label>
          <div class="col-sm-4">
              <label th:each="type : ${garage}" class="margin-right-30">
                <th:block th:if="${not #lists.isEmpty(proposal.garage)}">
              <input type="checkbox" name="garage"
                                     th:value="${type}"
                                     th:checked="${#lists.contains(proposal.garage, '' + type)}" />
              </th:block>
              <th:block th:if="${#lists.isEmpty(proposal.garage)}">
              <input type="checkbox" th:field="*{garage}"
                                     th:value="${type}" />
              </th:block>
                <span th:text="#{${'label.' + type}}">label.type</span>
              </label>
              <span class="error"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="windowsSiding" class="col-sm-2 control-label">Windows - Siding</label>
          <div class="col-sm-4">
              <label th:each="type : ${windowsSiding}" class="margin-right-30">
                <th:block th:if="${not #lists.isEmpty(proposal.windowsSiding)}">
              <input type="checkbox" name="windowsSiding"
                                     th:value="${type}"
                                     th:checked="${#lists.contains(proposal.windowsSiding, '' + type)}" />
              </th:block>
              <th:block th:if="${#lists.isEmpty(proposal.windowsSiding)}">
              <input type="checkbox" th:field="*{windowsSiding}"
                                     th:value="${type}" />
              </th:block>
                <span th:text="#{${'label.' + type}}">label.type</span>
              </label>
            <span class="error"></span>
          </div>

          <label for="masterBedroomWithBathroom" class="col-sm-2 control-label">Master bedroom with bathroom</label>
          <div class="col-sm-4">
            <label th:each="type : ${labelYesNo}" class="checkbox-inline">
              <th:block th:if="${not #lists.isEmpty(proposal.masterBedroomWithBathroom)}">
              <input type="checkbox" name="masterBedroomWithBathroom"
                                     th:value="${type}"
                                     th:checked="${#lists.contains(proposal.masterBedroomWithBathroom, '' + type)}" />
              </th:block>
              <th:block th:if="${#lists.isEmpty(proposal.masterBedroomWithBathroom)}">
              <input type="checkbox" th:field="*{masterBedroomWithBathroom}"
                                     th:value="${type}" />
              </th:block>
              <span th:text="#{${'label.' + type}}">label.type</span>
            </label>
            <span class="error"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="windowsConstruction" class="col-sm-2 control-label">Windows - Construction</label>
          <div class="col-sm-4">
              <label th:each="type : ${windowsConstruction}" class="margin-right-30">
                <th:block th:if="${not #lists.isEmpty(proposal.windowsConstruction)}">
              <input type="checkbox" name="windowsConstruction"
                                     th:value="${type}"
                                     th:checked="${#lists.contains(proposal.windowsConstruction, '' + type)}" />
              </th:block>
              <th:block th:if="${#lists.isEmpty(proposal.windowsConstruction)}">
              <input type="checkbox" th:field="*{windowsConstruction}"
                                     th:value="${type}" />
              </th:block>
                <span th:text="#{${'label.' + type}}">label.type</span>
              </label>
            <span class="error"></span>
          </div>


          <label for="unhinderedAccess" class="col-sm-2 control-label">Unhindered access</label>
          <div class="col-sm-4">
            <label th:each="type : ${labelYesNo}" class="checkbox-inline">
              <th:block th:if="${not #lists.isEmpty(proposal.unhinderedAccess)}">
              <input type="checkbox" name="unhinderedAccess"
                                     th:value="${type}"
                                     th:checked="${#lists.contains(proposal.unhinderedAccess, '' + type)}" />
              </th:block>
              <th:block th:if="${#lists.isEmpty(proposal.unhinderedAccess)}">
              <input type="checkbox" th:field="*{unhinderedAccess}"
                                     th:value="${type}" />
              </th:block>
              <span th:text="#{${'label.' + type}}">label.type</span>
            </label>
            <span class="error"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="carShelter" class="col-sm-2 control-label">Car shelter</label>
          <div class="col-sm-4">
            <label th:each="type : ${labelYesNo}" class="checkbox-inline">
              <th:block th:if="${not #lists.isEmpty(proposal.carShelter)}">
              <input type="checkbox" name="carShelter"
                                     th:value="${type}"
                                     th:checked="${#lists.contains(proposal.carShelter, '' + type)}" />
              </th:block>
              <th:block th:if="${#lists.isEmpty(proposal.carShelter)}">
              <input type="checkbox" th:field="*{carShelter}"
                                     th:value="${type}" />
              </th:block>
              <span th:text="#{${'label.' + type}}">label.type</span>
            </label>
            <span class="error"></span>
          </div>

          <label for="ageOfProperty" class="col-sm-2 control-label">Water</label>
          <div class="col-sm-4">
              <label th:each="type : ${water}" class="checkbox-inline">
                <th:block th:if="${not #lists.isEmpty(proposal.water)}">
              <input type="checkbox" name="water"
                                     th:value="${type}"
                                     th:checked="${#lists.contains(proposal.water, '' + type)}" />
              </th:block>
              <th:block th:if="${#lists.isEmpty(proposal.water)}">
              <input type="checkbox" th:field="*{water}"
                                     th:value="${type}" />
              </th:block>
                <span th:text="#{${'label.' + type}}">label.type</span>
              </label>
            <span class="error"></span>
          </div>
        </div> <!-- /.form-group -->

        <div class="form-group">
          <label for="ground" class="col-sm-2 control-label">Ground</label>
          <div class="col-sm-4">
              <label th:each="type : ${ground}" class="margin-right-30">
              <th:block th:if="${not #lists.isEmpty(proposal.ground)}">
              <input type="checkbox" name="ground"
                                     th:value="${type}"
                                     th:checked="${#lists.contains(proposal.ground, '' + type)}" />
              </th:block>
              <th:block th:if="${#lists.isEmpty(proposal.ground)}">
              <input type="checkbox" name="ground"
                                     th:value="${type}" />
              </th:block>
                <span th:text="#{${'label.' + type}}">label.type</span>
              </label>
            <span class="error"></span>
          </div>

          <label for="sewer" class="col-sm-2 control-label">Sewer</label>
          <div class="col-sm-4">
              <label th:each="type : ${sewer}" class="checkbox-inline">
                <th:block th:if="${not #lists.isEmpty(proposal.sewer)}">
              <input type="checkbox" name="sewer"
                                     th:value="${type}"
                                     th:checked="${#lists.contains(proposal.sewer, '' + type)}" />
              </th:block>
              <th:block th:if="${#lists.isEmpty(proposal.sewer)}">
              <input type="checkbox" name="sewer"
                                     th:value="${type}" />
              </th:block>
                <span th:text="#{${'label.' + type}}">label.type</span>
              </label>
            <span class="error"></span>
          </div>
        </div> <!-- /.form-group -->
   
        </div>
              <div class="form-navigation">
    <button type="button" class="previous btn btn-info pull-left">&lt; Previous</button>
    <button type="button" class="next btn btn-info pull-right">Next &gt;</button>
    <button type="submit" class="btn btn-default pull-right" th:text="#{label.changes.submit}"> Save changes</button>
    <span class="clearfix"></span>
  </div>

                <!--div class="form-group">
                  <div class="col-md-7 col-md-push-3">
                    <button type="submit" class="btn btn-primary" th:text="#{label.button.submitChanges}">Save Changes</button>
                    &nbsp;
                    <button type="reset" class="btn btn-default" th:text="#{label.button.cancelChanges}">Cancel</button>
                  </div>
                </div--> <!-- /.form-group -->

              </form>
                      </div>
                    </div>
              </div>
            </div>






                </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer">
                    2015 © Ubold.
                </footer>

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


            <!-- Right Sidebar -->
            <div class="side-bar right-bar nicescroll">
                <h4 class="text-center">Chat</h4>
                <div class="contact-list nicescroll">
                    <ul class="list-group contacts-list">
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-1.jpg}" alt="" />
                                </div>
                                <span class="name">Chadengle</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-2.jpg}" alt="" />
                                </div>
                                <span class="name">Tomaslau</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-3.jpg}" alt="" />
                                </div>
                                <span class="name">Stillnotdavid</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-4.jpg}" alt="" />
                                </div>
                                <span class="name">Kurafire</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-5.jpg}" alt="" />
                                </div>
                                <span class="name">Shahedk</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-6.jpg}" alt="" />
                                </div>
                                <span class="name">Adhamdannaway</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-7.jpg}" alt="" />
                                </div>
                                <span class="name">Ok</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-8.jpg}" alt="" />
                                </div>
                                <span class="name">Arashasghari</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-9.jpg}" alt="" />
                                </div>
                                <span class="name">Joshaustin</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-10.jpg}" alt="" />
                                </div>
                                <span class="name">Sortino</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Right-bar -->


        </div>
        <!-- END wrapper -->

        <script>
            var resizefunc = [];
        </script>

  <th:block th:replace="footer_js :: footer_js">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "footer_js.html" at runtime                                             -->
  <!-- ============================================================================ -->
  </th:block>





  </body>
</html>
