<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header_css :: header_css">
 <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "header_css.html" at runtime.                                           -->
  <!-- ============================================================================ -->
</head>

  <body>
  <header class="banner navbar navbar-default navbar-static-top dark-header" role="banner" >
      <div th:replace="header :: header ">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "header.html" at runtime.                                               -->
    <!-- ============================================================================ -->
      </div>
    </header>
<div class="container">
<section >

  <div class="row-fluid">
    <fieldset>
      <div class="text-center">
        <h2>Recover your password.</h2>
        <p>Enter the email address that you registered your account with, and we'll send instructions to reset your password.</p>
      </div>
    </fieldset>
    <div class="mx-box-lg meta-border container-alt p-b-10 p-t-10">
    <th:block th:if="${param.email != null}">
                <div class="alert alert-success">
                  <i class="fa fa-check-circle-o fa-2x pull-left"></i>
                  <p>Please check your email and click <strong>Reset password</strong> in the message we just sent to <th:block th:text="${param.email[0]}">sanjaymohit306@hotmail.com</th:block>.</p>
                </div>
                </th:block>
    <form accept-charset="UTF-8" th:object="${emailPasswordForm}" class="ejb_eb form-horizontal" method="post" th:action="@{/forgot}">
      <div class="row form-signin">
        <div class="col-xs-10">
        <div class="form-group" id="email">
            <label class="form-label" for="email">Email or Username</label>
            <input autofocus="autofocus" class="form-control" id="email" name="email" th:placeholder="#{label.placeholder.email}" required="required" />
            <span class="help-block"><span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="block text-danger"></span></span>
          </div>
          </div>
      </div>
      <div class="row button-field text-center mag-top-small">
                    <div class="col-xs-6 col-md-6">
            <p class="disclaimer align-left">
            Let's create an account? <a th:href="@{register}">Register</a>.<br />
            </p>
          </div>
          <div class="col-xs-6 col-md-6">
            <button class="btn btn-primary btn-block"><span></span>Recover</button>
          </div>
      </div>
    </form>
    </div>
  </div>


</section></div>
<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<th:block th:replace="footer_js :: footer_js">
<!-- ============================================================================ -->
<!-- This content is only used for static prototyping purposes (natural templates)-->
<!-- and is therefore entirely optional, as this markup fragment will be included -->
<!-- from "footer_js.html" at runtime                                             -->
<!-- ============================================================================ -->
</th:block>
  </body>
</html>
