<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header_css :: header_css">
 <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "header_css.html" at runtime.                                           -->
  <!-- ============================================================================ -->
</head>

  <body>
  <header class="banner navbar navbar-default navbar-static-top dark-header" role="banner" >
      <div th:replace="header :: header ">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "header.html" at runtime.                                               -->
    <!-- ============================================================================ -->
      </div>
    </header>
<div class="container">
<section >

  <div class="row-fluid">
    <fieldset>
      <div class="text-center">
        <h2>Log in to proov.</h2>
      </div>
    </fieldset>
    <div class="mx-box-lg meta-border container-alt p-b-10 p-t-10">
    <form name="login" method="post" action="security_check.html" th:attr="action=@{/security_check}" role="form" >
    <div th:if="${message != null and message != 'null'}" class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <th:block th:text="${message}"></th:block>
          </div>
          <div th:if="${error != null}" class="alert alert-danger alert-dismissable">
              <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
              <th:block th:text="${error}"></th:block>
          </div>
      <div class="row form-signin">
        <div class="col-xs-10">
        <div class="form-group">
            <label class="form-label" for="email">Email or Username</label>
            <input autofocus="autofocus" class="form-control" id="email" name="email" th:placeholder="#{label.placeholder.email}" required="required" />
          </div>
          <div class="form-group">
            <label class="form-label" for="password">Password</label>
                <input class="form-control" id="password" name="password" type="password" th:placeholder="#{label.placeholder.password}" required="required" />
          </div>
          <div class="form-group">
            <div class="col-sm-offset-0 col-sm-10">
              <div>
                <label>
                  <input type="checkbox" aria-label="Single checkbox One" /> Remember me
                </label>
              </div>
            </div>
          </div>
          </div>
      </div>
      <div class="row button-field text-center mag-top-small">
                    <div class="col-xs-6 col-md-6">
            <p class="disclaimer align-left">
            Let's create an account? <a class="link" th:href="@{register}">Register</a>.<br />
            <a th:href="@{/forgot}" class="link">Forgot Password?</a>
            </p>
          </div>
          <div class="col-xs-6 col-md-6">
            <button class="btn btn-primary btn-block"><span></span>Log in</button>
          </div>
      </div>
    </form>
    </div>
  </div>


</section></div>

<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<th:block th:replace="footer_js :: footer_js">
<!-- ============================================================================ -->
<!-- This content is only used for static prototyping purposes (natural templates)-->
<!-- and is therefore entirely optional, as this markup fragment will be included -->
<!-- from "footer_js.html" at runtime                                             -->
<!-- ============================================================================ -->
</th:block>
  </body>
</html>
