<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header_css :: header_css">
 <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "header_css.html" at runtime.                                           -->
  <!-- ============================================================================ -->
</head>

<body>
    <header class="banner navbar navbar-default navbar-static-top dark-header" role="banner" >
      <div th:replace="header :: header ">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "header.html" at runtime.                                               -->
    <!-- ============================================================================ -->
      </div>
    </header>
<div class="container">
<section >

  <div class="row-fluid">
    <fieldset>
      <div class="text-center">
        <h2>Let's create your account.</h2>
        <p>Register for A+ Vue is fast and free -- no commitments or long-term contracts.</p>
      </div>
    </fieldset>
    <div class="mx-box-lg meta-border container-alt p-b-10 p-t-10">
                    <th:block th:if="${param.email != null}">
                <div class="alert alert-success">
                  <i class="fa fa-check-circle-o fa-2x pull-left"></i>
                  <h3>Thanks For Signing Up!</h3> 
                  <p>Please check your email and click <strong>Activate Account</strong> in the message we just sent to <th:block th:text="${param.email[0]}">sanjaymohit306@hotmail.com</th:block>.</p>
                </div>
                </th:block>
    <form accept-charset="UTF-8" class="ejb_eb" th:action="@{/register}" th:object="${account}" method="post">
      <div class="row form-signin">
        <div class="col-xs-10">
        <div class="form-group" id="email">
            <label for="email" th:text="#{label.email}">label.email</label>
            <input type="email" th:field="*{email}" class="form-control" id="email" th:placeholder="#{label.placeholder.email}"/>
            <span class="help-block"><span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="block text-danger"></span></span>
          </div>
          <div class="form-group" id="password">
            <label for="password" th:text="#{label.password}">label.password</label>
            <input type="password" th:field="*{password}" class="form-control" id="password" th:placeholder="#{label.placeholder.password}" />
            <span class="help-block"><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="block text-danger"></span></span>
          </div>
          <div class="form-group" id="repassword">
            <label for="repassword" th:text="#{label.password.re}">label.repassword</label>
            <input type="password" th:field="*{repassword}" class="form-control" id="repassword" th:placeholder="#{label.placeholder.repassword}" />
            <span class="help-block"><span th:if="${#fields.hasErrors('repassword')}" th:errors="*{repassword}" class="block text-danger"></span></span>
          </div>
          <!--div class="row" id="role">
            <div class="col-xs-6">
              <input type="checkbox" id="role1" th:field="*{role}" th:value="'ROLE_BUYER'" />
              <label for="role1" th:text="#{label.role.buyer}">label.role</label>
            </div>
            <div class="col-xs-6">
              <input type="checkbox" id="role2" th:field="*{role}" th:value="'ROLE_SELLER'" />
              <label for="role2" th:text="#{label.role.seller}">label.role</label>
            </div>
            <span class="help-block"><span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="block text-danger"></span></span>
          </div-->

            <span class="help-block"><span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="block text-danger"></span></span>
          <small>By signing up you agree to our <a href="javascipt:;">Terms of Service</a> and
<a target="_blank" href="javascipt:;">Privacy Policy</a></small>
          </div>
      </div>
      <div class="row button-field text-center mag-top-small">
          <div class="col-xs-6 col-md-6">
            <p class="disclaimer align-left">
            Log in to your account? <a class="link" th:href="@{/login}">Log in</a>.<br />
            <a th:href="@{/forgot}" class="link">Forgot Password?</a>
            </p>
          </div>
          <div class="col-xs-6 col-md-6">
            <button class="btn btn-primary btn-block"> register</button>
          </div>
      </div>
    </form>
    </div>
  </div>


</section></div>


<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<th:block th:replace="footer_js :: footer_js">
<!-- ============================================================================ -->
<!-- This content is only used for static prototyping purposes (natural templates)-->
<!-- and is therefore entirely optional, as this markup fragment will be included -->
<!-- from "footer_js.html" at runtime                                             -->
<!-- ============================================================================ -->
</th:block>

</body></html>
