<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header_css :: header_css">
 <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "header_css.html" at runtime.                                           -->
  <!-- ============================================================================ -->
</head>

  <body>
  <header class="banner navbar navbar-default navbar-static-top dark-header" role="banner" >
      <div th:replace="header :: header ">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "header.html" at runtime.                                               -->
    <!-- ============================================================================ -->
      </div>
    </header>
<div class="container">
<section >

  <div class="row-fluid">
    <fieldset>
      <div class="text-center">
        <h2>Reset your password.</h2>
        <p>Enter a new password to reset your previous password.</p>
      </div>
    </fieldset>
    <div class="mx-box-lg meta-border container-alt p-b-10 p-t-10">
    <form accept-charset="UTF-8" th:object="${emailPasswordForm}" class="ejb_eb form-horizontal" method="post" th:action="@{/reset}">
      <div class="row form-signin">
        <div class="col-xs-10">
        <input type="hidden" name="token" th:attr="value=${param.t[0]}" />
        <div class="form-group" id="newPassword">
            <label class="form-label" for="newPassword" th:text="#{label.password.new}">password</label>
            <input autofocus="autofocus" autocomplete="off" type="password" class="form-control" th:field="*{newPassword}" th:placeholder="#{label.placeholder.password}" required="required" />
            <span class="help-block"><span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="block text-danger"></span></span>
          </div>
          <div class="form-group" id="reNewPassword">
            <label class="form-label" for="reNewPassword" th:text="#{label.password.re}">password</label>
            <input type="password" autocomplete="off" class="form-control" th:field="*{reNewPassword}" th:placeholder="#{label.placeholder.password}" required="required" />
            <span class="help-block"><span th:if="${#fields.hasErrors('reNewPassword')}" th:errors="*{reNewPassword}" class="block text-danger"></span></span>
          </div>
          </div>
      </div>
      <div class="row button-field text-center mag-top-small">
                    <div class="col-xs-6 col-md-6">
            <p class="disclaimer align-left">
            Let's create an account? <a th:href="@{register}">Register</a>.<br />
            </p>
          </div>
          <div class="col-xs-6 col-md-6">
            <button class="btn btn-primary btn-block"><span></span>Reset</button>
          </div>
      </div>
    </form>
    </div>
  </div>


</section></div>
<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<th:block th:replace="footer_js :: footer_js">
<!-- ============================================================================ -->
<!-- This content is only used for static prototyping purposes (natural templates)-->
<!-- and is therefore entirely optional, as this markup fragment will be included -->
<!-- from "footer_js.html" at runtime                                             -->
<!-- ============================================================================ -->
</th:block>
  </body>
</html>
