









#dsidx-listings .dsidx-media{position:relative}


#dsidx-listings .dsidx-media .dsidx-photo{position:absolute;top:0;left:0;border:1px solid #ededed;max-height:188px;overflow:hidden}





#dsidx-listings .dsidx-media .dsidx-photo img{width:250px;padding:0}


#dsidx-listings .dsidx-primary-data,#dsidx-listings .dsidx-secondary-data{float:left;padding-left:260px;width:100%}











