.section-heading__flair{position:relative}
.section-heading__flair:before{content:'';position:absolute;top:-16px;bottom:auto;left:50%;height:3px;width:30px;margin-left:-15px;display:block;background-color:#7ab55c}

.section-heading{margin-bottom:1.875em;text-align:center}








