

.center-top-menu{padding:0;margin:0;list-style:none;margin-top:5px;height:56px;text-align:center;margin-top:5px;margin-bottom:16px;height:auto;margin-top:-16px}
.center-top-menu li{display:inline-block}
.center-top-menu li a{padding:19px 10px;font-size:17px;line-height:28px;color:#7f8fa4;border-bottom:2px solid transparent}
.center-top-menu li a:hover,.center-top-menu li a:active,.center-top-menu li a:focus{text-decoration:none;outline:none}
.center-top-menu li.active a{color:#4c4e54;border-bottom:2px solid #1cacfc}
.center-top-menu li .badge{font-weight:normal;background-color:#eee;color:#78a}


.center-top-menu li a{display:inline-block;padding-top:16px;padding-bottom:11px;margin-bottom:-1px}









 