

@-webkit-keyframes status-pulsate{
0%{-webkit-transform:scale(0);
transform:scale(0);
opacity:.1}
50%{opacity:.6}
100%{-webkit-transform:scale(1.2);transform:scale(1.2);opacity:0}}

@keyframes status-pulsate{
0%{-webkit-transform:scale(0);
transform:scale(0);
opacity:.1}
50%{opacity:.6}
100%{-webkit-transform:scale(1.2);
transform:scale(1.2);
opacity:0}}

.status{position:relative;
/*top:-.1em;*/
/*display:inline-block;*/
vertical-align:middle;
height:15px;
width:15px;
background:currentColor;
color:#b6c5cd;
border-radius:100%;
transition:all .3s ease}

.status-warning{color:#f39c12}
.status-danger{color:#dd6a5e}
.status-active::after{
content:"";
position:absolute;
height:25px;
width:25px;
left:-5px;
top:-5px;
opacity:0;
border:3px solid currentColor;
border-radius:50%;
-webkit-animation:status-pulsate 1.8s ease-out infinite;
animation:status-pulsate 1.8s ease-out infinite}