.table-list {
  display: table;
  table-layout: fixed;
  width: 100%;
  color: #999;
  padding: 0;
  /*border-bottom: 1px solid #e5e5e5*/
}
.table-list-item {
  position: relative;
  list-style: none;
  display: table-row;
}
.table-list-cell {
  position: relative;
  display: table-cell;
  padding: 8px 10px;
  font-size: 12px;
  vertical-align: top;
  border-bottom: 1px solid #eee
}

.table-list-cell-type {
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  width: 80px;
  text-align: center
}
.table-list-cell-type > a > img{
  width: 70px;
}
.table-list-cell-type>a {
  display: inline-block
}
.table-list-cell-type .octicon {
  margin-top: 3px
}
.table-list-cell-type:first-child {
  padding-left: 10px
}
.table-list-cell-avatar {
  padding-left: 0;
  padding-right: 0;
  width: 250px
}



.issue-title-link {
  padding-right: 3px;
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
  color: #333
}
.issue-title-link:hover {
  color: #4078c0;
  text-decoration: none
}
.issue-comments {
  width: 80px;
  padding-top: 13px;
  font-weight: bold;
  text-align: right;
  white-space: nowrap
}
.cell-appointement {
  width: 180px;
  padding-top: 13px;
  font-weight: bold;
  text-align: right;
  white-space: nowrap
}
.issue-comments .octicon {
  margin-right: 1px
}
