


.placeholder{padding:1rem;border:2px dashed #e3e6e8;border-radius:3px;text-align:center}.placeholder-on-dark-bg{border-color:rgba(255,255,255,0.2)}.placeholder-on-dark-bg .placeholder-title{color:#fff}.placeholder-on-dark-bg .placeholder-text{color:currentColor}.press-mention.module{position:relative;margin-bottom:2rem}




.button{position:relative;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:2.5em;padding:0 1em;vertical-align:middle;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;color:#55595e;cursor:pointer;border:1px solid #c7ccd1;border-bottom-color:#b9bfc6;box-shadow:0px 1px 1px rgba(0,0,0,0.1);border-radius:3px;transition:0.15s all ease}
.button.hover,.button:hover{background-color:#f1f2f4;color:#3d4043}
.button.active,.button:active{background-color:#e3e6e8;border-color:#c7ccd1;border-top-color:#b9bfc6;box-shadow:inset 0px 1px 1px rgba(0,0,0,0.1);color:#242628}
.button.disabled,.button[disabled]{background:#e3e6e8 !important;border-color:transparent !important;box-shadow:none !important;color:#a1a6aa !important;cursor:not-allowed !important}


.bb{border-bottom:1px solid #e3e6e8}




