

.clearfix:before,.invitation-status .invitation-status-indicator:before,.meta-chris:before,.meta-chris .item:before,.module .module-section:before,.comments .module-section:before,.comments .item:before,.module .module-header:before,.comments .module-header:before,.module .offering-update-section:before,.comments .offering-update-section:before,#user-profile .user-profile-activity>.item .before:before,#user-profile .user-profile-activity>.item .virtualcard .comment-meta:before,.module-section.investor-list:before,.grid:before,.grid>[class*=col]:before,.clearfix:after,.invitation-status .invitation-status-indicator:after,.meta-chris:after,.meta-chris .item:after,.module .module-section:after,.comments .module-section:after,.comments .item:after,.module .module-header:after,.comments .module-header:after,.module .offering-update-section:after,.comments .offering-update-section:after,#user-profile .user-profile-activity>.item .before:after,#user-profile .user-profile-activity>.item .virtualcard .comment-meta:after,.module-section.investor-list:after,.grid:after,.grid>[class*=col]:after{content:"";display:table}


.clearfix:after,.invitation-status .invitation-status-indicator:after,.meta-chris:after,.meta-chris .item:after,.module .module-section:after,.comments .module-section:after,.comments .item:after,.module .module-header:after,.comments .module-header:after,.module .offering-update-section:after,.comments .offering-update-section:after,#user-profile .user-profile-activity>.item .before:after,#user-profile .user-profile-activity>.item .virtualcard .comment-meta:after,.module-section.investor-list:after,.grid:after,.grid>[class*=col]:after{clear:both}









.abs-t{position:absolute;z-index:1;top:0}




.abs-t.outset{margin-top:-0.5em}

.abs-b{position:absolute;z-index:1;bottom:0}






.abs-c{left:50%;margin-left:-0.5em}




.circle{display:block;width:40px;height:40px;border-radius:50%;font-size:40px;/*background:#fff*/}



.has-transition{transition:0.5s all}.is-faded-out{opacity:0}.img-wrapper{display:block;position:relative;background:#d5d9dd}.img-wrapper>img,.img-wrapper>.img{position:absolute;width:100%;top:0;left:0;opacity:0;transition:0.5s all}










.hc-cn-section-padding,.developer-profile-cover-photo-empty .module-section,.module .module-section,.comments .module-section,.comments .item,.module .module-header,.comments .module-header,.module .offering-update-section,.comments .offering-update-section,.has-module-section-padding{padding:14px}






	.module,.comments{background:#fff;border:1px solid #d5d9dd;border-bottom-color:#c7ccd1;border-radius:3px;box-shadow:0px 1px 1px rgba(0,0,0,0.08);position:relative}













.bg-green{background-color:#20AC66 !important}


.position-relative{position:relative !important}

.clear-right{clear:right !important}.clear-both{clear:both !important}
.block-align-center,.module-standalone{display:block;margin-left:auto;margin-right:auto}
.h6{font-size:16px}

.h5{font-size:18px}.h4{font-size:21px}.h3{font-size:24px}.h2{font-size:28px}.text-align-center{text-align:center}










.embossed{border:1px solid #d5d9dd;border-bottom-color:#c7ccd1;box-shadow:0px 1px 1px rgba(0,0,0,0.08)}

@media screen and (min-width: 768px){




.bl-md{border-left:1px solid #d5d9dd}

.br-md{border-right:1px solid #d5d9dd}




.col-2-md{width:16.66667%}

.col-offset-3-md{margin-left:25%}







.grid-3-up-md>[class*=col]{float:left;width:33.33333%}.grid-3-up-md>[class*=col]:nth-of-type(n){clear:none}.grid-3-up-md>[class*=col]:nth-child(3n+1){clear:both}.grid-3-up-md.grid-gutters-tiny-md{margin-top:-10px}.grid-3-up-md.grid-gutters-tiny-md>[class*=col]{padding-top:10px}.grid-3-up-md.grid-gutters-tight-md{margin-top:-20px}.grid-3-up-md.grid-gutters-tight-md>[class*=col]{padding-top:20px}.grid-3-up-md.grid-gutters-wide-md>[class*=col]{padding-bottom:40px}.grid-3-up-md.grid-gutters-jumbo-md>[class*=col]{padding-bottom:80px}





