@import url('master-responsive-blessed-156.css?z=1439563180684');


@media screen and (min-width: 768px){.grid>[class*="col"][class*="md"]{float:left}}


@media screen and (min-width: 700px){.recently-funded-investments .col{float:left;width:33.3333%}.recently-funded-investments .col:nth-child(4){display:none}}@media screen and (min-width: 1200px){.recently-funded-investments .col{float:left;width:25%}.recently-funded-investments .col:nth-child(4){display:block}}

@media screen and (min-width: 1500px){.recently-funded-investments .col{float:left;width:20%}.recently-funded-investments .col:nth-child(5){display:block}}.recently-funded-investments .amount-funded{font-size:40px;font-weight:300;letter-spacing:-1.5px;line-height:1}.letter-spacing-out-1{letter-spacing:1px}.experienced-team{padding:40px 0;background-color:#143352}.experienced-team .callout .primary{color:#fff;font-size:40px;font-weight:300;letter-spacing:-1.5px;line-height:1;-webkit-font-smoothing:antialiased}.experienced-team .callout .secondary{display:flex;justify-content:center;color:rgba(255,255,255,0.65);font-size:18px;font-weight:300;line-height:1}.experienced-team .callout .secondary .rule-left,.experienced-team .callout .secondary .rule-right{height:1px;margin-top:9px;background:rgba(255,255,255,0.15);flex:3}.experienced-team .callout .secondary .text{padding:0 5px}.property-value-list{line-height:28px}.property-value-list .item{zoom:1}.property-value-list .item:before,.property-value-list .item:after{content:"";display:table}.property-value-list .item:after{clear:both}.property-value-list .property{float:left;padding-right:5px;color:#a1a6aa;font-size:12px}.property-value-list .value{float:right;padding-left:5px;color:#55595e}.property-value-list .rule{display:block;overflow:hidden;height:1px;margin-top:1em;border-top:1px dotted #e3e6e8}.product-types{background-color:#143352}.product-types img{width:50%;margin:-30px auto 10px auto}

@media screen and (min-width: 1121px){.product-types img{width:auto;margin-top:-120px}}.product-types .product+.product{padding-top:14px}@media screen and (min-width: 768px){.product-types .product+.product{padding-top:20px}}

@media screen and (min-width: 1121px){.product-types .product+.product{padding-top:0}}.product-types .product-inner{padding:14px;background:#fff;border-radius:3px;box-shadow:0px 2px 4px rgba(0,0,0,0.25)}


