
/*
p {
  margin-top: 0;
  margin-bottom: 10px
}*/
a:focus {
  outline: 0
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold
}
.w-container:before, .w-container:after {
  content: " ";
  display: table
}
.w-container:after {
  clear: both
}
.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px
}
.w-row:before, .w-row:after {
  content: " ";
  display: table
}
.w-row:after {
  clear: both
}
.w-row .w-row {
  margin-left: 0;
  margin-right: 0
}
.w-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px
}
.w-col .w-col {
  padding-left: 0;
  padding-right: 0
}
.w-col-4 {
  width: 33.33333333%
}
.w-col-5 {
  width: 41.66666667%
}
.w-col-6 {
  width: 50%
}





body {
  font-family: 'Avenir Next', sans-serif;
  color: #5b666d;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;
/* just added*/
  background: #ebeff2;
  margin: 0;
  overflow-x: hidden;
}
h1 {
  margin-bottom: 20px;
  font-family: Circular, sans-serif;
  color: #323b40;
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
}
h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: Circular, sans-serif;
  color: #323b40;
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: Circular, sans-serif;
  color: #323b40;
  font-size: 18px;
  line-height: 24px;
}
h4 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: Circular, sans-serif;
  color: #323b40;
  font-size: 18px;
  line-height: 1.35em;
  font-weight: 600;
}
h5 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Circular, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
h6 {
  margin-top: 10px;
  margin-bottom: 40px;
  font-family: 'Avenir Next', sans-serif;
  color: #3b67b3;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
/*p {
  margin-bottom: 15px;
  color: #333;
  line-height: 1.45em;
}*/
a {
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
  color: #3b67b3;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
/*ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}*/
/*ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}*/
strong {
  font-weight: 800;
}
blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 18px;
  line-height: 22px;
}
figure {
  margin-bottom: 10px;
}
figcaption {
  margin-top: 5px;
  text-align: center;
}
/*.btn {
  padding: 12px 20px;
  border-radius: 3px;
  background-color: #3b67b3;
  font-family: Circular, sans-serif;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}*//*
.btn.btn--hollow {
  border: 2px solid #3b67b3;
  background-color: transparent;
  color: #3b67b3;
}
.btn.btn--hollow.btn--grey {
  border-color: #9da9b0;
  color: #9da9b0;
}
.btn.btn--hollow.btn--grey.sidepanel {
  width: 180px;
  text-align: center;
}
.btn.btn--hollow.sidepanel {
  width: 180px;
  text-align: center;
}*/
/*.navbar {
  background-color: #253343;
  box-shadow: 0 1px 0 0 rgba(0, 31, 51, .11);
  font-size: 13px;
}*/
.navlink {
  padding: 20px 14px;
  opacity: 0.6;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  font-family: Circular, sans-serif;
  color: #f0f6ff;
  font-size: 15px;
}
.navlink:hover {
  opacity: 1;
  color: #fff;
}
.navlink.w--current {
  opacity: 1;
  color: #fff;
}

.block {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding: 22px 25px 24px;
  border: 1px solid rgba(0, 31, 51, .11);
  border-radius: 3px;
  -webkit-transition: border 350ms ease;
  transition: border 350ms ease;
  text-decoration: none;
}
.block:hover {
  background-color: #f7f8fa;
}
.block.block-faq {
  height: 193px;
}
.block.block-course {
  height: 200px;
}
.coursetitle {
  display: inline-block;
  max-width: 80%;
  margin-top: 0px;
  margin-bottom: 13px;
}
.coursedescription {
  color: #5b666d;
}
.courseicon {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
}
.inlineheading {
  display: inline-block;
  margin-top: 0px;
  margin-right: 11px;
}
.large-link {
  -webkit-transition: color 350ms ease;
  transition: color 350ms ease;
  font-family: Circular, sans-serif;
  color: #3b67b3;
  font-weight: 600;
  text-decoration: none;
}
.large-link:hover {
  opacity: 0.8;
}
.large-link.section-header-link {
  margin-top: 10px;
  float: right;
}
.large-link.large-link--light {
  color: #fff;
}
.large-link.large-link--light.large-link--bottom {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 29px;
}
.large-link.faq-item-link {
  display: inline-block;
  width: 18%;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  text-align: right;
}
.large-link.large-link--bottomalign {
  position: absolute;
  bottom: 24px;
}
.footerheader {
  margin-top: 0px;
  margin-bottom: 10px;
}
.list-item {
  display: block;
  border-bottom: 1px solid #e3e5e6;
  -webkit-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
}
.list-item:hover {
  background-color: #f7f8fa;
}
.list-item.list-item-wrapper {
  padding: 19px 25px;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  color: #323b40;
}
.list-item.list-item-wrapper:hover {
  color: #3b67b3;
}
.faq-item-name {
  display: inline-block;
  width: 82%;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  font-family: Circular, sans-serif;
  color: #323b40;
  font-size: 18px;
  font-weight: 600;
}
.tab-link-wrapper {
  display: inline-block;
  margin-right: 40px;
}
.course-container {
  margin-top: 20px;
  margin-bottom: 10px;
}
.heading--light {
  color: #fff;
  font-weight: 400;
}
.course-title-wrapper {
  margin-bottom: 10px;
  font-family: Circular, sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.inline-dot {
  display: inline-block;
}
.lessons {
  margin-top: -85px;
  background-color: #fff;
}
.course-content-wrap {
  padding-right: 65px;
}
.mainrichtext a {
  border-bottom: 1px dotted #3b67b3;
  color: #3b67b3;
}
@media (max-width: 991px) {
  h1 {
    font-size: 28px;
    line-height: 34px;
  }
  .navlink {
    padding-right: 8px;
    padding-left: 8px;
  }
  .logo {
    width: 30%;
  }
  .logo.w--current {
    width: 30%;
  }
  .headersection.search {
    padding: 30px 20px;
  }
  .headersection.innerpage {
    padding-right: 20px;
    padding-left: 20px;
  }
  .mainsection {
    padding-right: 20px;
    padding-left: 20px;
  }
  .mainsection.breadcrumb {
    padding-right: 20px;
    padding-left: 20px;
  }
  .mainsection.extraspace {
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
  }
  .mainsection.main-section--dark {
    padding-right: 46px;
    padding-left: 46px;
  }
  .quickblock {
    height: 190px;
  }
  .quicktext {
    padding-right: 20px;
    padding-left: 20px;
  }
  .block {
    min-height: 230px;
    padding: 20px;
  }
  .block.block-course {
    height: 282px;
  }
  .coursetitle {
    max-width: 100%;
  }
  .coursedescription {
    width: 100%;
  }
  .courseicon {
    position: static;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  .footerheader {
    color: #68767d;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
  }
  .innerpage-search {
    width: 50%;
    font-size: 14px;
  }
  .contentcolumn {
    padding-right: 25px;
  }
  .innerheader-text {
    width: 80%;
  }
  .tab-links {
    padding: 11px 0px;
  }
  .tab-links.w--current {
    background-color: hsla(0, 0%, 100%, 0);
    color: #1ec4d6;
  }
  .menubutton {
    margin-top: 3px;
    color: #fff;
  }
  .tab-link-wrapper {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 10px;
  }
  .course-content-wrap {
    padding-right: 0px;
  }
}
@media (max-width: 767px) {
  .btn.btn--hollow.btn--grey.sidepanel {
    width: 200px;
    margin-right: 12px;
  }
  .btn.btn--hollow.sidepanel {
    width: 200px;
  }
  .navlink {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
  }
  .nav-menu {
    display: block;
    overflow: hidden;
    width: 90%;
    height: auto;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 4px;
    background-color: #323b40;
  }
  .logo {
    width: auto;
    padding-left: 0px;
  }
  .logo.w--current {
    width: 60%;
  }
  .headersection.search {
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  .commonlinks {
    margin-bottom: 15px;
  }
  .commonlinks.commonlinks-label {
    display: block;
  }
  .mainsection {
    padding: 10px 20px;
  }
  .mainsection.extraspace {
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
  }
  .quickblock {
    height: 210px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .quickblock.navy {
    padding-right: 10px;
    padding-left: 10px;
  }
  .block {
    min-height: 0px;
    padding-right: 84px;
  }
  .block.block-faq {
    height: auto;
  }
  .block.block-course {
    height: auto;
  }
  .coursetitle {
    max-width: 80%;
  }
  .coursedescription {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .courseicon {
    position: absolute;
    top: 25px;
    right: 25px;
  }
  .large-link.faq-item-link {
    width: 32%;
  }
  .large-link.large-link--bottomalign {
    position: static;
  }
  .footerheader {
    color: #323b40;
  }
  .pagetitle {
    display: block;
    margin-top: 0px;
    margin-bottom: 15px;
    float: none;
    line-height: 35px;
    text-align: center;
  }
  .innerpage-search {
    width: 100%;
  }
  .contentcolumn {
    margin-bottom: 40px;
    padding-right: 0px;
    padding-bottom: 30px;
    border-bottom: 2px solid #e3e5e6;
  }
  .dividerblock {
    width: 100%;
  }
  .sidebutton {
    display: inline-block;
  }
  .sidebutton.firstbtn {
    display: inline-block;
    margin-right: 13px;
    float: none;
  }
  .innerheader-text {
    line-height: 22px;
  }
  .innerheader-icon {
    width: 80px;
    margin-top: 28px;
  }
  .tab-links.w--current {
    background-color: hsla(0, 0%, 100%, 0);
    color: #1ec4d6;
    text-align: center;
  }
  .coursename {
    font-weight: 400;
  }
  .menubutton {
    padding-right: 0px;
  }
  .menubutton.w--open {
    background-color: transparent;
  }
  .copyright {
    margin-bottom: 24px;
  }
  .sidecolumn {
    padding-left: 0px;
  }
  .section-header {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footer-row {
    margin-bottom: 30px;
  }
  .faq-item-name {
    width: 68%;
  }
  .popular-topics {
    text-align: center;
  }
  .supportbarcontainer {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 12px;
  }
  .navcontainer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .lessonthumbnail {
    width: 100%;
    height: 260px;
    margin-right: 0px;
    margin-bottom: 15px;
  }
}
@media (max-width: 479px) {
  .btn.btn--hollow.btn--grey.sidepanel {
    width: 100%;
  }
  .btn.btn--hollow.sidepanel {
    width: 100%;
  }
  .logo {
    width: auto;
  }
  .logo.w--current {
    width: 80%;
  }
  .headersection.search {
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .search-form {
    margin-bottom: 0px;
  }
  .mainsection.breadcrumb {
    padding-right: 30px;
    padding-left: 30px;
  }
  .mainsection.main-section--dark {
    padding-top: 0px;
    text-align: center;
  }
  .quickblock {
    height: auto;
  }
  .block {
    padding-right: 20px;
  }
  .coursetitle {
    max-width: 100%;
  }
  .coursedescription {
    max-width: 100%;
  }
  .courseicon {
    position: static;
  }
  .inlineheading {
    margin-bottom: 0px;
    padding-left: 0px;
  }
  .large-link {
    display: inline-block;
  }
  .large-link.section-header-link {
    display: block;
    float: none;
  }
  .large-link.large-link--light.large-link--bottom {
    position: static;
    display: block;
    margin-top: 14px;
  }
  .large-link.faq-item-link {
    display: block;
    width: auto;
    margin-top: -6px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 24px;
    text-align: left;
  }
  .footerlink {
    margin-bottom: 4px;
  }
  .contentcolumn {
    margin-bottom: 30px;
    padding-right: 0px;
    padding-bottom: 30px;
  }
  .dividerblock {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .sidebutton {
    display: block;
    text-align: center;
  }
  .sidebutton.firstbtn {
    display: block;
    margin-right: 0px;
    text-align: center;
  }
  .innerheader-text {
    width: 100%;
    padding-right: 0px;
  }
  .innerheader-icon {
    display: inline-block;
    float: none;
  }
  .faqtabs-menu {
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  .tab-links {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
  }
  .tab-links.w--current {
    text-align: left;
  }
  .coursename {
    max-width: 90%;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 21px;
  }
  .displayranking {
    font-size: 18px;
    line-height: 21px;
  }
  .faq-item-name {
    display: block;
    width: auto;
    padding-right: 24px;
  }
  .tab-link-wrapper {
    display: block;
  }
  .supportbar {
    height: auto;
  }
  .supportbartext.email {
    margin-left: 0px;
  }
  .lessonthumbnail {
    height: 150px;
  }
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/565ce1ced64220917eac45c5_Avenir%20Next%20Pro%20Light.woff2') format('undefined'), url('../fonts/565ce1ce2e69f34c491b2ba7_Avenir%20Next%20Pro%20Light.eot') format('embedded-opentype'), url('../fonts/565ce1ce2e69f34c491b2ba8_Avenir%20Next%20Pro%20Light.woff') format('woff'), url('../fonts/565ce1ce2dd2aefe0be749c5_Avenir%20Next%20Pro%20Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/565ce1ced64220917eac45c4_Avenir%20Next%20Pro%20Demi.woff2') format('undefined'), url('../fonts/565ce1ced64220917eac45c3_Avenir%20Next%20Pro%20Demi.eot') format('embedded-opentype'), url('../fonts/565ce1ceb366c54a49778fe3_Avenir%20Next%20Pro%20Demi.woff') format('woff'), url('../fonts/565ce1ce9d01e98f7e57daca_Avenir%20Next%20Pro%20Demi.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/560dab89a0daea230a5f0440_2EDD12_0_0.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/560dab89a0daea230a5f0441_2EDD12_1_0.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url('../fonts/560dabfb78b284493e2a2b8a_lineto-circular-medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url('../fonts/560dabe278b284493e2a2b85_lineto-circular-book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
