/**
 * 3.0 - Text colors
 */

.text-white {
    color: #fff;
}
.text-gray {
    color: #999;
}
.no-touch a.text-gray:hover {
    color: #333;
}
.text-green {
    color: #0eaaa6;
}
.no-touch a.text-green:hover {
    color: #068b85;
}
.text-blue {
    color: #1d82aa;
}
.no-touch a.text-blue:hover {
    color: #086492;
}
.text-magenta {
    color: #9b156e;
}
.no-touch a.text-magenta:hover {
    color: #7e115f;
}
.text-yellow {
    color: #eab134;
}
.no-touch a.text-yellow:hover {
    color: #dfa412;
}
.text-red {
    color: #ea3d36;
}
.no-touch a.text-red:hover {
    color: #d22a2a;
}
.text-facebook {
    color: #43609c;
}
.no-touch a.text-facebook:hover {
    color: #374e7e;
}
.text-twitter {
    color: #55acee;
}
.no-touch a.text-twitter:hover {
    color: #438cc3;
}
.text-google {
    color: #dd4b39;
}
.no-touch a.text-google:hover {
    color: #b63d2e;
}
.text-linkedin {
    color: #0177b5;
}
.no-touch a.text-linkedin:hover {
    color: #015f91;
}
.bg-green {
    color: #fff;
    background-color: #0eaaa6;
}
.no-touch a.bg-green:hover {
    background-color: #068b85;
}
/*.bg-red {
    color: #fff;
    background-color: #ea3d36;
}*/
.no-touch a.bg-red:hover {
    background-color: #d22a2a;
}
.bg-blue {
    color: #fff;
    background-color: #1d82aa;
}
.no-touch a.bg-blue:hover {
    background-color: #086492;
}
.bg-yellow {
    color: #fff;
    background-color: #eab134;
}
.no-touch a.bg-yellow:hover {
    background-color: #dfa412;
}
.bg-magenta {
    color: #fff;
    background-color: #9b156e;
}
.no-touch a.bg-magenta:hover {
    background-color: #7e115f;
}

/**
 * 6.0 - Map
 */
/*
#wrapper {
    left: 0;
    margin: 60px 0 0 0;
}*/
#wrapper.full.m-full {
    margin-left: 200px;
}
#mapView, #mapSingleView, #mapNewView, #mapMyView, #mapFavView, #mapAgentView, #mapIdxView {
    width: 50%;
    float: left;
}
.no-map #mapView {
    width: 100%;
    float: none;
    margin-top: 70px;
    height: 265px !important;
    margin-bottom: 40px;
}
.no-map #mapSingleView {
    width: 100%;
    float: none;
    /*margin-top: 70px;*/
    height: 265px !important;
    margin-bottom: 40px;
}
#mapView.min, #mapSingleView.min, #mapNewView.min, #mapMyView.min, #mapFavView.min, #mapAgentView.min, #mapIdxView.min {
    width: 0%;
}
.mapPlaceholder {
    text-align: center;
    width: 100%;
    padding-top: 100px;
    float: left;
    overflow: hidden;
}
#mapView.min .mapPlaceholder, #mapSingleView.min .mapPlaceholder, #mapNewView.min .mapPlaceholder, #mapMyView.min .mapPlaceholder, #mapFavView.min .mapPlaceholder, #mapAgentView.min .mapPlaceholder, #mapIdxView.min .mapPlaceholder {
    display: none;
}
.mapPlaceholder span {
    font-size: 16px;
    line-height: 17px;
    width: 20px;
    vertical-align: middle;
    margin: 0;
    display: inline-block;
    text-align: center;
}
.infoW {
    font-family: 'Open Sans', sans-serif, Arial;
    color: #333;
    padding: 0 1px;
}
.propImg {
    position: relative;
}
.propImg .featured-label {
    position: absolute;
    top: 6px;
    right: -14px;
    z-index: 10;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.propImg .featured-label .featured-label-content {
    background-color: #ea3d36;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 0;
    float: left;
    width: 24px;
    text-align: center;
}
.propImg .featured-label .featured-label-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 17px 17px;
    border-color: transparent transparent #ea3c36 transparent;
    float: left;
}
.propImg .featured-label .featured-label-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 0 0 17px;
    border-color: transparent transparent transparent #ea3c36;
    float: left;
}
.propImg img {
    width: 200px;
    height: 120px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.propBg {
    position: absolute;
    z-index: 2;
    height: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
}
.propType {
    background-color: #eab134;
    font-size: 10px;
    line-height: 11px;
    color: #fff;
    padding: 2px 4px;
    border-radius: 2px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-transform: uppercase;
    z-index: 3;
}
.paWrapper {
    padding: 10px 10px 0 10px;
}
.propPrice {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    z-index: 3;
}
.propTitle {
    /*font-weight: bold;*/
    font-size: 14px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 3px;
}
.propAddress {
    white-space: nowrap;
    overflow: hidden;
    color: #999;
    font-size: 11px;
    line-height: 12px;
    padding-bottom: 12px;
    height: 24px;
}
.propRating {
    padding: 2px 0 5px 10px;
}
.propRating span {
    color: #eab134;
    padding-right: 2px;
    display: inline-block;
    font-size: 12px;
}
ul.propFeat {
    list-style-type: none;
    margin: 0;
    padding: 0 10px 5px 10px;
    float: left;
    height: 16px;
}
ul.propFeat li {
    float: left;
    margin-right: 15px;
    font-size: 11px;
    line-height: 11px;
}
ul.propFeat li span {
    color: #999;
}
.infoButtons {
    padding: 10px;
}
a.btn.viewInfo, a.btn.closeInfo {
    width: 85px;
    padding: 6px 12px;
}
a.btn.viewInfo {
    margin-left: 10px;
}
#addressPinBtn {
    cursor: pointer;
}

/**
 * 7.0 - Content
 */

#content {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f3f3f3;
    width: 50%;
    height: 100px;
    border-top: 1px solid #e8e8e8;
    float: right;
    -webkit-overflow-scrolling: touch;
}
#content.max {
    width: 100%;
}
.single-no-map {
    margin-top: -301px;
}
.page-content p {
    font-size: 14px;
}
.whiteBg {
    background-color: #fff;
    padding: 20px;
}
.rightContainer {
    padding: 20px;
}
.widgets {
    padding: 20px;
}
.filter {
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
}


.entry-content {
    padding-bottom: 30px;
}
.mb-10 {
    margin-bottom: 10px;
}
.row.no-margin {
    margin-left: 0;
    margin-right: 0;
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}
#content .filter h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    padding: 20px;
    float: left;
    font-weight: normal;
}
.no-map .filter h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    padding: 0 0 20px 0;
    float: left;
    font-weight: normal;
}
.page_bc {
    padding-bottom: 20px;
}
.form-group.fg-inline {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    margin-right: 17px;
    position: relative;
}
#submitProperty .form-group {
    position: relative;
}
#submitProperty .form-group.fg-inline {
    margin-bottom: 15px;
}
#submitProperty .form-group.fg-inline label {
    display: block;
}
.rightContainer h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 20px;
}
.rightContainer h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    padding-bottom: 10px;
    float: left;
}
a.handleFilter {
    float: right;
    display: block;
    padding: 10px;
    margin: 10px 10px 0 0;
    font-size: 18px;
    text-decoration: none;
}
.no-map a.handleFilter {
    margin: 0;
    padding: 0;
}
.no-touch a.handleFilter:hover {
    text-decoration: none;
}


.resultsList {
    padding: 20px 20px 0 20px;
}
.no-map .resultsList {
    padding: 20px 0 0 0;
}
.resultsList h1 {
    margin-top: 0;
    font-size: 18px;
}/*
a.card, div.card {
    display: block;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    height: 265px;
    border-radius: 2px;
}*/
.figure {
    background-color: #000;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: 170px;
}
.figure .featured-label {
    position: absolute;
    top: 7px;
    right: -21px;
    z-index: 10;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.figure .featured-label .featured-label-content {
    background-color: #ea3d36;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    padding: 5px 0;
    float: left;
    width: 33px;
    text-align: center;
}
.no-touch a.card:hover .figure .featured-label .featured-label-content > span {
    -webkit-animation: starSpin 2s linear infinite;
    -moz-animation: starSpin 2s linear infinite;
    animation: starSpin 2s linear infinite;
}
.figure .featured-label .featured-label-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 24px 24px;
    border-color: transparent transparent #ea3c36 transparent;
    float: left;
}
.figure .featured-label .featured-label-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 0 0 24px;
    border-color: transparent transparent transparent #ea3c36;
    float: left;
}
.figure .img {
    position: relative;
    display: block;
    width: 100%;
    opacity: 1;
    height: 170px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.no-touch .figure .img {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
.no-touch a.card:hover .img, .no-touch div.card:hover .img {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.8;
}
.figCaption {
    position: absolute;
    z-index: 2;
    top: auto;
    bottom: 0;
    padding: 10px;
    width: 100%;
    color: #fff;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
}
.no-touch .figCaption {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}
.figView {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    margin-left: -21px;
    margin-top: -20px;
    font-weight: normal;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(3.0);
    transform: scale(3.0);
}
.no-touch a.card:hover .figView, .no-touch div.card:hover .figView {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.figCaption div {
    float: left;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
}
.carousel-col .figCaption div {
    float: left;
    font-size: 13px;
    line-height: 14px;
    font-weight: bold;
}
.figCaption > span {
    float: right;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
    margin-left: 5px;
}
.carousel-col .figCaption > span {
    display: none;
}
.figCaption > span::before {
    color: rgba(255, 255, 255, 0.70);
}
.no-touch .figCaption div,
.no-touch .figCaption > span {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
}
.figCaption div {
    display: inline-block;
}
.no-touch a.card:hover .figure .figCaption,
.no-touch a.card:hover .figure .figCaption div,
.no-touch a.card:hover .figure .figCaption > span,
.no-touch div.card:hover .figure .figCaption,
.no-touch div.card:hover .figure .figCaption div,
.no-touch div.card:hover .figure .figCaption > span,
.no-touch .properties-list-item:hover .figCaption,
.no-touch .properties-list-item:hover .figCaption > span {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.no-touch a.card:hover .figure .figCaption div,
.no-touch div.card:hover .figure .figCaption div {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}
.no-touch a.card:hover .figure .figCaption > span:nth-child(4),
.no-touch div.card:hover .figure .figCaption > span:nth-child(4),
.no-touch .properties-list-item:hover .figCaption > span:nth-child(4) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.no-touch a.card:hover .figure .figCaption > span:nth-child(3),
.no-touch div.card:hover .figure .figCaption > span:nth-child(3),
.no-touch .properties-list-item:hover .figCaption > span:nth-child(3) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
.no-touch a.card:hover .figure .figCaption > span:nth-child(2),
.no-touch div.card:hover .figure .figCaption > span:nth-child(2),
.no-touch .properties-list-item:hover .figCaption > span:nth-child(2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.figType {
    background-color: #eab134;
    font-size: 10px;
    line-height: 11px;
    color: #fff;
    padding: 2px 4px;
    border-radius: 2px;
    position: absolute;
    left: 10px;
    top: 10px;
    text-transform: uppercase;
    z-index: 3;
}
.figStatus {
    background-color: #ea3d36;
    font-size: 10px;
    line-height: 11px;
    color: #fff;
    padding: 2px 4px;
    border-radius: 2px;
    position: absolute;
    right: 10px;
    top: 10px;
    text-transform: uppercase;
    z-index: 3;
}
.carousel-col .figType {
    top: auto;
    left: auto;
    right: 10px;
    bottom: 10px;
}
a.card h2, div.card h2 {
    /*font-weight: bold;*/
    font-size: 14px;
    line-height: 16px;
    margin: 0 10px 0 0;
    padding: 10px 0 3px 10px;
    color: #333;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    float: none;
}
.no-touch a.card:hover, .no-touch div.card:hover {
    text-decoration: none;
}
.no-touch a.card:hover h2, .no-touch div.card:hover h2 {
    color: #0eaaa6;
    text-decoration: none;
}
a.card .cardAddress, div.card .cardAddress {
    font-size: 11px;
    line-height: 14px;
    color: #999;
    padding: 0 0 10px 10px;
    margin: 0 10px 0 0;
    overflow: hidden;
    white-space: nowrap;
}
a.card .cardAddress span, div.card .cardAddress span {
    font-size: 13px;
    line-height: 13px;
}
a.card .cardRating, div.card .cardRating {
    padding: 0 0 10px 10px;
    font-size: 12px;
    line-height: 12px;
    color: #333;
}
a.card .cardRating span, div.card .cardRating span {
    color: #eab134;
    padding-right: 2px;
    display: inline-block;
    font-size: 12px;
}
a.card ul.cardFeat, div.card ul.cardFeat {
    list-style-type: none;
    margin: 0;
    padding: 0 10px 10px 10px;
}
a.card ul.cardFeat li, div.card ul.cardFeat li {
    display: inline-block;
    margin-right: 10px;
    font-size: 11px;
    line-height: 11px;
    color: #333;
}
a.card ul.cardFeat li span, div.card ul.cardFeat li span {
    color: #999;
}
.carousel-col .carousel-indicators, .carousel-wb .carousel-indicators {
    position: absolute;
    bottom: -26px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.carousel-col .carousel-indicators li, .carousel-wb .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0.30);
    border: 0 none;
    border-radius: 10px;
}
.carousel-col .carousel-indicators .active, .carousel-wb .carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 0 1px;
    background-color: #333;
}
.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .fa-chevron-left {
    left: 50%;
    margin-left: -10px;
}
.carousel-control .fa-chevron-right {
    right: 50%;
    margin-right: -10px;
}
.carousel-col {
    padding: 0 20px;
}
.carousel-col .carousel-control {
    top: 0;
    bottom: 0;
    left: -20px;
    width: 40px;
    font-size: 20px;
    color: #999;
    text-align: center;
    text-shadow: none;
    filter: alpha(opacity=100);
    opacity: 1;
}
.carousel-col .carousel-control.left {
    background-image: none;
    filter: none;
    background-repeat: no-repeat;
}
.carousel-col .carousel-control.right {
    right: -20px;
    left: auto;
    background-image: none;
    filter: none;
    background-repeat: no-repeat;
}
.no-touch .carousel-col .carousel-control:hover,
.carousel-col .carousel-control:focus {
    color: #333;
    text-decoration: none;
    filter: alpha(opacity=100);
    outline: 0;
    opacity: 1;
}
.carousel-col .carousel-control .fa-chevron-left,
.carousel-col .carousel-control .fa-chevron-right {
    position: absolute;
    top: 45%;
    z-index: 5;
    display: inline-block;
}
.carousel-col .carousel-control .fa-chevron-left {
    left: 50%;
    margin-left: -7px;
}
.carousel-col .carousel-control .fa-chevron-right {
    right: 50%;
    margin-right: -7px;
}
.gallery.carousel {
    height: 380px;
}
.single-no-map .gallery.carousel {
    height: 480px;
}
.gallery.carousel .carousel-inner {
    height: 100%;
}
.gallery.carousel .carousel-inner .item {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
}
.gallery.carousel iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.singleTop {
    /*background-color: #fff;*/
    border-bottom: 1px solid #e8e8e8;
}
.single-no-map .singleTop, .agent-no-map .singleTop {
    border-bottom: 0 none;
}
.singleTop .summary {
    padding: 20px 20px 0 20px;
}
.single-no-map .singleTop .summary {
    padding: 0;
}
.summaryItem {
    margin-bottom: 20px;
}
.single-featured {
    text-transform: uppercase;
    font-size: 11px;
    background-color: #ea3d36;
    float: left;
    line-height: 11px;
    color: #fff;
    padding: 3px 5px;
    border-radius: 2px;
    margin-bottom: 10px;
}
h1.pageTitle {
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 18px;
    line-height: 19px;
    font-weight: normal;
}
.singleTop .address {
    font-size: 12px;
    line-height: 14px;
    color: #999;
    padding: 0 0 15px 0;
}
.singleTop ul.rating {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 0;
    float: left;
}
.singleTop ul.rating li {
    font-size: 12px;
    line-height: 13px;
    color: #333;
    float: left;
    margin-right: 3px;
}
.singleTop ul.rating li a span {
    color: #eab134;
    font-size: 14px;
}
.singleTop ul.stats {
    float: right;
    list-style-type: none;
    margin: 20px 0 0 5px;
    padding: 0;
}
.singleTop ul.stats li {
    float: left;
    margin-left: 7px;
    color: #333;
    font-size: 11px;
}
.singleTop ul.stats li span {
    font-size: 11px;
    color: #999;
}
.singleTop ul.features {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    float: left;
    width: 100%;
}
.singleTop ul.features li {
    float: left;
    text-align: center;
    padding: 20px 40px 15px 0;
}
.singleTop ul.features li:last-child {
    border-right: 0 none;
}
.singleTop ul.features li span {
    color: #999;
    display: block;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
}
.singleTop ul.features li div {
    font-size: 13px;
}
.agentName {
    padding: 2px 0 10px 0;
    font-size: 13px;
}
.agentAvatar .contactBtn {
    margin-bottom: 10px;
}
.contact-details {
    padding-bottom: 10px;
}
.contact-icon {
    margin-right: 5px;
    min-width: 14px;
}
.singlePrice {
    float: left;
}
.listPrice {
    font-size: 20px;
    line-height: 20px;
}
.listCategory {
    font-size: 9px;
    text-transform: uppercase;
    line-height: 20px;
}
.listPrice .label {
    text-transform: uppercase;
    font-size: 9px;
    vertical-align: middle;
    line-height: 9px;
    padding-bottom: 1px;
}
.favLink {
    float: right;
    font-size: 13px;
    line-height: 14px;
    margin-left: 10px;
    margin-top: 20px;
}
.favLink .addFav, .favLink .addedFav, .favLink .noSigned {
    width: 100%;
    color: #ea3d36;
}
.favLink .addFav span, .favLink .addedFav span, .favLink .noSigned span {
    font-size: 14px;
    display: block;
    float: left;
    height: 14px;
    vertical-align: middle;
    line-height: 14px;
    width: 24px;
    text-align: center;
    -webkit-transition: font-size .2s;
    -o-transition: font-size .2s;
    transition: font-size .2s;
}
.no-touch .favLink a.addFav:hover span, .no-touch .favLink a.noSigned:hover span {
    font-size: 20px;
    color: #ea3d36;
}
.contactForm .cfItem {
    margin-bottom: 10px;
}
.contactForm .cfItem:last-child {
    margin-bottom: 0;
}
.description, .amenities, .share, .similar, .additional, .floorPlans {
    padding: 20px 20px 0 20px;
}
.single-no-map .description,
.single-no-map .amenities,
.single-no-map .share,
.single-no-map .similar,
.agent-no-map .similar,
.single-no-map .additional,
.single-no-map .floorPlans {
    padding: 0;
}
a.plan {
    height: 140px;
    overflow: hidden;
    background-color: #fff;
    display: block;
    padding: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    margin-bottom: 20px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.no-touch a.plan:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.13);
}
a.plan img {
    width: 100%;
    height: auto;
}
.agentProperties {
    padding: 20px;
}
.similar a.similarProp {
    display: block;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    margin-bottom: 20px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.agent-no-map .similar a.similarProp {
    box-shadow: none;
    border: 1px solid #e8e8e8;
}
.similar a.similarProp .featured-label {
    position: absolute;
    top: 0px;
    right: -20px;
    z-index: 10;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.similar a.similarProp .featured-label .featured-label-content {
    background-color: #ea3d36;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 0;
    float: left;
    width: 24px;
    text-align: center;
}
.no-touch .similar a.similarProp:hover .featured-label .featured-label-content > span {
    -webkit-animation: starSpin 2s linear infinite;
    -moz-animation: starSpin 2s linear infinite;
    animation: starSpin 2s linear infinite;
}
.similar a.similarProp .featured-label .featured-label-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 17px 17px;
    border-color: transparent transparent #ea3c36 transparent;
    float: left;
}
.similar a.similarProp .featured-label .featured-label-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 0 0 17px;
    border-color: transparent transparent transparent #ea3c36;
    float: left;
}
.similar a.similarProp .image {
    width: 60px;
    height: 60px;
    float: left;
    text-align: center;
    overflow: hidden;
}
.similar a.similarProp .image img {
    height: 60px;
    width: auto;
}
.similar a.similarProp .info {
    float: left;
    margin-left: 10px;
    max-width: 70%;
    padding-top: 5px;
    overflow: hidden;
}
.similar a.similarProp .info .name {
    font-size: 14px;
    line-height: 16px;
    color: #333;
}
.no-touch .similar a.similarProp:hover .info .name {
    color: #0eaaa6;
}
.similar a.similarProp .info .price {
    font-size: 14px;
    line-height: 22px;
    color: #333;
}
.no-touch .similar a.similarProp:hover .info .price {
    color: #333;
}
.similar a.similarProp .info .price .badge {
    background-color: #eab134;
    font-size: 10px;
    line-height: 11px;
    color: #fff;
    padding: 2px 4px;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: normal;
}
.similar a.similarProp .info .address {
    font-size: 11px;
    line-height: 13px;
    color: #999;
    font-style: italic;
}
.similar .noProp {
    padding-bottom: 20px;
}
.share a {
    margin: 0 10px 10px 0;
}
#content h3 {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding: 0 0 10px 0;
}
.description p {
    font-size: 13px;
}
.amItem {
    font-size: 13px;
    margin-bottom: 10px;
}
.amItem span {
    color: #b4b4b4;
}
.amItem.active {
    color: #333;
}
.amItem.active span {
    color: #0eaaa6;
}
.amItem span {
    width: 20px;
    text-align: center;
}
.shareItem {
    margin-bottom: 10px;
    text-align: center;
}
.search_prop_calc {
    padding: 6px 0;
    margin-bottom: 20px;
}
.search_prop_calc_top {
    padding: 6px 0;
}
.label-green {
    background-color: #0eaaa6;
}
.no-touch .label-green[href]:hover,
.label-green[href]:focus {
    background-color: #068b85;
}
.pb10 {
    padding-bottom: 10px;
}
.p20 {
    padding: 20px;
}
.spotlight {
    background-color: #0eaaa6;
    padding: 30px;
    text-align: center;
}
.s-title {
    color: #fff;
    font-size: 26px;
    line-height: 30px;
    padding-bottom: 10px;
}
.s-text {
    color: #fff;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    padding: 0 30%;
}
.page-wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 40px 20px;
}
h2.centered {
    margin: 0;
    padding: 0 0 30px 0;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
}
.home-content h2.h-r {
    text-align: right;
}
.agentEditor .wp-editor-container {
    border: 1px solid #dfdfdf;
}
/* Text meant only for screen readers. */



.testimonialsItemAvatar {
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}
.testimonialsItemAvatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.testimonialsItemText {
    text-align: center;
    font-size: 16px;
    color: #999;
    font-style: italic;
    padding: 10px 0;
}
.testimonialsItemName {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.testimonialsItemDelimiter {
    text-align: center;
    padding: 30px 0;
}
.testimonialsItemDelimiter span {
    display: inline-block;
    width: 100px;
    height: 1px;
    border-bottom: 1px solid #e8e8e8;
}
.testimonialsItem:last-child .testimonialsItemDelimiter {
    display: none;
}

/**
 * 8.0 - Comments
 */

.comments {
    padding: 10px 20px 20px 20px;
}
.single-no-map .comments {
    padding: 10px 0 0 0;
}
.comments h2 {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding: 0 0 10px 0;
}
.comment {
    /*padding-bottom: 20px;*/
}
.comment.reply {
    padding-left: 54px;
}
.commentAvatar {
    position: relative;
    float: left;
}
.commentArrow {
    position: absolute;
    top: 5px;
    left: 45px;
    width: 16px;
    height: 16px;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.13);
}
.commentContent {
    background-color: #fff;
    margin-left: 54px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    border-radius: 2px;
}
.commentName {
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    padding: 10px 10px 5px 10px;
}
.commentBody {
    font-size: 12px;
    color: #333;
    line-height: 16px;
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid #e8e8e8;
}
.commentActions {
    padding: 10px;
}
.commentTime {
    float: left;
    font-size: 11px;
    color: #999;
    float: left;
}
.commentActions ul {
    list-style-type: none;
    margin: 0;
    float: right;
}
.commentActions ul li {
    float: right;
    margin-left: 10px;
    font-size: 11px;
    color: #999;
}
.commentsFormWrapper {
    background-color: #fff;
    position: fixed;
    bottom: -84px;
    right: 0;
    z-index: 20;
    overflow: hidden;
    border-top: 1px solid #e8e8e8;
    -webkit-transition: bottom .2s ease-in-out;
    -o-transition: bottom .2s ease-in-out;
    transition: bottom .2s ease-in-out;
}
.commentsFormWrapper.active {
    bottom: 0;
}
.cfAvatar {
    float: left;
    padding: 20px 10px 20px 20px;
}
.cfInput {
    margin-left: 74px;
    margin-right: 46px;
    float: left;
}
.cfBtn {
    float: right;
}
.commentsForm {
    padding: 20px 20px 0 0;
}
.commentsForm a.btn {
    margin-left: 0 !important;
    line-height: 15px !important;
}
.buttonsWrapper > .btn, .buttonsWrapper > .btn-group, .buttonsWrapper > .btn-group-vertical {
    margin-bottom: 5px;
}
.pb20 {
    padding-bottom: 20px !important;
}
.icons > div {
    font-size: 13px;
    line-height: 40px;
    white-space: nowrap;
    -webkit-transition: font-size .2s;
    transition: font-size .2s;
}
.icons > div > span {
    font-size: 16px;
    line-height: 17px;
    width: 36px;
    vertical-align: middle;
    margin: 0;
    display: inline-block;
    text-align: center;
    -webkit-transition: font-size .2s;
    transition: font-size .2s;
}
.icons > div > span.glyphicon {
    top: 0px;
}
.no-touch .icons > div:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    cursor: default;
    color: #0eaaa6;
    font-size: 16px;
}
.no-touch .icons > div:hover > span {
    font-size: 24px;
    cursor: default;
}
.iconsAlert > ul > li {
    font-size: 12px;
}
.gridSystem {
    font-size: 12px;
}

/**
 * 9.0 - Property shortcode
 */

.propWidget-2 {
    display: block;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    border-radius: 3px;
    height: 200px;
}
.propWidget-2 .fig {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.propWidget-2 .fig img {
    width: 100%;
    position: relative;
    display: block;
}
.propWidget-2 .fig img.blur {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    filter: url('images/blur.svg#blur');
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    display: none;
}
.no-touch .propWidget-2 .fig img.blur {
    display: block;
}
.propWidget-2 .fig .opac {
    background-color: rgba(0,0,0,0.30);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: none;
}
.no-touch .propWidget-2:hover .fig .opac {
    display: block;
}
.no-touch .propWidget-2 .fig img.blur {
     -webkit-transition: -webkit-transform 0.35s, opacity 0.35s;
    transition: transform 0.35s, opacity 0.35s;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0 !important;
}
.no-touch .propWidget-2:hover .fig > img.blur {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1 !important;
}
.propWidget-2 .fig .figType {
    background-color: #eab134;
    font-size: 10px;
    line-height: 11px;
    color: #fff;
    padding: 2px 4px;
    border-radius: 2px;
    position: absolute;
    top: 15px;
    left: 50%;
    text-transform: uppercase;
    z-index: 3;
    margin-left: -27px;
}
.no-touch .propWidget-2 .fig .figType {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.no-touch .propWidget-2:hover .fig .figType {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.propWidget-2 .fig h3 {
    font-size: 18px !important;
    line-height: 22px !important;
    font-weight: normal !important;
    margin: 0;
    padding: 0 !important;
    margin: 0 0 0 10% !important;
    position: absolute;
    z-index: 3;
    top: 48%;
    left: 0;
    color: #fff;
    text-align: center;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
}
.no-touch .propWidget-2 .fig h3 {
    -webkit-transition: -webkit-transform 0.35s, opacity 0.35s;
    transition: transform 0.35s, opacity 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
    opacity: 0;
    top: 50%;
}
.no-touch .propWidget-2:hover .fig h3 {
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
    opacity: 1;
}
.propWidget-2 .fig .address {
    font-size: 11px;
    font-style: italic;
    padding-top: 2px;
    position: absolute;
    bottom: 30%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 4;
    color: #fff;
}
.no-touch .propWidget-2 .fig .address {
    -webkit-transition: -webkit-transform 0.60s, opacity 0.60s;
    transition: transform 0.60s, opacity 0.60s;
    -webkit-transform: translate3d(0,-30px,0);
    transform: translate3d(0,-30px,0);
    opacity: 0;
    bottom: 50%;
}
.no-touch .propWidget-2:hover .fig .address {
    -webkit-transform: translate3d(0,30px,0);
    transform: translate3d(0,30px,0);
    opacity: 1;
}
.propWidget-2 .fig .priceCap {
    font-size: 30px;
    line-height: 30px;
    position: absolute;
    z-index: 5;
    top: 25%;
    left: 20%;
    right: 20%;
    color: #fff;
    text-align: center;
    width: 60%;
    letter-spacing: -1px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    overflow: hidden;
    padding-bottom: 5px;
}
.no-touch .propWidget-2 .fig .priceCap {
    -webkit-transition: -webkit-transform 0.70s;
    transition: transform 0.70s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}
.no-touch .propWidget-2 .fig .priceCap span {
    -webkit-transition: -webkit-transform 0.35s, opacity 0.15s;
    transition: transform 0.35s, opacity 0.15s;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
    opacity: 0;
}
.no-touch .propWidget-2:hover .fig .priceCap {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.no-touch .propWidget-2:hover .fig .priceCap span {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
    opacity: 1;
}
.propWidget-2 ul.rating {
    list-style-type: none;
    margin: 0 0 0 -44px;
    padding: 0;
    position: absolute;
    z-index: 6;
    bottom: 20px;
    left: 50%;
}
.propWidget-2 ul.rating li {
    font-size: 12px;
    line-height: 13px;
    float: left;
    margin: 0 2px;
}
.propWidget-2 ul.rating li span {
    color: #fff;
    font-size: 14px;
}
.no-touch .propWidget-2 ul.rating li span {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.no-touch .propWidget-2:hover ul.rating li span {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.no-touch .propWidget-2:hover ul.rating li span.star-1 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}
.no-touch .propWidget-2:hover ul.rating li span.star-2 {
    -webkit-transition-delay: 0.10s;
    transition-delay: 0.10s;
}
.no-touch .propWidget-2:hover ul.rating li span.star-3 {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
.no-touch .propWidget-2:hover ul.rating li span.star-4 {
    -webkit-transition-delay: 0.20s;
    transition-delay: 0.20s;
}
.no-touch .propWidget-2:hover ul.rating li span.star-5 {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}
.propWidget-2 .fig .featured-label {
    position: absolute;
    top: 7px;
    right: -21px;
    z-index: 10;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.propWidget-2 .fig .featured-label .featured-label-content {
    background-color: #ea3d36;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    padding: 5px 0;
    float: left;
    width: 33px;
    text-align: center;
}
@-moz-keyframes starSpin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes starSpin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes starSpin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}
.no-touch .propWidget-2:hover .fig .featured-label .featured-label-content > span {
    -webkit-animation: starSpin 2s linear infinite;
    -moz-animation: starSpin 2s linear infinite;
    animation: starSpin 2s linear infinite;
}
.propWidget-2 .fig .featured-label .featured-label-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 24px 24px;
    border-color: transparent transparent #ea3c36 transparent;
    float: left;
}
.propWidget-2 .fig .featured-label .featured-label-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 0 0 24px;
    border-color: transparent transparent transparent #ea3c36;
    float: left;
}


/**
 * 10.0 - Property widget
 */

.propsWidget {

}
.propsWidget ul.propList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.propsWidget ul.propList li a {
    padding: 0;
    margin-bottom: 10px;
    display: block;
}
.propsWidget ul.propList li a .image {
    width: 60px;
    height: 60px;
    border-radius: 3px;
    float: left;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.propsWidget ul.propList li a .image .featured-label {
    position: absolute;
    top: 0px;
    right: -20px;
    z-index: 10;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.propsWidget ul.propList li a .image .featured-label .featured-label-content {
    background-color: #ea3d36;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 0;
    float: left;
    width: 24px;
    text-align: center;
}
.no-touch .propsWidget ul.propList li a:hover .featured-label .featured-label-content > span {
    -webkit-animation: starSpin 2s linear infinite;
    -moz-animation: starSpin 2s linear infinite;
    animation: starSpin 2s linear infinite;
}
.propsWidget ul.propList li a .image .featured-label .featured-label-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 17px 17px;
    border-color: transparent transparent #ea3c36 transparent;
    float: left;
}
.propsWidget ul.propList li a .image .featured-label .featured-label-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 0 0 17px;
    border-color: transparent transparent transparent #ea3c36;
    float: left;
}
.propsWidget ul.propList li a .image img {
    height: 60px;
    width: auto;
}
.propsWidget ul.propList li a .info {
    float: left;
    margin-left: 10px;
    max-width: 70%;
    padding-top: 0px;
    overflow: hidden;
}
.propsWidget ul.propList li a .info .name {
    font-size: 14px;
    line-height: 16px;
}
.no-touch .propsWidget ul.propList li a:hover .info .name {
    color: #0eaaa6;
}
.propsWidget ul.propList li a .info .price {
    font-size: 14px;
    line-height: 22px
}
.propsWidget ul.propList li a .info .price .badge {
    background-color: #eab134;
    font-size: 10px;
    line-height: 11px;
    color: #fff;
    padding: 2px 4px;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: normal;
}
.propsWidget ul.propList li a .info .address {
    font-size: 14px;
    line-height: 13px;
    color: #999;
    font-style: italic;
}
.properties-list {

}
.properties-list-item {
    display: block;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    margin-bottom: 20px;
    text-decoration: none;
    border-radius: 2px;
    overflow: hidden;
}
.properties-list-item .img {
    background-color: #000;
    position: relative;
    display: block;
    width: 100%;
    height: 170px;
    overflow: hidden;
}
.properties-list-item .img > span {
    position: relative;
    display: block;
    width: 100%;
    height: 170px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.no-touch .properties-list-item .img > span {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
.no-touch .properties-list-item:hover .img > span {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.8;
}
.properties-list-item-details {
    padding: 0 10px;
    overflow: hidden;
    position: relative;
}
.properties-list-item-details h2 {
    font-size: 16px;
    line-height: 16px;
    margin: 0 10px 0 0;
    padding: 10px 0 10px 0;
    color: #333;
    text-decoration: none;
    white-space: nowrap;
}
.properties-list-item-details h2 a {
    color: #333;
}
.no-touch .properties-list-item-details h2 a:hover {
    color: #0eaaa6;
}
.properties-list-item-details .cardAddress {
    font-size: 11px;
    line-height: 14px;
    color: #999;
    padding: 0 0 5px 0;
    margin: 0 10px 0 0;
    overflow: hidden;
    white-space: nowrap;
}
.properties-list-item-details .price {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
}
.properties-list-item-details .featured {
    text-transform: uppercase;
    font-size: 9px;
    background-color: #ea3d36;
    float: left;
    line-height: 11px;
    color: #fff;
    padding: 3px 5px;
    border-radius: 2px;
    margin-top: 10px;
    margin-right: 5px;
}
.properties-list-item-details .property-status {
    padding: 7px 0;
}
.properties-list-item-details .property-status .property-status-label {
    font-size: 11px;
}
.properties-list-item-details .op-btn {
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 0;
    padding: 0 10px;
}
.properties-list-item-details .prices {
    font-size: 12px;
}
.properties-list-item-details .pay-total {
    font-weight: bold;
}
.properties-list-item-details .payBtn,
.properties-list-item-details .upgradeBtn {
    margin-top: 10px;
}



/**
 * 12.0 - Pagination
 */

.pagination {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    border-radius: 2px;
}
.pagination > li > a,
.pagination > li > span {
    color: #999;
    background-color: #fff;
    border: 1px solid #fff;
    margin-left: 0;
}
.no-touch .pagination > li > a:hover,
.no-touch .pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #333;
    background-color: #e8e8e8;
    border-color: #e8e8e8;
}
.pagination > .active > a,
.pagination > .active > span,
.no-touch .pagination > .active > a:hover,
.no-touch .pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #0eaaa6;
    border-color: #0eaaa6;
}

/**
 * 13.0 - Alerts
 */
/*
.alert {
    padding: 15px 15px 15px 63px;
    margin-bottom: 20px;
    border: 0 none;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    background-color: #fff;
    font-size: 13px;
    position: relative;
}*//*
#propertyModal .modal-body .alert, #accountModal .modal-body .alert {
    margin-bottom: 0;
}
#propertyModal .modal-body, #accountModal .modal-body {
    padding: 0;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}*//*
.propSaving {
    padding: 15px;
    text-align: center;
}
.alert-dismissable .close, .alert-dismissible .close {
    right: 0;
}*//*
.alert > .icon {
    position: absolute;
    z-index: 1;
    left: 0;
    padding: 15px;
    bottom: 0;
    top: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    min-width: 48px;
    text-align: center;
}
.alert.alert-success > .icon {
    background-color: #5cb85c;
}
.alert.alert-info > .icon {
    background-color: #5bc0de;
}
.alert.alert-warning > .icon {
    background-color: #f0ad4e;
}
.alert.alert-danger > .icon {
    background-color: #d9534f;
}
.progress-bar-green {
  background-color: #0eaaa6;
}*/
.progress-striped .progress-bar-green {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}





/**
 * 15.0 - Sign in / Sign up
 */

#page-container {
    height: 100%;
}
body.black {
    background-color: #000;
}
.signLogo {
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}
.signLogo span {
    font-size: 32px;
}
.signOr {
    padding-bottom: 10px;
    text-align: center;
}
.signFooter {
    font-size: 11px;
    color: #fff;
    text-align: center;
    padding-top: 10px;
}

/**
 * 16.0 - Testimonial shortcode
 */

.testim-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
}
.testim {
    margin-left: 70px;
}
.testim-text {
    font-size: 11px;
    color: #999;
    font-style: italic;
    padding-bottom: 5px;
}
.testim-name {
    font-size: 12px;
    font-weight: bold;
}
.mb20 {
    margin-bottom: 20px;
}
.carousel-inner > .item > img.home-testim-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
}
.home-testim {
    margin-left: 120px;
    padding-top: 10px;
}
.home-testim-text {
    font-size: 16px;
    color: #999;
    font-style: italic;
    padding-bottom: 5px;
}
.home-testim-name {
    font-size: 16px;
    font-weight: bold;
}
#home-testimonials .carousel-inner {
    width: 70%;
    margin: 0 auto;
}

/**
 * 17.0 - Homepage slideshow
 */

#hero-container {
    background-color: #000;
    height: 600px;
    position: relative;
}
#page-hero-container {
    background-color: #333;
    height: 300px;
    position: relative;
}
.page-hero {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    height: 300px;
}
#slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
}
#slideshow > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
}
.slideshowShadow {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
}
#hero-container-map {
    background-color: #fff;
    height: 600px;
    position: relative;
}
#hero-container-blog {
    height: 600px;
    position: relative;
}
#homeMap {
    width: 100%;
    height: 600px;
}

/**
 * 18.0 - Homepage header
 */





/**
 * 20.0 - Homepage caption
 */

.home-caption {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 200px;
    left: 0;
    z-index: 10;
}
.page-caption {
    position: absolute;
    text-align: center;
    top: 130px;
    left: 20%;
    right: 20%;
    z-index: 10;
}
.page-title {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}
.home-title {
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}
.home-subtitle {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    padding-bottom: 20px;
    font-weight: bold;
}




/**
 * 23.0 - Agent shortcode
 */

.agent {
    text-align: center;
    margin-bottom: 20px;
}
.agent-avatar {
    display: inline-block;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}
.agent-avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.agent-avatar .ring {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border: 10px solid #fff;
    opacity: 0.50;
    display: none;
}
.no-touch .agent-avatar .ring {
    display: block;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}
.no-touch .agent-avatar:hover .ring {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.agent-name {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 0;
}
.agent-contact {
    padding-top: 10px;
}


/**
 * 29.0 Media Queries
 */

@media screen and (max-width: 1199px) {
    .page-wrapper  {
        width: 100%;
        margin: 0;
    }
}
@media screen and (max-width: 991px) {
    .agentAvatarImg {
        width: 20%;
    }
    .agentAvatar .contactBtn {
        /*width: 50%;*/
    }
    .agentAvatar .favBtn {
        width: 50%;
    }
    .home-title {
        font-size: 34px;
        line-height: 38px;
    }
    .featured.carousel .carousel-inner .item .carousel-caption .caption-title {
        font-size: 34px;
        line-height: 40px;
    }
    .blog-content h2.h-r, .home-content h2.h-r {
        text-align: left;
    }
    .blog-r-nav {
        text-align: left;
    }
    .blog-tags .label {
        margin-left: 0;
        margin-right: 5px;
    }
    .blog-tags {
        text-align: left;
    }
}
@media screen and (max-width: 767px) {
    a {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
    #header {
        background-color: #0eaaa6;
        height: 50px;
    }
    .search {
        display: none;
    }
    .logo, .logo.expanded {
        position: absolute;
        top: 0;
        width: auto;
        height: auto;
        float: none;
        margin: 0;
        left: 50%;
        margin-left: -16px;
    }
    .logo a, .logo.expanded a {
        width: 32px;
        height: 40px;
    }
    .logo a span.marker, .logo.expanded a span.marker {
        left: 0;
        top: 12px;
    }
    .logo a span.logoText, .logo.expanded a span.logoText {
        display: none;
    }
    .logo a img.logo-min {
        display: block;
        margin-top: 8px;
    }
    .logo a img.logo-full {
        display: none;
        margin-top: 8px;
    }
    .logo.expanded a img.logo-min {
        display: none;
    }
    .logo.expanded a img.logo-full {
        display: block;
        margin-left: 0;
    }
    .mobAvatar {
        display: block;
    }
    .topUserWraper .userMenu {
        right: 0;
    }
    .topMenuArrow {
        right: 30px;
    }
    h2.pageHeader {
        font-size: 20px;
    }
    #leftSide {
        top: 50px;
        /*visibility: hidden;
        opacity: 0;*/
        display: none;
        /*margin-left: -87%;*/
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    #leftSide.expanded {
        width: 87%;
        /*opacity: 1;
        visibility: visible;
        margin-left: 0;*/
        display: block;
    }
    .closeLeftSide {
        width: 13%;
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 100;
    }
    .expanded .leftNav > div > ul > li {
        width: 100%;
    }
    .expanded .leftNav > div > ul > li > a {
        width: 100%;
    }
    .expanded .leftNav > div > ul > li > ul {
        width: 100%;
    }
    .expanded .leftNav > div > ul > li > ul > li > a {
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    .headerNotifyWraper {
        display: none;
    }
    .headerUserWraper {
        height: 50px;
    }
    a.headerUser {
        display: none;
    }
    a.navHandler {
        font-size: 24px;
        padding-top: 8px;
        height: 50px;
        width: 14px;
        color: #fff;
        margin-left: 15px;
    }
    a.mapHandler {
        display: block;
    }
    .no-touch a.mapHandler:hover {
        color: #c6e4e3;
        text-decoration: none;
    }
    a.userHandler, a.userNavHandler {
        display: block;
    }
    .no-touch a.userHandler:hover {
        color: #c6e4e3;
        text-decoration: none;
    }
    .no-touch a.navHandler:hover {
        background-color: transparent;
        color: #c6e4e3;
        text-decoration: none;
    }
    .leftUserWraper {
        display: none;
    }
    .headerUserWraper .dropdown-menu {
        border-radius: 0;
        border: 0 none;
    }
    .userMenu {
        width: 100%;
    }
    #wrapper {
        margin: 50px 0 0 0;
    }
    #mapView, #mapSingleView, #mapNewView, #mapMyView, #mapFavView, #mapAgentView, #mapIdxView {
        width: 100%;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    #content {
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: #f3f3f3;
        width: 0%;
        border-top: 1px solid #e8e8e8;
        float: right;
        -webkit-overflow-scrolling: touch;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    #mapView.min, #mapView.mob-min, #mapSingleView.min, #mapSingleView.mob-min, #mapNewView.min, #mapNewView.mob-min, #mapMyView.min, #mapMyView.mob-min, #mapFavView.min, #mapFavView.mob-min, #mapAgentView.min, #mapAgentView.mob-min, #mapIdxView.min, #mapIdxView.mob-min {
        width: 0%;
    }
    #content.max, #content.mob-max {
        width: 100%;
    }
    #mapView.mob-max, #mapSingleView.mob-max, #mapNewView.mob-max, #mapMyView.mob-max, #mapFavView.mob-max, #mapAgentView.mob-max, #mapIdxView.mob-max {
        width: 100%;
    }
    #content.mob-min {
        width: 0%;
    }
    #mapView.mob-min .mapPlaceholder, #mapSingleView.mob-min .mapPlaceholder, #mapNewView.mob-min .mapPlaceholder, #mapMyView.mob-min .mapPlaceholder, #mapFavView.mob-min .mapPlaceholder, #mapAgentView.mob-min .mapPlaceholder, #mapIdxView.mob-min .mapPlaceholder {
        display: none;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        font-size: 30px;
        line-height: 30px;
    }
    .carousel-control .fa-chevron-left {
        margin-left: -15px;
    }
    .carousel-control .glyphicon-chevron-right {
        margin-right: -15px;
    }
    .agentAvatarImg {
        width: 20%;
    }
    .leftNav .search {
        background-color: #132120;
        display: block;
        float: none;
        padding: 10px 20px 10px 20px;
    }
    .searchIcon {
        font-size: 16px;
        color: #adc8c7;
        margin-left: 0;
        padding-top: 0;
        line-height: 42px;
    }
    .searchIcon.active {
        color: #fff;
    }
    .search input {
        background-color: #132120;
        color: #fff;
        border: 0 none;
        font-size: 12px;
        margin: 12px 0 0 10px;
        width: 88%;
        padding: 0;
    }
    .search input::-webkit-input-placeholder {
        color: #adc8c7;
    }
    .search input:-moz-placeholder { /* Firefox 18- */
        color: #adc8c7;
    }
    .search input::-moz-placeholder {  /* Firefox 19+ */
        color: #adc8c7;
    }
    .search input:-ms-input-placeholder {
        color: #adc8c7;
    }
    .table {
        margin-bottom: 0;
    }
    .table-overflow {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        margin-bottom: 20px;
    }
    .panel .table-overflow {
        margin-bottom: 0;
    }
    .table > thead > tr > th {
        font-size: 10px;
    }
    .table > tbody > tr > td {
        font-size: 11px;
    }
    #hero-container, #hero-container-map, #home-map, #slideshow {
        height: 592px;
    }
    .home-caption {
        top: 150px;
    }
    .search-panel form {
        text-align: left;
    }
    .home-title {
        font-size: 26px;
        line-height: 30px;
    }
    .featured.carousel .carousel-inner .item .carousel-caption .caption-title {
        font-size: 26px;
        line-height: 30px;
    }
    .topUserWraper.open .userMenu {
        margin-top: 0;
    }
    .top-nav, .user-nav {
        position: absolute;
        top: 75px;
        width: 100%;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 1600;
        float: none;
        background-color: #fff;
        margin-right: 0;
        padding: 10px 0;
        display: block;
        /*opacity: 0;
        visibility: hidden;
        margin-top: -20px;*/
        display: none;
        -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
        box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    #header .top-nav, #header .user-nav {
        top: 50px;
    }
    .top-nav.active, .user-nav.active {
        /*visibility: visible;
        opacity: 1;
        margin-top: 0;*/
        display: block;
    }
    .top-nav > div {
        float: none;
    }
    .top-nav > ul, .top-nav > div > ul, .user-nav > ul {
        float: none;
    }
    .user-nav > ul {
        margin-right: 0;
    }
    .top-nav > ul > li, .top-nav > div > ul > li, .user-nav > ul > li {
        float: none;
        margin: 0;
        padding: 0;
    }
    .top-nav > ul > li > a, .top-nav > div > ul > li > a, .user-nav > ul > li > a,
    #header .top-nav > ul > li > a, #header .top-nav > div > ul > li > a, #header .user-nav > ul > li > a {
        padding: 10px 20px;
        color: #333
    }
    .no-touch .top-nav > ul > li > a:hover, .no-touch .top-nav > div > ul > li > a:hover, .no-touch .user-nav > ul > li > a:hover {
        background-color: #f3f3f3;
        color: #333;
    }
    .top-nav > div > ul > li > a > span.fa-angle-down {
        float: right;
        margin-top: 3px;
    }
    .top-nav > div > ul > li > ul.sub-menu {
        position: static;
        top: auto;
        left: auto;
        float: none;
        min-width: auto;
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 13px;
        background-color: #fff;
        text-align: left;
        list-style: none;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 0 none;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        /*opacity: 0;
        visibility: hidden;
        margin-top: 0;*/
        display: none;
    }
    .top-nav.active > div > ul > li > ul.sub-menu {
        /*visibility: visible;
        opacity: 1;*/
        display: block;
    }
    #header .top-nav > div > ul > li > ul.sub-menu {
        border: 0 none;
    }
    .top-nav > div > ul > li:hover > ul.sub-menu {
        /*opacity: 1;
        visibility: visible;
        margin-top: 0;*/
        display: block;
    }
    .top-nav > div > ul > li > ul.sub-menu > li > a {
        padding: 10px 20px;
        display: block;
        font-size: 13px;
        color: #999;
    }
    .no-touch .top-nav > div > ul > li > ul.sub-menu > li > a:hover {
        background-color: #f3f3f3;
        color: #333;
    }
    .s-text {
        padding: 0;
    }
    #home-testimonials .carousel-inner {
        width: 100%;
        margin: 0;
    }


    .featured.carousel .carousel-inner .item .carousel-caption .caption-subtitle {
        font-size: 12px;
    }
    .carousel-caption {
        left: 10%;
        right: 10%;
    }


    .p-n-articles a {
        font-size: 14px;
    }
    .pna-title {
        font-size: 9px;
        line-height: 9px;
        letter-spacing: 1px;
    }
    .post-author {
        float: none;
        margin-bottom: 20px;
    }
    .post-share {
        float: none;
        text-align: left;
    }

}
