



a.card ul.cardFeat li span, div.card ul.cardFeat li span {
    color: #999;
}
.carousel-col .carousel-indicators, .carousel-wb .carousel-indicators {
    position: absolute;
    bottom: -26px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.carousel-col .carousel-indicators li, .carousel-wb .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0.30);
    border: 0 none;
    border-radius: 10px;
}
.carousel-col .carousel-indicators .active, .carousel-wb .carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 0 1px;
    background-color: #333;
}
.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .fa-chevron-left {
    left: 50%;
    margin-left: -10px;
}
.carousel-control .fa-chevron-right {
    right: 50%;
    margin-right: -10px;
}
.carousel-col {
    padding: 0 20px;
}
.carousel-col .carousel-control {
    top: 0;
    bottom: 0;
    left: -20px;
    width: 40px;
    font-size: 20px;
    color: #999;
    text-align: center;
    text-shadow: none;
    filter: alpha(opacity=100);
    opacity: 1;
}
.carousel-col .carousel-control.left {
    background-image: none;
    filter: none;
    background-repeat: no-repeat;
}
.carousel-col .carousel-control.right {
    right: -20px;
    left: auto;
    background-image: none;
    filter: none;
    background-repeat: no-repeat;
}
.no-touch .carousel-col .carousel-control:hover,
.carousel-col .carousel-control:focus {
    color: #333;
    text-decoration: none;
    filter: alpha(opacity=100);
    outline: 0;
    opacity: 1;
}
.carousel-col .carousel-control .fa-chevron-left,
.carousel-col .carousel-control .fa-chevron-right {
    position: absolute;
    top: 45%;
    z-index: 5;
    display: inline-block;
}
.carousel-col .carousel-control .fa-chevron-left {
    left: 50%;
    margin-left: -7px;
}
.carousel-col .carousel-control .fa-chevron-right {
    right: 50%;
    margin-right: -7px;
}
.gallery.carousel {
    height: 380px;
}
.gallery.carousel .carousel-inner {
    height: 100%;
}
.gallery.carousel .carousel-inner .item {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
}
.gallery.carousel iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.singleTop .summary {
    padding: 20px 20px 0 20px;
}
.summaryItem {
    margin-bottom: 20px;
}
.single-featured {
    text-transform: uppercase;
    font-size: 11px;
    background-color: #ea3d36;
    float: left;
    line-height: 11px;
    color: #fff;
    padding: 3px 5px;
    border-radius: 2px;
    margin-bottom: 10px;
}
h1.pageTitle {
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 18px;
    line-height: 19px;
    font-weight: normal;
}
.singleTop .address {
    font-size: 12px;
    line-height: 14px;
    color: #999;
    padding: 0 0 15px 0;
}
.singleTop ul.rating {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 0;
    float: left;
}
.singleTop ul.rating li {
    font-size: 12px;
    line-height: 13px;
    color: #333;
    float: left;
    margin-right: 3px;
}
.singleTop ul.rating li a span {
    color: #eab134;
    font-size: 14px;
}
.singleTop ul.stats {
    float: right;
    list-style-type: none;
    margin: 20px 0 0 5px;
    padding: 0;
}
.singleTop ul.stats li {
    float: left;
    margin-left: 7px;
    color: #333;
    font-size: 11px;
}
.singleTop ul.stats li span {
    font-size: 11px;
    color: #999;
}
.singleTop ul.features {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    border: 1px solid #e8e8e8;
    float: left;
    width: 100%;
}
.singleTop ul.features li {
    float: left;
    width: 33.33%;
    text-align: center;
    padding: 15px 0;
    border-right: 1px solid #e8e8e8;
}
.singleTop ul.features li:last-child {
    border-right: 0 none;
}
.singleTop ul.features li span {
    color: #999;
    display: block;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
}
.singleTop ul.features li div {
    font-size: 13px;
}
.agentAvatar {
    text-align: center;
}
.agentAvatarImg {
    width: 40%;
    height: auto;
    /*border: 1px solid #e8e8e8;*/
    padding: 3px;
}
.agentName {
    padding: 2px 0 10px 0;
    font-size: 13px;
}
.agentAvatar .contactBtn {
    margin-bottom: 10px;
}
.contact-details {
    padding-bottom: 10px;
}
.contact-icon {
    margin-right: 5px;
    min-width: 14px;
}
.singlePrice {
    float: left;
}
.listPrice {
    font-size: 20px;
    line-height: 20px;
}
.listCategory {
    font-size: 9px;
    text-transform: uppercase;
    line-height: 20px;
}
.listPrice .label {
    text-transform: uppercase;
    font-size: 9px;
    vertical-align: middle;
    line-height: 9px;
    padding-bottom: 1px;
}
.favLink {
    float: right;
    font-size: 13px;
    line-height: 14px;
    margin-left: 10px;
    margin-top: 20px;
}
.favLink .addFav, .favLink .addedFav, .favLink .noSigned {
    width: 100%;
    color: #ea3d36;
}
.favLink .addFav span, .favLink .addedFav span, .favLink .noSigned span {
    font-size: 14px;
    display: block;
    float: left;
    height: 14px;
    vertical-align: middle;
    line-height: 14px;
    width: 24px;
    text-align: center;
    -webkit-transition: font-size .2s;
    -o-transition: font-size .2s;
    transition: font-size .2s;
}
.no-touch .favLink a.addFav:hover span, .no-touch .favLink a.noSigned:hover span {
    font-size: 20px;
    color: #ea3d36;
}
.contactForm .cfItem {
    margin-bottom: 10px;
}
.contactForm .cfItem:last-child {
    margin-bottom: 0;
}/*
.description, .amenities, .share, .similar, .additional, .floorPlans {
    padding: 20px 20px 0 20px;
}*/
a.plan {
    height: 140px;
    overflow: hidden;
    background-color: #fff;
    display: block;
    padding: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    margin-bottom: 20px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.no-touch a.plan:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.13);
}
a.plan img {
    width: 100%;
    height: auto;
}
.agentProperties {
    padding: 20px;
}
.similar a.similarProp {
    display: block;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    margin-bottom: 20px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.similar a.similarProp .featured-label {
    position: absolute;
    top: 0px;
    right: -20px;
    z-index: 10;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.similar a.similarProp .featured-label .featured-label-content {
    background-color: #ea3d36;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 0;
    float: left;
    width: 24px;
    text-align: center;
}
.no-touch .similar a.similarProp:hover .featured-label .featured-label-content > span {
    -webkit-animation: starSpin 2s linear infinite;
    -moz-animation: starSpin 2s linear infinite;
    animation: starSpin 2s linear infinite;
}
.similar a.similarProp .featured-label .featured-label-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 16px 16px;
    border-color: transparent transparent #ea3c36 transparent;
    float: left;
}
.similar a.similarProp .featured-label .featured-label-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 0 0 16px;
    border-color: transparent transparent transparent #ea3c36;
    float: left;
}
.similar a.similarProp .image {
    width: 60px;
    height: 60px;
    float: left;
    text-align: center;
    overflow: hidden;
}
.similar a.similarProp .image img {
    height: 60px;
    width: auto;
}
.similar a.similarProp .info {
    float: left;
    margin-left: 10px;
    max-width: 70%;
    padding-top: 5px;
    overflow: hidden;
}
.similar a.similarProp .info .name {
    font-size: 14px;
    line-height: 16px;
    color: #333;
}
.no-touch .similar a.similarProp:hover .info .name {
    color: #0eaaa6;
}
.similar a.similarProp .info .price {
    font-size: 14px;
    line-height: 22px;
    color: #333;
}
.no-touch .similar a.similarProp:hover .info .price {
    color: #333;
}
.similar a.similarProp .info .price .badge {
    background-color: #eab134;
    font-size: 10px;
    line-height: 11px;
    color: #fff;
    padding: 2px 4px;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: normal;
}
.similar a.similarProp .info .address {
    font-size: 11px;
    line-height: 13px;
    color: #999;
    font-style: italic;
}
.similar .noProp {
    padding-bottom: 20px;
}
.share a {
    margin: 0 10px 10px 0;
}
#content h3 {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding: 0 0 10px 0;
}
.description p {
    font-size: 13px;
}
.amItem {
    font-size: 13px;
    margin-bottom: 10px;
}
.amItem span {
    color: #b4b4b4;
}
.amItem.active {
    color: #333;
}
.amItem.active span {
    color: #0eaaa6;
}
.amItem span {
    width: 20px;
    text-align: center;
}
.shareItem {
    margin-bottom: 10px;
    text-align: center;
}
.search_prop_calc {
    padding: 6px 0;
    margin-bottom: 20px;
}
.search_prop_calc_top {
    padding: 6px 0;
}
.label-green {
    background-color: #0eaaa6;
}
.no-touch .label-green[href]:hover,
.label-green[href]:focus {
    background-color: #068b85;
}
.pb10 {
    padding-bottom: 10px;
}
.p20 {
    padding: 20px;
}
.spotlight {
    background-color: #0eaaa6;
    padding: 30px;
    text-align: center;
}
.s-title {
    color: #fff;
    font-size: 26px;
    line-height: 30px;
    padding-bottom: 10px;
}
.s-text {
    color: #fff;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    padding: 0 30%;
}


