
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <!--<link rel="shortcut icon" href="../images/favicon.png" type="image/png">-->

  <title>Quirk Responsive Admin Templates</title>

  <link href="http://pivot.mediumra.re/css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
  <link href="http://pivot.mediumra.re/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>

          <link rel="stylesheet" href="../../../resources/css/bootstrap.min.css"
                               th:href="@{/resources/css/bootstrap.min.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/core.css"
                               th:href="@{/resources/css/core.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/components.css"
                               th:href="@{/resources/css/components.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/icons.css"
                               th:href="@{/resources/css/icons.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/pages.css"
                               th:href="@{/resources/css/pages.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/app.css?ver=1"
                               th:href="@{/resources/css/app.css?ver=1}" />
        <link rel="stylesheet" href="../../../resources/css/application-18993c20f2124781ead947d73185c219.css"
                               th:href="@{/resources/css/application-18993c20f2124781ead947d73185c219.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/43e53d.css"
                               th:href="@{/resources/css/43e53d.css}" type="text/css" />

        <link rel="stylesheet" href="../../../resources/css/idx.css?ver=1.0"
                               th:href="@{/resources/css/idx.css?ver=1.0}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/style.css?ver=1.0"
                               th:href="@{/resources/css/style.css?ver=1.0}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/style-ma.css"
                               th:href="@{/resources/css/style-ma.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/responsive.css"
                               th:href="@{/resources/css/responsive.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/font-awesome.min.css"
                               th:href="@{/resources/css/font-awesome.min.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/signin.css"
                               th:href="@{/resources/css/signin.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/newton.webflow.7cafcc355.css"
                               th:href="@{/resources/css/newton.webflow.7cafcc355.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/quirk.css"
                               th:href="@{/resources/css/quirk.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/github2-5f7255544b25f937224217b1c37ee5c139a0a00a3decd8020b9aabc550340903.css"
                               th:href="@{/resources/css/github2-5f7255544b25f937224217b1c37ee5c139a0a00a3decd8020b9aabc550340903.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/dropzone.css"
                               th:href="@{/resources/css/dropzone.css}" type="text/css" />
        <link rel="stylesheet" href="http://127.0.0.1:8080/resources/css/master-responsive-156.css" />
        <link rel="stylesheet" href="/resources/css/helium-105.css" />

</head>

<body>


<section>

  <div class="notfoundpanel">
    <i class="icon icon-compass"></i>
    <h1>404!</h1>
    <h3>The page you are looking for has not been found!</h3>
    <h4>The page you are looking for might have been removed, had its name changed,<br />or unavailable. Maybe you could try a search:</h4>
    <a href="chooser.html" class="btn btn-primary btn-white" target="default">Take Me Home</a>
    <a href="#" class="btn btn-primary btn-white btn-text-only">Report This</a>
    <hr class="darken" />

  </div><!-- notfoundpanel -->

</section>

</body>
</html>
