<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <title>Remote file for searchbuyingproposal</title>
</head>
<body>

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 class="modal-title">New Buying proposal search</h4>
</div>
<div class="modal-body" style="min-height: 400px;">
  <div id="alert_placeholder"></div>


  <ul class="table-list">

    <li th:id="${'request_for_' + list.property.id}" th:each="list,status : ${list}" class="table-list-item">


      <div class="table-list-cell table-list-cell-type">
        <a th:href="@{/profile/property/{id}(id=${list.property.id})}" aria-label="View the property">
          <img th:each="propertyPhoto,status : ${list.property.propertyPhotos}"
               th:src="@{/resources/images/uploads/{upload}(upload=${propertyPhoto.thumbnailFilename})}" alt="" title=""
               th:if="${status.index &lt; 1}"/>
        </a>
      </div>

      <div class="table-list-cell issue-title">

        <a th:href="@{/profile/property/{id}(id=${list.property.id})}" class="issue-title-link js-navigation-open"
           th:text="#{${'label.' + list.property.propertyType}}">
          condo / Appartement
        </a>
        <span class="m-l-5" th:text="${list.property.propertyPrice}">14,000 usd</span>
        <span class="m-l-10 label label-primary"
              th:text="#{${'label.for.' + list.property.propertySaleType}}">on sale</span>
                                    <span style="display:block;color:#000;font-weight:600;font-size:13px;">
                                      <th:block th:text="${list.property.location.locationString + ','}">600 40th Ave,
                                        Richmond District,
                                      </th:block>
                                  <th:block th:text="${list.property.location.province.name + ','}"> San Francisco,
                                  </th:block>
                                  <th:block th:text="${list.property.location.locationZipCode + ','}"> 94121,</th:block>
                                  <th:block th:text="${list.property.location.country.name}"> United States</th:block>
                                    </span>
        <div class="issue-meta">
                                      <span class="issue-meta-section opened-by">
                                      <span>
                                        <th:block th:text="${list.property.propertyNumOfBedrooms}">
                                        </th:block><i class="fa fa-bed"></i></span>
                                      <span class="m-l-15">
                                        <th:block th:text="${list.property.propertyNumOfBathrooms}">
                                        </th:block><i class="fa fa-tint"></i></span>
                                      <span class="m-l-15">
                                        <th:block th:text="${list.property.propertySqFeet}">
                                        </th:block><i class="fa fa-arrows"></i></span>
                                      <span class="m-l-15">
                                        <th:block th:text="${list.property.propertyNumOfFloors}">
                                        </th:block>
                                      </span>
                                      </span>

                                      <span class="issue-meta-section css-truncate issue-milestone">
                                      </span>


        </div>
      </div>


      <div class="table-list-cell cell-appointement">
                                            <span class="p-t-10">

        <div class="btn-group btn-group-sm">
          <a th:id="${'accept_' + list.property.id}" type="button" class="btn button js_session_storage" th:attr="data-value=${list.property.id},data-binding=${list.id}">
            Accept
          </a><a type="button" class="btn button js_submit_link"
                 th:attr="data-remote=@{/profile/binding/{id}(id=${list.id},response=decline)}">
          Decline
        </a></div>
        </span>
      </div>
    </li>

  </ul>

  <div th:classappend="${not #lists.isEmpty(list) ? 'none' : ''}" class="module-section">


    <div class="placeholder ">
      <h3 class="placeholder-title">No Listing</h3>
      <div class="placeholder-text">There is no data available.
      </div>

    </div>
  </div>


</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" th:text="#{label.changes.cancel}" data-dismiss="modal">Cancel</button>
  <button type="button" class="btn btn-primary" th:text="#{label.changes.submit}">Save Changes</button>
</div>


<!-- SUBMODAL -->
<div class="modal submodal" id="scheduleAppointement">
  <div class="modal-dialog">
    <form class="ejb_eb form-horizontal js_binding_form" accept-charset="UTF-8" method="post" th:action="@{/property/}">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-center font-bold">Please choose a date to confirm your operation.</p>
        <hr />

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7" id="inl"></div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" id="inlvc">Value: <span id="inlv">(choose)</span>
              <input type="hidden" id="dateAppointment" name="dateAppointment" value="" />
            </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="submodal">Close</button>
        <button type="submit" name="save" class="btn btn-primary disabled">Schedule an appointment </button>
      </div>
    </div>
    </form>
  </div>
</div>
<!-- /SUBMODAL -->


<th:block th:replace="footer_js :: footer_js">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "footer_js.html" at runtime                                             -->
  <!-- ============================================================================ -->
</th:block>
</body>
</html>