<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header_css :: header_css">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "header_css.html" at runtime.                                           -->
  <!-- ============================================================================ -->
</head>


<body class="fixed-left">

  <!--div class="animationload">
            <div class="loader"></div>
        </div-->

  <!-- Begin page -->
  <div id="wrapper">
    <header class="navbar navbar-default navbar-static-top dark-header topbar" role="banner" th:fragment="header">
      <div th:replace="header :: header">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "header.html" at runtime.                                               -->
        <!-- ============================================================================ -->
      </div>
    </header>


    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu" th:replace="sidebar :: sidebar(page=label.membership)">
      <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "sidebar.html" at runtime.                                              -->
      <!-- ============================================================================ -->
    </div>
    <!-- Left Sidebar End -->



    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
      <!-- Start content -->
      <div class="content">
        <div class="container-fluid">

          <!-- Page-Title -->
          <div class="row" th:replace="profilemembership/jumbotron :: jumbotron(page=label.membership)">
            <!-- ============================================================================ -->
            <!-- This content is only used for static prototyping purposes (natural templates)-->
            <!-- and is therefore entirely optional, as this markup fragment will be included -->
            <!-- from "sidebar.html" at runtime.                                               -->
            <!-- ============================================================================ -->
          </div>
          <!-- /.col -->

          <div class="row">
            <!-- Pricing Item -->
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="pricing-item">
                <div class="pricing-item-inner">
                  <div class="pricing-wrap">
                    <!-- Icon (Simple-line-icons) -->
                    <div class="pricing-icon">
                      <i class="ion-plane text-success"></i>
                    </div>
                    <!-- Pricing Title -->
                    <div class="pricing-title text-success">
                      Starter Pack
                    </div>
                    <!-- Pricing Features -->
                    <div class="pricing-features">
                      <ul class="sf-list pr-list">
                        <li>5 Projects</li>

                        <li>Free Support</li>
                      </ul>
                    </div>
                    <div class="pricing-num">
                      <sup>$</sup>99
                    </div>
                    <div class="pr-per">
                      per month
                    </div>
                    <!-- Button -->
                    <div class="pr-button">
                      <a th:href="@{/profile/membership/subscription/(s='PACK1')}" class="btn btn-success">Subscribe</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Pricing Item -->

            <!-- Pricing Item -->
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="pricing-item">
                <div class="pricing-item-inner">
                  <div class="pricing-wrap">
                    <!-- Icon (Simple-line-icons) -->
                    <div class="pricing-icon">
                      <i class="ion-trophy text-purple"></i>
                    </div>
                    <!-- Pricing Title -->
                    <div class="pricing-title text-success">
                      Professional Pack
                    </div>
                    <!-- Pricing Features -->
                    <div class="pricing-features">
                      <ul class="sf-list pr-list">
                        <li>5 Projects</li>

                        <li>Free Support</li>
                      </ul>
                    </div>
                    <div class="pricing-num">
                      <sup>$</sup>199
                    </div>
                    <div class="pr-per">
                      per month
                    </div>
                    <!-- Button -->
                    <div class="pr-button">
                      <a th:href="@{/profile/membership/subscription/(s='PACK2')}" class="btn btn-success">Subscribe</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Pricing Item -->

            <!-- Pricing Item -->
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="pricing-item">
                <div class="pricing-item-inner">
                  <div class="pricing-wrap">
                    <!-- Icon (Simple-line-icons) -->
                    <div class="pricing-icon">
                      <i class="ion-umbrella text-pink"></i>
                    </div>
                    <!-- Pricing Title -->
                    <div class="pricing-title text-success">
                      Enterprise Pack
                    </div>
                    <!-- Pricing Features -->
                    <div class="pricing-features">
                      <ul class="sf-list pr-list">
                        <li>5 Projects</li>

                        <li>Free Support</li>
                      </ul>
                    </div>
                    <div class="pricing-num">
                      <sup>$</sup>299
                    </div>
                    <div class="pr-per">
                      per month
                    </div>
                    <!-- Button -->
                    <div class="pr-button">
                      <a th:href="@{/profile/membership/subscription/(s='PACK3')}" class="btn btn-success">Subscribe</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Pricing Item -->

            <!-- Pricing Item -->
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="pricing-item">
                <div class="pricing-item-inner">
                  <div class="pricing-wrap">
                    <!-- Icon (Simple-line-icons) -->
                    <div class="pricing-icon">
                      <i class="ion-paper-airplane text-warning"></i>
                    </div>
                    <!-- Pricing Title -->
                    <div class="pricing-title text-success">
                      Unlimited Pack
                    </div>
                    <!-- Pricing Features -->
                    <div class="pricing-features">
                      <ul class="sf-list pr-list">
                        <li>5 Projects</li>

                        <li>Free Support</li>
                      </ul>
                    </div>
                    <div class="pricing-num">
                      <sup>$</sup>399
                    </div>
                    <div class="pr-per">
                      per month
                    </div>
                    <!-- Button -->
                    <div class="pr-button">
                      <a th:href="@{/profile/membership/subscription/(s='PACK4')}" class="btn btn-success">Subscribe</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Pricing Item -->

          </div>







        </div>
        <!-- container -->

      </div>
      <!-- content -->

      <footer class="footer text-right">
        2015 © Ubold.
        <th:block th:text="${subscription}">
        </th:block>
      </footer>

    </div>





    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->


    <!-- Right Sidebar -->
    <div class="side-bar right-bar nicescroll" style="overflow: hidden; outline: none;" tabindex="5002">
      <h4 class="text-center">Chat</h4>
      <div class="contact-list nicescroll" style="overflow: hidden; outline: none;" tabindex="5003">
        <ul class="list-group contacts-list">
          <li class="list-group-item">
            <a href="http://coderthemes.com/ubold_1.2/light/crm-leads.html#">
              <div class="avatar">
                <img src="#" th:src="@{/resources/images/avatar-1.jpg}" alt="" />
              </div>
              <span class="name">Chadengle</span>
              <i class="fa fa-circle online"></i>
            </a>
            <span class="clearfix"></span>
          </li>
          <li class="list-group-item">
            <a href="http://coderthemes.com/ubold_1.2/light/crm-leads.html#">
              <div class="avatar">
                <img src="#" th:src="@{/resources/images/avatar-2.jpg}" alt="" />
              </div>
              <span class="name">Tomaslau</span>
              <i class="fa fa-circle online"></i>
            </a>
            <span class="clearfix"></span>
          </li>
          <li class="list-group-item">
            <a href="http://coderthemes.com/ubold_1.2/light/crm-leads.html#">
              <div class="avatar">
                <img src="#" th:src="@{/resources/images/avatar-3.jpg}" alt="" />
              </div>
              <span class="name">Stillnotdavid</span>
              <i class="fa fa-circle online"></i>
            </a>
            <span class="clearfix"></span>
          </li>
          <li class="list-group-item">
            <a href="http://coderthemes.com/ubold_1.2/light/crm-leads.html#">
              <div class="avatar">
                <img src="#" th:src="@{/resources/images/avatar-4.jpg}" alt="" />
              </div>
              <span class="name">Kurafire</span>
              <i class="fa fa-circle online"></i>
            </a>
            <span class="clearfix"></span>
          </li>
          <li class="list-group-item">
            <a href="http://coderthemes.com/ubold_1.2/light/crm-leads.html#">
              <div class="avatar">
                <img src="#" th:src="@{/resources/images/avatar-5.jpg}" alt="" />
              </div>
              <span class="name">Shahedk</span>
              <i class="fa fa-circle away"></i>
            </a>
            <span class="clearfix"></span>
          </li>
          <li class="list-group-item">
            <a href="http://coderthemes.com/ubold_1.2/light/crm-leads.html#">
              <div class="avatar">
                <img src="#" th:src="@{/resources/images/avatar-6.jpg}" alt="" />
              </div>
              <span class="name">Adhamdannaway</span>
              <i class="fa fa-circle away"></i>
            </a>
            <span class="clearfix"></span>
          </li>
          <li class="list-group-item">
            <a href="http://coderthemes.com/ubold_1.2/light/crm-leads.html#">
              <div class="avatar">
                <img src="#" th:src="@{/resources/images/avatar-7.jpg}" alt="" />
              </div>
              <span class="name">Ok</span>
              <i class="fa fa-circle away"></i>
            </a>
            <span class="clearfix"></span>
          </li>
          <li class="list-group-item">
            <a href="http://coderthemes.com/ubold_1.2/light/crm-leads.html#">
              <div class="avatar">
                <img src="#" th:src="@{/resources/images/avatar-8.jpg}" alt="" />
              </div>
              <span class="name">Arashasghari</span>
              <i class="fa fa-circle offline"></i>
            </a>
            <span class="clearfix"></span>
          </li>
          <li class="list-group-item">
            <a href="http://coderthemes.com/ubold_1.2/light/crm-leads.html#">
              <div class="avatar">
                <img src="#" th:src="@{/resources/images/avatar-9.jpg}" alt="" />
              </div>
              <span class="name">Joshaustin</span>
              <i class="fa fa-circle offline"></i>
            </a>
            <span class="clearfix"></span>
          </li>
          <li class="list-group-item">
            <a href="http://coderthemes.com/ubold_1.2/light/crm-leads.html#">
              <div class="avatar">
                <img src="#" th:src="@{/resources/images/avatar-10.jpg}" alt="" />
              </div>
              <span class="name">Sortino</span>
              <i class="fa fa-circle offline"></i>
            </a>
            <span class="clearfix"></span>
          </li>
        </ul>
      </div>
    </div>
    <!-- /Right-bar -->

  </div>
  <script>
    var resizefunc = [];
  </script>
  <th:block th:replace="footer_js :: footer_js">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "footer_js.html" at runtime                                             -->
    <!-- ============================================================================ -->
  </th:block>



</body>

</html>
