<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>

  <div id="wrapper">

    <header>

    </header>


    <div class="mainnav">

      <div class="container">


        <nav class="collapse mainnav-collapse" role="navigation">


        </nav>

      </div>
      <!-- /.container -->

    </div>
    <!-- /.mainnav -->

    <div class="content">

      <div class="container">

        <div class="layout layout-main-right layout-stack-sm">

          <!--div class="sidebar-secondary-admin" th:fragment="sidebar(page)"-->
          <div class="row" th:fragment="jumbotron(page)">
            <div class="col-sm-12">
              <div class="page-header-2">
                <ul class='center-top-menu'>
                  <li th:classappend="${page == 'label.membership' ? 'active' : ''}"><a href="javascript:;" th:href="@{'/profile/membership/'}" th:text="#{label.membership}">label.membership</a></li>
                  <li th:classappend="${page == 'label.billing' ? 'active' : ''}"><a href="javascript:;" th:href="@{'/profile/membership/billing/'}" th:text="#{label.billing}">label.billing</a></li>
                </ul>
                <!--h4 class="page-title">Header 2</h4>
                                    <ol class="breadcrumb">
                                        <li>
                                            <a href="#">Ubold</a>
                                        </li>
                                        <li>
                                            <a href="#">Layouts</a>
                                        </li>
                                        <li class="active">
                                            Header 2
                                        </li>
                                    </ol-->
              </div>
            </div>
          </div>
          <!-- /.sidebar-secondary-admin -->



          <div class="col-md-9 col-sm-8 layout-main">

            <div id="settings-content" class="tab-content stacked-content">




            </div>
            <!-- /.tab-content -->

          </div>
          <!-- /.col -->

        </div>
        <!-- /.row -->


      </div>
      <!-- /.container -->

    </div>
    <!-- .content -->

  </div>
  <!-- /#wrapper -->

  <footer class="footer">

  </footer>

</body>

</html>
