<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header_css :: header_css">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "header_css.html" at runtime.                                           -->
  <!-- ============================================================================ -->
</head>


<body class="fixed-left">

  <!--div class="animationload">
            <div class="loader"></div>
        </div-->

  <!-- Begin page -->
  <div id="wrapper">
    <header class="navbar navbar-default navbar-static-top dark-header topbar" role="banner" th:fragment="header">
      <div th:replace="header :: header">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "header.html" at runtime.                                               -->
        <!-- ============================================================================ -->
      </div>
    </header>


    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu" th:replace="sidebar :: sidebar(page=label.membership)">
      <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "sidebar.html" at runtime.                                              -->
      <!-- ============================================================================ -->
    </div>
    <!-- Left Sidebar End -->



    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
      <!-- Start content -->
      <div class="content">
        <div class="container-fluid">

          <!-- Page-Title -->
          <div class="row" th:replace="profilemembership/jumbotron :: jumbotron(page=label.membership)">
            <!-- ============================================================================ -->
            <!-- This content is only used for static prototyping purposes (natural templates)-->
            <!-- and is therefore entirely optional, as this markup fragment will be included -->
            <!-- from "sidebar.html" at runtime.                                               -->
            <!-- ============================================================================ -->
          </div>
          <!-- /.col -->

          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading font-bold">
                  Subscription
                </div>
                <div class="panel-body">
                <th:block th:text="${test1}">
                </th:block>
                  <form accept-charset="UTF-8" class="ejb_eb form-horizontal" th:action="@{/profile/membership/subscription/}" name="subscription" th:object="${subscription}" method="post">
                  <div class = "alert alert-info alert-dismissable">
                  <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">&times;
                  </button>
                  <span class="text-center">user to buy : don_yvau-buyer@hotmail.com<br />
                  password to buy : abcdefgh</span>
                  </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">PAYMENT METHOD:</label>
                      <div class="col-sm-8"><p style="line-height:38px;">PAYPAL</p>
                        <!--label class="radio-inline">
                          <input type="radio" name="membershipPaymentMethod" th:value="card" /> Credit Card
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="membershipPaymentMethod" th:value="paypal" checked="checked" /> PayPal
                        </label-->
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label">PAYMENT PACKAGE:</label>
                      <div class="col-sm-8">
                        <th:block th:if="${param.s != null}">
                          <p style="line-height:38px;" th:text="${param.s[0]}"></p>
                        </th:block>
                      </div>
                    </div>

                    <div class="row card none">
                      <div class="col-xs-12">
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="form-group">
                              <label for="nameOnCard">NAME ON CARD</label>
                              <input type="text" class="form-control" th:field="*{nameOnCard}" />
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="membershipPaymentCardNumber">CARD NUMBER</label>
                          <div class="input-group">
                            <input type="text" class="form-control" th:field="*{membershipPaymentCardNumber}" placeholder="Valid Card Number" />
                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row card none">
                      <div class="col-xs-7 col-md-7">
                        <div class="form-group">
                          <label for="expirationDate"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                          <input type="text" class="form-control" th:field="*{expirationDate}" placeholder="MM / YY" />
                        </div>
                      </div>
                      <div class="col-xs-5 col-md-5 pull-right">
                        <div class="form-group">
                          <label for="verifyNumber">CV CODE</label>
                          <input type="text" class="form-control" th:field="*{verifyNumber}" placeholder="CVC" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <!--button class="btn btn-warning btn-lg btn-block" type="submit">Start Subscription</button-->
                        <div class="div-centered"><a th:href="@{https://www.sandbox.paypal.com/cgi-bin/webscr(cmd='_express-checkout',useraction='commit', token=${token})}"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" /></a></div>
                      </div>
                    </div>
                    <div class="row" style="display:none;">
                      <div class="col-xs-12">
                        <p class="payment-errors"></p>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>


          </div>







        </div>
        <!-- container -->

      </div>
      <!-- content -->

      <footer class="footer text-right">
        2015 © Ubold.
      </footer>

    </div>





    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->


    <!-- Right Sidebar -->
    <div class="side-bar right-bar nicescroll" style="overflow: hidden; outline: none;" tabindex="5002">
      <h4 class="text-center">Chat</h4>
      <div class="contact-list nicescroll" style="overflow: hidden; outline: none;" tabindex="5003">
        <ul class="list-group contacts-list">
          <li class="list-group-item">
            <a href="http://coderthemes.com/ubold_1.2/light/crm-leads.html#">
              <div class="avatar">
                <img src="#" th:src="@{/resources/images/avatar-1.jpg}" alt="" />
              </div>
              <span class="name">Chadengle</span>
              <i class="fa fa-circle online"></i>
            </a>
            <span class="clearfix"></span>
          </li>
          <li class="list-group-item">
            <a href="http://coderthemes.com/ubold_1.2/light/crm-leads.html#">
              <div class="avatar">
                <img src="#" th:src="@{/resources/images/avatar-2.jpg}" alt="" />
              </div>
              <span class="name">Tomaslau</span>
              <i class="fa fa-circle online"></i>
            </a>
            <span class="clearfix"></span>
          </li>
          <li class="list-group-item">
            <a href="http://coderthemes.com/ubold_1.2/light/crm-leads.html#">
              <div class="avatar">
                <img src="#" th:src="@{/resources/images/avatar-3.jpg}" alt="" />
              </div>
              <span class="name">Stillnotdavid</span>
              <i class="fa fa-circle online"></i>
            </a>
            <span class="clearfix"></span>
          </li>
          <li class="list-group-item">
            <a href="http://coderthemes.com/ubold_1.2/light/crm-leads.html#">
              <div class="avatar">
                <img src="#" th:src="@{/resources/images/avatar-4.jpg}" alt="" />
              </div>
              <span class="name">Kurafire</span>
              <i class="fa fa-circle online"></i>
            </a>
            <span class="clearfix"></span>
          </li>
          <li class="list-group-item">
            <a href="http://coderthemes.com/ubold_1.2/light/crm-leads.html#">
              <div class="avatar">
                <img src="#" th:src="@{/resources/images/avatar-5.jpg}" alt="" />
              </div>
              <span class="name">Shahedk</span>
              <i class="fa fa-circle away"></i>
            </a>
            <span class="clearfix"></span>
          </li>
          <li class="list-group-item">
            <a href="http://coderthemes.com/ubold_1.2/light/crm-leads.html#">
              <div class="avatar">
                <img src="#" th:src="@{/resources/images/avatar-6.jpg}" alt="" />
              </div>
              <span class="name">Adhamdannaway</span>
              <i class="fa fa-circle away"></i>
            </a>
            <span class="clearfix"></span>
          </li>
          <li class="list-group-item">
            <a href="http://coderthemes.com/ubold_1.2/light/crm-leads.html#">
              <div class="avatar">
                <img src="#" th:src="@{/resources/images/avatar-7.jpg}" alt="" />
              </div>
              <span class="name">Ok</span>
              <i class="fa fa-circle away"></i>
            </a>
            <span class="clearfix"></span>
          </li>
          <li class="list-group-item">
            <a href="http://coderthemes.com/ubold_1.2/light/crm-leads.html#">
              <div class="avatar">
                <img src="#" th:src="@{/resources/images/avatar-8.jpg}" alt="" />
              </div>
              <span class="name">Arashasghari</span>
              <i class="fa fa-circle offline"></i>
            </a>
            <span class="clearfix"></span>
          </li>
          <li class="list-group-item">
            <a href="http://coderthemes.com/ubold_1.2/light/crm-leads.html#">
              <div class="avatar">
                <img src="#" th:src="@{/resources/images/avatar-9.jpg}" alt="" />
              </div>
              <span class="name">Joshaustin</span>
              <i class="fa fa-circle offline"></i>
            </a>
            <span class="clearfix"></span>
          </li>
          <li class="list-group-item">
            <a href="http://coderthemes.com/ubold_1.2/light/crm-leads.html#">
              <div class="avatar">
                <img src="#" th:src="@{/resources/images/avatar-10.jpg}" alt="" />
              </div>
              <span class="name">Sortino</span>
              <i class="fa fa-circle offline"></i>
            </a>
            <span class="clearfix"></span>
          </li>
        </ul>
      </div>
    </div>
    <!-- /Right-bar -->

  </div>
  <script>
    var resizefunc = [];
  </script>
  <th:block th:replace="footer_js :: footer_js">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "footer_js.html" at runtime                                             -->
    <!-- ============================================================================ -->
  </th:block>



</body>

</html>
