<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header_css :: header_css">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "header_css.html" at runtime.                                           -->
  <!-- ============================================================================ -->
</head>


<body class="fixed-left">

  <!--div class="animationload">
            <div class="loader"></div>
        </div-->

  <!-- Begin page -->
  <div id="wrapper">
    <header class="navbar navbar-default navbar-static-top dark-header topbar" role="banner">
      <div th:replace="header :: header">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "header.html" at runtime.                                               -->
        <!-- ============================================================================ -->
      </div>
    </header>




    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu" th:replace="sidebar :: sidebar(page=label.settings)">
      <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "sidebar.html" at runtime.                                              -->
      <!-- ============================================================================ -->
    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
      <!-- Start content -->
      <div class="content">
        <div class="container-fluid">

          <!-- Page-Title -->
          <div class="row" th:replace="profilesettings/jumbotron :: jumbotron(page=label.profile.edit)">
            <!-- ============================================================================ -->
            <!-- This content is only used for static prototyping purposes (natural templates)-->
            <!-- and is therefore entirely optional, as this markup fragment will be included -->
            <!-- from "jumbotron.html" at runtime.                                               -->
            <!-- ============================================================================ -->
          </div>
          <!-- /.col -->

          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading font-bold">
                  Edit profile
                </div>
                <div class="panel-body">

                  <form accept-charset="UTF-8" class="ejb_eb form-horizontal" th:action="@{/profile/settings/}" th:object="${account}" method="post">
                    <div th:if="${message != null and message != 'null'}" class="alert alert-success alert-dismissable">
                      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                      <th:block th:text="${message}"></th:block>
                    </div>
                    <div class="form-group" id="firstname">
                      <label for="firstname" class="col-sm-2 control-label" th:text="#{label.name.first}">label.label.firstname</label>
                      <div class="col-sm-10">
                        <input th:field="*{firstname}" class="form-control" id="firstname" th:placeholder="#{label.placeholder.firstname}" />
                        <span class="help-block"><span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="block text-danger"></span></span>
                      </div>
                    </div>

                    <div class="form-group" id="lastname">
                      <label for="lastname" class="col-sm-2 control-label" th:text="#{label.name.last}">label.label.lastname</label>
                      <div class="col-sm-10">
                        <input th:field="*{lastname}" class="form-control" id="lastname" th:placeholder="#{label.placeholder.lastname}" />
                        <span class="help-block"><span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="block text-danger"></span></span>
                      </div>
                    </div>

                    <!--div class="form-group" id="role">
                      <label for="role" class="col-sm-2 control-label" th:text="#{label.role}">label.role</label>
                      <div class="col-sm-10">
                        <div class="btn-group" data-toggle="buttons">
                          <label th:each="role : ${roles}" th:classappend="${#lists.contains(account.role, 'ROLE_' + #strings.toUpperCase(role)) ? 'active' : ''}" class="btn button">
                            <input type="checkbox" 
                                   autocomplete="off"
                                   th:field="*{role}"
                                   th:value="${'ROLE_' + #strings.toUpperCase(role)}"
                                   th:checked="${#lists.contains(account.role, 'ROLE_' + #strings.toUpperCase(role))}" /> 
                                   <th:block th:text="#{${'label.role.' + role}}">I'm a seller</th:block>
                          </label>
                        </div>
                        <span class="help-block"><span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="block text-danger"></span></span>
                      </div>
                    </div-->

                    

                    <div class="form-group m-b-0">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" id="submit" class="btn btn-primary" th:attr="data-loading-text=#{label.loading}" th:text="#{label.changes.submit}"> &nbsp;submit&nbsp; </button>

                        <button type="reset" class="btn btn-default" th:text="#{label.changes.cancel}">Cancel</button>
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.form-group -->
                  </form>
                </div>
              </div>
            </div>


          </div>




          <div class='panel panel-default panel panel-danger'>
            <div class='panel-heading'>Remove profile</div>
            <div class='panel-body'>
              <form class="form-horizontal" action="/yvau/proov-socket" accept-charset="UTF-8" method="post">
                <input name="utf8" type="hidden" value="&#x2713;" />
                <input type="hidden" name="_method" value="delete" />
                <input type="hidden" name="authenticity_token" value="tVQE6U3D6ycbDNT5pUiqwW2AE46WG60PKxOJiN8Ue7qlWw+5cgcBU+hvP0BXDMMOqWWqJAJJrYVJOJ/BkxaUEA==" />
                <p>
                  <!--Removing the project will delete its repository and all related resources including issues, merge requests etc.-->
                  <!--br /-->
                  <strong>Removed profiles cannot be restored!</strong>
                </p>
                <div class='form-actions'>
                  <form class="button_to" method="post" action="#">
                    <button type="submit" id="submit" class="btn btn-danger" th:attr="data-loading-text=#{label.loading}" th:text="#{label.changes.remove(#{label.profile})}"> &nbsp;remove&nbsp; </button>
                    <input type="hidden" name="authenticity_token" value="uUmGjzadhGSvurXzrTVr7GxDqLBxxJQ4tFSHKIsvvC+pRo3fCVluEFzZXkpfcQIjqKYRGuWWlLLWf5Fhxy1ThQ==" />
                  </form>
                </div>
              </form>

            </div>
          </div>


        </div>
        <!-- container -->

      </div>
      <!-- content -->

      <footer class="footer">
        2015 © Ubold.
      </footer>

    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->


    <!-- Right Sidebar -->
            <div class="side-bar right-bar nicescroll">
                <h4 class="text-center">Chat</h4>
                <div class="contact-list nicescroll">
                    <ul class="list-group contacts-list">
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-1.jpg}" alt="" />
                                </div>
                                <span class="name">Chadengle</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-2.jpg}" alt="" />
                                </div>
                                <span class="name">Tomaslau</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-3.jpg}" alt="" />
                                </div>
                                <span class="name">Stillnotdavid</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-4.jpg}" alt="" />
                                </div>
                                <span class="name">Kurafire</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-5.jpg}" alt="" />
                                </div>
                                <span class="name">Shahedk</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-6.jpg}" alt="" />
                                </div>
                                <span class="name">Adhamdannaway</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-7.jpg}" alt="" />
                                </div>
                                <span class="name">Ok</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-8.jpg}" alt="" />
                                </div>
                                <span class="name">Arashasghari</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-9.jpg}" alt="" />
                                </div>
                                <span class="name">Joshaustin</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-10.jpg}" alt="" />
                                </div>
                                <span class="name">Sortino</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Right-bar -->


  </div>
  <!-- END wrapper -->

  <script>
    var resizefunc = [];
  </script>

  <th:block th:replace="footer_js :: footer_js">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "footer_js.html" at runtime                                             -->
    <!-- ============================================================================ -->
  </th:block>





</body>

</html>
