<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>

  <body>

<div id="wrapper">

  <header>

  </header>


  <div class="mainnav">

    <div class="container">


      <nav class="collapse mainnav-collapse" role="navigation">


      </nav>

    </div> <!-- /.container -->

  </div> <!-- /.mainnav -->

  <div class="content">

    <div class="container">

      <div class="layout layout-main-right layout-stack-sm">

      <!--div class="sidebar-secondary-admin" th:fragment="sidebar(page)"-->
        <div class="row" th:fragment="jumbotron(page)">
        <div class="col-sm-12">
                <div class="page-header-2">
                  <ul class='center-top-menu'>
                    <li th:classappend="${page == 'label.profile.edit' ? 'active' : ''}"><a th:href="@{'/profile/settings/'}" href="javascript:;" th:text="#{label.profile.edit}">Edit Account<!--span class='badge'>9</span--></a></li>
                    <li th:classappend="${page == 'label.password.change' ? 'active' : ''}"><a th:href="@{'/profile/settings/password'}" href="javascript:;" th:text="#{label.password.change}">Change password</a></li>
                    <li th:classappend="${page == 'label.role.change' ? 'active' : ''}"><a th:href="@{'/profile/settings/role'}" href="javascript:;" th:text="#{label.role.change}">Change role</a></li>
                  </ul>
                                </div>
                            </div>
                        </div><!-- /.sidebar-secondary-admin -->



        <div class="col-md-9 col-sm-8 layout-main">

          <div id="settings-content" class="tab-content stacked-content">




          </div> <!-- /.tab-content -->

        </div> <!-- /.col -->

      </div> <!-- /.row -->


    </div> <!-- /.container -->

  </div> <!-- .content -->

</div> <!-- /#wrapper -->

<footer class="footer">

</footer>

</body>
</html>
