<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header_css :: header_css">
 <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "header_css.html" at runtime.                                           -->
  <!-- ============================================================================ -->
</head>


    <body class="fixed-left">

        <!--div class="animationload">
            <div class="loader"></div>
        </div-->

    <!-- Begin page -->
    <div id="wrapper">
    <header class="navbar navbar-default navbar-static-top dark-header topbar" role="banner">
    <div th:replace="header :: header">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "header.html" at runtime.                                               -->
    <!-- ============================================================================ -->
    </div>
    </header>




    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu" th:replace="sidebar :: sidebar(page=label.settings)">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "sidebar.html" at runtime.                                              -->
    <!-- ============================================================================ -->
    </div>
    <!-- Left Sidebar End -->

      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="content-page">
        <!-- Start content -->
        <div class="content">
          <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row" th:replace="profilesettings/jumbotron :: jumbotron(label.password.change)">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "jumbotron.html" at runtime.                                               -->
        <!-- ============================================================================ -->
        </div> <!-- /.col -->





            <div class="row">
              <div class="col-sm-12">
                <div class="panel panel-default">
                  <div class="panel-heading font-bold">
                  Change password
                </div>
                  <div class="panel-body">


                        <form accept-charset="UTF-8" class="ejb_eb form-horizontal" th:action="@{/profile/settings/password}" th:object="${passwordForm}" method="post">
                        <div th:if="${message != null and message != 'null'}" class="alert alert-success alert-dismissable">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <th:block th:text="${message}"></th:block>
                        </div>
            <div class="form-group" id="currentPassword">
                <label for="currentPassword" class="col-sm-2 control-label" th:text="#{label.password.current}">New Password</label>

                <div class="col-sm-10">
                    <input type="password" th:field="*{currentPassword}" class="form-control" id="currentPassword" th:placeholder="#{label.placeholder.password}" />
                    <span class="help-block"><span th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}" class="block text-danger"></span></span>
                </div>
            </div>

            <div class="form-group" id="newPassword">
                <label for="newPassword" class="col-sm-2 control-label" th:text="#{label.password.new}">New Password</label>

                <div class="col-sm-10">
                    <input type="password" th:field="*{newPassword}" class="form-control" id="newPassword" th:placeholder="#{label.placeholder.newpassword}"/>
                    <span class="help-block"><span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="block text-danger"></span></span>
                </div>
            </div>

            <div class="form-group" id="reNewPassword">
                <label for="reNewPassword" class="col-sm-2 control-label" th:text="#{label.password.re}">New Password Confirm</label>

                <div class="col-sm-10">
                    <input type="password" th:field="*{reNewPassword}" class="form-control" id="reNewPassword" th:placeholder="#{label.placeholder.repassword}"/>
                    <span class="help-block"><span th:if="${#fields.hasErrors('reNewPassword')}" th:errors="*{reNewPassword}" class="block text-danger"></span></span>
                </div>
            </div>

            <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="submit" class="btn btn-primary" th:attr="data-loading-text=#{label.loading}" th:text="#{label.changes.submit}"> &nbsp;submit&nbsp; </button>
                    &nbsp;
                    <button type="reset" class="btn btn-default" th:text="#{label.changes.cancel}">Cancel</button>
                  </div> <!-- /.col -->
                </div> <!-- /.form-group -->
        </form>
        
 
                  </div>
                </div>
              </div>
            </div>






                </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer">
                    2015 © Ubold.
                </footer>

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


            <!-- Right Sidebar -->
            <div class="side-bar right-bar nicescroll">
                <h4 class="text-center">Chat</h4>
                <div class="contact-list nicescroll">
                    <ul class="list-group contacts-list">
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-1.jpg}" alt="" />
                                </div>
                                <span class="name">Chadengle</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-2.jpg}" alt="" />
                                </div>
                                <span class="name">Tomaslau</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-3.jpg}" alt="" />
                                </div>
                                <span class="name">Stillnotdavid</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-4.jpg}" alt="" />
                                </div>
                                <span class="name">Kurafire</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-5.jpg}" alt="" />
                                </div>
                                <span class="name">Shahedk</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-6.jpg}" alt="" />
                                </div>
                                <span class="name">Adhamdannaway</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-7.jpg}" alt="" />
                                </div>
                                <span class="name">Ok</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-8.jpg}" alt="" />
                                </div>
                                <span class="name">Arashasghari</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-9.jpg}" alt="" />
                                </div>
                                <span class="name">Joshaustin</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-10.jpg}" alt="" />
                                </div>
                                <span class="name">Sortino</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Right-bar -->


        </div>
        <!-- END wrapper -->

        <script>
            var resizefunc = [];
        </script>

  <th:block th:replace="footer_js :: footer_js">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "footer_js.html" at runtime                                             -->
  <!-- ============================================================================ -->
  </th:block>





  </body>
</html>
