<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  
  </head>

  <body>

<div id="wrapper">

  <div class="content">


  </div> <!-- .content -->

</div> <!-- /#wrapper -->

<th:block th:fragment="footer">
  <!--div class="prefooter"></div-->
  <!--a id="scrollUp" href="#" style="position: fixed; z-index: 2147483647; display: block;"></a-->
  <div class="footer-web" role="contentinfo">
    <div class="container">
      <div class="footer-widgets row">



      </div>
    </div>
    <div class="footer-btm-bar">
        <div class="container">
                <div class="col-xs-12">
                    <p><span class='footer_copy'> © 2015 Stratus</span> - <span class='footer_credit'>Theme by <a target="_blank" href="http://themovation.com/">Themovation</a></span></p>
                    <p><ul class="nav nav-pills">
                    	<li><a th:href="@{/about_us/}">About us</a></li>
                    	<li><a th:href="@{/our_solution/}">Our solution</a></li>
                    	<li><a th:href="@{/buy/}">Buying proposal</a></li>
                    	<li><a th:href="@{/rent/}">Renting proposal</a></li>
                    	<li><a th:href="@{/property/}">Property process</a></li>
                    	<li><a th:href="@{/visit/}">Visit online</a></li>
                    	<li><a th:href="@{/partners/}">Partners</a></li>
                    	</ul></p>
                </div>
        </div>
    </div>
  </div>
</th:block>

</body>
</html>