<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header_css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc." />

    <link rel="shortcut icon" th:href="@{/resources/images/favicon.ico}" />

    <title th:text="${title}">Ubold - Responsive Admin Dashboard Template</title>

        <!-- Plugins css-->

        <link rel="stylesheet" href="../../../resources/css/dashboard-blessed1.css"
                               th:href="@{/resources/css/dashboard-blessed1.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/bootstrap.min.css"
                               th:href="@{/resources/css/bootstrap.min.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/core.css"
                               th:href="@{/resources/css/core.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/components.css"
                               th:href="@{/resources/css/components.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/icons.css"
                               th:href="@{/resources/css/icons.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/pages.css"
                               th:href="@{/resources/css/pages.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/app.css?ver=1"
                               th:href="@{/resources/css/app.css?ver=1}" />
        <link rel="stylesheet" href="../../../resources/css/application-18993c20f2124781ead947d73185c219.css"
                               th:href="@{/resources/css/application-18993c20f2124781ead947d73185c219.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/43e53d.css"
                               th:href="@{/resources/css/43e53d.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/flexslider.css"
                               th:href="@{/resources/css/flexslider.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/idx.css?ver=1.0"
                               th:href="@{/resources/css/idx.css?ver=1.0}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/style.css?ver=1.0"
                               th:href="@{/resources/css/style.css?ver=1.0}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/style-ma.css"
                               th:href="@{/resources/css/style-ma.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/responsive.css"
                               th:href="@{/resources/css/responsive.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/font-awesome.min.css"
                               th:href="@{/resources/css/font-awesome.min.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/newton.webflow.7cafcc355.css"
                               th:href="@{/resources/css/newton.webflow.7cafcc355.css}" type="text/css" />

        <link rel="stylesheet" href="../../../resources/css/github2-5f7255544b25f937224217b1c37ee5c139a0a00a3decd8020b9aabc550340903.css"
                               th:href="@{/resources/css/github2-5f7255544b25f937224217b1c37ee5c139a0a00a3decd8020b9aabc550340903.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/bs.sm.css"
                               th:href="@{/resources/css/bs.sm.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/dropzone.css"
                               th:href="@{/resources/css/dropzone.css}" type="text/css" />
        <link rel="stylesheet" href="../../../resources/css/master-responsive-156.css"
                               th:href="@{/resources/css/master-responsive-156.css}" />
        <link rel="stylesheet" th:href="@{/resources/css/helium-105.css}" />
        <link rel="stylesheet" media="screen" th:href="@{/resources/css/application-4f72a48cd53b9484eb90c3e59b787faa.css}" />

        <link rel="stylesheet" th:href="@{/resources/css/rome.css}" />
        <link rel="stylesheet" th:href="@{/resources/css/example.css}" />
        <link rel="stylesheet" th:href="@{/resources/css/welcome.css}" />



        <script th:src="@{/resources/js/modernizr.min.js}"></script>


        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <!--script src="js/modernizr.min.js"></script-->
<style type="text/css">

    /*------------------------------------------------------------------
[ 13. Homepage Video ]
*/
.hero-video {
  height: 500px;
  position: relative;
  overflow: hidden; }
  .hero-video h1 {
    color: #fff;
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    margin: 0px 0px 30px 0px; }
  .hero-video p {
    color: #fff;
    font-size: 16px;
    margin: 0px 0px 40px 0px;
    text-align: center; }
  .hero-video:before {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0px;
    content: '';
    display: block;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2; }
  .hero-video .container {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    z-index: 3; }
    @media (max-width: 767px) {
      .hero-video .container {
        left: auto;
        top: 120px;
        transform: none;
        -webkit-transform: none; } }
  .hero-video .btn, .hero-video .detail-gallery .owl-next, .detail-gallery .hero-video .owl-next, .hero-video .detail-gallery .owl-prev, .detail-gallery .hero-video .owl-prev {
    background-color: #009f8b;
    border: 0px solid #009f8b;
    border-radius: 0px;
    color: #fff;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase; }
  .hero-video video {
    position: relative;
    transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    width: 100%;
    z-index: 1; }
    @media (max-width: 767px) {
      .hero-video video {
        display: none; } }
</style>

    </head>

<body>

</body>
</html>
