<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title></title>

</head>

<body>

<div id="wrapper">

  <!--header class="banner navbar navbar-default navbar-static-top dark-header" role="banner" th:fragment="header"-->
  <div class="container-fluid" th:fragment="header">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div id="logo">
        <a href="javascript:;" th:href="@{/}">
          <img class="logo-main logo-reg" src="images/logo_white.png" th:src="@{/resources/images/logo_white.png}"
               alt="Proov"/>
          <img class="logo-trans logo-reg" src="images/logo_white.png" th:src="@{/resources/images/logo_white.png}"
               alt="Proov"/>
        </a>
      </div>
    </div>

    <ul class="nav navbar-nav navbar-right pull-right">

      <th:block th:if="${#authorization.expression('isAuthenticated()')}">
        <li class="dropdown hidden-xs">
          <a href="#" data-target="#" class="dropdown-toggle waves-light" data-toggle="dropdown" aria-expanded="true">
            <i class="icon-bell"></i> <span id="js_notification_badge"
                                            th:classappend="${profile.notificationCount == null || profile.notificationCount == '0' ? '' : 'badge-danger badge'}"
                                            class="badge-xs"
                                            th:text="${profile.notificationCount == null || profile.notificationCount == '0' ? '' : profile.notificationCount}">3</span></a>
          <ul class="dropdown-menu dropdown-menu-lg">
            <li class="notifi-title">
              <span class="label label-default pull-right">New 3</span>Notification
            </li>

              <!-- list item-->
              <script id="js_notification_list" type="text/x-handlebars-template">
                <input type="hidden" name="theproposal" value=""/>
                {{#each data}}
                <a href="javascript:;" class="list-group-item">
                  <div class="media">
                    <div class="pull-left p-r-10">
                      <em class="fa fa-diamond fa-2x text-primary"></em>
                    </div>
                    <div class="media-body">
                      <h5 class="media-heading">A new order has been placed A new order has been placed</h5>
                      <p class="m-0">
                        <small>you have received a new available</small>
                      </p>
                    </div>
                  </div>
                </a>
                {{/each}}

              </script>

            <li class="list-group nicescroll notification-list js_notification_list"></li>
            <li>
              <a href="javascript:;" class="list-group-item text-right">
                <small class="font-600">See all notifications</small>
              </a>
            </li>
          </ul>
        </li>
        <!--li class="hidden-xs">
            <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="icon-size-fullscreen"></i></a>
        </li-->
        <li class="hidden-xs dropchat">
          <a href="#" class="right-bar-toggle waves-effect waves-light"><i class="icon-settings"></i></a>
        </li>
        <li class="user dropdown">
          <a href="javascript:;" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true"><img
              th:src="@{/resources/images/avatar-default-80x80.png}" alt="user-img" class="img-circle"/> </a>
          <ul class="dropdown-menu">
            <li th:text="${profile.email}">Email user</li>
            <li role="presentation" class="divider"></li>
            <th:block sec:authorize="hasAnyRole('ROLE_BUYER', 'ROLE_SELLER')">
            <li><a href="javascript:;" th:href="@{/profile/}"><i class="fa fa-search-plus"></i> Explore</a></li>
            </th:block>
            <li><a href="javascript:;" th:href="@{/profile/settings}"><i class="fa fa-cogs"></i> Settings</a></li>
            <li role="presentation" class="divider"></li>
            <th:block sec:authorize="hasRole('ROLE_BUYER')">
              <li><a href="javascript:;" th:href="@{/profile/buying-proposal/}"><i class="md md-store"></i> Buying
                proposal</a></li>
              <li><a href="javascript:;" th:href="@{/profile/renting-proposal/}"><i class="fa fa-university"></i>
                Renting proposal</a></li>
            </th:block>
            <th:block sec:authorize="hasRole('ROLE_SELLER')">
              <li><a href="javascript:;" th:href="@{/profile/property/all}"><i class="fa fa-building"></i> Property
                process</a></li>
            </th:block>
            <li><a href="javascript:;" th:href="@{/profile/visit/}"><i class="fa fa-video-camera"></i> Visit online</a>
            </li>
            <li role="presentation" class="divider"></li>
            <li><a href="javascript:;" th:href="@{/profile/membership/}"><i class="fa fa-credit-card"></i>
              <th:block th:text="#{label.membership}"> label.membership</th:block>
            </a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="javascript:;" th:href="@{/logout}"><i class="fa fa-power-off"></i> Logout</a></li>
          </ul>
        </li>
      </th:block>
      <th:block th:if="${#authorization.expression('!isAuthenticated()')}">
        <li>
          <a th:href="@{/register}" th:text="#{label.register}">Register</a>
        </li>
        <li>
          <a th:href="@{/login}" th:text="#{label.log.in}">Log in</a>
        </li>
      </th:block>
    </ul>

    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul id="menu-primary-navigation" class="nav navbar-nav">
        <li class="active"><a href="javascript:;" th:href="@{/about_us/}" th:text="#{label.about}">About us</a></li>
        <li><a href="javascript:;" th:href="@{/our_solution/}" th:text="#{label.solution}">Our solution</a></li>
        <li><a href="javascript:;" th:href="@{/buy/}" th:text="#{label.proposal.buying}">Buying proposal</a></li>
        <li><a href="javascript:;" th:href="@{/rent/}" th:text="#{label.proposal.renting}">Renting proposal </a></li>
        <li><a href="javascript:;" th:href="@{/property/}" th:text="#{label.property}">Property process </a></li>
        <li><a href="javascript:;" th:href="@{/visit/}" th:text="#{label.visit.online}">Visit online</a></li>
        <li><a href="javascript:;" th:href="@{/partners/}" th:text="#{label.partners}">Partners</a></li>
      </ul>
    </nav>
  </div>


</div> <!-- /#wrapper -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Core JS -->

</body>
</html>
