<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  <title></title>

</head>

  <body>

<div id="wrapper">

    <header class="navbar navbar-inverse" role="banner">


    </header>


  <!--div class="sidebar-admin" th:fragment="jumbotron(page)"-->
   <div class="left side-menu" th:fragment="sidebar(page)">
                <div class="sidebar-inner slimscrollleft">
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul>
                          
                          <li class="text-muted menu-title">Navigation</li>
                            <th:block sec:authorize="hasAnyRole('ROLE_SELLER','ROLE_BUYER')">  
                            <li class="has_sub">
                                <a id="sidebar_explore" th:classappend="${page == 'label.menu.yourProfile' ? 'active' : ''}" href="#" th:href="@{/profile/}" ><i class="fa fa-search-plus"></i> <span th:text="#{label.explore}"> Explore </span> </a>
                            </li>
                            </th:block>

                            <!--li class="has_sub">
                                <a href="#" ><i class="ti-paint-bucket"></i> <span> Dashboard </span> </a>
                            </li-->

                            <!--li class="has_sub">
                                <a href="#" ><i class="ti-light-bulb"></i><span class="label label-danger pull-right">New 9</span><span> Components </span> </a>
                            </li-->
                            <th:block sec:authorize="hasAnyRole('ROLE_SELLER','ROLE_NOACCESS','ROLE_BUYER')">
                            <li class="has_sub">
                                <a th:classappend="${page == 'label.settings' ? 'active' : ''}" th:href="@{/profile/settings/}" href="javascript:;" ><i class="fa fa-cogs"></i><span th:text="#{label.settings}"> Settings </span></a>
                            </li>
                            </th:block>

                            <li sec:authorize="hasAnyRole('ROLE_SELLER','ROLE_BUYER')" class="text-muted menu-title">More</li>
                            <th:block sec:authorize="hasRole('ROLE_BUYER')">
                            <li class="has_sub">
                                <a th:classappend="${page == 'label.proposal.buying' ? 'active' : ''}" th:href="@{/profile/buying-proposal/}" href="javascript:;" ><i class="md md-store"></i><span th:text="#{label.proposal.buying}"> Buying proposal </span><span th:classappend="${profile.profileSetting.showNotificationBuyingProposal ? '' : 'none'}" class="js_show_notification_buying_proposal status status-danger status-active pull-right"> </span></a>
                            </li>

                            <li class="has_sub">
                                <a th:classappend="${page == 'label.proposal.renting' ? 'active' : ''}" th:href="@{/profile/renting-proposal/}" href="javascript:;" ><i class="fa fa-university"></i><span th:text="#{label.proposal.renting}"> Renting proposal </span><span th:classappend="${profile.profileSetting.showNotificationRentingProposal ? '' : 'none'}" class="js_show_notification_renting_proposal status status-danger status-active pull-right"> </span></a>
                            </li>
                            </th:block>
                            <th:block sec:authorize="hasRole('ROLE_SELLER')">
                            <li class="has_sub">
                                <a th:classappend="${page == 'label.property' ? 'active' : ''}" th:href="@{/profile/property/all}" href="javascript:;" ><i class="fa fa-building"></i><!--span class="status status-danger status-active pull-right"> </span--><span th:text="#{label.property.process}"> Property process </span><span th:classappend="${profile.profileSetting.showNotificationProperty ? '' : 'none'}" class="js_show_notification_property status status-danger status-active pull-right"> </span></a>
                            </li>
                            </th:block>
                            <th:block sec:authorize="hasAnyRole('ROLE_SELLER','ROLE_BUYER')">
                            <li class="has_sub">
                                <a th:classappend="${page == 'label.visit.online' ? 'active' : ''}" th:href="@{/profile/visit/}" href="javascript:;" ><i class="fa fa-video-camera"></i><!--span class="status status-danger status-active pull-right"> </span--><span th:text="#{label.visit.online}"> label.menu.yourVisitOnline </span><span th:classappend="${profile.profileSetting.showNotificationVisit ? '' : 'none'}" class="js_show_notification_visit status status-danger status-active pull-right"> </span></a>
                            </li>
                            </th:block>

                            <th:block sec:authorize="hasAnyRole('ROLE_SELLER')">
                            <li class="text-muted menu-title">Payment</li>
                            
                            <li class="has_sub">
                                <a th:classappend="${page == 'label.membership' ? 'active' : ''}" th:href="@{/profile/membership/}" href="javascript:;" ><i class="fa fa-credit-card"></i><span th:text="#{label.membership}"> Membership </span><span th:classappend="${profile.profileSetting.showNotificationMembership ? '' : 'none'}" class="status status-danger status-active pull-right"> </span></a>
                            </li>
                            </th:block>

                            <!--li class="has_sub">
                                <a href="#" ><i class="ti-widget"></i><span> Visit online </span></a>
                            </li-->

                            <!--li class="has_sub">
                                <a href="javascript:void(0);" ><i class="ti-share"></i><span>Schedule </span></a>
                            </li-->

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div><!-- /.sidebar-admin-->



</div> <!-- /#wrapper -->




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Core JS -->

</body>
</html>
