<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header_css :: header_css">
 <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "header_css.html" at runtime.                                           -->
  <!-- ============================================================================ -->
</head>

<body>

<div id="wrapper">

  <header class="navbar navbar-inverse" role="banner" th:replace="header :: header">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "header.html" at runtime.                                               -->
  <!-- ============================================================================ -->
  </header>

  <div class="mainnav" th:replace="jumbotron :: jumbotron(page=label.menu.yourProfile)">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "jumbotron.html" at runtime.                                               -->
  <!-- ============================================================================ -->
  </div>


  <div class="background-gray">

    <div class="container container-breadcrumbs">

      
      
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a>Profile</a></li>
            <li class="active"><strong>Edit Profile</strong></li>
          </ol>
    



    </div> <!-- /.container -->

  </div> <!-- /.mainnav -->

  <div class="content">

    <div class="container">

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" th:replace="profileowningproposal/sidebar :: sidebar(oneVar=renting, twoVar=#{label.menu.yourRentingProposal}, page=label.label.add)">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "sidebar.html" at runtime.                                               -->
        <!-- ============================================================================ -->
        </div> <!-- /.col -->



        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 content-main layout-main">

              <h3 class="content-title"><u>Edit Profile</u></h3>

              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>

              <br /><br />

              <form accept-charset="UTF-8" class="form-horizontal form-without-legend" th:action="@{/seedstartermng}" th:object="${profile}" method="post" role="form">
                      <table class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th></th>
                            <th:block th:each="type, i : ${availabilityDay}">
                              <th th:text="#{${'label.enum.' + type}}">label.enum.type</th>
                              <input type="hidden" 
                                     th:field="*{availabilities[__${i.index}__].availabilityDay}" 
                                     th:value="${'label.enum.' + type}" />
                            </th:block>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="type : ${availabilityTime}">
                            <th class="text-nowrap" th:text="#{${'label.enum.' + type}}">availabilityTime.listingLabelName</th>
                              <th:block th:each="i : ${#numbers.sequence( 0, 6)}">
                                <td>
                                  <input type="checkbox" th:field="*{availabilities[__${i}__].availabilityTime}" th:value="${'label.enum.' + type}"  />
                                </td>
                              </th:block>
                          </tr>

                          <!--
                          1sa1e 7
                          luc 1 4:56
                          luc 10 19
                          psalm 127
                          matt 6 33
                          <c:forEach var="availabilityTime" items="${availabilityTime}" varStatus="loop">
                          <tr>
                            <th class="text-nowrap">${availabilityTime.listingLabelName}</th>
                              <c:forEach var="counter" items="${availability}" varStatus="loop">
                              <c:set var="theString" value="${counter.availabilityTime}"/>
                              <c:set var="checkString" value="${availabilityTime.listingLabelValue}"/>
                                <td><input type="checkbox" name="availabilities[${loop.index}].availabilityTime" value="${availabilityTime.listingLabelValue}" <c:if test="${fn:containsIgnoreCase(theString, checkString)}">checked="checked"</c:if>></td>
                              </c:forEach>
                          </tr>
                          </c:forEach>
                          -->
                        </tbody>
                      </table>

                    <div class="row">
                      <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                  </form>

        </div> <!-- /.col -->

      </div> <!-- /.row -->


    </div> <!-- /.container -->

  </div> <!-- .content -->

</div> <!-- /#wrapper -->


<footer th:replace="footer :: footer">
 <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "footer.html" at runtime.                                           -->
  <!-- ============================================================================ -->
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Core JS -->
    <script type="text/javascript" src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script type="text/javascript" src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../../../resources/js/script.js" th:src="@{/resources/js/script.js}"></script>

</body>
</html>