<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">

<th:block th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">

  <head th:replace="header_css :: header_css">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "header_css.html" at runtime.                                           -->
    <!-- ============================================================================ -->
  </head>

</th:block>


<body th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">




  <header class="banner navbar navbar-default navbar-static-top dark-header" role="banner" th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">
    <div th:replace="header :: header">
      <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "header_css.html" at runtime.                                           -->
      <!-- ============================================================================ -->
    </div>
  </header>

  <div class="wrap" role="document" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">

    <div class="content" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">


      <div class="inner-container" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">



        <div class="background-gray" th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">

          <div class="container container-breadcrumbs">



            <ol class="breadcrumb">
              <li><a href="/spring-websocket-portfolio/">Home</a></li>
              <li><strong>Property</strong></li>
            </ol>




          </div>
          <!-- /.container -->

        </div>
        <!-- /.mainnav -->

        <div class="container" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">


          <div class="row" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">

              <form accept-charset="UTF-8" class="form-horizontal form-without-legend" th:action="@{/property/all}" th:object="${searchForm}" method="get">
                <h3>Availability</h3>
                <div class="checkbox-list">
                  <label>
                    <input th:field="*{saleType}" type="radio" th:value="'sale'" class="js_form_search" /> <th:block th:text="#{label.for.sale}">For sale</th:block></label>
                  <label>
                    <input th:field="*{saleType}" type="radio" th:value="'rent'" class="js_form_search" /> <th:block th:text="#{label.for.rent}">For rent/Lease</th:block></label>
                </div>
                <h3>Location</h3>
                <p>
                  <select th:field="*{locationcountry}" class="ajaxList js_form_search form-control input-sm" data-target="province" th:attr="data-url=@{/province.json}">
                    <option value="">-- Select Country --</option>
                    <option th:each="type : ${country}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                  </select>

                </p>
                <p>
                  <select th:field="*{locationprovince}" class="ajaxList js_form_search form-control input-sm" data-target="city" th:attr="data-url=@{/city.json}">
                    <option value="">-- Select Province --</option>
                    <option th:each="type : ${province}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                  </select>

                </p>
                <p>
                  <select th:field="*{locationcity}" class="ajaxList js_form_search form-control input-sm">
                    <option value="">-- Select City --</option>
                    <option th:each="type : ${city}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                  </select>

                </p>
                <h3>Property Type</h3>
                <select th:field="*{type}" class="js_form_search form-control input-sm">
                  <option value=""> - Select the property type- </option>
                  <option th:each="type : ${propertyTypeOfProperty}" th:value="${type}" th:text="#{${'label.' + type}}">Wireframe</option>
                </select>
                <h3>Price</h3>
                <p>
                  <div class="col-md-6">
                    <select th:field="*{priceMin}" class="js_form_search form-control input-sm">
                      <option value="0" selected="selected"> Min </option>
                      <option value="2500">2,500</option>
                      <option value="5000">5,000</option>
                      <option value="10000">10,000</option>
                      <option value="25000">25,000</option>
                      <option value="50000">50,000</option>
                      <option value="75000">75,000</option>
                      <option value="100000">100,000</option>
                      <option value="125000">125,000</option>
                      <option value="150000">150,000</option>
                      <option value="200000">200,000</option>
                      <option value="250000">250,000</option>
                      <option value="300000">300,000</option>
                      <option value="350000">350,000</option>
                      <option value="400000">400,000</option>
                      <option value="450000">450,000</option>
                      <option value="500000">500,000</option>
                      <option value="550000">550,000</option>
                      <option value="600000">600,000</option>
                      <option value="750000">750,000</option>
                      <option value="1000000">1,000,000</option>
                      <option value="2000000">2,000,000</option>
                      <option value="3000000">3,000,000</option>
                      <option value="4000000">4,000,000</option>
                      <option value="5000000">5,000,000</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <select th:field="*{priceMax}" class="js_form_search form-control input-sm">
                      <option value="0" selected="selected"> Max </option>
                      <option value="2500">2,500</option>
                      <option value="5000">5,000</option>
                      <option value="10000">10,000</option>
                      <option value="25000">25,000</option>
                      <option value="50000">50,000</option>
                      <option value="75000">75,000</option>
                      <option value="100000">100,000</option>
                      <option value="125000">125,000</option>
                      <option value="150000">150,000</option>
                      <option value="200000">200,000</option>
                      <option value="250000">250,000</option>
                      <option value="300000">300,000</option>
                      <option value="350000">350,000</option>
                      <option value="400000">400,000</option>
                      <option value="450000">450,000</option>
                      <option value="500000">500,000</option>
                      <option value="550000">550,000</option>
                      <option value="600000">600,000</option>
                      <option value="750000">750,000</option>
                      <option value="1000000">1,000,000</option>
                      <option value="2000000">2,000,000</option>
                      <option value="3000000">3,000,000</option>
                      <option value="4000000">4,000,000</option>
                      <option value="5000000">5,000,000</option>
                    </select>
                  </div>
                </p>
                <br />
                <h3>Features</h3>
                <p>
                  <label for="bedrooms">Bedrooms:</label>
                  <select th:field="*{bedrooms}" class="js_form_search form-control input-sm">
                    <option value="0">Min</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5+</option>
                  </select>
                </p>
                <p>
                  <label for="minsqfeet">Min sq feet:</label>
                  <select th:field="*{minsqfeet}" class="js_form_search form-control input-sm">
                    <option selected="selected" value="">Min. Sq Feet (ft&#178;):</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                    <option value="100">100</option>
                    <option value="150">150</option>
                    <option value="200">200</option>
                    <option value="250">250</option>
                    <option value="300">300</option>
                    <option value="350">350</option>
                    <option value="400">400</option>
                    <option value="450">450</option>
                    <option value="500">500</option>
                    <option value="600">600</option>
                    <option value="700">700</option>
                    <option value="800">800</option>
                    <option value="900">900</option>
                    <option value="1000">1000</option>
                    <option value="1250">1250</option>
                    <option value="1500">1500</option>
                    <option value="1750">1750</option>
                    <option value="2000">2000</option>
                    <option value="3000">3000</option>
                    <option value="4000">4000</option>
                    <option value="5000">5000+</option>
                  </select>

                </p>
                <p>
                  <label for="amount">Floor level:</label>
                  <select th:field="*{floorLevel}" class="js_form_search form-control input-sm">
                    <option value="">Floor Level:</option>
                        <option value="Basement">Basement</option>
                        <option value="Ground floor">Ground floor</option>
                        <option value="Mezzanine">Mezzanine</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10+">10+</option>
                        <option value="1 - 20">1 - 20</option>
                        <option value="Last Floor">Last Floor</option>
                        <option value="Attic">Attic</option>
                        <option value="Penthouse">Penthouse</option>
                        <option value="Back Split">Back Split</option>
                        <option value="Main">Main</option>
                        <option value="Maisonette">Maisonette</option>
                        <option value="Service flat">Service flat</option>
                        <option value="Top Floor">Top Floor</option>
                        <option value="Tri-level Apartment">Tri-level Apartment</option>
                        <option value="Whole building">Whole building</option>
                        <option value="Gallery">Gallery</option>
                        <option value="Downstairs flat">Downstairs flat</option>
                        <option value="Garret">Garret</option>
                        <option value="Bi-level apartment">Bi-level apartment</option>
                        <option value="0">0+</option>
                  </select>
                </p>
              </form>

            </div>

            <!-- end sidebar -->

            <!-- begin sidebar -->
            <div class="clearfix visible-xs" th:if="${#httpServletRequest.getParameter('rel') != 'tab'}"></div>


            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">
              <h1 th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">Property</h1>
              <!--div class="row" th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">
                <div class="pull-right">
                  Showing 1&ndash;6 of 7 results
                  <br />
                  <form method="get">
                    <select name="orderby" class="orderby">
                      <option value="menu_order">Default sorting</option>
                      <option value="popularity">Sort by popularity</option>
                      <option value="rating">Sort by average rating</option>
                      <option value="date">Sort by newness</option>
                      <option value="price">Sort by price: low to high</option>
                      <option value="price-desc" selected="selected">Sort by price: high to low</option>
                    </select>
                    <input type="hidden" name="min_price" value="15" />
                    <input type="hidden" name="max_price" value="20" />
                  </form>
                </div>

              </div-->

              <div class="js_return_list" style="padding-top:20px;" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">

                                <div class="module-section" th:unless="${not #lists.isEmpty(page.content)}">
<div class="placeholder ">
    <h3 class="placeholder-title">No Listing</h3>
    <div class="placeholder-text">This data is not available.</div>

</div>
                                </div>

                <div th:each="list : ${page.content}" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <a th:href="@{/property/{id}(id=${list.id})}" class="card">
                    <div class="figure">
                    <th:block th:if="${not #lists.isEmpty(list.propertyPhotos)}">
                      <div class="img" th:each="propertyPhoto,status : ${list.propertyPhotos}"  th:attr="style='background-image:url(' + @{/resources/images/uploads/{upload}(upload=${propertyPhoto.thumbnailFilename})} + ');'" th:if="${status.index &lt; 1}"></div>
                      </th:block>
                      <th:block th:if="${#lists.isEmpty(list.propertyPhotos)}">
                      <div class="img"  th:attr="style='background-image:url(' + @{/resources/images/350.png} + ');'"></div>
                      </th:block>
                      <div class="figCaption">
                        <div th:text="${'$'+list.propertyPrice}">12.0</div>
                        <!--span><span class="icon-eye"></span> 999+</span>
                        <span><span class="icon-heart"></span> 1</span>
                        <span><span class="icon-bubble"></span> 1</span-->
                      </div>
                      <div class="figView"><span class="icon-eye"></span></div>
                      <div class="figType" th:text="#{${'label.for.' + list.propertySaleType}}">For rent</div>
                    </div>
                    <h2 th:text="#{${'label.' + list.propertyType}}">Condo/Apartment</h2>
                    <div class="cardAddress">
                      <th:block th:text="${list.location.locationZipCode+','}">1125,</th:block>
                      <th:block th:text="${list.location.city.name+','}">Blainville,</th:block>
                      <th:block th:text="${list.location.province.name+','}">Quebec,</th:block>
                      <br />
                      <th:block th:text="${list.location.country.name}"> Canada</th:block>
                    </div>
                    <ul class="cardFeat">
                      <li><i class="fa fa-bed"></i> <span th:text="${list.propertyNumOfBedrooms}">2</span></li>
                      <li><i class="fa fa-tint"></i> <span th:text="${list.propertyNumOfBathrooms}">2</span></li>
                      <li><i class="fa fa-arrows"></i> <span th:text="${list.propertySqFeet}">40</span>sq ft</li>
                    </ul>
                    <div class="clearfix"></div>
                  </a>
                </div>

                <!-- Pagination Bar -->
                <div class="text-centered" th:if="${page.totalPages &gt; 1}">
                  <div class="pagination pagination-centered btn-group">

                        <span th:classappend="${page.firstPage}? 'disabled' : ''" class="btn btn-white" th:if="${page.firstPage}">← First</span>
                        <a class="btn btn-white" th:if="${not page.firstPage}" th:href="@{${page.url}(page=1)}">← First</a>

                      <span class="btn btn-white" th:if="${not page.hasPreviousPage}">«</span>
                      <a th:classappend="${page.hasPreviousPage}? '' : 'disabled'" class="btn btn-white" th:if="${page.hasPreviousPage}" th:href="@{${page.url}(page=${page.number-1})}" title="Go to previous page">«</a>

                      <th:block th:each="item : ${page.items}">
                        <span th:classappend="${item.current}? 'active' : ''" class="btn btn-white" th:if="${item.current}" th:text="${item.number}">1</span>
                        <a class="btn btn-white" th:if="${not item.current}" th:href="@{${page.url}(page=${item.number})}"><span th:text="${item.number}">1</span></a>
                      </th:block>

                      <span class="btn btn-white" th:if="${not page.hasNextPage}">»</span>
                      <a class="btn btn-white" th:classappend="${page.hasNextPage}? '' : 'disabled'" th:if="${page.hasNextPage}" th:href="@{${page.url}(page=${page.number+1})}" title="Go to next page">»</a>

                      <span class="btn btn-white" th:classappend="${page.lastPage}? 'disabled' : ''" th:if="${page.lastPage}">Last →</span>
                      <a class="btn btn-white" th:if="${not page.lastPage}" th:href="@{${page.url}(page=${page.totalPages})}">Last →</a>


                  </div>
                </div>
                <!-- end Pagination Bar -->
              </div>
              <!-- end single content -->




            </div>

            <!-- end sidebar -->
          </div>

        </div>
        <!-- end content_wrapper started in header -->

      </div>
      <!-- /.inner-container -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.wrap -->

<th:blcok th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">
  <th:block th:replace="footer :: footer">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "footer.html" at runtime                                             -->
    <!-- ============================================================================ -->
  </th:block>
</th:blcok>

  <script th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">
    var resizefunc = [];
  </script>
  <th:block th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">
    <th:block th:replace="footer_js :: footer_js">
      <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "footer_js.html" at runtime                                             -->
      <!-- ============================================================================ -->
    </th:block>
  </th:block>


</body>

</html>
