<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header_css :: header_css">
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no" />

<title>Condo In Financial District | WP Residence &#8211; Real Estate Responsive WordPress Theme</title>



    <link rel="stylesheet" href="../../../resources/css/bootstrap.min.css" 
                           th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../../resources/css/font-awesome.min.css" 
                           th:href="@{/resources/css/font-awesome.min.css}"/>
    <!-- App CSS -->
    
    <link rel="stylesheet" href="../../../resources/css/mvpready-admin.css" 
                           th:href="@{/resources/css/mvpready-admin.css}"/>
    <link rel="stylesheet" href="../../../resources/css/mvpready-flat.css" 
                           th:href="@{/resources/css/mvpready-flat.css}"/>



        <!--link href="../../../resources/css/simple-line-icons.css" 
              th:href="@{/resources/css/simple-line-icons.css}" rel="stylesheet" /-->

        <link href="../../../resources/css/app.css" 
              th:href="@{/resources/css/app.css}" rel="stylesheet" />
        <link href="../../../resources/css/style.css" 
              th:href="@{/resources/css/style.css}" rel="stylesheet" />
        <!--link href="../../../resources/css/styles.css" 
              th:href="@{/resources/css/styles.css}" rel="stylesheet" /-->

            <!-- plug -->
    <link rel="stylesheet" href="../../../resources/css/fullcalendar.css"
                           th:href="@{/resources/css/fullcalendar.css}"/>
    <link rel="stylesheet" href="../../../resources/css/fullcalendar.print.css" 
                           th:href="@{/resources/css/fullcalendar.print.css}"/>

        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->






<!--link rel='stylesheet' id='font_awesome-css'  href='http://mariusn.com/themes/reales-wp/wp-content/themes/reales/css/font-awesome.css?ver=1.0' type='text/css' media='all' /-->
<!--link rel='stylesheet' id='simple_line_icons-css'  href='http://mariusn.com/themes/reales-wp/wp-content/themes/reales/css/simple-line-icons.css?ver=1.0' type='text/css' media='all' /-->

<!--link rel='stylesheet' id='bootstrap_style-css'  href='http://mariusn.com/themes/reales-wp/wp-content/themes/reales/css/bootstrap.css?ver=1.0' type='text/css' media='all' /-->



<!--link rel='stylesheet' id='fancybox-css'  href='http://mariusn.com/themes/reales-wp/wp-content/themes/reales/css/jquery.fancybox.css?ver=1.0' type='text/css' media='all' /-->
<!--link rel='stylesheet' id='fancybox_buttons-css'  href='http://mariusn.com/themes/reales-wp/wp-content/themes/reales/css/jquery.fancybox-buttons.css?ver=1.0' type='text/css' media='all' /-->



<link rel='stylesheet' id='wpestate_style-css'  href='http://wpresidence.net/wp-content/themes/wpresidence/style.css?ver=1.0' type='text/css' media='all' />

<!--link rel='stylesheet' id='prettyphoto-css'  href='http://wpresidence.net/wp-content/plugins/js_composer/assets/lib/prettyphoto/css/prettyPhoto.css?ver=4.4.4' type='text/css' media='screen' /-->

<!--link rel='stylesheet' id='wpestate-opensans-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C600%2C300&#038;subset=latin%2Clatin-ext&#038;ver=4.2.2' type='text/css' media='all' /-->



<!--link rel='stylesheet' id='bsf-Defaults-css'  href='http://wpresidence.net/wp-content/uploads/smile_fonts/Defaults/Defaults.css?ver=4.2.2' type='text/css' media='all' /-->
<script type='text/javascript' src='http://wpresidence.net/wp-includes/js/jquery/jquery.js?ver=1.11.2'></script>
<script type='text/javascript' src='http://wpresidence.net/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>


<script type='text/javascript' src='http://wpresidence.net/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js?ver=4.6.9'></script>
<script type='text/javascript' src='http://wpresidence.net/wp-content/themes/wpresidence/js/bootstrap.min.js?ver=1.0'></script>
<script type='text/javascript' src='http://wpresidence.net/wp-content/themes/wpresidence/js/modernizr.custom.62456.js?ver=1.0'></script>



</head>


<body class="single single-estate_property postid-145 wpb-js-composer js-comp-ver-4.4.4 vc_responsive">  
    

 
    
<div class="website-wrapper" id="all_wrapper" >
<div class="container main_wrapper  wide  ">
       

    


   
    
  <div class="container content_wrapper">


<div class="row">
        <div class=" col-md-9 rightmargin ">
        



                
        <h1 class="entry-title entry-prop">Condo In Financial District</h1>   
        <span class="price_area">USD 200 <span class="price_label">/ month</span></span>
        <div class="single-content listing-content">
            
          
             
                    
            
        <div class="notice_area">           
            
            <div class="property_categs">
                <a href="http://wpresidence.net/listings/condos/" rel="tag">Condos</a> in <a href="http://wpresidence.net/action/rentals/" rel="tag">Rentals</a>            
            </div>  
            <span class="adres_area">88 Greenwich St #327, <a href="http://wpresidence.net/city/new-york/" rel="tag">New York</a>, <a href="http://wpresidence.net/area/upper-east-side/" rel="tag">Upper East Side</a></span>   
            
           <div id="add_favorites" class="isnotfavorite" data-postid="145">add to favorites</div>
           
            <div class="prop_social">
                  <a href="#" target="_blank" class="share_facebook"><i class="fa fa-facebook fa-2"></i></a>
             
                <a href="#" class="share_tweet" target="_blank"><i class="fa fa-twitter fa-2"></i></a>
                <a href="#" class="share_google"><i class="fa fa-google-plus fa-2"></i></a> 
                <a href="" class="share_pinterest"> <i class="fa fa-pinterest fa-2"></i> </a>      
                <i class="fa fa-print" id="print_page" data-propid="145"></i>
            </div>
        </div>    
            
        
           
    <div id="carousel-listing" class="carousel slide post-carusel" data-ride="carousel" data-interval="false">
                
        
                    <div id="slider_enable_map">    <i class="fa fa-map-marker"></i>        </div>
                  <div id="slider_enable_street"> <i class="fa fa-location-arrow"></i>    </div>                <div id="slider_enable_slider" class="slideron "> <i class="fa fa-picture-o"></i>         </div>
                
                <div id="gmapzoomplus"  class="smallslidecontrol" ><i class="fa fa-plus"></i> </div>
                <div id="gmapzoomminus" class="smallslidecontrol" ><i class="fa fa-minus"></i></div>
                
                <div id="googleMapSlider"  data-post_id="145" data-cur_lat="40.7077634" data-cur_long="-74.0138164"  >   
                </div>
            

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item  active  ">
                           <a href="http://wpresidence.net/wp-content/uploads/2014/05/file10512788799001.jpg" rel="prettyPhoto[pp_gal]" class="prettygalery"> 
                                <img  src="http://wpresidence.net/wp-content/uploads/2014/05/file10512788799001-810x467.jpg"  alt="Apartment building. " class="img-responsive" />
                           </a>
                        </div><div class="item  ">
                        <a href="http://wpresidence.net/wp-content/uploads/2014/05/demo83.jpg" rel="prettyPhoto[pp_gal]" class="prettygalery" > 
                            <img  src="http://wpresidence.net/wp-content/uploads/2014/05/demo83-810x467.jpg" alt="Bedroom fully furnished." class="img-responsive" />
                         </a>
                        </div><div class="item  ">
                        <a href="http://wpresidence.net/wp-content/uploads/2014/05/demo21.jpg" rel="prettyPhoto[pp_gal]" class="prettygalery" > 
                            <img  src="http://wpresidence.net/wp-content/uploads/2014/05/demo21-810x467.jpg" alt="Close to Financial District." class="img-responsive" />
                         </a>
                        </div><div class="item  ">
                        <a href="http://wpresidence.net/wp-content/uploads/2014/05/file27112754130431.jpg" rel="prettyPhoto[pp_gal]" class="prettygalery" > 
                            <img  src="http://wpresidence.net/wp-content/uploads/2014/05/file27112754130431-810x467.jpg" alt="Park view from the apartment." class="img-responsive" />
                         </a>
                        </div>    </div>

    <!-- Indicators -->    
    <div class="carusel-back"></div>  
    <ol class="carousel-indicators">
      <li data-target="#carousel-listing" data-slide-to="0" class=" active ">
                                <img  src="http://wpresidence.net/wp-content/uploads/2014/05/file10512788799001-143x83.jpg"  alt="slider" />
                           </li> <li data-target="#carousel-listing" data-slide-to="1" class=" ">
                                <img  src="http://wpresidence.net/wp-content/uploads/2014/05/demo83-143x83.jpg"  alt="slider" />
                            </li> <li data-target="#carousel-listing" data-slide-to="2" class=" ">
                                <img  src="http://wpresidence.net/wp-content/uploads/2014/05/demo21-143x83.jpg"  alt="slider" />
                            </li> <li data-target="#carousel-listing" data-slide-to="3" class=" ">
                                <img  src="http://wpresidence.net/wp-content/uploads/2014/05/file27112754130431-143x83.jpg"  alt="slider" />
                            </li>    </ol>

    <ol class="carousel-round-indicators">
         <li data-target="#carousel-listing" data-slide-to="0" class=" active " ></li> <li data-target="#carousel-listing" data-slide-to="1" class=" "></li> <li data-target="#carousel-listing" data-slide-to="2" class=" "></li> <li data-target="#carousel-listing" data-slide-to="3" class=" "></li>    </ol> 

    <div class="caption-wrapper">   
      <span data-slide-to="0" class=" active " >Apartment building. </span><span data-slide-to="1" class=" ">Bedroom fully furnished.</span><span data-slide-to="2" class=" ">Close to Financial District.</span><span data-slide-to="3" class=" ">Park view from the apartment.</span>        <div class="caption_control"></div>
    </div>  

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-listing" data-slide="prev">
      <i class="fa fa-angle-left"></i>
    </a>
    <a class="right carousel-control" href="#carousel-listing" data-slide="next">
      <i class="fa fa-angle-right"></i>
    </a>
    </div>

            
         
            
        <div role="tabpanel" id="tab_prpg">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#description" aria-controls="description" role="tab" data-toggle="tab">
        Description        </a>
        
    </li>
    
    <li role="presentation">
        <a href="#address" aria-controls="address" role="tab" data-toggle="tab">
            Address        </a>
    </li>
    
    <li role="presentation">
        <a href="#details" aria-controls="details" role="tab" data-toggle="tab">
            Details         </a>
    </li>
    
    <li role="presentation">
        <a href="#features" aria-controls="features" role="tab" data-toggle="tab">
           Features        </a>
    </li>
    
    
            <li role="presentation">
            <a href="#walkscore" aria-controls="walkscore" role="tab" data-toggle="tab">
                Walkscore            </a>
        </li>
            
    
        <li role="presentation">
        <a href="#floor" aria-controls="floor" role="tab" data-toggle="tab">
            Floor Plans        </a>
    </li>
      
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="description">
        <p>Mckinley Hill is situated inside Fort Bonifacio which is a 50 hectares owned by Megaworld. Mckinley Hill is Said to be the Biggest and Grandest Development in Metro manila as of Today. what’s nice about Mckinley Hill this whole 50 hectare is a Master Planned Community in which everything you may need is within your reach like Schools, Leisure Parks and Recreational, BPO Offices , Residential Tower and Even Medical Centers is just a Few stroll Away.</p>
<p>The latest exclusive project at mckinley hill THE FLORENCE is strategically located inside the township development in mckinley hill and will set to rise the standard of urban living with it’s ultra modern fascade and full glass windown this is the crown jewel property in Mckinley Hill.</p>
<div class="download_docs">Documents</div><div class="document_down"><a href="http://wpresidence.net/wp-content/uploads/2014/05/Energetic-Certificate-PDF5.pdf" target="_blank">Energetic Certificate PDF<i class="fa fa-download"></i></a></div><div class="document_down"><a href="http://wpresidence.net/wp-content/uploads/2014/05/Another-PDF-Sample5.pdf" target="_blank">Another PDF Sample<i class="fa fa-download"></i></a></div>      
    </div>

    <div role="tabpanel" class="tab-pane" id="address">
        <div class="listing_detail col-md-4"><strong>Address:</strong> 88 Greenwich St #327</div><div class="listing_detail col-md-4"><strong>City:</strong> <a href="http://wpresidence.net/city/new-york/" rel="tag">New York</a></div><div class="listing_detail col-md-4"><strong>Area:</strong> <a href="http://wpresidence.net/area/upper-east-side/" rel="tag">Upper East Side</a></div><div class="listing_detail col-md-4"><strong>State:</strong> <a href="http://wpresidence.net/state/new-york/" rel="tag">New York</a></div><div class="listing_detail col-md-4"><strong>Zip:</strong> 10009</div><div class="listing_detail col-md-4"><strong>Country:</strong> United States</div>    </div>
      
    <div role="tabpanel" class="tab-pane" id="details">
        <div class="listing_detail col-md-4" id="propertyid_display"><strong>Property Id :</strong> 145</div><div class="listing_detail col-md-4"><strong>Price:</strong> USD 200 <span class="price_label">/ month</span></div><div class="listing_detail col-md-4"><strong>Property Size:</strong> 250 ft<sup>2</sup></div><div class="listing_detail col-md-4"><strong>Property Lot Size:</strong> 300 ft<sup>2</sup></div><div class="listing_detail col-md-4"><strong>Rooms:</strong> 5</div><div class="listing_detail col-md-4"><strong>Bedrooms:</strong> 2</div><div class="listing_detail col-md-4"><strong>Bathrooms:</strong> 2.5</div><div class="listing_detail col-md-4"><strong>Garage Size:</strong> 2 cars</div><div class="listing_detail col-md-4"><strong>Available From:</strong> 2015-08-31</div><div class="listing_detail col-md-4"><strong>Basement:</strong> full</div><div class="listing_detail col-md-4"><strong>External Construction:</strong> none</div><div class="listing_detail col-md-4"><strong>Exterior Material:</strong> bricks</div><div class="listing_detail col-md-4"><strong>Roofing:</strong> new</div>  
    </div>
      
    <div role="tabpanel" class="tab-pane" id="features">
        <div class="listing_detail col-md-4"><i class="fa fa-check"></i>attic</div><div class="listing_detail col-md-4"><i class="fa fa-check"></i>gas heat</div><div class="listing_detail col-md-4"><i class="fa fa-check"></i>ocean view</div><div class="listing_detail col-md-4"><i class="fa fa-check"></i>wine cellar</div><div class="listing_detail col-md-4"><i class="fa fa-check"></i>basketball court</div><div class="listing_detail col-md-4"><i class="fa fa-check"></i>gym</div><div class="listing_detail col-md-4"><i class="fa fa-check"></i>pound</div><div class="listing_detail col-md-4"><i class="fa fa-check"></i>fireplace</div><div class="listing_detail col-md-4"><i class="fa fa-check"></i>lake view</div><div class="listing_detail col-md-4"><i class="fa fa-check"></i>pool</div><div class="listing_detail col-md-4"><i class="fa fa-check"></i>back yard</div><div class="listing_detail col-md-4"><i class="fa fa-check"></i>front yard</div><div class="listing_detail col-md-4"><i class="fa fa-check"></i>fenced yard</div><div class="listing_detail col-md-4"><i class="fa fa-check"></i>sprinklers</div><div class="listing_detail col-md-4"><i class="fa fa-check"></i>washer and dryer</div><div class="listing_detail col-md-4"><i class="fa fa-check"></i>deck</div><div class="listing_detail col-md-4"><i class="fa fa-check"></i>laundry</div><div class="listing_detail col-md-4"><i class="fa fa-check"></i>private space</div><div class="listing_detail col-md-4"><i class="fa fa-check"></i>Roof Deck</div>    </div>  
     
            <div role="tabpanel" class="tab-pane" id="walkscore">
            <div class="walk_details"><img src="https://cdn.walk.sc/images/api-logo.png" alt="walkscore" /><span>100 / Walker's Paradise <a href="https://www.walkscore.com/score/loc/lat=40.7077634/lng=-74.0138164/?utm_source=wpestate.org&amp;utm_medium=ws_api&amp;utm_campaign=ws_api" target="_blank">more details here</a> </span></div>        </div>
     
      
            <div role="tabpanel" class="tab-pane" id="floor">
            
                <div class="front_plan_row">
                    <div class="floor_title">Floor Plan A</div>
                    <div class="floor_details">size: 150 ft<sup>2</sup></div>
                    <div class="floor_details">rooms:  3</div>    
                    <div class="floor_details">baths: 3</div> 
                    <div class="floor_details">price:  USD 1,500</div> 
                </div>
                <div class="front_plan_row_image"  style="display:block">
                    <div class="floor_image">
                        <a href="http://wpresidence.net/wp-content/uploads/2015/01/floorplan_2d2.jpg" rel="prettyPhoto[pp_floor]"><img src="http://wpresidence.net/wp-content/uploads/2015/01/floorplan_2d2.jpg"  alt="Floor Plan A" /></a>
                    </div>
                    <div class="floor_description">Inside this enchanting home, the great room enjoys a fireplace and views of the rear patio. The secluded master suite at the front of the home delights in tons of natural light, a splendid bath, a sitting room with a fireplace, and a private lanai. Three upper-level bedrooms share an optional bonus room, perfect for a home gym, playroom, or studio. Click the home to see the layout!</div>
                </div>
                <div class="front_plan_row">
                    <div class="floor_title">Floor Plan B</div>
                    <div class="floor_details">size: 200 ft<sup>2</sup></div>
                    <div class="floor_details">rooms:  3</div>    
                    <div class="floor_details">baths: 3</div> 
                    <div class="floor_details">price:  USD 2,500</div> 
                </div>
                <div class="front_plan_row_image" >
                    <div class="floor_image">
                        <a href="http://wpresidence.net/wp-content/uploads/2015/01/floor_plan_3d1.jpg" rel="prettyPhoto[pp_floor]"><img src="http://wpresidence.net/wp-content/uploads/2015/01/floor_plan_3d1.jpg"  alt="Floor Plan B" /></a>
                    </div>
                    <div class="floor_description">Living Spaces are more easily interpreted. All-In-Ones color floor plan option clearly defines your listing’s living spaces, making them obvious and clearly visible to your potential buyers/clients.

Add extra value to your services. Color floor-plans show that you care about selling your client’s listing; they add a premium, high value look to any listing and can be used in your brochures, email and websites.</div>
                </div>        </div>
          
      
  </div>

</div>    
        
            
            
            
       
    
          
         
        
       
        
<div class="col-md-4 agentpic-wrapper">
        <div class="agent-listing-img-wrapper" data-link="http://wpresidence.net/agents/michael-suttherland/">
                        <a href="http://wpresidence.net/agents/michael-suttherland/">
                 <img src="http://wpresidence.net/wp-content/uploads/2014/05/man3131-265x163.jpg"  alt="agent picture" class="img-responsive agentpict"/>
            </a>
            
            <div class="listing-cover"></div>
            <div class="listing-cover-title"><a href="http://wpresidence.net/agents/michael-suttherland/">Michael Suttherland</a></div>

        </div>
    
        <div class="agent_unit_social_single">
            <div class="social-wrapper"> 

                 <a href="https://www.facebook.com/wpestate" target="_blank"><i class="fa fa-facebook"></i></a> <a href="http://wpresidence.net/" target="_blank"><i class="fa fa-twitter"></i></a> <a href="http://wpresidence.net/" target="_blank"><i class="fa fa-linkedin"></i></a> <a href="http://wpresidence.net/" target="_blank"><i class="fa fa-pinterest"></i></a>
             </div>
        </div>
</div>  

<div class="col-md-8 agent_details">    
        <div class="mydetails">
            My details        </div>
        <h3><a href="http://wpresidence.net/agents/michael-suttherland/">Michael Suttherland</a></h3>
        <div class="agent_position">real estate broker</div><div class="agent_detail"><i class="fa fa-phone"></i><a href="tel:305 555 4555">305 555 4555</a></div><div class="agent_detail"><i class="fa fa-mobile"></i><a href="tel:305 555 4555">305 555 4555</a></div><div class="agent_detail agent_email_class"><i class="fa fa-envelope-o"></i><a href="mailto:michael@wpresidence.net">michael@wpresidence.net</a></div><div class="agent_detail"><i class="fa fa-skype"></i>michael.suttherland</div><div class="agent_detail"><i class="fa fa-desktop"></i><a href="http://mywebsite.com" target="_blank">mywebsite.com</a></div>
</div>


     
<div class="agent_contanct_form">
                 <h4 id="show_contact">Contact Me</h4>
                     
    

        <div class="alert-box error">
          <div class="alert-message" id="alert-agent-contact"></div>
        </div> 


        <input name="contact_name" id="agent_contact_name" type="text"  placeholder="Your Name" 
               aria-required="true" class="form-control" />
        <input type="text" name="email" class="form-control" id="agent_user_email" aria-required="true" placeholder="Your Email" />
        <input type="text" name="phone"  class="form-control" id="agent_phone" placeholder="Your Phone" />

        <textarea id="agent_comment" name="comment" class="form-control" cols="45" rows="8" aria-required="true" placeholder="Your Message" ></textarea>	

        <input type="submit" class="wpb_button  wpb_btn-info wpb_btn-large"  id="agent_submit" value="Send Message" />

        <input name="prop_id" type="hidden"  id="agent_property_id" value="145" />
        <input name="agent_email" type="hidden"  id="agent_email" value="michael@wpresidence.net" />
        <input type="hidden" name="contact_ajax_nonce" id="agent_property_ajax_nonce"  value="987e3744f8" />



    </div>

 
        </div><!-- end single content -->
    </div><!-- end 9col container-->
    
<!-- begin sidebar -->
<div class="clearfix visible-xs"></div>
    
    <div class="col-xs-12 col-md-3 widget-area-sidebar" id="primary" >
                
        <ul class="xoxo">
            <li id="advanced_search_widget-10" class="widget widget-container sbg_widget propertylist advanced_search_sidebar"><h3 class="widget-title-sidebar">Advanced Search</h3><form role="search" method="get"   action="http://wpresidence.net/advanced-search/" >
                                                <div class="dropdown form-control" >
                                                    <div data-toggle="dropdown" id="sidebar_filter_action" class="sidebar_filter_menu"> All Actions <span class="caret caret_sidebar"></span> </div>           
                                                    <input type="hidden" name="filter_search_action[]" value="" />
                                                    <ul id="list_sidebar_filter_action" class="dropdown-menu filter_menu" role="menu" aria-labelledby="sidebar_filter_action">
                                                         <li role="presentation" data-value="all">All Actions</li><li  role="presentation" data-value="rentals">Rentals (7)</li><li  role="presentation" data-value="sales">Sales (9)</li>
                                                    </ul>        
                                                </div>                                            
                                                    <div class="dropdown form-control" >
                                                        <div data-toggle="dropdown" id="a_sidebar_filter_categ" class="sidebar_filter_menu"> All Types <span class="caret caret_sidebar"></span> </div>           
                                                        <input type="hidden" name="filter_search_type[]" value="" />
                                                        <ul id="sidebar_filter_categ" class="dropdown-menu filter_menu" role="menu" aria-labelledby="a_sidebar_filter_categ">
                                                        <li role="presentation" data-value="all">All Types</li><li role="presentation" data-value="apartments">Apartments (4)</li><li role="presentation" data-value="condos">Condos (1)</li><li role="presentation" data-value="houses">Houses (2)</li><li role="presentation" data-value="industrial">Industrial (1)</li><li role="presentation" data-value="land">Land (2)</li><li role="presentation" data-value="offices">Offices (1)</li><li role="presentation" data-value="retail">Retail (3)</li><li role="presentation" data-value="villas">Villas (2)</li>
                                                        </ul>        
                                                    </div>
                                                    <div class=" dropdown form-control" >
                                                        <div data-toggle="dropdown" id="sidebar_filter_cities" class="sidebar_filter_menu"> All Cities <span class="caret caret_sidebar"></span> </div>           
                                                        <input type="hidden" name="advanced_city" value="" />
                                                        <ul id="sidebar_filter_city" class="dropdown-menu filter_menu" role="menu" aria-labelledby="sidebar_filter_cities">
                                                           <li role="presentation" data-value="all" data-value2="all">All Cities</li><li role="presentation" data-value="jersey-city" data-value2="jersey-city">Jersey City (10)</li><li role="presentation" data-value="new-york" data-value2="new-york">New York (6)</li>
                                                        </ul>        
                                                    </div>  
                                                    <div class="dropdown form-control" >
                                                        <div data-toggle="dropdown" id="sidebar_filter_areas" class="sidebar_filter_menu">All Areas<span class="caret caret_sidebar"></span> </div>           
                                                        <input type="hidden" name="advanced_area" value="" />
                                                        <ul id="sidebar_filter_area" class="dropdown-menu filter_menu" role="menu" aria-labelledby="sidebar_filter_areas">
                                                            <li role="presentation" data-value="all">All Areas</li><li role="presentation" data-value="bayonne" data-parentcity="jersey-city">Bayonne (2)</li><li role="presentation" data-value="greenville" data-parentcity="jersey-city">Greenville (6)</li><li role="presentation" data-value="manhattan" data-parentcity="new-york">Manhattan (2)</li><li role="presentation" data-value="queens" data-parentcity="new-york">Queens (1)</li><li role="presentation" data-value="the-heights" data-parentcity="jersey-city">The Heights (2)</li><li role="presentation" data-value="upper-east-side" data-parentcity="new-york">Upper East Side (1)</li><li role="presentation" data-value="west-side" data-parentcity="new-york">West Side (2)</li>
                                                        </ul>        
                                                    </div>
                                                      <input type="text" id="min-bedrooms_wid"  name="min-bedrooms"  placeholder="Min. Bedrooms "  class="advanced_select form-control" /><script type="text/javascript">
                //<![CDATA[
                jQuery(document).ready(function(){
                        jQuery("#available-from_wid").datepicker({
                                dateFormat : "yy-mm-dd"
                        },jQuery.datepicker.regional["en-GB"]);
                });
                //]]>
            </script>  <input type="text" id="available-from_wid"  name="available-from"  placeholder="Available From"  class="advanced_select form-control" />
                                                        <div class="adv_search_widget">
                                                            <p>
                                                                <label for="amount_wd">Price range:</label>
                                                                <span id="amount_wd" style="border:0; font-weight:bold;">USD 0 to USD 1,500,000</span>
                                                            </p>
                                                            <div id="slider_price_widget"></div>
                                                            <input type="hidden" id="price_low_widget"  name="price_low"  value="0"/>
                                                            <input type="hidden" id="price_max_widget"  name="price_max"  value="1500000"/>
                                                        </div><div class="adv_extended_options_text" id="adv_extended_options_text_widget">More Search Options</div><div class="extended_search_check_wrapper"><span id="adv_extended_close_widget"><i class="fa fa-times"></i></span><div class="extended_search_checker"><input type="checkbox" id="atticwidget" name="attic" value="1" /><label for="atticwidget">attic</label></div><div class="extended_search_checker"><input type="checkbox" id="gas_heatwidget" name="gas_heat" value="1" /><label for="gas_heatwidget">gas heat</label></div><div class="extended_search_checker"><input type="checkbox" id="gymwidget" name="gym" value="1" /><label for="gymwidget">gym</label></div><div class="extended_search_checker"><input type="checkbox" id="fireplacewidget" name="fireplace" value="1" /><label for="fireplacewidget">fireplace</label></div><div class="extended_search_checker"><input type="checkbox" id="back_yardwidget" name="back_yard" value="1" /><label for="back_yardwidget">back yard</label></div><div class="extended_search_checker"><input type="checkbox" id="washer_and_dryerwidget" name="washer_and_dryer" value="1" /><label for="washer_and_dryerwidget">washer and dryer</label></div><div class="extended_search_checker"><input type="checkbox" id="balconywidget" name="balcony" value="1" /><label for="balconywidget">balcony</label></div><div class="extended_search_checker"><input type="checkbox" id="storagewidget" name="storage" value="1" /><label for="storagewidget">storage</label></div></div><button class="wpb_button  wpb_btn-info wpb_btn-large" id="advanced_submit_widget">Search</button>
                </form>  
                </li><li id="contact_widget-6" class="widget widget-container sbg_widget propertylist contact_sidebar"><h3 class="widget-title-sidebar">Contact Us</h3><div class="contact_sidebar_wrap"><p class="widget_contact_addr"><i class="fa fa-building-o"></i>3755 Commercial St SE Salem, Corner with Sunny Boulevard, 3755 Commercial  OR 97302</p><p class="widget_contact_phone"><i class="fa fa-phone"></i><a href="tel:%28305%29+555-4446">(305) 555-4446</a></p><p class="widget_contact_fax"><i class="fa fa-print"></i>(305) 555-4555</p><p class="widget_contact_email"><i class="fa fa-envelope-o"></i><a href="mailto:annapx0909@gmail.com">annapx0909@gmail.com</a></p><p class="widget_contact_skype"><i class="fa fa-skype"></i>wpestatetheme</p><p class="widget_contact_url"><i class="fa fa-desktop"></i><a href="http://wpresidence.net/">WP RESIDENCE</a></p></div></li><li id="login_widget-9" class="widget widget-container sbg_widget propertylist loginwd_sidebar"><input type="hidden" id="security-login-forgot_wd" name="security-login-forgot_wd" value="bf519f05d9" /><input type="hidden" name="_wp_http_referer" value="/properties/condo-in-financial-district/" />
                <div class="login_sidebar">
                    <h3 class="widget-title-sidebar"  id="login-div-title">Login</h3>
                    <div class="login_form" id="login-div">
                        <div class="loginalert" id="login_message_area_wd" ></div>
                            
                        <input type="text" class="form-control" name="log" id="login_user_wd" placeholder="Username"/>
                        <input type="password" class="form-control" name="pwd" id="login_pwd_wd" placeholder="Password"/>                       
                        <input type="hidden" name="loginpop" id="loginpop_wd" value="0" />
                        <input type="hidden" id="security-login" name="security-login" value="b93efbace1" />   

                       
                        <button class="wpb_button  wpb_btn-info wpb_btn-large" id="wp-login-but-wd" >Login</button>
                        
                        <div class="login-links">
                            <a href="#" id="widget_register_sw">Need an account? Register here!</a>
                            <a href="#" id="forgot_pass_widget">Forgot Password?</a><div id="facebookloginsidebar" data-social="facebook"></div><div id="googleloginsidebar" data-social="google"></div><div id="yahoologinsidebar" data-social="yahoo"></div>
                        </div>    
                    </div>
                
              <h3 class="widget-title-sidebar"  id="register-div-title">Register</h3>
                <div class="login_form" id="register-div">
                    <div class="loginalert" id="register_message_area_wd" ></div>
                    <input type="text" name="user_login_register" id="user_login_register_wd" class="form-control" placeholder="Username"/>
                    <input type="text" name="user_email_register" id="user_email_register_wd" class="form-control" placeholder="Email"  />
                    <input type="checkbox" name="terms" id="user_terms_register_wd" /><label id="user_terms_register_wd_label" for="user_terms_register_wd">I agree with <a href="http://wpresidence.net/terms-and-coditions/" target="_blank" id="user_terms_register_topbar_link">terms &amp; conditions</a> </label>
          
                    <p id="reg_passmail">A password will be e-mailed to you</p>
                    <input type="hidden" id="security-register" name="security-register" value="ae66466104" />   
                    <button class="wpb_button  wpb_btn-info wpb_btn-large" id="wp-submit-register_wd">Register</button>

                    <div class="login-links">
                        <a href="#" id="widget_login_sw">Back to Login</a>                       
                    </div>   
                 </div>
                </div>
                <h3 class="widget-title-sidebar"  id="forgot-div-title_shortcode">Reset Password</h3>
                <div class="login_form" id="forgot-pass-div_shortcode">
                    <div class="loginalert" id="forgot_pass_area_shortcode"></div>
                    <div class="loginrow">
                            <input type="text" class="form-control" name="forgot_email" id="forgot_email_shortcode" placeholder="Enter Your Email Address" size="20" />
                    </div>
                    <input type="hidden" id="security-login-forgot_wd" name="security-login-forgot_wd" value="bf519f05d9" /><input type="hidden" name="_wp_http_referer" value="/properties/condo-in-financial-district/" />  
                    <input type="hidden" id="postid" value="0" />    
                    <button class="wpb_button  wpb_btn-info wpb_btn-large  vc_button" id="wp-forgot-but_shortcode" name="forgot" >Reset Password</button>
                    <div class="login-links shortlog">
                    <a href="#" id="return_login_shortcode">Return to Login</a>
                    </div>
                </div>
            </li><li id="mortgage_widget-5" class="widget widget-container sbg_widget propertylist mortgage_calculator_li"><div class="mortgage_calculator_div">
                <h3 class="widget-title-sidebar"> Mortgage Calculator</h3>
                <div id="input_formula">
                    <label for="sale_price">Sale Price</label>    
                    <input type="text" id="sale_price" value="100000" class="form-control" />

                    <label for="percent_down">Percent Down</label>    
                    <input type="text" id="percent_down" value="10" class="form-control" />

                  
                    <label for="term_years">Term (Years)</label>    
                    <input type="text" id="term_years" value="30" class="form-control" />

                    <label for="interest_rate">Interest Rate in %</label>    
                    <input type="text" id="interest_rate" value="5" class="form-control" />
                    
                    <div id="morg_results">
                        <span id="am_fin"></span>
                        <span id="morgage_pay"></span>                      
                        <span id="anual_pay"></span>
                    </div>
                    <button class="wpb_button  wpb_btn-info wpb_btn-large" id="morg_compute">Calculate</button>
                   
                </div>
                
                </div></li><li id="zillow_estimate_widget-5" class="widget widget-container sbg_widget propertylist zillow_widget"><h3 class="widget-title-sidebar">Estimate your home</h3>
                       <div class="zillow-wrapper">    
                       <form method="post" action="http://wpresidence.net/zillow-estimate/">
                       <input type="text" class="form-control" id="zill_estimate_adr1"   name="zill_estimate_adr"    placeholder="Your Address" />
                       <input type="text" class="form-control" id="zill_estimate_city1"  name="zill_estimate_city"   placeholder="Your City" />
                       <input type="text" class="form-control" id="zill_estimate_state1" name="zill_estimate_state"  placeholder="Your State Code (ex CA)" />
                   
                       <button class="wpb_button  wpb_btn-info wpb_btn-large" id="zill_submit_estimate">Get Estimation</button>
                       </form>
                       </div>
                        </li>        </ul>

    </div>   

<!-- end sidebar --></div>   

</div><!-- end content_wrapper started in header -->

    
    <footer id="colophon" role="contentinfo" style=" background-image: url(http://wpresidence.net/wp-content/uploads/2015/03/jpeg_footer_1920_400.jpg) " class="  footer_back_repeat_no  ">    
        <div id="footer-widget-area" class="row">
           


    <div id="first" class="widget-area col-md-3">
        <ul class="xoxo">
            <li id="text-3" class="widget-container widget_text"><h3 class="widget-title-footer">WP RESIDENCE</h3>			<div class="textwidget"><p>WP RESIDENCE is committed to delivering a high level of expertise, customer service, and attention to detail to the marketing and sales of luxury real estate, and rental properties. <a href="http://wpresidence.net/" target="_blank">READ MORE <i class="fa fa-arrow-right" style="15px"></i>.</a></p>
</div>
		</li><li id="social_widget-2" class="widget-container social_sidebar"><div class="social_sidebar_internal"><a href="http://wpresidence.net/" target="_blank"><i class="fa fa-rss  fa-fw"></i></a><a href="http://wpresidence.net/" target="_blank"><i class="fa fa-facebook  fa-fw"></i></a><a href="http://wpresidence.net/" target="_blank"><i class="fa fa-twitter  fa-fw"></i></a><a href="http://wpresidence.net/" target="_blank"><i class="fa fa-dribbble  fa-fw"></i></a><a href="http://wpresidence.net/" target="_blank"><i class="fa fa-google-plus  fa-fw"></i></a><a href="http://wpresidence.net/" target="_blank"><i class="fa fa-linkedin  fa-fw"></i></a><a href="http://wpresidence.net/" target="_blank"><i class="fa fa-tumblr  fa-fw"></i></a><a href="http://wpresidence.net/" target="_blank"><i class="fa fa-pinterest  fa-fw"></i></a><a href="http://wpresidence.net/" target="_blank"><i class="fa fa-youtube  fa-fw"></i></a><a href="http://wpresidence.net/" target="_blank"><i class="fa fa-vimeo-square  fa-fw"></i></a></div></li>        </ul>
    </div><!-- #first .widget-area -->

    
    
    <div id="second" class="widget-area col-md-3">
        <ul class="xoxo">
        <li id="contact_widget-2" class="widget-container contact_sidebar"><h3 class="widget-title-footer">Contact Us</h3><div class="contact_sidebar_wrap"><p class="widget_contact_addr"><i class="fa fa-building-o"></i>3755 Commercial St SE Salem, Corner with Sunny Boulevard, 3755 Commercial  OR 97302</p><p class="widget_contact_phone"><i class="fa fa-phone"></i><a href="tel:%28305%29+555-4446">(305) 555-4446</a></p><p class="widget_contact_fax"><i class="fa fa-print"></i>(305) 555-4555</p><p class="widget_contact_email"><i class="fa fa-envelope-o"></i><a href="mailto:annapx0909@gmail.com">annapx0909@gmail.com</a></p><p class="widget_contact_skype"><i class="fa fa-skype"></i>wpestatetheme</p><p class="widget_contact_url"><i class="fa fa-desktop"></i><a href="http://wpresidence.net/">WP RESIDENCE</a></p></div></li>        </ul>
    </div><!-- #second .widget-area -->

    
    
    
    <div id="third" class="widget-area col-md-3">
        <ul class="xoxo">
        <li id="text-2" class="widget-container widget_text"><h3 class="widget-title-footer">Search by Area</h3>			<div class="textwidget"><ul>
	<li><i class="fa fa-map-marker" style="15px"></i>   <a href="http://wpresidence.net/area/bayonne/">Bayonne, New Jersey</a></li>
	<li><i class="fa fa-map-marker" style="15px"></i>   <a href="http://wpresidence.net/area/greenville/">Greenville, New Jersey</a></li>
	<li><i class="fa fa-map-marker" style="15px"></i>   <a href="http://wpresidence.net/area/the-heights/">The Heights, New Jersey</a></li>
	<li><i class="fa fa-map-marker" style="15px"></i>   <a href="http://wpresidence.net/area/west-side/">West Side, New York</a></li>
	<li><i class="fa fa-map-marker" style="15px"></i>   <a href="http://wpresidence.net/area/upper-east-side/">Upper East Side, New York</a></li>
	<li><i class="fa fa-map-marker" style="15px"></i>   <a href="http://wpresidence.net/area/west-side/">West Side, New York</a></li>
	<li><i class="fa fa-map-marker" style="15px"></i>   <a href="http://wpresidence.net/area/upper-east-side/">Upper East Side, New York</a></li>
	<li><i class="fa fa-map-marker" style="15px"></i>   <a href="http://wpresidence.net/area/upper-east-side/">Upper East Side, New York</a></li>
</ul></div>
		</li>        </ul>
    </div><!-- #third .widget-area -->
    
    
    

    <div id="fourth" class="widget-area col-md-3">
        <ul class="xoxo">
        <li id="footer_latest_widget-2" class="widget-container latest_listings"><h3 class="widget-title-footer">Latest Properties</h3><div class="latest_listings"><div class="widget_latest_internal" data-link="http://wpresidence.net/properties/store-space-greenville/"><div class="widget_latest_listing_image">
                                            <a href="http://wpresidence.net/properties/store-space-greenville/"><img  src="http://wpresidence.net/wp-content/uploads/2014/06/GrossePointeMansion-105x70.jpg"  alt="slider-thumb" data-original="http://wpresidence.net/wp-content/uploads/2014/06/GrossePointeMansion-105x70.jpg" class="lazyload img_responsive" height="70" width="105" /></a>
                                            <div class="listing-cover"></div>
                                            <a href="http://wpresidence.net/properties/store-space-greenville/"> <span class="listing-cover-plus">+</span></a>
                                        </div><div class="listing_name  "><span class="widget_latest_title"><a href="http://wpresidence.net/properties/store-space-greenville/">Store Space Greenville</a></span>
                                        <span class="widget_latest_price">USD 250 <span class="price_label">/ month</span></span>
                                   </div></div><div class="widget_latest_internal" data-link="http://wpresidence.net/properties/3-rooms-mahattan-new-york/"><div class="widget_latest_listing_image">
                                            <a href="http://wpresidence.net/properties/3-rooms-mahattan-new-york/"><img  src="http://wpresidence.net/wp-content/uploads/2014/06/white-105x70.jpg"  alt="slider-thumb" data-original="http://wpresidence.net/wp-content/uploads/2014/06/white-105x70.jpg" class="lazyload img_responsive" height="70" width="105" /></a>
                                            <div class="listing-cover"></div>
                                            <a href="http://wpresidence.net/properties/3-rooms-mahattan-new-york/"> <span class="listing-cover-plus">+</span></a>
                                        </div><div class="listing_name  "><span class="widget_latest_title"><a href="http://wpresidence.net/properties/3-rooms-mahattan-new-york/">3 Rooms Manhattan</a></span>
                                        <span class="widget_latest_price">USD 550,000 <span class="price_label"></span></span>
                                   </div></div><div class="widget_latest_internal" data-link="http://wpresidence.net/properties/2-rooms-manhattan/"><div class="widget_latest_listing_image">
                                            <a href="http://wpresidence.net/properties/2-rooms-manhattan/"><img  src="http://wpresidence.net/wp-content/uploads/2014/06/demo8-105x70.jpg"  alt="slider-thumb" data-original="http://wpresidence.net/wp-content/uploads/2014/06/demo8-105x70.jpg" class="lazyload img_responsive" height="70" width="105" /></a>
                                            <div class="listing-cover"></div>
                                            <a href="http://wpresidence.net/properties/2-rooms-manhattan/"> <span class="listing-cover-plus">+</span></a>
                                        </div><div class="listing_name  "><span class="widget_latest_title"><a href="http://wpresidence.net/properties/2-rooms-manhattan/">2 Rooms Manhattan</a></span>
                                        <span class="widget_latest_price">USD 349,000 <span class="price_label"></span></span>
                                   </div></div></div></li>        </ul>
    </div><!-- #fourth .widget-area -->


        </div><!-- #footer-widget-area -->

        <div class="sub_footer">  
            <div class="sub_footer_content">
                <span class="copyright">
                    Copyright 2015 | WP Estate. All Rights Reserved.                </span>

                <div class="subfooter_menu">
                    <div class="menu-footer-container"><ul id="menu-footer" class="menu"><li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15"><a href="http://wpresidence.net/privacy-policy/">Privacy Policy</a></li>
<li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16"><a href="http://wpresidence.net/terms-of-user/">Terms of Use</a></li>
</ul></div>                </div>  
            </div>  
        </div>
    </footer><!-- #colophon -->

<a href="#" class="backtop "><i class="fa fa-chevron-up"></i></a>
<a href="#" class="contact-box "><i class="fa fa-envelope-o"></i></a>
 
<div class="contactformwrapper hidden"> 
       
   
        <div id="footer-contact-form">
        <h4>Contact Us</h4>
        <p>Use the form below to contact us!</p>
        <div class="alert-box error">
            <div class="alert-message" id="footer_alert-agent-contact"></div>
        </div> 
        
        <input type="text" placeholder="Your Name" required="required"   id="foot_contact_name"  name="contact_name" class="form-control" value="" tabindex="373" /> 
        <input type="email" required="required" placeholder="Your Email"  id="foot_contact_email" name="contact_email" class="form-control" value="" tabindex="374" />
        <input type="email" required="required" placeholder="Your Phone"  id="foot_contact_phone" name="contact_phone" class="form-control" value="" tabindex="374" />
        <input type="hidden" id="foot_agent_email" value="annapx0909@gmail.com" />    
        <textarea placeholder="Type your message..." required="required" id="foot_contact_content" name="contact_content" class="form-control" tabindex="375"></textarea>
        <input type="hidden" name="contact_footer_ajax_nonce" id="contact_footer_ajax_nonce"  value="84dcccff6d" />

        <div class="btn-cont">
            <button type="submit" id="btn-cont-submit" class="wpb_button  wpb_btn-info wpb_btn-large vc_button">Send</button>
            <i class="mk-contact-loading mk-icon-spinner mk-icon-spin"></i> 
            <i class="mk-contact-success mk-icon-ok-sign"></i> 
            <input type="hidden" value="" name="contact_to" />
            <div class="bottom-arrow"></div>
        </div>  
    </div>
    
</div>
  


<script type='text/javascript' src='http://wpresidence.net/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://wpresidence.net/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://wpresidence.net/wp-includes/js/jquery/ui/mouse.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://wpresidence.net/wp-includes/js/jquery/ui/draggable.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://wpresidence.net/wp-includes/js/jquery/ui/position.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://wpresidence.net/wp-includes/js/jquery/ui/menu.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://wpresidence.net/wp-includes/js/jquery/ui/autocomplete.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://wpresidence.net/wp-includes/js/jquery/ui/slider.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://wpresidence.net/wp-content/themes/wpresidence/js/jquery.prettyphoto.js?ver=1.0'></script>
<script type='text/javascript' src='http://wpresidence.net/wp-content/themes/wpresidence/js/placeholders.min.js?ver=1.0'></script>
<script type='text/javascript' src='http://wpresidence.net/wp-content/themes/wpresidence/js/retina-1.1.0.js?ver=1.0'></script>
<script type='text/javascript' src='http://wpresidence.net/wp-includes/js/jquery/ui/datepicker.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://wpresidence.net/wp-content/themes/wpresidence/js/i18n/datepicker-en-GB.js?ver=1.0'></script>
<script type='text/javascript' src='http://wpresidence.net/wp-content/themes/wpresidence/js/jquery.ui.touch-punch.min.js?ver=1.0'></script>
<script type='text/javascript' src='http://wpresidence.net/wp-content/themes/wpresidence/js/infobox.js?ver=1.0'></script>

<script type='text/javascript' src='http://wpresidence.net/wp-content/themes/wpresidence/js/google_js/google_map_code_listing.js?ver=1.0'></script>
<script type='text/javascript' src='http://wpresidence.net/wp-content/themes/wpresidence/js/google_js/oms.min.js?ver=1.0'></script>

<script type='text/javascript' src='http://wpresidence.net/wp-content/themes/wpresidence/js/google_js/mapfunctions.js?ver=1.0'></script>
<script type='text/javascript' src='http://wpresidence.net/wp-content/themes/wpresidence/js/google_js/markerclusterer.js?ver=1.0'></script>

<script type='text/javascript' src='http://wpresidence.net/wp-content/themes/wpresidence/js/control.js?ver=1.0'></script>

<script type='text/javascript' src='http://wpresidence.net/wp-content/themes/wpresidence/js/ajaxcalls.js?ver=1.0'></script>
<script type='text/javascript' src='http://wpresidence.net/wp-includes/js/comment-reply.min.js?ver=4.2.2'></script>
<script type='text/javascript' src='http://wpresidence.net/wp-content/themes/wpresidence/js/property.js?ver=1.0'></script>
<script type='text/javascript' src='http://wpresidence.net/wp-content/themes/wpresidence/js/google_js/idx.js?ver=1.0'></script>







</div> <!-- end class container -->
</div> <!-- end website wrapper -->
</body>
</html><!-- need to refresh to see cached version -->