<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header_css :: header_css">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "header_css.html" at runtime.                                           -->
  <!-- ============================================================================ -->
</head>


<body>




  <header class="banner navbar navbar-default navbar-static-top dark-header" role="banner">
    <div class="container-fluid" th:replace="header :: header">
      <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "header_css.html" at runtime.                                           -->
      <!-- ============================================================================ -->
    </div>
  </header>
  <div class="wrap" role="document">

    <div class="content">


      <div class="inner-container">



        <div class="background-gray">

          <div class="container container-breadcrumbs">



            <ol class="breadcrumb">
              <li><a th:href="@{/property/}">Home</a></li>
              <li><strong>Property</strong></li>
            </ol>




          </div>
          <!-- /.container -->

        </div>
        <!-- /.mainnav -->



        <div class="container">
          <div class="row">


            <div class="singleTop">
              <div id="carouselFull" class="carousel slide gallery" data-ride="carousel" data-interval="false">
                      <th:block th:if="${#lists.isEmpty(property.propertyPhotos)}">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselFull" data-slide-to="0" class="active"></li>
                        </ol>
                        <div class="carousel-inner">
                          <a href="javascript:;" data-fancybox-group="slideshow" class="galleryItem item active" th:attr="style='background-image: url(' + @{/resources/images/1067.png} + ');'"></a>
                        </div>
                        </th:block>
                        <th:block th:if="${not #lists.isEmpty(property.propertyPhotos)}">
                        <ol class="carousel-indicators">
                          <li th:each="propertyPhoto,status : ${property.propertyPhotos}" data-target="#carouselFull" th:attr="data-slide-to=${status.index}" th:classappend="${status.index == 0 ? 'active' : ''}" ></li>
                        </ol>
                        <div class="carousel-inner">
                          <a href="javascript:;" th:each="propertyPhoto,status : ${property.propertyPhotos}" data-fancybox-group="slideshow" th:classappend="${status.index == 0 ? 'active' : ''}"  class="galleryItem item" th:attr="style='background-image: url(' + @{/resources/images/uploads/{upload}(upload=${propertyPhoto.newFilename})} + ');'"></a>
                        </div>
                        </th:block>
                        <a class="left carousel-control" href="#carouselFull" role="button" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
                        <a class="right carousel-control" href="#carouselFull" role="button" data-slide="next"><span class="fa fa-chevron-right"></span></a>
                      </div>

              <div class="summary">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="summaryItem">
                      <!--div class="single-featured"><span class="fa fa-star"></span> Featured</div-->
                      <div class="clearfix"></div>
                      <h1 class="pageTitle" th:text="#{${'label.' + property.propertyType}}">Sophisticated Residence</h1>


                      <div class="address">

                        <th:block th:text="${property.location.locationString + ','}">600 40th Ave, Richmond District, </th:block>
                        <th:block th:text="${property.location.province.name + ','}"> San Francisco,</th:block>
                        <br />
                        <th:block th:text="${property.location.locationZipCode + ','}"> 94121,</th:block>
                        <th:block th:text="${property.location.country.name}"> United States</th:block>
                      </div>
                      <div class="singlePrice">
                        <div class="listPrice">
                          <th:block th:text="${'$'+property.propertyPrice}">45.0</th:block> <span class="label label-warning" th:text="#{${'label.for.' + property.propertySaleType}}">label.enum.forRent</span>
                        </div>
                      </div>
                      <div class="pull-right font-13">
                      <span class="m-r-5">
                          <span class="fa fa-moon-o"></span> <th:block th:text="#{label.bedrooms(${property.propertyNumOfBedrooms})}">2</th:block>
                      </span>
                      <span class="m-r-5">
                          <span class="icon-drop"></span> <th:block th:text="#{label.bathrooms(${property.propertyNumOfBathrooms})}">2</th:block>
                      </span>
                      <span class="m-r-5">
                          <span class="icon-frame"></span> <th:block th:text="#{label.square.feet(${property.propertySqFeet})}">2</th:block>
                      </span>
                        </div>

                      <!--ul class="stats">
                        <li><span class="icon-eye"></span> 9999+</li>
                        <li><span class="icon-bubble"></span> 1</li>
                      </ul-->
                      <!--div class="favLink">
                        <a id="favBtn" href="javascript:void(0);" class="noSigned">
                        <span class="fa fa-heart-o"></span></a>
                        <span class="fav_no">2</span> </div-->
                      <div class="clearfix"></div>
                      <!--ul class="features">
                        <li><span class="fa fa-moon-o"></span>
                          <div>
                            <th:block th:text="${property.propertyNumOfBedrooms}">2</th:block> Bedrooms</div>
                        </li>
                        <li><span class="icon-drop"></span>
                          <div>
                            <th:block th:text="${property.propertyNumOfBathrooms}">2</th:block> Bathrooms</div>
                        </li>
                        <li><span class="icon-frame"></span>
                          <div>
                            <th:block th:text="${property.propertySqFeet}">2</th:block> sq ft</div>
                        </li>
                      </ul-->
                      <a th:href="@{/login}" th:if="${#authorization.expression('!isAuthenticated()')}" class="title block font-bold m-t-10 text-center"><span class="fa fa-lock"></span> Login to schedule an appointment.</a>
                      <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                        <th:block sec:authorize="hasRole('ROLE_BUYER')">
                      <a href="javascript:;" data-toggle="modal" data-target="#scheduleAppointement" th:attr="data-value=${property.id}" class="title block font-bold m-t-10 text-center"><span class="js_icon fa fa-calendar"></span> <span class="js_text">Schedule an appointment.</span></a>
                      </th:block>
                      <th:block sec:authorize="hasRole('ROLE_NOACCESS')">
                      <a href="javascript:;" class="title block font-bold m-t-10 text-center"><span class="js_icon fa fa-calendar"></span> <span class="js_text">To schedule an appointment you should be a buyer.</span></a>
                      </th:block>
                      </th:block>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="agentAvatar summaryItem">
                      <div class="clearfix"></div>
                      <a href="javascript:;"><img class="avatar agentAvatarImg" src="https://s3.amazonaws.com/fundrise-content/interface/team-member/empty.svg" alt="Empty" /></a>
                      <div class="agentName" th:text="${property.profile.lastname == null ? property.profile.email : property.profile.firstname+ ' ' + property.profile.lastname}">Agent user</div>
                      <a href="javascript:;" th:href="@{/property/{id}(id=${property.id})}" th:attr="data-id=${property.id}" class="btn btn-green contactBtn js_submit_link">Contact Agent</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="description" th:if="${property.propertyDescription != null and property.propertyDescription != ''}">
              <h3>Description</h3>
              <div class="entry-content">
                <p th:text="${property.propertyDescription}">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                  ‘Content here, content here’, making it look like readable English.</p>
                <div class="clearfix"></div>
              </div>
            </div>

            <!--div class="share">
              <h3>Share property</h3>
              <a href="https://www.facebook.com/sharer/sharer.php?u=http://mariusn.com/themes/reales-wp/properties/sophisticated-residence/" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
              target="_blank" title="Share on Facebook" class="btn btn-sm btn-o btn-facebook">
                <span class="fa fa-facebook"></span> Facebook </a>
              <a href="https://twitter.com/share?url=http://mariusn.com/themes/reales-wp/properties/sophisticated-residence/&amp;text=Sophisticated+Residence" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
              target="_blank" title="Share on Twitter" class="btn btn-sm btn-o btn-twitter">
                <span class="fa fa-twitter"></span> Twitter </a>
              <a href="https://plus.google.com/share?url=http://mariusn.com/themes/reales-wp/properties/sophisticated-residence/" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=480');return false;"
              target="_blank" title="Share on Google+" class="btn btn-sm btn-o btn-google">
                <span class="fa fa-google-plus"></span> Google+ </a>
              <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://mariusn.com/themes/reales-wp/properties/sophisticated-residence/&amp;title=Sophisticated+Residence" title="Share on LinkedIn" class="btn btn-sm btn-o btn-linkedin" target="_blank">
                <span class="fa fa-linkedin"></span> LinkedIn </a>
            </div-->

            <div class="amenities" th:if="${property.propertyFeatures != null and property.propertyFeatures != ''}">

              <h3>Amenities</h3>

              <div class="row">
                <th:block th:each="features  : ${#strings.listSplit(property.propertyFeatures, ',')}">
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem active">
                    <span class="fa fa-check"></span>
                    <th:block th:text="#{${'label.' + features}}">attic</th:block>
                  </div>
                </th:block>
              </div>
            </div>


            <div class="similar">
              <h3>Similar Properties</h3>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <a href="http://mariusn.com/themes/reales-wp/properties/modern-residence/" class="similarProp">
                    <div class="image"><img src="http://mariusn.com/themes/reales-wp/wp-content/uploads/2014/12/bg-1.jpg" alt="Modern Residence" /></div>
                    <div class="info text-nowrap">
                      <div class="name">Modern Residence</div>
                      <div class="address">
                        547 35th Ave, Richmond District, San Francisco, CA, 94121, United States </div>
                      <div class="price">$23,234 <span class="badge">For Sale</span></div>
                    </div>
                    <div class="clearfix"></div>
                  </a>
                </div>
              </div>

            </div>



          </div>
          <!-- /.container -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.inner-container -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.wrap -->


  <th:block th:replace="footer :: footer">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "footer.html" at runtime                                             -->
    <!-- ============================================================================ -->
  </th:block>

  <!-- Modal -->
  <th:block th:if="${#authorization.expression('isAuthenticated()')}">
  <th:block sec:authorize="hasRole('ROLE_BUYER')">
<div class="modal" id="scheduleAppointement" tabindex="-1" role="dialog" aria-labelledby="scheduleAppointementLabel">
  <div class="modal-dialog" role="document">
  <form accept-charset="UTF-8" class="ejb_eb form-horizontal" method="post" th:action="${#httpServletRequest.requestURI}">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="scheduleAppointementLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7" id="inl"></div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" id="inlvc">Value: <span id="inlv">(choose)</span>
    <input type="hidden" id="dateAppointment" name="dateAppointment" value="" />
    </div>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" name="save" class="btn btn-primary disabled">Schedule an appointment</button>
      </div>
    </div>
    </form>
  </div>
</div>
</th:block>
</th:block>

  <script>
    var resizefunc = [];
  </script>
  <th:block th:replace="footer_js :: footer_js">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "footer_js.html" at runtime                                             -->
    <!-- ============================================================================ -->
  </th:block>


</body>

</html>
