<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header_css :: header_css">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "header_css.html" at runtime.                                           -->
  <!-- ============================================================================ -->
</head>


<body class="fixed-left shepherd-active">

<!--div class="animationload">
          <div class="loader"></div>
      </div-->

<!-- Begin page -->
<div id="wrapper">
  <header class="navbar navbar-default navbar-static-top dark-header topbar" role="banner" th:fragment="header">
    <div th:replace="header :: header">
      <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "header.html" at runtime.                                               -->
      <!-- ============================================================================ -->
    </div>
  </header>


  <!-- ========== Left Sidebar Start ========== -->
  <div class="left side-menu" th:replace="sidebar :: sidebar(page=label.menu.yourProfile)">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "sidebar.html" at runtime.                                              -->
    <!-- ============================================================================ -->
  </div>
  <!-- Left Sidebar End -->


  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="content-page">
    <!-- Start content -->
    <div class="content">
      <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row" th:replace="profile/jumbotron :: jumbotron(page='')">
          <!-- ============================================================================ -->
          <!-- This content is only used for static prototyping purposes (natural templates)-->
          <!-- and is therefore entirely optional, as this markup fragment will be included -->
          <!-- from "sidebar.html" at runtime.                                               -->
          <!-- ============================================================================ -->
        </div>
        <!-- /.col -->

        <div th:classappend="${profile.profileSetting.showGettingStarted ? 'none' : ''}"
             class="tab-content row">

          <!-- Tab panes -->

          <div role="tabpanel"
               th:classappend="${profile.profileSetting.showSearchCriteriaPropertyCompleted ? '' : 'none'}"
               class="tab-pane" id="js_searchPropertyTab">

            <div class="pos-notification"></div>
            <div class="col-lg-8">


              <div id="js-property-search-list" class="module">


                <div class="module-section">

                  <div class="placeholder ">
                    <h3 class="placeholder-title">No Recent Activity</h3>
                    <div class="placeholder-text">This data will become available after you make
                      your first investment.
                    </div>

                    <div class="placeholder-cta">
                      <a href="/investments" class="zeta-smo button ">Browse Investments</a>
                    </div>

                  </div>
                </div>


              </div>
            </div>

            <div class="col-lg-4">
              <div id="js-property-search-list-info" class="module">


                <div class="module-section">

                  <div class="placeholder ">
                    <div class="placeholder-cta">
                      <a class="m-b-5 bg-warning button btn-block" type="button"
                         data-toggle="modal" data-target="#con-property-modal"
                         th:href="@{/profile/search/property}">
                        Edit your property search criteria</a>
                      <a href="javascript:;" class="button btn-block js_submit_link" type="button"
                         th:attr="data-remote=@{/profile/search/property/delete}">Delete your
                        property search criteria</a>
                    </div>

                  </div>
                </div>


              </div>
            </div>
          </div>
          <div role="tabpanel"
               th:classappend="${profile.profileSetting.showSearchCriteriaBuyingProposalCompleted ? '' : 'none'}"
               class="tab-pane" id="js_searchBuyTab">

            <div class="col-lg-8">


              <div id="js-buy-search-list" class="module">


                <div class="module-section">

                  <div class="placeholder ">
                    <h3 class="placeholder-title">No Recent Activity</h3>
                    <div class="placeholder-text">This data will become available after you make
                      your first investment.
                    </div>

                  </div>
                </div>


              </div>
            </div>

            <div class="col-lg-4">
              <div id="js-buy-search-list-info" class="module">


                <div class="module-section">

                  <div class="placeholder ">
                    <div class="placeholder-cta">
                      <a class="m-b-5 bg-warning button btn-block" type="button"
                         data-toggle="modal" data-target="#con-buy-modal"
                         th:href="@{/profile/search/buy}">
                        Edit your buying proposal search criteria</a>
                      <a href="javascript:;" class="button js_submit_link"
                         th:attr="data-remote=@{/profile/search/buy/delete}">Delete your buying
                        proposal search criteria</a>
                    </div>

                  </div>
                </div>


              </div>
            </div>
          </div>
          <div role="tabpanel"
               th:classappend="${profile.profileSetting.showSearchCriteriaRentingProposalCompleted ? '' : 'none'}"
               class="tab-pane" id="js_searchRentTab">
            <div class="col-lg-8">


              <div id="js-rent-search-list" class="module">


                <div class="module-section">

                  <div class="placeholder ">
                    <h3 class="placeholder-title">No Recent Activity</h3>
                    <div class="placeholder-text">This data will become available after you make
                      your first investment.
                    </div>


                  </div>
                </div>


              </div>
            </div>

            <div class="col-lg-4">
              <div id="js-rent-search-list-info" class="module">


                <div class="module-section">

                  <div class="placeholder ">

                    <div class="placeholder-cta">
                      <a class="m-b-5 bg-warning button btn-block" type="button"
                         data-toggle="modal" data-target="#con-rent-modal"
                         th:href="@{/profile/search/rent}">
                        Edit your renting proposal search criteria</a>
                      <a href="javascript:;" class="button js_submit_link"
                         th:attr="data-remote=@{/profile/search/rent/delete}">Delete your renting
                        proposal search criteria</a>
                    </div>

                  </div>
                </div>


              </div>
            </div>


          </div>
        </div>


      </div>
      <!-- container -->

    </div>
    <!-- content -->

    <footer class="footer text-right">
      2015 © Ubold.
    </footer>

  </div>

  <!-- modal -->
  <div class="modal" id="scheduleAppointement" tabindex="-1" role="dialog"
       aria-labelledby="scheduleAppointementLabel">
    <div class="modal-dialog" role="document">
      <form accept-charset="UTF-8" class="ejb_eb form-horizontal" method="post" th:action="@{/property/}">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="scheduleAppointementLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7" id="inl"></div>
              <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" id="inlvc">Value: <span id="inlv">(choose)</span>
                <input type="hidden" id="dateAppointment" name="dateAppointment" value=""/>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" name="save" class="btn btn-primary disabled">Schedule an appointment
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- /.modal -->

  <!-- modal -->
  <div id="con-rent-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
       style="display: none;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form accept-charset="UTF-8" class="ejb_eb form-horizontal" th:action="@{/profile/search/rent}"
              th:object="${proposalSearch}" method="post">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">New renting proposal search</h4>
          </div>
          <div class="modal-body">


            <div th:if="${message != null and message != 'null'}"
                 class="alert alert-success alert-dismissable">
              <button aria-hidden="true" data-dismiss="alert" class="close" type="button" th:text="'x'">
                ×
              </button>
              <th:block th:text="${message}">
              </th:block>
            </div>
            <div class="row pl20">
              <div class="form-group col-sm-4" style="margin-right:1%;" th:id="'rent_country'">
                <label th:id="'locationcountryid'">Country</label>
                <select th:id="'country2'" th:field="*{country}" class="ajaxList form-control required"
                        data-target="province0" th:attr="data-url=@{/province.json}">
                  <option value="" th:text="#{label.country}">-- Select Province --</option>
                  <option th:each="type : ${country}" th:value="${type.id}" th:text="${type.name}">
                    Wireframe
                  </option>
                </select>
                                <span class="help-block"><span th:if="${#fields.hasErrors('country')}"
                                                               th:errors="*{location.country.id}"
                                                               class="block text-danger"></span></span>
              </div>

              <div class="form-group col-sm-4" style="margin-right:1%;" th:id="'rent_province'">
                <label th:id="'locationprovinceid'">Province</label>
                <select th:id="'province0'" th:field="*{province}"
                        class="ajaxList form-control required" data-target="city0"
                        th:attr="data-url=@{/city.json}">
                  <option value="" th:text="#{label.province}">-- Select Province --</option>
                  <option th:each="type : ${province}" th:value="${type.id}" th:text="${type.name}">
                    Wireframe
                  </option>
                </select>
                                <span class="help-block"><span th:if="${#fields.hasErrors('province')}"
                                                               th:errors="*{location.province.id}"
                                                               class="block text-danger"></span></span>
              </div>

              <div class="form-group col-sm-4" th:id="'rent_city'">
                <label th:id="'locationcityid'">City</label>
                <select th:id="'city0'" th:field="*{city}" class="form-control required">
                  <option value="" th:text="#{label.city}">-- Select Province --</option>
                  <option th:each="type : ${city}" th:value="${type.id}" th:text="${type.name}">
                    Wireframe
                  </option>
                </select>
                                <span class="help-block"><span th:if="${#fields.hasErrors('city')}"
                                                               th:errors="*{location.city.id}"
                                                               class="block text-danger"></span></span>
              </div>
            </div>
            <!-- /.form-group -->

            <hr/>

            <h4>Type</h4>
            <div class="form-group" th:id="'rent_propertyTypeInProposal'">
              <label for="propertyTypeInProposal" class="col-sm-2 control-label">Property Type</label>
              <div class="col-sm-10">
                <select id="propertyTypeInProposal" th:field="*{propertyTypeInProposal}"
                        class="form-control">
                  <option value="" th:text="#{label.select.empty}"> - Select the type of the property
                    -
                  </option>
                  <option th:each="type : ${propertyTypeOfProperty}" th:value="${type}"
                          th:text="#{${'label.' + type}}">Wireframe
                  </option>
                </select>
                                <span class="help-block"><span th:if="${#fields.hasErrors('propertyTypeInProposal')}"
                                                               th:errors="*{propertyTypeInProposal}"
                                                               class="block text-danger"></span></span>
              </div>
            </div>

            <div class="form-group col-sm-6" id="rent_minimumPrice">
              <label for="minimumPrice" class="col-sm-4 control-label">minimum price</label>
              <div class="col-sm-8" th:id="'minimumPrice'">
                <input th:field="*{minimumPrice}" class="form-control" id="minimumPrice"
                       th:placeholder="#{label.placeholder.minimumPrice}"/>
                                <span class="help-block"><span th:if="${#fields.hasErrors('minimumPrice')}"
                                                               th:errors="*{minimumPrice}"
                                                               class="block text-danger"></span></span>
              </div>
            </div>

            <div class="form-group col-sm-6" id="rent_maximumPrice">
              <label for="maximumPrice" class="col-sm-4 control-label">maximumPrice</label>
              <div class="col-sm-8" th:id="'maximumPrice'">
                <input th:field="*{maximumPrice}" class="form-control" id="maximumPrice"
                       th:placeholder="#{label.placeholder.maximumPrice}"/>
                                <span class="help-block"><span th:if="${#fields.hasErrors('maximumPrice')}"
                                                               th:errors="*{maximumPrice}"
                                                               class="block text-danger"></span></span>
              </div>
            </div>

            <div class="form-group col-sm-6" id="rent_bathroomsMin">
              <label for="bathroomsMin" class="col-sm-4 control-label">Room (s) bathrooms</label>
              <div class="col-sm-4" th:id="'bathroomsMin'">
                <select class="form-control" th:field="*{bathroomsMin}">
                  <option value="" th:text="#{label.select.empty}">-- Select the item --</option>
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">+5</option>
                </select>

              </div>
              <div class="col-sm-4" th:id="'bathroomsMax'">
                <select class="form-control" th:field="*{bathroomsMax}">
                  <option value="" th:text="#{label.select.empty}">-- Select the item --</option>
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">+5</option>
                </select>
              </div>
                            <span class="help-block"><span th:if="${#fields.hasErrors('bathroomsMin')}"
                                                           th:errors="*{bathroomsMin}"
                                                           class="block text-danger"></span></span>
            </div>


            <div class="form-group col-sm-6" id="rent_bedroomsMin">
              <label for="bedroomsMin" class="col-sm-4 control-label">Room (s) bedrooms</label>
              <div class="col-sm-4" th:id="'bedroomsMin'">
                <select class="form-control" th:field="*{bedroomsMin}">
                  <option value="" th:text="#{label.select.empty}">-- Select the item --</option>
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">+5</option>
                </select>

              </div>
              <div class="col-sm-4" th:id="'bedroomsMax'">
                <select class="form-control" th:field="*{bedroomsMax}">
                  <option value="" th:text="#{label.select.empty}">-- Select the item --</option>
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">+5</option>
                </select>
              </div>
                            <span class="help-block"><span th:if="${#fields.hasErrors('bedroomsMin')}"
                                                           th:errors="*{bedroomsMin}"
                                                           class="block text-danger"></span></span>
            </div>


            <div class="col-sm-12">
              <hr/>
              <h4>Features</h4>
            </div>
            <div class="form-group" id="rent_furnished">
              <label for="furnished" class="col-sm-2 control-label">Furnished</label>
              <div class="col-sm-4" th:id="'furnished'">
                <select th:field="*{furnished}" class="form-control">
                  <option value="" th:text="#{label.select.empty}">-- Select the item --</option>
                  <option th:each="type : ${labelYesNo}" th:value="${type}"
                          th:text="#{${'label.' + type}}">Wireframe
                  </option>

                </select>
                                <span class="help-block"><span th:if="${#fields.hasErrors('furnished')}"
                                                               th:errors="*{furnished}"
                                                               class="block text-danger"></span></span>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.form-group -->

          </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-default m-l-10" th:text="#{label.changes.cancel}"
                    data-dismiss="modal">Cancel
            </button>
            <button type="submit" class="btn btn-primary" th:text="#{label.changes.submit}">Save Changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- /.modal -->

  <!-- modal -->
  <div id="con-buy-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
       style="display: none;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form accept-charset="UTF-8" class="ejb_eb form-horizontal" th:action="@{/profile/search/buy}"
              th:object="${proposalSearch}" method="post">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">New Buying proposal search</h4>
          </div>
          <div class="modal-body">

            <input type="hidden" th:if="${proposalSearch.id != null}" name="id"
                   th:attr="value=${proposalSearch.id}"/>
            <div class="row pl20">
              <div class="form-group col-sm-4 mr20" style="margin-right:1%;" th:id="'buy_country'">
                <label for="locationcountryid" th:id="'country1'">Country</label>
                <select th:id="'country1'" th:field="*{country}" class="ajaxList form-control required"
                        data-target="province1" th:attr="data-url=@{/province.json}">
                  <option value="" th:text="#{label.country}">-- Select Country --</option>
                  <option th:each="type : ${country}" th:value="${type.id}" th:text="${type.name}">
                    Wireframe
                  </option>
                </select>
                                <span class="help-block"><span th:if="${#fields.hasErrors('country')}"
                                                               th:errors="*{location.country.id}"
                                                               class="block text-danger"></span></span>
              </div>

              <div class="form-group col-sm-4" style="margin-right:1%;" th:id="'buy_province'">
                <label th:id="'locationprovinceid'">Province</label>
                <select th:id="'province1'" th:field="*{province}"
                        class="ajaxList form-control required" data-target="city1"
                        th:attr="data-url=@{/city.json}">
                  <option value="" th:text="#{label.province}">-- Select Province --</option>
                  <option th:each="type : ${province}" th:value="${type.id}" th:text="${type.name}">
                    Wireframe
                  </option>
                </select>
                                <span class="help-block"><span th:if="${#fields.hasErrors('province')}"
                                                               th:errors="*{location.province.id}"
                                                               class="block text-danger"></span></span>
              </div>

              <div class="form-group col-sm-4" th:id="'buy_city'">
                <label th:id="'locationcityid'">City</label>
                <select th:id="'city1'" th:field="*{city}" class="form-control required">
                  <option value="" th:text="#{label.city}">-- Select City --</option>
                  <option th:each="type : ${city}" th:value="${type.id}" th:text="${type.name}">
                    Wireframe
                  </option>
                </select>
                                <span class="help-block"><span th:if="${#fields.hasErrors('city')}"
                                                               th:errors="*{location.city.id}"
                                                               class="block text-danger"></span></span>
              </div>
            </div>


            <hr/>

            <h4>Type</h4>
            <div class="form-group" th:id="'buy_propertyTypeInProposal'">
              <label for="propertyTypeInProposal" class="col-sm-2 control-label">Property Type</label>
              <div class="col-sm-10">
                <select th:field="*{propertyTypeInProposal}" class="form-control required">
                  <option value="" th:text="#{label.select.empty}"> - Select the type of the property
                    -
                  </option>
                  <option th:each="type : ${propertyTypeOfProperty}" th:value="${type}"
                          th:text="#{${'label.' + type}}">Wireframe
                  </option>
                </select>
                <span class="help-block"> </span>
              </div>
            </div>

            <div class="form-group col-sm-6" th:id="'buy_minimumPrice'">
              <label for="minimumPrice" class="col-sm-4 control-label">minimum price</label>
              <div class="col-sm-8">
                <input th:field="*{minimumPrice}" class="form-control" id="minimumPrice"
                       th:placeholder="#{label.placeholder.minimumPrice}"/>
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group col-sm-6" th:id="'buy_maximumPrice'">
              <label for="maximumPrice" class="col-sm-4 control-label">maximumPrice</label>
              <div class="col-sm-8">
                <input th:field="*{maximumPrice}" class="form-control" id="maximumPrice"
                       th:placeholder="#{label.placeholder.maximumPrice}"/>
                <span class="help-block"> </span>
              </div>
            </div>

            <div class="form-group" th:id="'buy_rushPriority'">
              <label for="rushPriority" class="col-sm-2 control-label">Rush</label>
              <div class="col-sm-10">
                <select th:id="'rushPriority'" th:field="*{rushPriority}" class="form-control required">
                  <option value="" th:text="#{label.InRush.emptyValue}"> - When would you like to
                    get the property -
                  </option>
                  <option th:value="0_3" th:text="#{label.InRush.0_3}"> - Within three months to come
                    -
                  </option>
                  <option th:value="3_6" th:text="#{label.InRush.3_6}"> - Between the next three
                    months and six to come -
                  </option>
                </select>
                <span class="help-block"></span>
              </div>
            </div>
            <!-- /.form-group -->


          </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-default" th:text="#{label.changes.cancel}"
                    data-dismiss="modal">Cancel
            </button>
            <button type="submit" class="btn btn-primary" th:text="#{label.changes.submit}">Save Changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- /.modal -->


  <!-- modal -->
  <div id="con-property-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form accept-charset="UTF-8" class="ejb_eb form-horizontal" th:action="@{/profile/search/property}"
              th:object="${propertySearch}" method="post">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">New property search</h4>
          </div>      <!-- /modal-header -->
          <div class="modal-body">

            <input type="hidden" th:if="${propertySearch.id != null}" name="id"
                   th:attr="value=${propertySearch.id}"/>
            <div class="row pl20">
              <div class="form-group col-sm-4" style="margin-right:1%;" th:id="'property_country'">
                <label th:id="'locationcountryid'">Country</label>
                <select th:id="'country2'" th:field="*{country}" class="ajaxList form-control required"
                        data-target="province_" th:attr="data-url=@{/province.json}">
                  <option value="" th:text="#{label.country}">-- Select Province --</option>
                  <option th:each="type : ${country}" th:value="${type.id}" th:text="${type.name}">
                    Wireframe
                  </option>
                </select>
                                <span class="help-block"><span th:if="${#fields.hasErrors('country')}"
                                                               th:errors="*{location.country.id}"
                                                               class="block text-danger"></span></span>
              </div>

              <div class="form-group col-sm-4" style="margin-right:1%;" th:id="'property_province'">
                <label th:id="'locationprovinceid'">Province</label>
                <select th:id="'province_'" th:field="*{province}"
                        class="ajaxList form-control required" data-target="city_"
                        th:attr="data-url=@{/city.json}">
                  <option value="" th:text="#{label.province}">-- Select Province --</option>
                  <option th:each="type : ${province}" th:value="${type.id}" th:text="${type.name}">
                    Wireframe
                  </option>
                </select>
                                <span class="help-block"><span th:if="${#fields.hasErrors('province')}"
                                                               th:errors="*{location.province.id}"
                                                               class="block text-danger"></span></span>
              </div>

              <div class="form-group col-sm-4" th:id="'property_city'">
                <label th:id="'locationcityid'">City</label>
                <select th:id="'city_'" th:field="*{city}" class="form-control required">
                  <option value="" th:text="#{label.city}">-- Select Province --</option>
                  <option th:each="type : ${city}" th:value="${type.id}" th:text="${type.name}">
                    Wireframe
                  </option>
                </select>
                                <span class="help-block"><span th:if="${#fields.hasErrors('city')}"
                                                               th:errors="*{location.city.id}"
                                                               class="block text-danger"></span></span>
              </div>
            </div>


            <div class="form-group" th:id="'property_propertyType'">
              <label for="propertyType" class="col-sm-2 control-label">Property Type</label>
              <div id="propertyType" class="col-sm-4">
                <select th:field="*{propertyType}" class="form-control">
                  <option value="" th:text="#{label.select.empty}"> - Select the type of the property
                    -
                  </option>
                  <option th:each="type : ${propertyTypeOfProperty}" th:value="${type}"
                          th:text="#{${'label.' + type}}">Wireframe
                  </option>
                </select>
                                <span class="help-block"><span th:if="${#fields.hasErrors('propertyType')}"
                                                               th:errors="*{propertyType}"
                                                               class="block text-danger"></span></span>
              </div>

              <label for="propertySaleType" class="col-sm-2 control-label">Sale Type</label>
              <div id="propertySaleType" class="col-sm-4">
                <select th:field="*{propertySaleType}" class="form-control">
                  <option value="" th:text="#{label.select.empty}">-- Select the sale type --</option>
                  <option th:each="type : ${propertySaleType}" th:value="${type}"
                          th:text="#{${'label.for.' + type}}">Wireframe
                  </option>
                </select>
                                <span class="help-block"><span th:if="${#fields.hasErrors('propertySaleType')}"
                                                               th:errors="*{propertySaleType}"
                                                               class="block text-danger"></span></span>
              </div>
            </div>
            <!-- /.form-group -->


            <div class="form-group col-sm-6" th:id="property_propertyPriceMin">

              <label for="propertyPriceMin" class="col-sm-4 control-label">Property price</label>
              <div id="propertyPriceMin" class="col-sm-8">
                <input type="text" th:field="*{propertyPriceMin}" placeholder="Property price"
                       class="form-control"/>
                                <span class="help-block"><span th:if="${#fields.hasErrors('propertyPriceMin')}"
                                                               th:errors="*{propertyPriceMin}"
                                                               class="block text-danger"></span></span>
              </div>
            </div>
            <div class="form-group col-sm-6" th:id="property_propertyAge">
              <label for="propertyAge" class="col-sm-4 control-label">Property age</label>
              <div id="propertyAge" class="col-sm-8">
                <select class="form-control" th:field="*{propertyAge}">
                  <option value="" th:text="#{label.select.empty}">- Select the age of the property-
                  </option>
                  <option value="0">0</option>
                  <option value="5">+5</option>
                  <option value="10">+10</option>
                  <option value="15">+15</option>
                  <option value="20">+20</option>
                </select>
                                <span class="help-block"><span th:if="${#fields.hasErrors('propertyAge')}"
                                                               th:errors="*{propertyAge}"
                                                               class="block text-danger"></span></span>
              </div>
              <!-- /.col -->

            </div>
            <!-- /.form-group -->


            <div class="form-group" th:id="property_propertyNumOfBedrooms">

              <label for="propertyNumOfBedrooms" class="col-sm-2 control-label">Bedroom (s)</label>
              <div id="propertyNumOfBedrooms" class="col-sm-4">
                <select class="form-control" th:field="*{propertyNumOfBedrooms}">
                  <option value="" th:text="#{label.select.empty}">- Select the number of
                    bedroom(s)-
                  </option>
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">+5</option>
                </select>
                                <span class="help-block"><span th:if="${#fields.hasErrors('propertyNumOfBedrooms')}"
                                                               th:errors="*{propertyNumOfBedrooms}"
                                                               class="block text-danger"></span></span>
              </div>

              <label for="propertyNumOfBathrooms" class="col-sm-2 control-label">Bathroom (s)</label>
              <div id="propertyNumOfBathrooms" class="col-sm-4">
                <select class="form-control" th:field="*{propertyNumOfBathrooms}">
                  <option value="" th:text="#{label.select.empty}">- Select the number of
                    bathroom(s)-
                  </option>
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <pption value="5">+5</pption>
                </select>
                                <span class="help-block"><span th:if="${#fields.hasErrors('propertyNumOfBathrooms')}"
                                                               th:errors="*{propertyNumOfBathrooms}"
                                                               class="block text-danger"></span></span>
              </div>
              <!-- /.col -->

            </div>
            <!-- /.form-group -->


            <div class="form-group" th:id="'property_propertySqFeet'">
              <label for="propertySqFeet" class="col-sm-2 control-label">square feet</label>
              <div id="propertySqFeet" class="col-sm-4">
                <select th:field="*{propertySqFeet}" class="form-control">
                  <option value="">Min. Sq Feet (ft&#178;):</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
                  <option value="60">60</option>
                  <option value="70">70</option>
                  <option value="80">80</option>
                  <option value="90">90</option>
                  <option value="100">100</option>
                  <option value="150">150</option>
                  <option value="200">200</option>
                  <option value="250">250</option>
                  <option value="300">300</option>
                  <option value="350">350</option>
                  <option value="400">400</option>
                  <option value="450">450</option>
                  <option value="500">500</option>
                  <option value="600">600</option>
                  <option value="700">700</option>
                  <option value="800">800</option>
                  <option value="900">900</option>
                  <option value="1000">1000</option>
                  <option value="1250">1250</option>
                  <option value="1500">1500</option>
                  <option value="1750">1750</option>
                  <option value="2000">2000</option>
                  <option value="3000">3000</option>
                  <option value="4000">4000</option>
                  <option value="5000">5000+</option>
                </select>
                                <span class="help-block"><span th:if="${#fields.hasErrors('propertySqFeet')}"
                                                               th:errors="*{propertySqFeet}"
                                                               class="block text-danger"></span></span>
              </div>

              <label for="propertyNumOfFloors" class="col-sm-2 control-label">number of floors</label>
              <div id="propertyNumOfFloors" class="col-sm-4">
                <select th:field="*{propertyNumOfFloors}" class="form-control">
                  <option value="">Floor Level:</option>
                  <option value="Basement">Basement</option>
                  <option value="Ground floor">Ground floor</option>
                  <option value="Mezzanine">Mezzanine</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10+">10+</option>
                  <option value="1 - 20">1 - 20</option>
                  <option value="Last Floor">Last Floor</option>
                  <option value="Attic">Attic</option>
                  <option value="Penthouse">Penthouse</option>
                  <option value="Back Split">Back Split</option>
                  <option value="Main">Main</option>
                  <option value="Maisonette">Maisonette</option>
                  <option value="Service flat">Service flat</option>
                  <option value="Top Floor">Top Floor</option>
                  <option value="Tri-level Apartment">Tri-level Apartment</option>
                  <option value="Whole building">Whole building</option>
                  <option value="Gallery">Gallery</option>
                  <option value="Downstairs flat">Downstairs flat</option>
                  <option value="Garret">Garret</option>
                  <option value="Bi-level apartment">Bi-level apartment</option>
                  <option value="0">0+</option>
                </select>
                                <span class="help-block"><span th:if="${#fields.hasErrors('propertyNumOfFloors')}"
                                                               th:errors="*{propertyNumOfFloors}"
                                                               class="block text-danger"></span></span>

              </div>
            </div>
            <!-- /.form-group -->


          </div>      <!-- /modal-body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" th:text="#{label.changes.submit}">Save Changes
            </button>
          </div>      <!-- /modal-footer -->
        </form>
      </div>
    </div>
  </div>
  <!-- /.modal -->


  <!-- Modal -->
  <div id="con-existing-property-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form accept-charset="UTF-8" class="ejb_eb form-horizontal" th:id="'listingProperties'" th:object="${binding}" th:action="@{/profile/binding/}" method="post">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">List of properties</h4>

        </div>
        <div class="modal-body">

          <script id="render-content" type="text/x-handlebars-template">
            <input type="hidden" name="theproposal" value=""/>
            {{#each data}}
            <li id="{{id}}"  class="table-list-item">
              <div class="table-list-cell table-list-cell-type">
                <a href="property/{{id}}" aria-label="View the property">
                  {{#each propertyPhotos}}
                  <img src="/oas/resources/images/uploads/{{propertyPhotos.0.thumbnailFilename}}" />
                  {{/each}}
                </a>
              </div>

              <div class="table-list-cell issue-title">

                <a href="property/{{id}}"
                   class="issue-title-link">
                  {{propertyType}}
                </a>
                <span class="m-l-5">{{propertyPrice}}</span>
                <span class="m-l-10 label label-primary">{{propertySaleType}}</span>
                <span style="display:block;color:#000;font-weight:600;font-size:13px;">
                  {{location.locationString}}, {{location.province.name}}, {{location.locationZipCode}}, {{location.country.name}}
                </span>
                <div class="issue-meta">
                  <span class="issue-meta-section opened-by">
                    <span>{{propertyNumOfBedrooms}} <i class="fa fa-bed"></i></span>
                    <span class="m-l-15">{{propertyNumOfBathrooms}}<i class="fa fa-tint"></i></span>
                    <span class="m-l-15">{{propertySqFeet}}<i class="fa fa-arrows"></i></span>
                    <span class="m-l-15">{{propertyNumOfFloors}}</span>
                  </span>

                  <span class="issue-meta-section css-truncate issue-milestone">

                  </span>


                </div>
              </div>

              <div class="table-list-cell issue-comments" style="font-size:18px;">
                <input type="checkbox"
                       name="bindings[{{@index}}].property.id"
                       value="{{id}}"/>
                <input type="hidden"
                       name="bindings[{{@index}}].proposal.id"
                       value=""/>
              </div>
            </li>
            {{/each}}

          </script>
          <ul class="js_render_list table-list"></ul>

        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-default" th:text="#{label.changes.cancel}" data-dismiss="modal">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary" th:text="#{label.changes.submit}">Save Changes
          </button>
          <button type="submit" name="trigger" class="btn btn-primary disabled">Make a
            bid
          </button>
        </div>
          </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <!-- ============================================================== -->
  <!-- End Right content here -->
  <!-- ============================================================== -->


  <!-- Right Sidebar -->
  <div class="side-bar right-bar nicescroll">
    <h4 class="text-center">Chat</h4>
    <div class="contact-list nicescroll">
      <ul class="list-group contacts-list">
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-1.jpg}" alt=""/>
            </div>
            <span class="name">Chadengle</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-2.jpg}" alt=""/>
            </div>
            <span class="name">Tomaslau</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-3.jpg}" alt=""/>
            </div>
            <span class="name">Stillnotdavid</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-4.jpg}" alt=""/>
            </div>
            <span class="name">Kurafire</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-5.jpg}" alt=""/>
            </div>
            <span class="name">Shahedk</span>
            <i class="fa fa-circle away"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-6.jpg}" alt=""/>
            </div>
            <span class="name">Adhamdannaway</span>
            <i class="fa fa-circle away"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-7.jpg}" alt=""/>
            </div>
            <span class="name">Ok</span>
            <i class="fa fa-circle away"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-8.jpg}" alt=""/>
            </div>
            <span class="name">Arashasghari</span>
            <i class="fa fa-circle offline"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-9.jpg}" alt=""/>
            </div>
            <span class="name">Joshaustin</span>
            <i class="fa fa-circle offline"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-10.jpg}" alt=""/>
            </div>
            <span class="name">Sortino</span>
            <i class="fa fa-circle offline"></i>
          </a>
          <span class="clearfix"></span>
        </li>
      </ul>
    </div>
  </div>
  <!-- /Right-bar -->

</div>


<div class="modal" id="gettingStarted" tabindex="-1" role="dialog" aria-hidden="true"
     th:if="${profile.profileSetting.showGettingStarted}">
  <div class="modal-dialog modal-lg">
    <form accept-charset="UTF-8" class="ejb_eb form-horizontal" th:id="'listingProperties'"
          th:action="@{/profile/binding/}" method="post">
      <div class="modal-header">
        <button type="button" class="close fa fa-times" data-dismiss="modal" aria-hidden="true">&times;</button>

      </div>
      <div class="modal-content animated bounceInRight">

        <div class="w-section mainsection">
          <div class="w-container course-container">
            <div class="w-dyn-list">
              <div class="w-dyn-items w-row w-clearfix">
                <div class="w-dyn-item w-col w-col-6">
                  <a class="w-inline-block block block-course" href="javascript:;"
                     th:href="@{/profile/settings/}">
                    <div class="courseicon"><img
                        src="https://daks2k3a4ib2z.cloudfront.net/55e67eeba2e73cb76514f165/560da1d14be26a317dbcd89f_cms.png"/>
                    </div>
                    <div class="large-link large-link--bottomalign">Complete profile →</div>
                    <div class="course-content-wrap">
                      <h3 class="coursetitle">1. Please complete your profile</h3>
                      <div class="coursedescription">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit, esse cillum .
                      </div>
                    </div>
                  </a>
                </div>
                <div class="w-dyn-item w-col w-col-6">
                  <a class="w-inline-block block block-course" href="javascript:;"
                     th:href="@{/profile/prequalification/}">
                    <div class="courseicon"><img
                        src="https://daks2k3a4ib2z.cloudfront.net/55e67eeba2e73cb76514f165/560da1c3af1dc1285fa62ea1_components.png"/>
                    </div>
                    <div class="large-link large-link--bottomalign">Get pre - qualified →</div>
                    <div class="course-content-wrap">
                      <h3 class="coursetitle">2. Get Pre - qualified</h3>
                      <div class="coursedescription">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit .
                      </div>
                    </div>
                  </a>
                </div>
                <div class="w-dyn-item w-col w-col-6" sec:authorize="hasRole('ROLE_SELLER')">
                  <a class="w-inline-block block block-course" href="javascript:;">
                    <div class="courseicon"><img
                        src="https://daks2k3a4ib2z.cloudfront.net/55e67eeba2e73cb76514f165/560da195005c3c327db2c02b_full-site-tutorials.png"/>
                    </div>
                    <div class="large-link large-link--bottomalign">Search now →</div>
                    <div class="course-content-wrap">
                      <h3 class="coursetitle">3. Search proposal</h3>
                      <div class="coursedescription">Search for a proposal either renting or buying
                        according to your criteria.
                      </div>
                    </div>
                  </a>
                </div>
                <div class="w-dyn-item w-col w-col-6" sec:authorize="hasRole('ROLE_BUYER')">
                  <a class="w-inline-block block block-course" href="javascript:;">
                    <div class="courseicon"><img
                        src="https://daks2k3a4ib2z.cloudfront.net/55e67eeba2e73cb76514f165/560da1dc005c3c327db2c035_getting-started.png"/>
                    </div>
                    <div class="large-link large-link--bottomalign">View Course →</div>
                    <div class="course-content-wrap">
                      <h3 class="coursetitle">4. Search property</h3>
                      <div class="coursedescription">Search for a property according to your
                        criteria.
                      </div>
                    </div>
                  </a>
                </div>
                <a href="javascript:;" th:attr="data-remote=@{/profile/settings/getting_started}"
                   data-dismiss="modal" aria-hidden="true" class="js_submit_link btn btn-primary"
                   data-loading-text="Loading...">Ok got it !</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>

<script>
    var resizefunc = [];


</script>
<th:block th:replace="footer_js :: footer_js">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "footer_js.html" at runtime                                             -->
  <!-- ============================================================================ -->
</th:block>
<script src="../../../resources/js/welcome.js"
        th:src="@{/resources/js/welcome.js}" th:if="${profile.profileSetting.showGettingStarted}"
        type="text/javascript"></script>


</body>

</html>
