<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>

  <body>

<div id="wrapper">

  <header>

  </header>


  <div class="mainnav">

    <div class="container">


      <nav class="collapse mainnav-collapse" role="navigation">


      </nav>

    </div> <!-- /.container -->

  </div> <!-- /.mainnav -->

  <div class="content">

    <div class="container">

      <div class="layout layout-main-right layout-stack-sm">

        <!--div class="sidebar-secondary-admin" th:fragment="sidebar(page)"-->
        <div class="row" th:fragment="jumbotron(page)">
        <div class="col-sm-12">

                <div class="page-header-2">
                        <span class="pull-left p-t-10 m-l-15">
        <div class="btn-group" role="group">
    <a href="javascript:;" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="fa fa-cog"> </span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    <th:block sec:authorize="hasRole('ROLE_BUYER')">
      <li id="js_modalPropertyCriteria" th:classappend="${profile.profileSetting.showSearchCriteriaPropertyCompleted ? 'none' : ''}">
        <a data-toggle="modal" data-target="#con-property-modal" href="javascript:;">
          Add search property criteria</a>
      </li>
      </th:block>
      <th:block sec:authorize="hasRole('ROLE_SELLER')">
      <li id="js_modalBuyCriteria" th:classappend="${profile.profileSetting.showSearchCriteriaBuyingProposalCompleted ? 'none' : ''}"><a  data-toggle="modal" data-target="#con-buy-modal" href="javascript:;">
        Add search buying proposal criteria</a>
      </li>
      <li id="js_modalRentCriteria" th:classappend="${profile.profileSetting.showSearchCriteriaRentingProposalCompleted ? 'none' : ''}">
        <a data-toggle="modal" data-target="#con-rent-modal" href="javascript:;">
        Add search renting proposal criteria</a>
      </li>
      </th:block>
    </ul>
  </div>
        </span>
                  <ul class='center-top-menu'>
                  <th:block sec:authorize="hasRole('ROLE_BUYER')">
                    <li id="js_searchPropertyLink" th:classappend="${profile.profileSetting.showSearchCriteriaPropertyCompleted ? '' : 'none'}"><a href="#js_searchPropertyTab" aria-controls="js_searchPropertyTab" role="tab" data-toggle="tab" th:text="#{label.search(#{label.property})}">Search a property</a></li>
                  </th:block>
                  <th:block sec:authorize="hasRole('ROLE_SELLER')">
                    <li id="js_searchBuyLink" th:classappend="${profile.profileSetting.showSearchCriteriaBuyingProposalCompleted ? '' : 'none'}"><a href="#js_searchBuyTab" aria-controls="js_searchBuyTab" role="tab" data-toggle="tab" th:text="#{label.search(#{label.proposal.buying})}">Search a property</a></li>
                    <li id="js_searchRentLink" th:classappend="${profile.profileSetting.showSearchCriteriaRentingProposalCompleted ? '' : 'none'}"><a href="#js_searchRentTab" aria-controls="js_searchRentTab" role="tab" data-toggle="tab"  th:text="#{label.search(#{label.proposal.renting})}">Search a property</a></li>
                  </th:block>
                  </ul>
                                </div>
                            </div>
                        </div><!-- /.sidebar-secondary-admin -->



        <div class="col-md-9 col-sm-8 layout-main">

          <div id="settings-content" class="tab-content stacked-content">




          </div> <!-- /.tab-content -->

        </div> <!-- /.col -->

      </div> <!-- /.row -->


    </div> <!-- /.container -->

  </div> <!-- .content -->

</div> <!-- /#wrapper -->

<footer class="footer">

</footer>

</body>
</html>
