<div class="panel panel-default">

  <div class="panel-heading" style="height:50px;">
    <form method="get" class="pull-right">
      <select name="orderby" class="orderby">
        <option value="menu_order">Default sorting</option>
        <option value="date">Sort by newness</option>
        <option value="price-desc" selected="selected">Sort recently created: new to old</option>
      </select>
    </form>

  </div>

  <div class="panel-body">

    <ul class="table-list">

      <li th:each="list : ${proposalSearch}" th:id="${list.id}" class="table-list-item">

        <div class="table-list-cell issue-title">

          <a th:href="@{/profile/proposal/{id}(id=${list.id})}" class="issue-title-link" th:text="#{${'label.' + list.propertyTypeInProposal}}">
                                      condo / Appartement
                                    </a>
          <span class="label label-info m-l-5" th:text="#{${'label.' + list.proposalType}}">list.proposalType</span>
          <span class="m-l-10 label label-primary" th:text="#{${'label.InRush.' + list.rushPriority}}">rush priority</span>
          <span class="font-bold" style="display:block;font-size:13px;">
                                    <th:block th:text="${list.location.city.name + ','}">Type: </th:block>
                                  <th:block th:text="${list.location.province.name + ','}"> San Francisco,</th:block>
                                  <th:block th:text="${list.location.country.name}"> United States</th:block>
                                    </span>
          <div class="issue-meta">
            <span class="issue-meta-section opened-by">
                                      <span>
                                        Price between (<th:block th:text="${list.minimumPrice + '-' + list.maximumPrice}"> </th:block>)
                                      </span>
            <span class="m-l-15">
                                        Bedrooms (<th:block th:text="${list.bedroomsMin + '-' + list.bedroomsMax}"> </th:block>)
                                        </span>
            <span class="m-l-15">
                                        Bathrooms (<th:block th:text="${list.bathroomsMin + '-' + list.bathroomsMax}"> </th:block>)
                                      </span>
            </span>


          </div>
        </div>

        <div class="table-list-cell issue-comments">
          <span class="p-t-10">

        <div class="btn-group" role="group">
    <a href="javascript:;" type="button" class="button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Answer
      <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">

            <li>
              <!--a data-toggle="modal" th:href="@{/profile/property/all(proposal_id=${list.id})}" data-target="#con-existing-property-modal" href="javascript:;">With an existing property</a-->
              <a th:attr="data-value=${list.id},data-url=@{/profile/list-property.json}" th:class="${list.proposalType == 'proposal.buying' ? 'js_modal_buy_show' : 'js_modal_rent_show'}" href="javascript:;">With an existing property</a>
            </li>


            <li><a th:href="@{/profile/property/new(proposal_id=${list.id})}" href="javascript:;">
         With a new property</a>
            </li>

          </ul>
        </div>
        </span>
  </div>
  </li>

  </ul>
  <div class="module-section" th:unless="${not #lists.isEmpty(proposalSearch)}">

    <div class="placeholder ">
      <h3 class="placeholder-title">No Listing</h3>
      <div class="placeholder-text">No results for this search.</div>

    </div>
  </div>
</div>

</div>
