<div class="panel panel-default">

<div class="panel-heading" style="height:50px;">
                                <form method="get" class="pull-right">
                                  <select name="orderby" class="orderby">
                                    <option value="menu_order">Default sorting</option>
                                    <option value="date">Sort by newness</option>
                                    <option value="price-desc" selected="selected">Sort recently created: new to old</option>
                                  </select>
                                </form>

                              </div>
  <div id="alert_placeholder"></div>

<div class="panel-body">

<ul class="table-list">

                                <li th:each="list : ${propertySearch}" th:id="${'request_for_' + list.id}" class="table-list-item">


                                  <div class="table-list-cell table-list-cell-type">
                                    <a th:href="@{/property/{id}(id=${list.id})}" aria-label="View the property">
                                    <img th:each="propertyPhoto,status : ${list.propertyPhotos}" th:src="@{/resources/images/uploads/{upload}(upload=${propertyPhoto.thumbnailFilename})}" alt="" title="" th:if="${status.index &lt; 1}" />    
                                    </a>  
                                  </div>

                                  <div class="table-list-cell issue-title">

                                    <a th:href="@{/property/{id}(id=${list.id})}" class="issue-title-link js-navigation-open" th:text="#{${'label.' + list.propertyType}}">
                                      condo / Appartement
                                    </a>
                                    <span class="m-l-5" th:text="${list.propertyPrice}">14,000 usd</span>
                                    <span class="m-l-10 label label-primary" th:text="#{${'label.for.' + list.propertySaleType}}">on sale</span>
                                    <span style="display:block;color:#000;font-weight:600;font-size:13px;">
                                      <th:block th:text="${list.location.locationString + ','}">600 40th Ave, Richmond District, </th:block>
                                  <th:block th:text="${list.location.province.name + ','}"> San Francisco,</th:block>
                                  <th:block th:text="${list.location.locationZipCode + ','}"> 94121,</th:block>
                                  <th:block th:text="${list.location.country.name}"> United States</th:block>
                                    </span>
                                    <div class="issue-meta">
                                      <span class="issue-meta-section opened-by">
                                      <span>
                                        <th:block th:text="${list.propertyNumOfBedrooms}">
                                        </th:block><i class="fa fa-bed"></i></span>
                                      <span class="m-l-15">
                                        <th:block th:text="${list.propertyNumOfBathrooms}">
                                        </th:block><i class="fa fa-tint"></i></span>
                                      <span class="m-l-15">
                                        <th:block th:text="${list.propertySqFeet}">
                                        </th:block><i class="fa fa-arrows"></i></span>
                                      <span class="m-l-15">
                                        <th:block th:text="${list.propertyNumOfFloors}">
                                        </th:block>
                                      </span>
                                      </span>

                                      <span class="issue-meta-section css-truncate issue-milestone">
                                      </span>


                                    </div>
                                  </div>

                                          <div class="table-list-cell cell-appointement">
          <span class="p-t-10">
    <a data-toggle="modal" th:attr="data-value=${list.id}" data-target="#scheduleAppointement" href="javascript:;" type="button" class="button">
      Schedule appointement
          </a>
        </span>
  </div>
                                </li>

                                    </ul>
                                     <div class="module-section" th:unless="${not #lists.isEmpty(propertySearch)}">

<div class="placeholder ">
    <h3 class="placeholder-title">No Listing</h3>
    <div class="placeholder-text">No results for this search.</div>

</div>
                                </div>
                                    </div>

</div>