<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header_css :: header_css">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "header_css.html" at runtime.                                           -->
  <!-- ============================================================================ -->
</head>


<body class="fixed-left">

<!-- Begin page -->
<div id="wrapper">
  <header class="navbar navbar-default navbar-static-top dark-header"
          style="  left: 0px;   position: fixed;   right: 0;   top: 0px;   z-index: 999;" role="banner">
    <div th:replace="header :: header">
      <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "header.html" at runtime.                                               -->
      <!-- ============================================================================ -->
    </div>
  </header>


  <!-- ========== Left Sidebar Start ========== -->
  <div class="left side-menu" th:replace="sidebar :: sidebar(page=label.visit.online)">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "sidebar.html" at runtime.                                              -->
    <!-- ============================================================================ -->
  </div>
  <!-- Left Sidebar End -->


  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="content-page">
    <!-- Start content -->
    <div class="content">


      <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row" th:replace="profilevisit/jumbotron :: jumbotron(page=label.visit.listing)">
          <!-- ============================================================================ -->
          <!-- This content is only used for static prototyping purposes (natural templates)-->
          <!-- and is therefore entirely optional, as this markup fragment will be included -->
          <!-- from "jumbotron.html" at runtime.                                               -->
          <!-- ============================================================================ -->
        </div>
        <!-- /.col -->


        <div class="row">

          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">
                Visit
              </div>
              <div class="panel-heading" style="height:50px;">
                <div class="pull-left">
                  <span class="font-13">Filter By: </span>
                  <div class="btn-group btn-group-sm" role="tablist">
                    <a th:unless="${#lists.isEmpty(list)}" type="button" class="btn button" href="#homeHost" aria-controls="homeHost" role="tab"
                       data-toggle="tab">
                      As a host
                    </a><a th:unless="${#lists.isEmpty(listVisitor)}" type="button" class="btn button" href="#homeVisitor" aria-controls="homeVisitor" role="tab"
                           data-toggle="tab">
                    As a visitor
                  </a></div>
                </div>
              </div>
                <div class="panel-body ">
                  <div class="tab-content">
                <div role="tabpanel" id="homeHost" class="tab-pane active table-responsive"
                     th:unless="${#lists.isEmpty(list)}">
                  <table class="table table-actions-bar js-data-countdown" th:attr="data-time-now=${timeNow}">
                    <thead>
                    <tr>
                      <th>Property type</th>
                      <th>Address</th>
                      <th>Scheduled</th>
                      <th>Sale type</th>
                      <th>Price</th>
                      <th>Status</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="list : ${list}">
                      <td th:text="#{${'label.' + list.property.propertyType}}"></td>
                      <td class="address">
                        <th:block th:text="${list.property.location.locationString + ','}">600 40th Ave, Richmond
                          District,
                        </th:block>
                        <th:block th:text="${list.property.location.province.name + ','}"> San Francisco,</th:block>
                        <br/>
                        <th:block th:text="${list.property.location.locationZipCode + ','}"> 94121,</th:block>
                        <th:block th:text="${list.property.location.country.name}"> United States</th:block>
                      </td>
                      <td th:text="${{list.startDate}}" th:attr="data-countdown=${list.startDate}">08/10/2015</td>
                      <td th:text="#{${'label.for.' + list.property.propertySaleType}}">On rent</td>
                      <td th:text="${list.property.propertyPrice}">$1,256</td>
                      <td>
                        <span th:classappend="${list.status == 'accepted' ? 'label-success' : 'label-warning'}"
                              class="label" th:text="${list.status}">Deliverd</span>
                      </td>
                    </tr>

                    </tbody>
                  </table>
                </div>


                <div class="table-responsive tab-pane" role="tabpanel" id="homeVisitor"
                     th:unless="${#lists.isEmpty(listVisitor)}">
                  <table class="table table-actions-bar">
                    <thead>
                    <tr>
                      <th>Property type</th>
                      <th>Address</th>
                      <th>Scheduled</th>
                      <th>Sale type</th>
                      <th>Price</th>
                      <th>Status</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="listVisitor : ${listVisitor}">
                      <td th:text="#{${'label.' + listVisitor.property.propertyType}}"></td>
                      <td class="address">
                        <th:block th:text="${listVisitor.property.location.locationString + ','}">600 40th Ave, Richmond
                          District,
                        </th:block>
                        <th:block th:text="${listVisitor.property.location.province.name + ','}"> San Francisco,
                        </th:block>
                        <br/>
                        <th:block th:text="${listVisitor.property.location.locationZipCode + ','}"> 94121,</th:block>
                        <th:block th:text="${listVisitor.property.location.country.name}"> United States</th:block>
                      </td>
                      <td th:text="${listVisitor.startDate}" th:attr="data-countdown=${listVisitor.startDate}">
                        08/10/2015
                      </td>
                      <td th:text="#{${'label.for.' + listVisitor.property.propertySaleType}}">On rent</td>
                      <td th:text="${listVisitor.property.propertyPrice}">$1,256</td>
                      <td>
                        <span th:classappend="${listVisitor.status == 'accepted' ? 'label-success' : 'label-warning'}"
                              class="label" th:text="${listVisitor.status}">Deliverd</span>
                      </td>
                    </tr>

                    </tbody>
                  </table>
                </div>
                    </div>
                <div class="module-section" th:unless="${not #lists.isEmpty(list)}">


                  <div class="placeholder ">
                    <h3 class="placeholder-title">No Listing</h3>
                    <div class="placeholder-text">This data will become available after you schedule a visit.</div>

                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- end col -->


        </div>

      </div>
      <!-- container -->

    </div>
    <!-- content -->

    <footer class="footer">
      2015 © Ubold.
    </footer>

  </div>
  <!-- ============================================================== -->
  <!-- End Right content here -->
  <!-- ============================================================== -->


  <!-- Right Sidebar -->
  <div class="side-bar right-bar nicescroll">
    <h4 class="text-center">Chat</h4>
    <div class="contact-list nicescroll">
      <ul class="list-group contacts-list">
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-1.jpg}" alt=""/>
            </div>
            <span class="name">Chadengle</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-2.jpg}" alt=""/>
            </div>
            <span class="name">Tomaslau</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-3.jpg}" alt=""/>
            </div>
            <span class="name">Stillnotdavid</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-4.jpg}" alt=""/>
            </div>
            <span class="name">Kurafire</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-5.jpg}" alt=""/>
            </div>
            <span class="name">Shahedk</span>
            <i class="fa fa-circle away"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-6.jpg}" alt=""/>
            </div>
            <span class="name">Adhamdannaway</span>
            <i class="fa fa-circle away"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-7.jpg}" alt=""/>
            </div>
            <span class="name">Ok</span>
            <i class="fa fa-circle away"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-8.jpg}" alt=""/>
            </div>
            <span class="name">Arashasghari</span>
            <i class="fa fa-circle offline"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-9.jpg}" alt=""/>
            </div>
            <span class="name">Joshaustin</span>
            <i class="fa fa-circle offline"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-10.jpg}" alt=""/>
            </div>
            <span class="name">Sortino</span>
            <i class="fa fa-circle offline"></i>
          </a>
          <span class="clearfix"></span>
        </li>
      </ul>
    </div>
  </div>
  <!-- /Right-bar -->


</div>
<!-- END wrapper -->

<script>
    var resizefunc = [];


</script>
<th:block th:replace="footer_js :: footer_js">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "footer_js.html" at runtime                                             -->
  <!-- ============================================================================ -->
</th:block>

</body>

</html>
