<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Remote file for calendar list</title>
</head>
<body>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">New renting proposal search</h4>
    </div>
    <div class="modal-body">
        <div id="alert_placeholder"></div>
        <ul class="table-list" id="render-content" th:unless="${#lists.isEmpty(list)}">
            <li th:id="${'request_for_' + list.id}" class="table-list-item" th:each="list : ${list}">


                <div class="table-list-cell table-list-cell-type">
                    <a href="/">
                        <svg aria-hidden="true" height="16" role="img" version="1.1"
                             viewBox="0 0 14 16" width="14">
                            <path
                                d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7S10.14 13.7 7 13.7 1.3 11.14 1.3 8s2.56-5.7 5.7-5.7m0-1.3C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7S10.86 1 7 1z m1 3H6v5h2V4z m0 6H6v2h2V10z"></path>
                        </svg>
                    </a></div>

                <div class="table-list-cell issue-title">

                    <a href="javascript:;" class="issue-title-link" th:text="#{label.visit.request.datetime(${{list.startDate}})}">
                        request for visit on march 12, 2016 at 12:35s.
                    </a>
                    <div class="issue-meta">
                                      <span class="issue-meta-section">
                                        #56
                                        opened <time datetime="2016-01-12T10:13:15Z" is="relative-time">Jan 12, 2016
                                      </time> by
                                        <a href="javascript:;" class="muted-link" th:text="${list.profile2.email}">{{profile2.email}}</a>
                                      </span>


                    </div>
                </div>

                <div class="table-list-cell table-list-cell-avatar">
                    <span class="label label-warning font-13" th:text="${list.status}">{{status}}</span>
                </div>

                <div class="table-list-cell cell-appointement">
                    <div class="btn-group btn-group-sm">
                        <a type="button" class="btn button js_submit_link" th:attr="data-remote=@{/profile/visit/{id}(id=${list.id},response=accepted)}" href="javascript:;">
                            Accept
                        </a><a type="button" class="btn button js_submit_link" th:attr="data-remote=@{/profile/visit/{id}(id=${list.id},response=decline)}" href="javascript:;">
                        Decline
                    </a></div>
                </div>
            </li>

        </ul>

        <div th:classappend="${not #lists.isEmpty(list) ? 'none' : ''}" class="module-section">


            <div class="placeholder ">
                <h3 class="placeholder-title">No Listing</h3>
                <div class="placeholder-text">This data will become available after your
                    enter a property.
                </div>

                <div class="placeholder-cta">
                    <a href="javascript:;" th:href="@{/profile/property/new}"
                       class="zeta-smo button"
                       th:text="#{label.add(#{label.property})}">Browse Investments</a>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="reset" class="btn btn-default m-l-10" th:text="#{label.close}" data-dismiss="modal">Cancel</button>
    </div>

    <th:block th:replace="footer_js :: footer_js">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "footer_js.html" at runtime                                             -->
        <!-- ============================================================================ -->
    </th:block>

</body>
</html>