<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">

<th:block th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">

<head th:replace="header_css :: header_css">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "header_css.html" at runtime.                                           -->
  <!-- ============================================================================ -->
</head>

</th:block>


<body th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">

  <header class="banner navbar navbar-default navbar-static-top dark-header" role="banner" th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">
    <div class="container-fluid" th:replace="header :: header">
      <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "header_css.html" at runtime.                                           -->
      <!-- ============================================================================ -->
    </div>
  </header>

  <div class="wrap" role="document" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">

    <div class="content" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">


      <div class="inner-container" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">



        <div class="background-gray" th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">

          <div class="container container-breadcrumbs">



            <ol class="breadcrumb">
              <li><a th:href="@{/}">Home</a></li>
              <li>
              <strong th:if="${proposalType == 'proposal.renting'}" class="entry-title entry-prop" th:text="#{label.proposal.renting}">Proposal</strong>
              <strong th:if="${proposalType == 'proposal.buying'}" class="entry-title entry-prop" th:text="#{label.proposal.buying}">Proposal</strong></li>
            </ol>




          </div>
          <!-- /.container -->

        </div>
        <!-- /.mainnav -->

        <div class="container" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">


          <div class="row" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">

              <form accept-charset="UTF-8" class="form-horizontal form-without-legend" th:action="${#httpServletRequest.requestURI}" th:object="${searchForm}" method="get">
                <h3>Location</h3>
                <p>
                  <select th:field="*{country}" class="ajaxList js_form_search form-control input-sm" data-target="province" th:attr="data-url=@{/province.json}">
                    <option value="">-- Select Country --</option>
                    <option th:each="type : ${country}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                  </select>

                </p>
                <p>
                  <select th:field="*{province}" class="ajaxList js_form_search form-control input-sm" data-target="city" th:attr="data-url=@{/city.json}">
                    <option value="">-- Select Province --</option>
                    <option th:each="type : ${province}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                  </select>

                </p>
                <p>
                  <select th:field="*{city}" class="ajaxList js_form_search form-control input-sm">
                    <option value="">-- Select City --</option>
                    <option th:each="type : ${city}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                  </select>

                </p>
                <h3>Property Type</h3>
                <select th:field="*{propertyTypeInProposal}" class="js_form_search form-control input-sm">
                  <option value=""> - Select the property type- </option>
                  <option th:each="type : ${propertyTypeOfProperty}" th:value="${type}" th:text="#{${'label.' + type}}">Wireframe</option>

                </select>
                <th:block th:if="${proposalType == 'proposal.buying'}">
                <h3>Rush Priority</h3>
                <select th:field="*{rushPriority}" class="js_form_search form-control input-sm">
                  <option value="" th:text="#{label.InRush.emptyValue}"> - When would you like to get the property - </option>
                  <option th:value="0_3" th:text="#{label.InRush.0_3}"> - Within three months to come - </option>
                  <option th:value="3_6" th:text="#{label.InRush.3_6}"> - Between the next three months and six to come - </option>
                </select>
                </th:block>
                <h3>Price</h3>
                <p>
                  <div class="col-md-6">
                    <select th:field="*{minimumPrice}" class="js_form_search form-control input-sm">
                      <option value="0" selected="selected"> Min </option>
                      <option value="2500">2,500</option>
                      <option value="5000">5,000</option>
                      <option value="10000">10,000</option>
                      <option value="25000">25,000</option>
                      <option value="50000">50,000</option>
                      <option value="75000">75,000</option>
                      <option value="100000">100,000</option>
                      <option value="125000">125,000</option>
                      <option value="150000">150,000</option>
                      <option value="200000">200,000</option>
                      <option value="250000">250,000</option>
                      <option value="300000">300,000</option>
                      <option value="350000">350,000</option>
                      <option value="400000">400,000</option>
                      <option value="450000">450,000</option>
                      <option value="500000">500,000</option>
                      <option value="550000">550,000</option>
                      <option value="600000">600,000</option>
                      <option value="750000">750,000</option>
                      <option value="1000000">1,000,000</option>
                      <option value="2000000">2,000,000</option>
                      <option value="3000000">3,000,000</option>
                      <option value="4000000">4,000,000</option>
                      <option value="5000000">5,000,000</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <select th:field="*{maximumPrice}" class="js_form_search form-control input-sm">
                      <option value="0" selected="selected"> Max </option>
                      <option value="2500">2,500</option>
                      <option value="5000">5,000</option>
                      <option value="10000">10,000</option>
                      <option value="25000">25,000</option>
                      <option value="50000">50,000</option>
                      <option value="75000">75,000</option>
                      <option value="100000">100,000</option>
                      <option value="125000">125,000</option>
                      <option value="150000">150,000</option>
                      <option value="200000">200,000</option>
                      <option value="250000">250,000</option>
                      <option value="300000">300,000</option>
                      <option value="350000">350,000</option>
                      <option value="400000">400,000</option>
                      <option value="450000">450,000</option>
                      <option value="500000">500,000</option>
                      <option value="550000">550,000</option>
                      <option value="600000">600,000</option>
                      <option value="750000">750,000</option>
                      <option value="1000000">1,000,000</option>
                      <option value="2000000">2,000,000</option>
                      <option value="3000000">3,000,000</option>
                      <option value="4000000">4,000,000</option>
                      <option value="5000000">5,000,000</option>
                    </select>
                  </div>
                </p>
                <br />
                <h3 th:if="${proposalType == 'proposal.renting'}">Features</h3>
                <p th:if="${proposalType == 'proposal.renting'}">
                  <label for="bedrooms">Bedrooms:</label>
                  <div class="col-md-6">
                  <select th:field="*{bedroomsMin}" class="js_form_search form-control input-sm">
                    <option value="0">Min</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5+</option>
                  </select>
                  </div>
                  <div class="col-md-6">
                    <select th:field="*{bedroomsMax}" class="js_form_search form-control input-sm">
                    <option value="0">Max</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5+</option>
                  </select>
                  </div>
                </p>
                <p th:if="${proposalType == 'proposal.renting'}">
                  <label for="bathrooms">Bathrooms:</label>
                  <div class="col-md-6">
                  <select th:field="*{bathroomsMin}" class="js_form_search form-control input-sm">
                    <option value="0">Min</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5+</option>
                  </select>
                  </div>
                  <div class="col-md-6">
                    <select th:field="*{bathroomsMax}" class="js_form_search form-control input-sm">
                    <option value="0">Max</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5+</option>
                  </select>
                  </div>
                </p>
              </form>

            </div>

            <!-- end sidebar -->

            <!-- begin sidebar -->
            <div class="clearfix visible-xs" th:if="${#httpServletRequest.getParameter('rel') != 'tab'}"></div>


            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">
                        <th:block th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">
              <h1 th:if="${proposalType == 'rent'}" class="entry-title entry-prop" th:text="#{label.proposal.renting}">Proposal</h1>
              <h1 th:if="${proposalType == 'buy'}" class="entry-title entry-prop" th:text="#{label.proposal.buying}">Proposal</h1>
              </th:block>
              <!--div class="row" th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">
                <div class="pull-right">
                  Showing 1&ndash;6 of 7 results
                  <br />
                  <form method="get">
                    <select name="orderby" class="orderby">
                      <option value="menu_order">Default sorting</option>
                      <option value="popularity">Sort by popularity</option>
                      <option value="rating">Sort by average rating</option>
                      <option value="date">Sort by newness</option>
                      <option value="price">Sort by price: low to high</option>
                      <option value="price-desc" selected="selected">Sort by price: high to low</option>
                    </select>
                    <input type="hidden" name="min_price" value="15" />
                    <input type="hidden" name="max_price" value="20" />
                  </form>
                </div>

              </div-->
              <div class="js_return_list" style="padding-top:20px;" th:remove="${#httpServletRequest.getParameter('rel') == 'tab'}? tag">
                
                                <div class="module-section" th:unless="${not #lists.isEmpty(page.content)}">
<div class="placeholder ">
    <h3 class="placeholder-title">No Listing</h3>
    <div class="placeholder-text">This data is not available.</div>
</div>
                                </div>

                <a href="javascript:;" th:href="@{/proposal/{id}(id=${list.id})}" th:each="list : ${page.content}" class="col-lg-4 m-b-20">

                  <div class="module mb-0-md square-top bt-0">

                    <div class="module-section text-align-center">


                      <div class="title">
              <div class="text-blue text-overflow-ellipsis h6 mb-5" th:text="#{${'label.' + list.propertyTypeInProposal}}">House</div>
              <div class="mb-15 muted"><th:block th:text="${list.location.country.name + ', '}">Montreal,</th:block>
                      <th:block th:text="${#strings.abbreviate(list.location.province.name,14)}">
                        list.location.province.name
                      </th:block></div>
            </div>
            <div class="rate">
              <div class="col-6 block-align-center bb mb-15"></div>
  

              <div th:text="#{${'label.' + list.proposalType}}" class="mb-20 letter-spacing-out-1 extra-small muted font-weight-bold text-transform-uppercase">Renting proposal</div>
            </div>


                    </div>

                    <div class="module-section">
                      <div class="clearfix bb bdotted pb-5 line-height-125">
                        <div class="float-left muted">Bedrooms</div>
                        <div class="float-right font-weight-bold" th:text="${list.bedroomsMin}">
                          472
                        </div>
                      </div>
                      <div class="clearfix bb bdotted pt-5 pb-5 line-height-125">
                        <div class="float-left muted">Bathrooms</div>
                        <div class="float-right font-weight-bold" th:text="${list.bathroomsMin}">
                          $700 million
                        </div>
                      </div>
                      <div class="clearfix pt-5 line-height-125">
                        <div class="float-left muted">Developed</div>
                        <div class="float-right font-weight-bold">
                          5,000,000 sq. ft.
                        </div>
                      </div>
                    </div>
                  </div>
                </a>




                <!-- Pagination Bar -->
                <div class="text-centered" th:if="${page.totalPages &gt; 1}">
                  <div class="pagination pagination-centered btn-group">

                    <span th:classappend="${page.firstPage}? 'disabled' : ''" class="btn btn-white" th:if="${page.firstPage}">← First</span>
                    <a class="btn btn-white" th:if="${not page.firstPage}" th:href="@{${page.url}(page=1)}">← First</a>

                    <span class="btn btn-white" th:if="${not page.hasPreviousPage}">«</span>
                    <a th:classappend="${page.hasPreviousPage}? '' : 'disabled'" class="btn btn-white" th:if="${page.hasPreviousPage}" th:href="@{${page.url}(page=${page.number-1})}" title="Go to previous page">«</a>

                    <th:block th:each="item : ${page.items}">
                      <span th:classappend="${item.current}? 'active' : ''" class="btn btn-white" th:if="${item.current}" th:text="${item.number}">1</span>
                      <a class="btn btn-white" th:if="${not item.current}" th:href="@{${page.url}(page=${item.number})}"><span th:text="${item.number}">1</span></a>
                    </th:block>

                    <span class="btn btn-white" th:if="${not page.hasNextPage}">»</span>
                    <a class="btn btn-white" th:classappend="${page.hasNextPage}? '' : 'disabled'" th:if="${page.hasNextPage}" th:href="@{${page.url}(page=${page.number+1})}" title="Go to next page">»</a>

                    <span class="btn btn-white" th:classappend="${page.lastPage}? 'disabled' : ''" th:if="${page.lastPage}">Last →</span>
                    <a class="btn btn-white" th:if="${not page.lastPage}" th:href="@{${page.url}(page=${page.totalPages})}">Last →</a>


                  </div>
                </div>
                <!-- end Pagination Bar -->

              </div>
              <!-- end single content -->


            </div>

            <!-- end sidebar -->
          </div>

        </div>
        <!-- end content_wrapper started in header -->

      </div>
      <!-- /.inner-container -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.wrap -->

  <th:block th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">
  <th:block th:replace="footer :: footer">
  <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "footer.html" at runtime                                             -->
    <!-- ============================================================================ -->
  </th:block>
  </th:block>

  <script th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">
    var resizefunc = [];
  </script>
  <th:block th:if="${#httpServletRequest.getParameter('rel') != 'tab'}">
    <th:block th:replace="footer_js :: footer_js">
      <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "footer_js.html" at runtime                                             -->
      <!-- ============================================================================ -->
    </th:block>
  </th:block>



</body>

</html>
