<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header_css :: header_css">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "header_css.html" at runtime.                                           -->
  <!-- ============================================================================ -->
</head>

  <body>

    <header class="banner navbar navbar-default navbar-static-top dark-header" role="banner">
      <div class="container-fluid" th:replace="header :: header">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "header_css.html" at runtime.                                           -->
        <!-- ============================================================================ -->
      </div>
    </header>
    <div class="wrap" role="document">

      <div class="content">


        <div class="inner-container">

          <div class="background-gray">

            <div class="container container-breadcrumbs">

              <ol class="breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <li>
              <strong th:if="${proposal.proposalType == 'proposal.renting'}" class="entry-title entry-prop" th:text="#{label.proposal.renting}">Proposal</strong>
              <strong th:if="${proposal.proposalType == 'proposal.buying'}" class="entry-title entry-prop" th:text="#{label.proposal.buying}">Proposal</strong></li>
              </ol>

            </div>
            <!-- /.container -->

          </div>
          <!-- /.mainnav -->



          <div class="container">


<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

          <ul class="nav nav-layout-sidebar nav-stacked">
              <li class="active">
              <a th:href="@{/__${proposalType == 'proposal.renting' ? 'rent' : 'buy'}__/}">
              <i class="fa fa-angle-right"></i>
              &nbsp;&nbsp;<span th:text="#{${'label.' + proposal.proposalType}}">Property for rent</span>
              </a>
            </li>

            <li>
              <a th:href="@{/__${proposalType == 'proposal.renting' ? 'rent' : 'buy'}__/(country=${proposal.location.country.id},province=${proposal.location.province.id})}">
              <i class="fa fa-angle-right"></i>
              &nbsp;&nbsp;<span><th:block th:text="#{${'label.' + proposal.proposalType}}">Property</th:block> in Ontario</span>
              </a>
            </li>

            <li>
              <a th:href="@{/__${proposalType == 'proposal.renting' ? 'rent' : 'buy'}__/(country=${proposal.location.country.id},province=${proposal.location.province.id},city=${proposal.location.city.id})}">
              <i class="fa fa-angle-right"></i>
              &nbsp;&nbsp;<span><th:block th:text="#{${'label.' + proposal.proposalType}}">Property</th:block> <th:block th:text="${proposal.location.city.name}">in Arnprior</th:block></span>
              </a>
            </li>
          </ul>

    </div>

<!-- end sidebar -->

<!-- begin sidebar -->
<div class="clearfix visible-xs"></div>

   <!--div class=" col-md-9 col-md-push-3 rightmargin "-->
   <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 content-main layout-main">




        <h1 class="entry-title entry-prop" th:text="#{${'label.' + proposal.proposalType}}">Family House In Hudson</h1>   
        <span class="label label-success" th:if="${proposal.rushPriority != null}" th:text="#{${'label.InRush.' + proposal.rushPriority}}"></span>
        <span class="price_area" th:text="${proposal.maximumPrice}">USD 1,000,000 </span>
        <span class="price_label">USD</span>
        <div class="single-content listing-content">





        <div class="notice_area">
            <div class="property_categs">
                <a href="#" rel="tag" th:text="#{${'label.' + proposal.propertyTypeInProposal}}">Houses</a> in <a href="#" rel="tag" th:text="#{${'label.' + proposal.proposalType}}">Sales</a>
            </div>
            <span class="adres_area"><a href="#" rel="tag" th:text="${proposal.location.province.name}">Jersey City</a>, <a href="#" rel="tag" th:text="${proposal.location.city.name}">Bayonne</a></span>

           <div id="add_favorites" class="pull-right">add to favorites</div>



            <div class="prop_social pull-right">
                  <a href="#" target="_blank" class="share_facebook"><i class="fa fa-facebook fa-2"></i></a>

                <a href="#" class="share_tweet" target="_blank"><i class="fa fa-twitter fa-2"></i></a>
                <a href="#" target="_blank" class="share_google"><i class="fa fa-google-plus fa-2"></i></a>
                <a href="#" target="_blank" class="share_pinterest"> <i class="fa fa-pinterest fa-2"></i> </a><i class="fa fa-print" id="print_page" data-propid="72"></i>
            </div>
        </div>







        <!--p>Beautiful, updated, ground level Co-op apartment in the desirable Bay Terrace neighborhood. This home features hardwood floors throughout, brand new bathrooms, newer EIK, modern front-load washer/dryer, full dining room, large living area, 3 spacious bedrooms and plenty of storage. Master bedroom includes both a standard closet and custom closet wall unit. Large windows face many directions for tons of natural light.</p>
<p>Just steps away from QM2 express bus to Manhattan and local buses; only minutes from the LIRR. Walking distance to the Bay Terrace Shopping Center, Baybridge Commons Shopping Center, pool clubs, movie theaters and tennis courts. 1.5 blocks away from elementary school PS 169 and Bell Academy middle school in the award-winning District 25. Donâ??t miss this opportunity!</p-->
<!--div class="download_docs">Documents</div><div class="document_down"><a href="http://wpresidence.net/wp-content/uploads/2014/05/Energetic-Certificate-PDF12.pdf" target="_blank">Energetic Certificate PDF<i class="fa fa-download"></i></a></div><div class="document_down"><a href="http://wpresidence.net/wp-content/uploads/2014/05/Another-PDF-Sample12.pdf" target="_blank">Another PDF Sample<i class="fa fa-download"></i></a></div-->

    <div class="panel panel-default">
       <div class="panel-heading">
             <h4 class="panel-title">
             Address             </h4>
       </div>
         <div class="panel-body">

         <div class="listing_detail col-md-4"><strong>City:</strong> <a href="#" rel="tag" th:text="${proposal.location.city.name}">Jersey City</a></div><div class="listing_detail col-md-4"><strong>State:</strong> <a href="#" rel="tag" th:text="${proposal.location.province.name}">New Jersey</a></div><div class="listing_detail col-md-4"><strong>Country:</strong> <th:block th:text="${proposal.location.country.name}">United States</th:block></div>         </div>
    </div>



    <div class="panel panel-default">
        <div class="panel-heading">
             <h4 class="panel-title" id="prop_det">Details   </h4>        </div>
          <div class="panel-body">
            <div class="listing_detail col-md-4"><strong>Proposal Id :</strong>
            <th:block th:text="${proposal.id}">72</th:block>
          </div>
          <div class="listing_detail col-md-4" th:if="${proposal.minimumPrice != null}">
          <strong>Price min:</strong> <th:block th:text="${proposal.minimumPrice}">USD 1,000,000 </th:block>
          </div>

          <div class="listing_detail col-md-4" th:if="${proposal.maximumPrice != null}">
          <strong>Price max:</strong> <th:block th:text="${proposal.maximumPrice}">USD 1,000,000 </th:block> <span class="price_label">USD</span>
          </div>

          <div class="listing_detail col-md-4" th:if="${proposal.ageOfProperty != null}">
          <strong>Age of property:</strong> <th:block th:text="${proposal.ageOfProperty}">5,600 ft </th:block>
          </div>

          <div class="listing_detail col-md-4" th:if="${proposal.bedroomsMax != null}">
          <strong>Bedrooms max:</strong> <th:block th:text="${proposal.bedroomsMax}">9 </th:block>
          </div>

          <div class="listing_detail col-md-4" th:if="${proposal.bedroomsMin != null}">
          <strong>Bedrooms min:</strong> <th:block th:text="${proposal.bedroomsMin}">9 </th:block>
          </div>

          <div class="listing_detail col-md-4" th:if="${proposal.bathroomsMax != null}">
          <strong>Bathrooms max:</strong> <th:block th:text="${proposal.bathroomsMax}">5</th:block>
          </div>

          <div class="listing_detail col-md-4" th:if="${proposal.bathroomsMin != null}">
          <strong>Bathrooms min:</strong> <th:block th:text="${proposal.bathroomsMin}">5</th:block>
          </div>

          <div class="listing_detail col-md-4" th:if="${proposal.carShelter != null}">
          <strong>Car shelter:</strong> <th:block th:text="${proposal.carShelter}">5</th:block>
          </div>

          <div class="listing_detail col-md-4" th:if="${proposal.constructionOfProperty != null}">
          <strong>Construction of property:</strong> <th:block th:text="${proposal.constructionOfProperty}">5</th:block>
          </div>

          <div class="listing_detail col-md-4" th:if="${proposal.furnished != null}">
          <strong>Furnished:</strong> <th:block th:text="${proposal.furnished}">5</th:block>
          </div>

          <div class="listing_detail col-md-4" th:if="${proposal.garage != null}">
          <strong>Garage:</strong> <th:block th:text="${proposal.garage}">5</th:block>
          </div>

          <div class="listing_detail col-md-4" th:if="${proposal.masterBedroomWithBathroom != null}">
          <strong>Master bedroom with Bathroom:</strong> <th:block th:text="${proposal.masterBedroomWithBathroom}">5</th:block>
          </div>

          <div class="listing_detail col-md-4" th:if="${proposal.parking != null}">
          <strong>Parking:</strong> <th:block th:text="${proposal.parking}">5</th:block>
          </div>

          <div class="listing_detail col-md-4" th:if="${proposal.privateEntry != null}">
          <strong>Private entry:</strong> <th:block th:text="${proposal.privateEntry}">5</th:block>
          </div>

          <div class="listing_detail col-md-4" th:if="${proposal.securityFacilities != null}">
          <strong>Security facilities:</strong> <th:block th:text="${proposal.securityFacilities}">5</th:block>
          </div>

          <div class="listing_detail col-md-4" th:if="${proposal.unhinderedAccess != null}">
          <strong>Unhindered access:</strong> <th:block th:text="${proposal.unhinderedAccess}">5</th:block>
          </div>
        </div>
    </div>


<!-- Features and Ammenties -->

    <div th:if="${proposal.features != null}" class="panel panel-default">
        <div class="panel-heading">
              <h4 class="panel-title" id="prop_ame">Features</h4>     
        </div>
          <div class="panel-body">
            <th:block th:each="features  : ${#strings.listSplit(proposal.features, ',')}">
              <div class="listing_detail col-md-4"><i class="fa fa-check"></i><span th:text="#{${'label.' + features}}">attic</span></div>
            </th:block>
          </div>
    </div>

<!-- END Features and Ammenties -->

<!-- ground -->
    <div th:if="${proposal.ground != null}" class="panel panel-default">
        <div class="panel-heading">
          
              <h4 class="panel-title" id="prop_ame">Ground</h4>         
        </div>
          <div class="panel-body">
            <th:block th:each="ground  : ${#strings.listSplit(proposal.ground, ',')}">
              <div class="listing_detail col-md-4"><i class="fa fa-check"></i><span th:text="${ground}">attic</span></div>
            </th:block>
          </div>
    </div>
<!-- END ground -->

<!-- type_of_accommodation -->
    <div th:if="${proposal.typeOfAccommodation != null}" class="panel panel-default">
        <div class="panel-heading">
              <h4 class="panel-title" id="prop_ame">Type of accommodation</h4>
        </div>
          <div class="panel-body">
            <th:block th:each="typeOfAccommodation  : ${#strings.listSplit(proposal.typeOfAccommodation, ',')}">
              <div class="listing_detail col-md-4"><i class="fa fa-check"></i><span th:text="${typeOfAccommodation}">attic</span></div>
            </th:block>
          </div>
    </div>
<!-- END type_of_accommodation -->

<!-- type_of_exterior_siding -->
    <div th:if="${proposal.typeOfExteriorSiding != null}" class="panel panel-default">
        <div class="panel-heading">
 
              <h4 class="panel-title" id="prop_ame">type of exterior siding</h4>         
        </div>
          <div class="panel-body">
            <th:block th:each="typeOfExteriorSiding  : ${#strings.listSplit(proposal.typeOfExteriorSiding, ',')}">
              <div class="listing_detail col-md-4"><i class="fa fa-check"></i><span th:text="${typeOfExteriorSiding}">attic</span></div>
            </th:block>
          </div>
    </div>
<!-- END type_of_accommodation -->


<!-- windows_siding -->
    <div th:if="${proposal.windowsSiding != null}" class="panel panel-default">
        <div class="panel-heading">
              <h4 class="panel-title" id="prop_ame">water</h4> 
        </div>
          <div class="panel-body">
            <th:block th:each="windowsSiding  : ${#strings.listSplit(proposal.windowsSiding, ',')}">
              <div class="listing_detail col-md-4"><i class="fa fa-check"></i><span th:text="${windowsSiding}">attic</span></div>
            </th:block>
          </div>
    </div>
<!-- END windows_siding -->


<!-- water -->
    <div th:if="${proposal.water != null}" class="panel panel-default">
        <div class="panel-heading">
              <h4 class="panel-title" id="prop_ame">water</h4>   
        </div>
          <div class="panel-body">
            <th:block th:each="water  : ${#strings.listSplit(proposal.water, ',')}">
              <div class="listing_detail col-md-4"><i class="fa fa-check"></i><span th:text="${water}">attic</span></div>
            </th:block>
          </div>
    </div>
<!-- END water -->

<!-- windows construction -->
    <div th:if="${proposal.windowsConstruction != null}" class="panel panel-default">
        <div class="panel-heading">

              <h4 class="panel-title" id="prop_ame">windows construction</h4>     
        </div>
          <div class="panel-body">
            <th:block th:each="windowsConstruction  : ${#strings.listSplit(proposal.windowsConstruction, ',')}">
              <div class="listing_detail col-md-4"><i class="fa fa-check"></i><span th:text="${windowsConstruction}">attic</span></div>
            </th:block>
          </div>
    </div>
<!-- END windows construction -->


<!-- sewer -->
    <div th:if="${proposal.sewer != null}" class="panel panel-default">
        <div class="panel-heading">
              <h4 class="panel-title" id="prop_ame">Sewer</h4>     
        </div>
          <div class="panel-body">
            <th:block th:each="sewer  : ${#strings.listSplit(proposal.sewer, ',')}">
              <div class="listing_detail col-md-4"><i class="fa fa-check"></i><span th:text="${sewer}">attic</span></div>
            </th:block>
          </div>
</div>
<!-- END sewer -->








        </div><!-- end single content -->
    </div><!-- end 9col container-->


</div>

</div><!-- end content_wrapper started in header -->

</div> <!-- /#wrapper -->
</div>
</div>

<th:block th:replace="footer :: footer">
  <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "footer.html" at runtime                                             -->
    <!-- ============================================================================ -->
  </th:block>
<script>
  var resizefunc = [];
</script>
<th:block th:replace="footer_js :: footer_js">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "footer_js.html" at runtime                                             -->
  <!-- ============================================================================ -->
</th:block>

</body>
</html>
