 <ul class="propList">
  <li th:each="list : ${list}">
    <a href="javascript:;" th:href="@{/proposal/{id}(id=${list.id})}">
      <div class="info text-nowrap">
        <div class="name" th:text="#{${list.propertyTypeInProposal}}">Modern Residence</div>
        <div class="address">
          <th:block th:text="${list.location.city.name + ', '}"> Francisco,</th:block>
          <th:block th:text="${list.location.province.name + ', '}"> San Francisco,</th:block>
          <th:block th="${list.location.country.name}">United States</th:block>
        </div>
        <div class="price">
          <th:block th:text="${'$23,234'}">$23,234</th:block> <span class="badge" th:text="#{${list.proposalType}}">For Sale</span> <span class="badge" th:text="${list.rushPriority}">For Sale</span> <span class="badge" th:text="#{${list.proposalType}}">For Sale</span></div>
      </div>
      <div class="clearfix"></div>
    </a>
  </li>
</ul>