<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header_css :: header_css">
 <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "header_css.html" at runtime.                                           -->
  <!-- ============================================================================ -->
</head>


    <body class="fixed-left">

        <!--div class="animationload">
            <div class="loader"></div>
        </div-->

    <!-- Begin page -->
    <div id="wrapper">
    <header class="navbar navbar-default navbar-static-top dark-header topbar" role="banner">
    <div th:replace="header :: header">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "header.html" at runtime.                                               -->
    <!-- ============================================================================ -->
    </div>
    </header>




    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu" th:replace="sidebar :: sidebar(page=label.prequalification)">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "sidebar.html" at runtime.                                              -->
    <!-- ============================================================================ -->
    </div>
    <!-- Left Sidebar End -->

      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="content-page">
        <!-- Start content -->
        <div class="content">
          <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row" th:replace="profileprequalification/jumbotron :: jumbotron(label.prequalification)">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "jumbotron.html" at runtime.                                               -->
        <!-- ============================================================================ -->
        </div> <!-- /.col -->





            <div class="row">
              <div class="col-sm-12">
                <div class="panel panel-default">
                  <div class="panel-heading font-bold">
                  Prequalification
                </div>
                  <div class="panel-body">

                        <form accept-charset="UTF-8" th:action="@{/profile/prequalification}" th:object="${budget}" th:id="'ejb_Form'" method="post" class="form-horizontal ejb_eb" role="form">
                          <!-- BEGIN STEPS -->
                            <div class="form-group">
                            
                              <!--div id="breadcrumbs">
                                <p>
                                  <a class="current-page" href="javascript:;">Borrowing capacity</a>
                                  <a class="current-page" href="javascript:;">Budgetary capacity</a>
                                  <span class="current-page">Budget verification</span>
                                </p>
                              </div-->
                            </div><!-- #breadcrumbs -->
                  <!-- END STEPS -->
                                    <!-- Fieldsets -->
                                    <div class="fieldsets">
                                    <fieldset class="current">
                                      <h3>My location</h3>
                                      <div class="form-group">
                                      <div class="col-sm-4">
                                        <select id="country" th:field="*{country}" class="ajaxList form-control required" data-target="province" th:attr="data-url=@{/province.json}">
                                          <option value="" th:text="#{label.country}">-- Select Country --</option>
                                          <option th:each="type : ${country}"
                                            th:value="${type.id}"
                                            th:text="${type.name}">Wireframe</option>
                                        </select>
                                        <span class="text-danger"></span>
                                      </div>

                                      <div class="col-sm-4">
                                        <select id="province" th:field="*{province}" class="ajaxList form-control" data-target="city" th:attr="data-url=@{/city.json}">
                                          <option value="" th:text="#{label.province}">-- Select Province --</option>
                                          <option th:each="type : ${province}"
                                            th:value="${type.id}"
                                            th:text="${type.name}">Wireframe</option>
                                        </select>
                                        <span class="text-danger"></span>
                                      </div>

                                      <div class="col-sm-4">
                                        <select id="city" th:field="*{city}" class="form-control">
                                          <option value="" th:text="#{label.city}">-- Select City --</option>
                                          <option th:each="type : ${city}"
                                            th:value="${type.id}"
                                            th:text="${type.name}">Wireframe</option>
                                        </select>
                                        <span class="text-danger"></span>
                                      </div>
                                      </div>

                                      <div class="form-group">
                                      <label class="col-sm-4 control-label">Scenario:</label>
                                      <div class="col-sm-7">
                                        <label class="radio-inline">
                                          <input id="gender1" type="radio" value="F" checked="checked"/> Individual property
                                        </label>
                                        <label class="radio-inline">
                                          <input id="gender2" type="radio" value="M"/> Condo
                                        </label>
                                      </div>

                                      <div class="col-sm-1">
                                        <a class="fa fa-question-circle" href="javascript:;"></a>
                                      </div>
                                    </div>

                                          <hr />

                                    <h3>Annual income</h3>
                                    <div class="form-group">
                                      <label for="incomeApplicant" class="col-sm-4 control-label">Income of applicant *:</label>
                                      <div class="col-sm-7">
                                        <input type="text" th:field="*{incomeApplicant}" id="incomeApplicant" data-cell="A1" data-format="0,0[.]00" value="120000" class="required form-control" placeholder="income applicant" />
                                      </div>
                                      <div class="col-sm-1">
                                        <a class="fa fa-question-circle" href="javascript:;" data-toggle="tooltip" title="Tooltip on top"></a>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="incomeCoApplicant" class="col-sm-4 control-label">Income of co-applicant:</label>
                                      <div class="col-sm-7">
                                        <input type="text" th:field="*{incomeCoApplicant}" id="incomeCoApplicant" data-cell="A2" data-format="0,0[.]00" class="form-control" placeholder="incomeCoApplicant" />
                                      </div>
                                      <div class="col-sm-1">
                                        <a class="fa fa-question-circle" href="javascript:;" data-toggle="tooltip" title="Tooltip on top"></a>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="incomeOthers" class="col-sm-4 control-label">Others sources of income:</label>
                                      <div class="col-sm-7">
                                        <input type="text" th:field="*{incomeOthers}" id="incomeOthers" data-cell="A3" data-format="0,0[.]00" class="form-control" placeholder="incomeOthers" />
                                      </div>
                                      <div class="col-sm-1">
                                        <a class="fa fa-question-circle" href="javascript:;" data-toggle="tooltip" title="Tooltip on top"></a>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="totalIncome" class="col-sm-4 control-label">Total of income:</label>
                                      <div class="col-sm-7">
                                        <div id="totalIncome" class="form-control well well-sm" data-cell="AT1" data-format="0,0[.]00" data-formula="SUM(A1:A3)">
                                           </div>
                                        <input type="hidden" name="totalIncome" data-formula="AT1" data-cell="H1" />
                                      </div>
                                      <div class="col-sm-1">
                                        <a class="fa fa-question-circle" href="javascript:;" data-toggle="tooltip" title="Tooltip on top"></a>
                                      </div>
                                    </div>
                                    <hr />
                                    <h3 id="debts">Monthly debts</h3>
                                    <div class="form-group">
                                      <label for="debtsCreditCard" class="col-sm-4 control-label">Credit card *:</label>
                                      <div class="col-sm-7">
                                        <input type="text" th:field="*{debtsCreditCard}" id="debtsCreditCard" data-cell="A4" data-format="0,0[.]00" value="100" class="required form-control" placeholder="Credit card" />
                                      </div>
                                      <div class="col-sm-1">
                                        <a class="fa fa-question-circle" href="javascript:;" data-toggle="tooltip" title="Tooltip on top"></a>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="debtsCarLoans" class="col-sm-4 control-label">Car loans *:</label>
                                      <div class="col-sm-7">
                                        <input type="text" th:field="*{debtsCarLoans}" id="debtsCarLoans" data-cell="A5" data-format="0,0[.]00" value="100" class="required form-control" placeholder="Car loans" />
                                      </div>
                                      <div class="col-sm-1">
                                        <a class="fa fa-question-circle" href="javascript:;" data-toggle="tooltip" title="Tooltip on top"></a>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="debtsOtherExpenses" class="col-sm-4 control-label">Other expenses *:</label>
                                      <div class="col-sm-7">
                                        <input type="text" th:field="*{debtsOtherExpenses}" id="debtsOtherExpenses" data-cell="A6" data-format="0,0[.]00" value="100" class="required form-control" placeholder="Other expenses" />
                                      </div>
                                      <div class="col-sm-1">
                                        <a class="fa fa-question-circle" href="javascript:;" data-toggle="tooltip" title="Tooltip on top"></a>
                                      </div>
                                    </div>
                                    <hr />
                                    <h3>Monthly occupancy fee</h3>
                                    <div class="form-group">
                                      <label for="feePropertyTax" class="col-sm-4 control-label">Property Tax *(par defaut):</label>
                                      <div class="col-sm-7">
                                        <input type="text" th:field="*{feePropertyTax}" id="feePropertyTax" data-cell="A7" data-format="0,0[.]00" value="100" class="required form-control" placeholder="Property Tax *:" />
                                      </div>
                                      <div class="col-sm-1">
                                        <a class="fa fa-question-circle" href="javascript:;" data-toggle="tooltip" title="Tooltip on top"></a>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="feeCondo" class="col-sm-4 control-label">Condo fees:</label>
                                      <div class="col-sm-7">
                                        <input type="text" th:field="*{feeCondo}" id="feeCondo"  data-cell="A8" data-format="0,0[.]00" class="form-control" placeholder="Condo fees" />
                                      </div>
                                      <div class="col-sm-1">
                                        <a class="fa fa-question-circle" href="javascript:;" data-toggle="tooltip" title="Tooltip on top"></a>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="feeHeatingCosts" class="col-sm-4 control-label">Heating costs *:</label>
                                      <div class="col-sm-7">
                                        <input type="text" th:field="*{feeHeatingCosts}" id="feeHeatingCosts" data-cell="A9" data-format="0,0[.]00" value="100" class="required form-control" placeholder="Heating costs"/>
                                      </div>
                                      <div class="col-sm-1">
                                        <a class="fa fa-question-circle" href="javascript:;" data-toggle="tooltip" title="Tooltip on top"></a>
                                      </div>
                                    </div>
                                    <!--input class="next_btn" name="next" type="button" value="Next" /-->
                                    </fieldset>
                                    <fieldset class="none">

                                      <div class="sf_columns column_2">
                                          Maximum borrowing capacity:
                                      </div>
                                      <div class="sf_columns column_4">
                                          <span data-cell="B1" data-format="0,0[.]00" data-formula="IF(1>0 , maximum_borrowing_capacity_var, MAXIMUMBORROWINGCAPACITY(B5))"> </span>
                                          <input type="hidden" name="maximumBorrowingCapacity" data-formula="B1" data-cell="H3" />
                                      </div>


                                      <div class="sf_columns column_2">
                                          Down payment:
                                      </div>
                                      <div class="sf_columns column_4">
                                          <span data-cell="B2" data-format="0,0[.]00" data-formula="20*B1/100"> </span>
                                          <input type="hidden" name="downPayment" data-formula="B2" data-cell="H4" />

                                      </div>


                                      <div class="sf_columns column_2">
                                          Percentage:
                                      </div>
                                      <div class="sf_columns column_4">
                                          <span data-cell="B3" data-format="0,0[.]00" data-formula=""> </span>
                                      </div>


                                      <div class="sf_columns column_2">
                                          Mortgage insurance from SCHL*:
                                      </div>
                                      <div class="sf_columns column_4">
                                          <span data-cell="B4" data-format="0,0[.]00" data-formula=""> </span>
                                      </div>


                                      <div class="sf_columns column_2">
                                          Total Mortgage:
                                      </div>
                                      <div class="sf_columns column_4">
                                          <span data-cell="T2" data-format="0,0[.]00" data-formula="B1 - B2"> </span>
                                          <input type="hidden" name="totalOfMortgage" data-formula="T2" data-cell="H5" />
                                      </div>

                                   <hr />

                                      <div class="sf_columns column_2">
                                          Depreciation period:
                                      </div>
                                      <div class="sf_columns column_4">
                                          <label class="sf-select">
                                              <select name="depreciationPeriod" id="depreciationPeriod" data-cell="B5">
                                                  <option value="" >Select depreciation period...</option>
                                                  <option value="5">5 Years</option>
                                                  <option value="10">10 Years</option>
                                                  <option value="15">15 Years</option>
                                                  <option value="20">20 Years</option>
                                                  <option value="25" selected="selected">25 Years</option>
                                              </select>
                                              <span></span>
                                          </label>
                                      </div>


                                      <div class="sf_columns column_2">
                                          Rate mortgage:
                                      </div>
                                      <div class="sf_columns column_4">
                                          <span data-cell="B6" data-format="0,0[.]00" data-formula=""> </span>
                                      </div>


                                      <div class="sf_columns column_2">
                                          Type of mortgage:
                                      </div>
                                      <div class="sf_columns column_4">
                                          <span data-cell="B7" data-format="0,0[.]00" data-formula=""> </span>
                                      </div>


                                      <div class="sf_columns column_2">
                                          Mortgage Loan:
                                      </div>
                                      <div class="sf_columns column_4">
                                          <span data-cell="B8" id="mortgageLoanMonthly" data-format="0,0[.]00" > </span>
                                      </div>

          <!--input class="pre_btn" name="previous" type="button" value="Previous" />
          <input class="next_btn" name="next" type="button" value="Next" /-->
          </fieldset>
          <fieldset class="none" id="tab3">
                                    <h3>Housing</h3>
                                      <div class="form-group">
                                        <label for="feeCondo" class="col-sm-2 control-label">Fee condominium</label>
                                        <div class="col-sm-4">
                                          <input type="text" data-cell="C1" placeholder="Fee condominium" class="form-control" data-number="true" data-formula="A8" data-format="0,0[.]00" />

                                        </div>

                                        <label for="feePropertyTax" class="col-sm-2 control-label">Municipal and school taxes</label>
                                        <div class="col-sm-4">
                                          <input type="text" data-cell="C2" data-formula="A7" placeholder="Municipal and school taxes" class="form-control" data-format="0,0[.]00" />

                                        </div>
                                      </div>

                                        <div class="form-group">
                                          <label for="feeHeatingCosts" class="col-sm-2 control-label">Heating cost</label>
                                          <div class="col-sm-4">
                                            <input type="text" data-cell="C3" data-formula="A9" placeholder="Heating cost" data-number="true" class="form-control" data-format="0,0[.]00" />

                                          </div>

                                          <label for="electricity" class="col-sm-2 control-label">Electricity</label>
                                          <div class="col-sm-4">
                                            <input type="text" th:field="*{electricity}" data-cell="C4" class="form-control" placeholder="Electricity" data-format="0,0[.]00" />

                                          </div>
                                        </div>
                                        <div class="form-group">
                                          <label for="water" class="col-sm-2 control-label">Water</label>
                                          <div class="col-sm-4">
                                            <input type="text" th:field="*{water}" data-cell="C5" class="form-control" placeholder="Water" data-number="true" data-format="0,0[.]00" />

                                          </div>

                                          <label for="maintenanceRepairs" class="col-sm-2 control-label">Maintenance and repairs</label>
                                          <div class="col-sm-4">
                                            <input type="text" th:field="*{maintenanceRepairs}" data-cell="C6" class="form-control" placeholder="Maintenance and repairs" data-format="0,0[.]00" />

                                          </div>
                                        </div>
                                        <div class="form-group">
                                          <label for="totalHousing" class="col-sm-2 control-label">Total</label>
                                          <div class="col-sm-4">
                                            <pre id="rs_totalHousing"> <span data-formula="SUM(C1:C7)" data-cell="T3" data-format="0,0[.]00"></span> </pre>

                                          </div>

                                          <label for="mortgage" class="col-sm-2 control-label">Mortgage</label>
                                          <div class="col-sm-4">
                                            <input type="text" th:field="*{mortgage}" data-cell="C7" class="form-control" data-formula="B8" placeholder="Mortgage" data-format="0,0[.]00" />
                                          </div>
                                        </div>

                                   <hr />
                                   <h3>Communications</h3>
                                   <div class="form-group">
                                    <label for="cableSatellite" class="col-sm-2 control-label">Cable / Satellite</label>
                                    <div class="col-sm-4">
                                      <input type="text" th:field="*{cableSatellite}" data-cell="C8" class="form-control" placeholder="Cable / Satellite" data-number="true" data-format="0,0[.]00" />

                                    </div>

                                    <label for="internet" class="col-sm-2 control-label">Internet</label>
                                    <div class="col-sm-4">
                                      <input type="text" th:field="*{internet}" data-cell="C9" class="form-control" placeholder="Internet" data-format="0,0[.]00" />

                                    </div>
                                  </div>
                                    <div class="form-group">
                                      <label for="landline" class="col-sm-2 control-label">Landline</label>
                                      <div class="col-sm-4">
                                        <input type="text" th:field="*{landline}" data-cell="C10" class="form-control" placeholder="Landline" data-number="true" data-format="0,0[.]00" />

                                      </div>

                                      <label for="mobiles" class="col-sm-2 control-label">Mobiles</label>
                                      <div class="col-sm-4">
                                        <input type="text" th:field="*{mobiles}" data-cell="C11" class="form-control" placeholder="Mobiles" data-format="0,0[.]00" />

                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="totalCommunications" class="col-sm-2 control-label">Total</label>
                                      <div class="col-sm-4">
                                        <pre id="totalCommunications" data-cell="T4" class="form-control" data-formula="SUM(C8:C12)" data-number="true" data-format="0,0[.]00"> </pre>

                                      </div>

                                      <label for="otherCommunications" class="col-sm-2 control-label">Other</label>
                                      <div class="col-sm-4">
                                        <input type="text" th:field="*{otherCommunications}" data-cell="C12" class="form-control" placeholder="Other" data-format="0,0[.]00" />

                                      </div>
                                    </div>
                                   <hr />
                                   <h3>Household</h3>
                                   <div class="form-group">
                                    <label for="grocery" class="col-sm-2 control-label">Grocery</label>
                                    <div class="col-sm-4">
                                      <input type="text" data-cell="C13"  class="form-control" th:field="*{grocery}" placeholder="Grocery" data-number="true" data-format="0,0[.]00" />

                                    </div>

                                    <label for="childcareCosts" class="col-sm-2 control-label">Childcare costs for children / elderly care</label>
                                    <div class="col-sm-4">
                                      <input type="text" data-cell="C14" class="form-control" th:field="*{childcareCosts}" placeholder="Childcare costs for children / elderly care" data-format="0,0[.]00" />

                                    </div>
                                  </div>
                                    <div class="form-group">
                                      <label for="alimony" class="col-sm-2 control-label">Alimony</label>
                                      <div class="col-sm-4">
                                        <input type="text" data-cell="C15" class="form-control" th:field="*{alimony}" placeholder="Alimony" data-number="true" data-format="0,0[.]00" />

                                      </div>

                                      <label for="tuition" class="col-sm-2 control-label">Tuition / other school expenses</label>
                                      <div class="col-sm-4">
                                        <input type="text" data-cell="C16" class="form-control" th:field="*{tuition}" placeholder="Tuition / other school expenses" data-format="0,0[.]00" />

                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="clothes" class="col-sm-2 control-label">Clothes</label>
                                      <div class="col-sm-4">
                                        <input type="text" data-cell="C17" class="form-control" th:field="*{clothes}" placeholder="Clothes" data-number="true" data-format="0,0[.]00" />

                                      </div>

                                      <label for="animalCare" class="col-sm-2 control-label">Animal Care</label>
                                      <div class="col-sm-4">
                                        <input type="text" data-cell="C18" class="form-control" th:field="*{animalCare}" placeholder="Animal Care" data-format="0,0[.]00" />

                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="totalHousehold" class="col-sm-2 control-label">Total</label>
                                      <div class="col-sm-4">
                                        <pre id="rs_totalHousehold" data-formula="SUM(C13:C19)" data-cell="T5" data-format="0,0[.]00"> </pre>

                                      </div>

                                      <label for="otherHousehold" class="col-sm-2 control-label">Other</label>
                                      <div class="col-sm-4">
                                        <input type="text" data-cell="C19" class="form-control" th:field="*{otherHousehold}" placeholder="Other" data-format="0,0[.]00" />

                                      </div>
                                    </div>
                                   <hr />
                                   <h3>Entertainment</h3>
                                     <div class="form-group">
                                      <label for="restaurantMeals" class="col-sm-2 control-label">Restaurant meals</label>
                                      <div class="col-sm-4">
                                        <input type="text" data-cell="C20" class="form-control" th:field="*{restaurantMeals}" placeholder="Restaurant meals" data-number="true" data-format="0,0[.]00" />

                                      </div>

                                      <label for="moviesConcerts" class="col-sm-2 control-label">Movies/concerts/sporting events</label>
                                      <div class="col-sm-4">
                                        <input type="text" data-cell="C21" class="form-control" th:field="*{moviesConcerts}" placeholder="Movies/concerts/sporting events" data-format="0,0[.]00" />
                                      </div>
                                    </div>
                                      <div class="form-group">
                                        <label for="newspapersBooks" class="col-sm-2 control-label">Newspapers/magazines/books</label>
                                        <div class="col-sm-4">
                                          <input type="text" data-cell="C22" class="form-control" th:field="*{newspapersBooks}" placeholder="Newspapers/magazines/books" data-number="true" data-format="0,0[.]00" />

                                        </div>

                                        <label for="hobbiesSocialClubs" class="col-sm-2 control-label">Hobbies/social clubs</label>
                                        <div class="col-sm-4">
                                          <input type="text" data-cell="C23" class="form-control" th:field="*{hobbiesSocialClubs}" placeholder="Hobbies/social clubs" data-format="0,0[.]00" />

                                        </div>
                                      </div>

                                        <div class="form-group">
                                        <label for="totalEntertainment" class="col-sm-2 control-label">Total</label>
                                        <div class="col-sm-4">
                                          <pre id="rs_totalEntertainment" data-formula="SUM(C20:C24)" data-cell="T6" data-format="0,0[.]00"> </pre>

                                        </div>

                                        <label for="otherEntertainment" class="col-sm-2 control-label">Other</label>
                                        <div class="col-sm-4">
                                          <input type="text" data-cell="C24" th:field="*{otherEntertainment}" class="form-control" placeholder="Other" data-format="0,0[.]00" />

                                        </div>
                                      </div>
                                   <hr />
                                   <h3>Finances</h3>
                                   <div class="form-group">
                                    <label for="savingsInvestment" class="col-sm-2 control-label">Savings and investment</label>
                                    <div class="col-sm-4">
                                      <input type="text" data-cell="C25" class="form-control" th:field="*{savingsInvestment}" placeholder="Savings and investment" data-number="true" data-format="0,0[.]00" />

                                    </div>

                                    <label for="loansLinesOfCredit" class="col-sm-2 control-label">Loans/lines of credit</label>
                                    <div class="col-sm-4">
                                      <input type="text" data-cell="C26" class="form-control" th:field="*{loansLinesOfCredit}" placeholder="Loans/lines of credit" data-format="0,0[.]00" />
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="debtsCreditCard" class="col-sm-2 control-label">Credit cards</label>
                                    <div class="col-sm-4">
                                      <input type="text" data-cell="C27" class="form-control" data-formula="A4" placeholder="Credit cards" data-number="true" data-format="0,0[.]00" />

                                    </div>

                                    <label for="charitableDonations" class="col-sm-2 control-label">Charitable Donations</label>
                                    <div class="col-sm-4">
                                      <input type="text" data-cell="C28" class="form-control" name="charitableDonations" placeholder="Charitable Donations" data-format="0,0[.]00" />

                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="totalFinances" class="col-sm-2 control-label">Total</label>
                                    <div class="col-sm-4">
                                      <pre id="rs_totalFinances" data-formula="SUM(C25:C29)" data-cell="T7" placeholder="Total" data-number="true" data-format="0,0[.]00">  </pre>

                                    </div>

                                    <label for="otherFinances" class="col-sm-2 control-label">Other</label>
                                    <div class="col-sm-4">
                                      <input type="text" data-cell="C29" class="form-control" name="otherFinances" placeholder="Other" data-format="0,0[.]00" />

                                    </div>
                                  </div>
                                   <hr />
                                   <h3>Insurance</h3>
                                    <div class="form-group">
                                      <label for="habitation" class="col-sm-2 control-label">Habitation</label>
                                      <div class="col-sm-4">
                                        <input type="text" data-cell="C30" class="form-control" name="habitation" placeholder="Habitation" data-number="true" data-format="0,0[.]00" />

                                      </div>

                                      <label for="automobile" class="col-sm-2 control-label">Automobile(s)</label>
                                      <div class="col-sm-4">
                                        <input type="text" data-cell="C31" class="form-control" name="automobile" placeholder="Automobile(s)" data-format="0,0[.]00" />

                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="lifeDisability" class="col-sm-2 control-label">Life/disability</label>
                                      <div class="col-sm-4">
                                        <input type="text" data-cell="C32" class="form-control" name="lifeDisability" placeholder="Life/disability" data-number="true" data-format="0,0[.]00" />

                                      </div>

                                      <label for="otherInsurance" class="col-sm-2 control-label">Other</label>
                                      <div class="col-sm-4">
                                        <input type="text" data-cell="C33" class="form-control" name="otherInsurance" placeholder="Other" data-format="0,0[.]00" />

                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="totalInsurance" class="col-sm-2 control-label">Total</label>
                                      <div class="col-sm-4">
                                        <pre id="rs_totalInsurance" data-cell="T8" data-formula="SUM(C30:C33)" placeholder="Total" data-number="true" data-format="0,0[.]00">  </pre>
                                      </div>
                                    </div>
                                   <hr />
                                   <h3>Health</h3>
                                  <div class="form-group">
                                    <label for="pharmaceuticals" class="col-sm-2 control-label">Pharmaceuticals</label>
                                    <div class="col-sm-4">
                                      <input type="text" data-cell="C34" class="form-control" name="pharmaceuticals" placeholder="Pharmaceuticals" data-number="true" data-format="0,0[.]00" />

                                    </div>

                                    <label for="dentalCare" class="col-sm-2 control-label">Dental care</label>
                                    <div class="col-sm-4">
                                      <input type="text" data-cell="C35" class="form-control" name="dentalCare" placeholder="Dental care" data-format="0,0[.]00" />

                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="visionCare" class="col-sm-2 control-label">Vision Care</label>
                                    <div class="col-sm-4">
                                      <input type="text" data-cell="C36" class="form-control" name="visionCare" placeholder="Vision Care" data-number="true" data-format="0,0[.]00" />

                                    </div>

                                    <label for="otherHealth" class="col-sm-2 control-label">Other</label>
                                    <div class="col-sm-4">
                                      <input type="text" data-cell="C37" class="form-control" name="otherHealth" placeholder="Other" data-format="0,0[.]00" />

                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="totalHealth" class="col-sm-2 control-label">Total</label>
                                    <div class="col-sm-4">
                                      <pre id="rs_totalHealth" data-formula="SUM(C34:C37)" data-cell="T9" placeholder="Total" data-number="true" data-format="0,0[.]00"> </pre>
                                    </div>
                                  </div>
                                   <hr />
                                   <h3>Transport</h3>
                                    <div class="form-group">
                                      <label for="debtsCarLoans" class="col-sm-2 control-label">Car loan/lease payments</label>
                                      <div class="col-sm-4">
                                        <input type="text" data-cell="C38" class="form-control" data-formula="A5" placeholder="Car loan/lease payments" data-number="true" data-format="0,0[.]00" />

                                      </div>

                                      <label for="gasoline" class="col-sm-2 control-label">Gasoline</label>
                                      <div class="col-sm-4">
                                        <input type="text" data-cell="C39" class="form-control" name="gasoline" placeholder="Gasoline" data-format="0,0[.]00" />
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="maintenance" class="col-sm-2 control-label">Maintenance</label>
                                      <div class="col-sm-4">
                                        <input type="text" data-cell="C40" class="form-control" name="maintenance" placeholder="Maintenance" data-number="true" data-format="0,0[.]00" />

                                      </div>

                                      <label for="parking" class="col-sm-2 control-label">Parking</label>
                                      <div class="col-sm-4">
                                        <input type="text" data-cell="C41" class="form-control" name="parking" placeholder="Parking" data-format="0,0[.]00" />

                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="publicTransport" class="col-sm-2 control-label">Public transport</label>
                                      <div class="col-sm-4">
                                        <input type="text" data-cell="C42" class="form-control" name="publicTransport" placeholder="Public transport" data-number="true" data-format="0,0[.]00" />

                                      </div>

                                      <label for="otherTransport" class="col-sm-2 control-label">Other</label>
                                      <div class="col-sm-4">
                                        <input type="text" data-cell="C43" class="form-control" name="otherTransport" placeholder="Other" data-format="0,0[.]00" />

                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="totalTransport" class="col-sm-2 control-label">Total</label>
                                      <div class="col-sm-4">
                                        <pre id="rs_totalTransport" data-formula="SUM(C38:C43)" data-cell="T10" placeholder="Total" data-number="true" data-format="0,0[.]00"> </pre>
                                      </div>
                                    </div>
                                   <hr />
                                   <h3>Total monthly expenses: <span data-format="0,0[.]00" data-formula="SUM(T3:T10)">
                                   <input type="hidden" name="totalMonthlyExpenses" data-formula="SUM(T3:T10)" data-cell="H2" />
                                    </span>

                                    <input type="hidden" name="solvability" data-formula="H1/H2" data-cell="H3" />
                                   </h3>
          <!--input class="pre_btn" type="button" value="Previous" />
          <input class="submit_btn" type="submit" value="Submit" /-->
          </fieldset>
          </div>
          <ul class="pager">
                                      <li class="previous pre_btn" style="display:none;"><a href="javascript:;">Previous</a></li>
                                      <li class="next next_btn"><a href="javascript:;">Next</a></li>
                                      <li class="finish" style="display:none;"><button type="submit" class="btn btn-success" th:text="#{label.changes.submit}">Submit</button></li>
                                  </ul>

          </form>
                      </div>
                </div>
              </div>
            </div>






                </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer">
                    2015 © Ubold.
                </footer>

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


            <!-- Right Sidebar -->
            <div class="side-bar right-bar nicescroll">
                <h4 class="text-center">Chat</h4>
                <div class="contact-list nicescroll">
                    <ul class="list-group contacts-list">
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-1.jpg}" alt="" />
                                </div>
                                <span class="name">Chadengle</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-2.jpg}" alt="" />
                                </div>
                                <span class="name">Tomaslau</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-3.jpg}" alt="" />
                                </div>
                                <span class="name">Stillnotdavid</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-4.jpg}" alt="" />
                                </div>
                                <span class="name">Kurafire</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-5.jpg}" alt="" />
                                </div>
                                <span class="name">Shahedk</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-6.jpg}" alt="" />
                                </div>
                                <span class="name">Adhamdannaway</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-7.jpg}" alt="" />
                                </div>
                                <span class="name">Ok</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-8.jpg}" alt="" />
                                </div>
                                <span class="name">Arashasghari</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-9.jpg}" alt="" />
                                </div>
                                <span class="name">Joshaustin</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-10.jpg}" alt="" />
                                </div>
                                <span class="name">Sortino</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Right-bar -->


        </div>
        <!-- END wrapper -->

        <script>
            var resizefunc = [];
        </script>

  <th:block th:replace="footer_js :: footer_js">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "footer_js.html" at runtime                                             -->
  <!-- ============================================================================ -->
  </th:block>





  </body>
</html>
