<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header_css :: header_css">
 <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "header_css.html" at runtime.                                           -->
  <!-- ============================================================================ -->
</head>


    <body class="fixed-left">
        <!--div class="animationload">
            <div class="loader"></div>
        </div-->

    <!-- Begin page -->
    <div id="wrapper">
    <header class="navbar navbar-default navbar-static-top dark-header topbar" role="banner" th:fragment="header">
        <div th:replace="header :: header">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "header.html" at runtime.                                               -->
    <!-- ============================================================================ -->
        </div>
    </header>




    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu" th:replace="sidebar :: sidebar(page=label.prequalification)">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "sidebar.html" at runtime.                                              -->
    <!-- ============================================================================ -->
    </div>
    <!-- Left Sidebar End -->

      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="content-page">
        <!-- Start content -->
        <div class="content">
          <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row" th:replace="profileprequalification/jumbotron :: jumbotron(label.prequalification.show)">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "sidebar.html" at runtime.                                               -->
        <!-- ============================================================================ -->
        </div> <!-- /.col -->





            <div class="panel panel-default">
            <div class="panel-heading">
                  <h4 class="m-t-0 header-title">Show prequalification</h4>
                  </div>
                  <div class="panel-body">
                  <div class="row">

                    <div class="col-xs-12 col-sm-12">

                          <h2 class="content-title"><u>Pre qualification</u></h2>

                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>

                          <br /><br />

                          <div th:unless="${#lists.isEmpty(budget)}" class="ibox-content p-xl">
                                        <div class="row">

                                            <div class="col-sm-12">
                                                <p>
                                                    <span class="pull-right"><strong>Pre qualification Date:</strong> <th:block th:text="${{budget.dateCreated}}">March 24, 2014</th:block></span>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="table-responsive m-t">
                                            <table class="table invoice-table">
                                                <thead>
                                                <tr>
                                                    <th style="width:5%;"></th>
                                                    <th>Item</th>
                                                    <th>Tax</th>
                                                    <th>Total Price</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td><div><strong><i class="fa fa-caret-down"></i></strong></div></td>
                                                    <td><div><strong>Borrowing capacity</strong></div>
                                                        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small></td>
                                                    <td>  --  </td>
                                                    <td th:text="${budget.maximumBorrowingCapacity}">  --  </td>
                                                </tr>
                                                <tr>
                                                    <td><div><strong><i class="fa fa-caret-down"></i></strong></div></td>
                                                    <td><div><strong>Budgetary capacity</strong></div>
                                                        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                            Eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                        </small></td>
                                                    <td> -- </td>
                                                    <td th:text="${budget.maximumBorrowingCapacity}">$196.80</td>
                                                </tr>
                                                <tr>
                                                    <td><div><strong><i class="fa fa-caret-down"></i></strong></div></td>
                                                    <td><div><strong>Budget verification</strong></div>
                                                        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small></td>
                                                    <td> -- </td>
                                                    <td> -- </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div><!-- /table-responsive -->

                                        <table class="table invoice-total">
                                            <tbody>
                                            <tr>
                                                <td><strong>TOTAL :</strong></td>
                                                <td>$1261.98</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-right">
                                            <a th:href="@{/profile/prequalification}" class="btn btn-primary"><i class="fa fa-dollar"></i> Edit your Pre qualification</a>
                                        </div>
                                    </div>

                                    <div class="module-section" th:unless="${not #lists.isEmpty(budget)}">


<div class="placeholder ">
    <h3 class="placeholder-title">No Listing</h3>
    <div class="placeholder-text">This data will become available after you get pre-qualified.</div>

        <div class="placeholder-cta">
            <a href="javascript:;" th:href="@{/profile/prequalification}" class="zeta-smo button" th:text="#{label.prequalification}">Browse Investments</a>
        </div>

</div>
                                </div>



                    </div> <!-- /.col -->
                  </div>
                  </div>
            </div>






                </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer">
                    2015 © Ubold.
                </footer>

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


            <!-- Right Sidebar -->
            <div class="side-bar right-bar nicescroll">
                <h4 class="text-center">Chat</h4>
                <div class="contact-list nicescroll">
                    <ul class="list-group contacts-list">
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-1.jpg}" alt="" />
                                </div>
                                <span class="name">Chadengle</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-2.jpg}" alt="" />
                                </div>
                                <span class="name">Tomaslau</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-3.jpg}" alt="" />
                                </div>
                                <span class="name">Stillnotdavid</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-4.jpg}" alt="" />
                                </div>
                                <span class="name">Kurafire</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-5.jpg}" alt="" />
                                </div>
                                <span class="name">Shahedk</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-6.jpg}" alt="" />
                                </div>
                                <span class="name">Adhamdannaway</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-7.jpg}" alt="" />
                                </div>
                                <span class="name">Ok</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-8.jpg}" alt="" />
                                </div>
                                <span class="name">Arashasghari</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-9.jpg}" alt="" />
                                </div>
                                <span class="name">Joshaustin</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img th:src="@{/resources/images/avatar-10.jpg}" alt="" />
                                </div>
                                <span class="name">Sortino</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Right-bar -->


        </div>
        <!-- END wrapper -->

        <script>
            var resizefunc = [];
        </script>

  <th:block th:replace="footer_js :: footer_js">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "footer_js.html" at runtime                                             -->
    <!-- ============================================================================ -->
  </th:block>





  </body>
</html>
