<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:remove="${ajaxrequest}? tag">
<th:block th:unless="${ajaxrequest}">
  <head th:replace="header_css :: header_css">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "header_css.html" at runtime.                                           -->
    <!-- ============================================================================ -->
  </head>
</th:block>


<body class="fixed-left" th:remove="${ajaxrequest}? tag">

<!--div class="animationload">
    <div class="loader"></div>
</div-->

<!-- Begin page -->
<div id="wrapper" th:remove="${ajaxrequest}? tag">
  <header class="navbar navbar-default navbar-static-top dark-header topbar" role="banner" th:unless="${ajaxrequest}">
    <div th:replace="header :: header">
      <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "header.html" at runtime.                                               -->
      <!-- ============================================================================ -->
    </div>
  </header>


  <th:block th:unless="${ajaxrequest}">
    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu" th:replace="sidebar :: sidebar(page=label.property)">
      <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "sidebar.html" at runtime.                                              -->
      <!-- ============================================================================ -->
    </div>
    <!-- Left Sidebar End -->
  </th:block>

  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="content-page" th:remove="${ajaxrequest}? tag">
    <!-- Start content -->
    <div class="content" th:remove="${ajaxrequest}? tag">
      <div class="container-fluid" th:remove="${ajaxrequest}? tag">

        <th:block th:unless="${ajaxrequest}">
          <!-- Page-Title -->
          <div class="row" th:replace="profileproperty/jumbotron :: jumbotron(page=label.listing)">
            <!-- ============================================================================ -->
            <!-- This content is only used for static prototyping purposes (natural templates)-->
            <!-- and is therefore entirely optional, as this markup fragment will be included -->
            <!-- from "sidebar.html" at runtime.                                               -->
            <!-- ============================================================================ -->
          </div> <!-- /.col -->
        </th:block>


        <div class="row" th:remove="${ajaxrequest}? tag">
          <div class="col-sm-12" th:remove="${ajaxrequest}? tag">

            <div class="panel panel-default" th:remove="${ajaxrequest}? tag">

              <div class="panel-heading" th:unless="${ajaxrequest}"><span class="font-bold">Listing properties</span>


              </div>
              <div class="panel-heading" style="height:50px;" th:unless="${ajaxrequest}">
                <div class="pull-left">
                  <span class="font-13">Filter By: </span>
                  <div class="btn-group btn-group-sm">
                    <a th:href="@{/profile/property/all}" type="button" class="btn button">
                      Find all
                    </a><a th:href="@{/profile/property/all}" type="button" class="btn button">
                    Answer proposition
                  </a></div>
                </div>
                <form method="get" class="pull-right">
                  <select name="sorting" class="js_form_orderby">
                    <option value="dateCreated&#45;asc">Sort precedently created: old to new
                    </option>
                    <option value="dateCreated&#45;desc" selected="selected">Sort recently created:
                      new to old
                    </option>
                  </select>
                </form>

              </div>

              <div class="panel-body" th:remove="${ajaxrequest}? tag">
                <form accept-charset="UTF-8" class="ejb_eb form-horizontal" th:id="'listingProperties'"
                      th:remove="${!ajaxrequest}? tag" th:action="@{/profile/binding/}"
                      th:object="${binding}" method="post">
                  <div class="modal-header" th:remove="${!ajaxrequest}? all">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Listing properties</h4>
                    <span th:text="${#httpServletRequest.getParameter('proposal_id')}"> </span>
                    <input type="hidden"
                           th:attr="name=theproposal, value=${#httpServletRequest.getParameter('proposal_id')}"/>
                  </div>
                  <div th:remove="${!ajaxrequest}? tag" class="modal-body">
                    <div id="alert_placeholder"></div>
                    <ul class="table-list">

                      <li th:each="list,status : ${list.content}" th:id="${list.id}"
                          class="table-list-item">


                        <div class="table-list-cell table-list-cell-type">
                          <a th:href="@{/profile/property/{id}(id=${list.id})}"
                             aria-label="View the property">
                            <img th:each="propertyPhoto,status : ${list.propertyPhotos}"
                                 th:src="@{/resources/images/uploads/{upload}(upload=${propertyPhoto.thumbnailFilename})}"
                                 alt="" title="" th:if="${status.index &lt; 1}"/>
                          </a>
                        </div>

                        <div class="table-list-cell issue-title">

                          <a th:href="@{/profile/property/{id}(id=${list.id})}"
                             class="issue-title-link"
                             th:text="#{${'label.' + list.propertyType}}">
                            condo / Appartement
                          </a>
                                                    <span class="m-l-5"
                                                          th:text="${list.propertyPrice}">14,000 usd</span>
                                                    <span class="m-l-10 label label-primary"
                                                          th:text="#{${'label.for.' + list.propertySaleType}}">on sale</span>
                                    <span style="display:block;color:#000;font-weight:600;font-size:13px;">
                                      <th:block th:text="${list.location.locationString + ','}">600 40th Ave, Richmond
                                        District,
                                      </th:block>
                                  <th:block th:text="${list.location.province.name + ','}"> San Francisco,</th:block>
                                  <th:block th:text="${list.location.locationZipCode + ','}"> 94121,</th:block>
                                  <th:block th:text="${list.location.country.name}"> United States</th:block>
                                    </span>
                          <div class="issue-meta">
                                      <span class="issue-meta-section opened-by">
                                      <span>
                                        <th:block th:text="${list.propertyNumOfBedrooms}">
                                        </th:block><i class="fa fa-bed"></i></span>
                                      <span class="m-l-15">
                                        <th:block th:text="${list.propertyNumOfBathrooms}">
                                        </th:block><i class="fa fa-tint"></i></span>
                                      <span class="m-l-15">
                                        <th:block th:text="${list.propertySqFeet}">
                                        </th:block><i class="fa fa-arrows"></i></span>
                                      <span class="m-l-15">
                                        <th:block th:text="${list.propertyNumOfFloors}">
                                        </th:block>
                                      </span>
                                      </span>

                                      <span class="issue-meta-section css-truncate issue-milestone">

                                      </span>


                          </div>
                        </div>
                        <div class="table-list-cell table-list-cell-avatar font-bold">
                          <th:block th:unless="${ajaxrequest}">
                            <a class="label label-danger font-13"
                               th:if="${list.propertyBidRequest}"
                               th:id="${'js_notification_property_' + list.id}"
                               th:href="@{/profile/visit/{id}(id=${list.id},pending=1)}"
                               th:text="${'you have a request'}" data-toggle="modal"
                               data-target="#requestModal"> </a>
                          </th:block>
                        </div>

                        <div class="table-list-cell issue-comments" style="font-size:18px;">


                          <!--th:block th:each="listBindings : ${list.bindings}" th:if="${''+listBindings.proposal.id eq #httpServletRequest.getParameter('proposal_id')}">
                          <span class="label label-success"
                                th:remove="${'' + list.id == null} ? body">
                            <input type="checkbox" th:field="*{bindings[__${status.index}__].property.id}" th:value="${list.id}" />
                      <input type="hidden" th:attr="name=bindings[__${status.index}__].proposal.id, value=${#httpServletRequest.getParameter('proposal_id')}" />
                            </span>
                          </th:block-->
                          <th:block th:remove="${!ajaxrequest}? all">
                            <input type="checkbox"
                                   th:field="*{bindings[__${status.index}__].property.id}"
                                   th:value="${list.id}"/>
                            <input type="hidden"
                                   th:attr="name=bindings[__${status.index}__].proposal.id, value=${#httpServletRequest.getParameter('proposal_id')}"/>
                          </th:block>
                          <th:block th:remove="${ajaxrequest}? all">
                            <a href="#"
                               th:href="@{/profile/property/{id}/edit(id=${list.id})}"><i
                                class="md md-edit"></i></a>

                            <a href="#"
                               th:href="@{/profile/property/{id}/delete(id=${list.id})}"><i
                                class="md md-close"></i></a>
                          </th:block>
                        </div>
                      </li>

                    </ul>

                    <div class="module-section" th:unless="${not #lists.isEmpty(list.content)}">


                      <div class="placeholder ">
                        <h3 class="placeholder-title">No Listing</h3>
                        <div class="placeholder-text">This data will become available after your
                          enter a property.
                        </div>

                        <div class="placeholder-cta">
                          <a href="javascript:;" th:href="@{/profile/property/new}"
                             class="zeta-smo button"
                             th:text="#{label.add(#{label.property})}">Browse Investments</a>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="modal-footer" th:remove="${!ajaxrequest}? all">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close
                    </button>
                    <button type="submit" name="trigger" class="btn btn-primary disabled">Make a
                      bid
                    </button>
                  </div>
                </form>
              </div>
              <div class="panel-footer" th:if="${list.totalPages &gt; 1}" th:unless="${ajaxrequest}">


                <!-- Pagination Bar -->
                <div class="text-centered" th:if="${list.totalPages &gt; 1}">
                  <div class="pagination pagination-centered btn-group">

                                        <span th:classappend="${list.firstPage}? 'disabled' : ''" class="btn btn-white"
                                              th:if="${list.firstPage}">← First</span>
                    <a class="btn btn-white" th:if="${not list.firstPage}"
                       th:href="@{${list.url}(page=1)}">← First</a>

                    <span class="btn btn-white" th:if="${not list.hasPreviousPage}">«</span>
                    <a th:classappend="${list.hasPreviousPage}? '' : 'disabled'"
                       class="btn btn-white" th:if="${list.hasPreviousPage}"
                       th:href="@{${list.url}(page=${list.number-1})}"
                       title="Go to previous page">«</a>

                    <th:block th:each="item : ${list.items}">
                                            <span th:classappend="${item.current}? 'active' : ''" class="btn btn-white"
                                                  th:if="${item.current}" th:text="${item.number}">1</span>
                      <a class="btn btn-white" th:if="${not item.current}"
                         th:href="@{${list.url}(page=${item.number})}"><span
                          th:text="${item.number}">1</span></a>
                    </th:block>

                    <span class="btn btn-white" th:if="${not list.hasNextPage}">»</span>
                    <a class="btn btn-white" th:classappend="${list.hasNextPage}? '' : 'disabled'"
                       th:if="${list.hasNextPage}" th:href="@{${list.url}(page=${list.number+1})}"
                       title="Go to next page">»</a>

                                        <span class="btn btn-white" th:classappend="${list.lastPage}? 'disabled' : ''"
                                              th:if="${list.lastPage}">Last →</span>
                    <a class="btn btn-white" th:if="${not list.lastPage}"
                       th:href="@{${list.url}(page=${list.totalPages})}">Last →</a>


                  </div>
                </div>
                <!-- end Pagination Bar -->

              </div>

            </div>
          </div>
        </div>


      </div> <!-- container -->

    </div> <!-- content -->

    <footer class="footer" th:unless="${ajaxrequest}">
      2015 © Ubold.
    </footer>
  </div>
  <!-- ============================================================== -->
  <!-- End Right content here -->
  <!-- ============================================================== -->


  <!-- Right Sidebar -->
  <div class="side-bar right-bar nicescroll" th:unless="${ajaxrequest}">
    <h4 class="text-center">Chat</h4>
    <div class="contact-list nicescroll">
      <ul class="list-group contacts-list">
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-1.jpg}" alt=""/>
            </div>
            <span class="name">Chadengle</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-2.jpg}" alt=""/>
            </div>
            <span class="name">Tomaslau</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-3.jpg}" alt=""/>
            </div>
            <span class="name">Stillnotdavid</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-4.jpg}" alt=""/>
            </div>
            <span class="name">Kurafire</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-5.jpg}" alt=""/>
            </div>
            <span class="name">Shahedk</span>
            <i class="fa fa-circle away"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-6.jpg}" alt=""/>
            </div>
            <span class="name">Adhamdannaway</span>
            <i class="fa fa-circle away"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-7.jpg}" alt=""/>
            </div>
            <span class="name">Ok</span>
            <i class="fa fa-circle away"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-8.jpg}" alt=""/>
            </div>
            <span class="name">Arashasghari</span>
            <i class="fa fa-circle offline"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-9.jpg}" alt=""/>
            </div>
            <span class="name">Joshaustin</span>
            <i class="fa fa-circle offline"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img th:src="@{/resources/images/avatar-10.jpg}" alt=""/>
            </div>
            <span class="name">Sortino</span>
            <i class="fa fa-circle offline"></i>
          </a>
          <span class="clearfix"></span>
        </li>
      </ul>
    </div>
  </div>
  <!-- /Right-bar -->

</div>
<!-- END wrapper -->

<!-- Modal -->
<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- -->

<script th:unless="${ajaxrequest}">
    var resizefunc = [];
</script>

<th:block th:unless="${ajaxrequest}">
  <th:block th:replace="footer_js :: footer_js">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "footer_js.html" at runtime                                             -->
    <!-- ============================================================================ -->
  </th:block>
</th:block>

</body>
</html>
