<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:remove="${ajaxrequest}? tag">

<th:block th:unless="${ajaxrequest}">
  <head th:replace="header_css :: header_css">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "header_css.html" at runtime.                                           -->
    <!-- ============================================================================ -->
  </head>
</th:block>


<body class="fixed-left" th:remove="${ajaxrequest}? tag">

<!-- Begin page -->
<div id="wrapper" th:remove="${ajaxrequest}? tag">
  <header class="navbar navbar-default navbar-static-top dark-header topbar" role="banner" th:unless="${ajaxrequest}">
    <div th:replace="header :: header">
      <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "header.html" at runtime.                                               -->
      <!-- ============================================================================ -->
    </div>
  </header>


  <th:block th:unless="${ajaxrequest}">
    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu" th:replace="sidebar :: sidebar(page=label.property)">
      <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "sidebar.html" at runtime.                                              -->
      <!-- ============================================================================ -->
    </div>
    <!-- Left Sidebar End -->
  </th:block>

  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="content-page" th:remove="${ajaxrequest}? tag">
    <!-- Start content -->
    <div class="content" th:remove="${ajaxrequest}? tag">
      <div class="container-fluid" th:remove="${ajaxrequest}? tag">

        <!-- Page-Title -->
        <th:block th:unless="${ajaxrequest}">
          <div class="row" th:replace="profileproperty/jumbotron :: jumbotron(page=label.label.add)">
            <!-- ============================================================================ -->
            <!-- This content is only used for static prototyping purposes (natural templates)-->
            <!-- and is therefore entirely optional, as this markup fragment will be included -->
            <!-- from "jumbotron.html" at runtime.                                               -->
            <!-- ============================================================================ -->
          </div>
        </th:block>
        <!-- /.col -->


        <div class="row" th:remove="${ajaxrequest}? tag">
          <div class="col-md-12" th:remove="${ajaxrequest}? tag">
            <div class="panel panel-default" th:remove="${ajaxrequest}? tag">
              <div class="panel-heading" th:unless="${ajaxrequest}">
                <div class="clearfix">
                  <div class="pull-right">
                    <a href="#" class="btn btn-primary" th:href="@{/profile/property/{id}/edit(id=${property.id})}"><i
                        class="md md-edit"></i> Edit</a>&nbsp;

                    <a href="javascipt:;" class="btn btn-primary" th:href="'javascipt:;'" data-toggle="modal"
                       data-target="#custom-width-modal"><i class="fa fa-upload"></i> Upload</a>&nbsp;

                    <a href="#" class="btn btn-primary" th:href="@{/profile/property/{id}/edit(id=${property.id})}"><i
                        class="fa fa-times"></i> Delete</a>
                  </div>
                </div>
              </div>

              <div class="singleTop" th:unless="${ajaxrequest}">

                <div class="summary">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="summaryItem">
                        <!--div class="single-featured"><span class="fa fa-star"></span> Featured</div-->
                        <div class="clearfix"></div>
                        <h1 class="pageTitle" th:text="#{${'label.' + property.propertyType}}">Sophisticated
                          Residence</h1>
                        <div class="address">

                          <th:block th:text="${property.location.locationString + ','}">600 40th Ave, Richmond
                            District,
                          </th:block>
                          <th:block th:text="${property.location.province.name + ','}"> San Francisco,</th:block>
                          <th:block th:text="${property.location.locationZipCode + ','}"> 94121,</th:block>
                          <th:block th:text="${property.location.country.name}"> United States</th:block>
                        </div>
                        <div class="singlePrice">
                          <div class="listPrice">
                            <th:block th:text="${property.propertyPrice}">45.0</th:block> <span
                              class="label label-warning"
                              th:text="#{${'label.for.' + property.propertySaleType}}">label.enum.forRent</span>
                          </div>
                        </div>

                        <ul class="stats">
                          <li><span class="icon-eye"></span> 999+</li>
                          <li><span class="icon-bubble"></span> 1</li>
                        </ul>
                        <div class="favLink">
                          <a id="favBtn" href="javascript:void(0);" data-toggle="modal" data-target="#signin"
                             class="noSigned"><span class="fa fa-heart-o"></span></a><span class="fav_no">2</span>
                          <input type="hidden" id="securityFav" name="securityFav" value="61ef91673f"/>
                          <input type="hidden" name="_wp_http_referer"
                                 value="/themes/reales-wp/properties/sophisticated-residence/"/></div>
                        <div class="clearfix"></div>
                        <ul class="features">
                          <li><span class="fa fa-moon-o"></span>
                            <div>
                              <th:block th:text="${property.propertyNumOfBedrooms}">2</th:block>
                              Bedrooms
                            </div>
                          </li>
                          <li><span class="icon-drop"></span>
                            <div>
                              <th:block th:text="${property.propertyNumOfBathrooms}">2</th:block>
                              Bathrooms
                            </div>
                          </li>
                          <li><span class="icon-frame"></span>
                            <div>
                              <th:block th:text="${property.propertySqFeet}">2</th:block>
                              sq ft
                            </div>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="js_return_carousel" th:remove="${ajaxrequest}? tag">
                <div id="carouselFull" class="carousel slide gallery" data-ride="carousel" data-interval="false">
                  <th:block th:if="${#lists.isEmpty(property.propertyPhotos)}">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselFull" data-slide-to="0" class="active"></li>
                    </ol>
                    <div class="carousel-inner">
                      <a href="javascript:;" data-fancybox-group="slideshow" class="galleryItem item active"
                         th:attr="style='background-image: url(' + @{/resources/images/1067.png} + ');'"></a>
                    </div>
                  </th:block>
                  <th:block th:if="${not #lists.isEmpty(property.propertyPhotos)}">
                    <ol class="carousel-indicators">
                      <li th:each="propertyPhoto,status : ${property.propertyPhotos}" data-target="#carouselFull"
                          th:attr="data-slide-to=${status.index}"
                          th:classappend="${status.index == 0 ? 'active' : ''}"></li>
                    </ol>
                    <div class="carousel-inner">
                      <a href="javascript:;" th:each="propertyPhoto,status : ${property.propertyPhotos}"
                         data-fancybox-group="slideshow" th:classappend="${status.index == 0 ? 'active' : ''}"
                         class="galleryItem item"
                         th:attr="style='background-image: url(' + @{/resources/images/uploads/{upload}(upload=${propertyPhoto.newFilename})} + ');'"></a>
                    </div>
                  </th:block>
                  <a class="left carousel-control" href="#carouselFull" role="button" data-slide="prev"><span
                      class="fa fa-chevron-left"></span></a>
                  <a class="right carousel-control" href="#carouselFull" role="button" data-slide="next"><span
                      class="fa fa-chevron-right"></span></a>
                </div>
              </div>

              <div class="amenities" th:if="${not #lists.isEmpty(property.propertyPhotos)}">
                <h3>Pictures</h3>
                <th:block th:each="propertyPhoto : ${property.propertyPhotos}">
                  <div class="col-sm-3 contact-card">
                    <img th:src="@{/resources/images/uploads/{thumbnail}(thumbnail=${propertyPhoto.thumbnailFilename})}"
                         alt="image" class="img-responsive"/>
                    <div class="contact-action"><a href="#" class="btn btn-success btn-sm"><i
                        class="md md-mode-edit"></i></a>

                      <a th:href="@{/profile/image/{id}/delete(id=${propertyPhoto.id})}"
                        class="btn btn-danger btn-sm js-delete-picture"><i
                        class="md md-close"></i></a></div>
                  </div>
                </th:block>
              </div>
              <br/>
              <th:block th:unless="${ajaxrequest}">
                <div class="description"
                     th:if="${property.propertyDescription != null and property.propertyDescription != ''}">
                  <h3>Description</h3>
                  <div class="entry-content">
                    <th:block th:text="${property.propertyDescription}"> property.propertyDescription</th:block>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </th:block>


              <th:block th:unless="${ajaxrequest}">
                <!-- Features and Ammenties -->
                <div class="amenities" th:if="${property.propertyFeatures != null and property.propertyFeatures != ''}">

                  <h3>Features</h3>
                  <div class="row">
                    <th:block th:each="features  : ${#strings.listSplit(property.propertyFeatures, ',')}">
                      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem active">
                        <span class="fa fa-check"></span>
                        <th:block th:text="#{${'label.' + features}}">attic</th:block>
                      </div>
                    </th:block>
                  </div>
                </div>
                <!-- END Features and Ammenties -->
              </th:block>

            </div>
          </div>
        </div>


      </div>
      <!-- container -->

    </div>
    <!-- content -->

    <footer class="footer" th:unless="${ajaxrequest}">
      2015 © Ubold.
    </footer>

  </div>
  <!-- ============================================================== -->
  <!-- End Right content here -->
  <!-- ============================================================== -->


  <!-- Right Sidebar -->
  <div class="side-bar right-bar nicescroll" th:unless="${ajaxrequest}">
    <h4 class="text-center">Chat</h4>
    <div class="contact-list nicescroll">
      <ul class="list-group contacts-list">
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img src="images/users/avatar-1.jpg" alt=""/>
            </div>
            <span class="name">Chadengle</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img src="images/users/avatar-2.jpg" alt=""/>
            </div>
            <span class="name">Tomaslau</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img src="images/users/avatar-3.jpg" alt=""/>
            </div>
            <span class="name">Stillnotdavid</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img src="images/users/avatar-4.jpg" alt=""/>
            </div>
            <span class="name">Kurafire</span>
            <i class="fa fa-circle online"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img src="images/users/avatar-5.jpg" alt=""/>
            </div>
            <span class="name">Shahedk</span>
            <i class="fa fa-circle away"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img src="images/users/avatar-6.jpg" alt=""/>
            </div>
            <span class="name">Adhamdannaway</span>
            <i class="fa fa-circle away"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img src="images/users/avatar-7.jpg" alt=""/>
            </div>
            <span class="name">Ok</span>
            <i class="fa fa-circle away"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img src="images/users/avatar-8.jpg" alt=""/>
            </div>
            <span class="name">Arashasghari</span>
            <i class="fa fa-circle offline"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img src="images/users/avatar-9.jpg" alt=""/>
            </div>
            <span class="name">Joshaustin</span>
            <i class="fa fa-circle offline"></i>
          </a>
          <span class="clearfix"></span>
        </li>
        <li class="list-group-item">
          <a href="#">
            <div class="avatar">
              <img src="images/users/avatar-10.jpg" alt=""/>
            </div>
            <span class="name">Sortino</span>
            <i class="fa fa-circle offline"></i>
          </a>
          <span class="clearfix"></span>
        </li>
      </ul>
    </div>
  </div>
  <!-- /Right-bar -->

  <div id="custom-width-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel"
       aria-hidden="true" style="display: none;" th:unless="${ajaxrequest}">
    <div class="modal-dialog" style="width:55%;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="custom-width-modalLabel">Upload Pictures</h4>
        </div>
        <div class="modal-body">
          <!--form action="/upload-target" th:action="@{/profile/property/upload}" class="dropzone"></form-->
          <form id="upload-dropzone" th:action="@{/profile/property/upload}" class="dropzone">
            <div class="dropzone-previews"></div> <!-- this is were the previews should be shown. -->

          </form>
          <button class="js_button_upload" type="submit">Submit data and files!</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->


</div>
<!-- END wrapper -->

<th:block th:unless="${ajaxrequest}">
  <th:block th:replace="footer_js :: footer_js">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "footer_js.html" at runtime                                             -->
    <!-- ============================================================================ -->
  </th:block>
</th:block>


</body>

</html>
