<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header_css :: header_css">
 <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "header_css.html" at runtime.                                           -->
  <!-- ============================================================================ -->
</head>


    <body class="fixed-left">

        <!--div class="animationload">
            <div class="loader"></div>
        </div-->

    <!-- Begin page -->
    <div id="wrapper">
    <header class="navbar navbar-default navbar-static-top dark-header topbar" role="banner" th:fragment="header">
    <div th:replace="header :: header">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "header.html" at runtime.                                               -->
    <!-- ============================================================================ -->
    </div>
    </header>




    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu" th:replace="sidebar :: sidebar(page=label.property)">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "sidebar.html" at runtime.                                              -->
    <!-- ============================================================================ -->
    </div>
    <!-- Left Sidebar End -->

      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="content-page">
        <!-- Start content -->
        <div class="content">
          <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row" th:replace="profileproperty/jumbotron :: jumbotron(page=label.add)">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "jumbotron.html" at runtime.                                               -->
        <!-- ============================================================================ -->
        </div> <!-- /.col -->





            <div class="row">
              <div class="col-sm-12">
                <div class="panel panel-default">
                  <div class="panel-heading font-bold">
                  Update a new property
                </div>
                  <div class="panel-body">

                        <form accept-charset="UTF-8" class="ejb_eb form-horizontal" th:action="${#httpServletRequest.requestURI}" th:object="${property}" method="post">
                <div th:if="${message != null and message != 'null'}" class="alert alert-success alert-dismissable">
                  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                  <th:block th:text="${message}">
                  </th:block>
                </div>
                <div class="row pl20">
            <div class="form-group col-sm-4 mr20" style="margin-right:1%;" th:id="'locationcountryid'">
                <label for="country">Country</label>
                <select th:id="'country'" th:field="*{location.country.id}" class="ajaxList form-control required" data-target="province" th:attr="data-url=@{/province.json}">
                        <option value="">Country</option>
                        <option th:each="type : ${country}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                    </select>
                <span class="help-block"><span th:if="${#fields.hasErrors('location.country.id')}" th:errors="*{location.country.id}" class="block text-danger"></span></span>
            </div>

            <div class="form-group col-sm-4" style="margin-right:1%;" th:id="'locationprovinceid'">
                <label for="province">Province</label>
                <select th:id="'province'" th:field="*{location.province.id}" class="ajaxList form-control required" data-target="city" th:attr="data-url=@{/city.json}">
                      <option value="" th:text="#{label.province}">-- Select Province --</option>
                      <option th:each="type : ${province}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                </select>
                <span class="help-block"><span th:if="${#fields.hasErrors('location.province.id')}" th:errors="*{location.province.id}" class="block text-danger"></span></span>
            </div>

            <div class="form-group col-sm-4" th:id="'locationcityid'">
                <label for="city">City</label>
                <select th:id="'city'" th:field="*{location.city.id}" class="form-control required">
                      <option value="" th:text="#{label.city}">-- Select City --</option>
                      <option th:each="type : ${city}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                </select>
                <span class="help-block"><span th:if="${#fields.hasErrors('location.city.id')}" th:errors="*{location.city.id}" class="block text-danger"></span></span>
            </div>
        </div> <!-- /.form-group -->

                <div class="form-group">
                  <label for="zipCode" class="col-sm-2 control-label">Zip code</label>
                    <div id="zipCode" class="col-sm-4">
                      <input th:field="*{zipCode}" placeholder="Zip code" class="form-control" />
                      <span class="help-block"><span th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}" class="block text-danger"></span></span>
                    </div>

                  <label for="address" class="col-sm-2 control-label">Adress</label>
                    <div id="address" class="col-sm-4">
                        <input th:field="*{address}" id="address" placeholder="Adress" class="form-control" />
                        <span class="help-block"><span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="block text-danger"></span></span>
                    </div>
                </div> <!-- /.form-group -->



                <div class="form-group">
                  <label for="type" class="col-sm-2 control-label">Property Type</label>
                    <div id="type" class="col-sm-4">
                      <select th:field="*{type}" id="type" class="form-control">
                        <option value="" th:text="#{label.select.empty}"> - Select the type of the property - </option>
                          <option th:each="type : ${propertyTypeOfProperty}"
                                  th:value="${type}"
                                  th:text="#{${'label.' + type}}">Wireframe</option>
                      </select>
                      <span class="help-block"><span th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="block text-danger"></span></span>
                    </div>

                  <label for="saleType" class="col-sm-2 control-label">Sale Type</label>
                    <div id="saleType" class="col-sm-4">
                      <select th:field="*{saleType}" class="form-control">
                        <option value="" th:text="#{label.select.empty}">-- Select the sale type --</option>
                        <option th:each="type : ${propertySaleType}"
                                th:value="${type}"
                                th:text="#{${'label.for.' + type}}">Wireframe</option>
                      </select>
                      <span class="help-block"><span th:if="${#fields.hasErrors('saleType')}" th:errors="*{saleType}" class="block text-danger"></span></span>
                    </div>
                </div> <!-- /.form-group -->



                <div class="form-group">

                  <label for="propertyPrice" class="col-sm-2 control-label">Property price</label>
                    <div id="propertyPrice" class="col-sm-4">
                      <input type="text" th:field="*{propertyPrice}"  placeholder="Property price" class="form-control"/>
                      <span class="help-block"><span th:if="${#fields.hasErrors('propertyPrice')}" th:errors="*{propertyPrice}" class="block text-danger"></span></span>
                    </div>

                  <label for="propertyAge" class="col-sm-2 control-label">Property age</label>
                  <div id="propertyAge" class="col-sm-4">
                      <select class="form-control" th:field="*{propertyAge}">
                        <option value="" th:text="#{label.select.empty}">- Select the age of the property- </option>
                        <option value="0">0</option>
                        <option value="5">+5</option>
                        <option value="10">+10</option>
                        <option value="15">+15</option>
                        <option value="20">+20</option>
                      </select>
                      <span class="help-block"><span th:if="${#fields.hasErrors('propertyAge')}" th:errors="*{propertyAge}" class="block text-danger"></span></span>
                  </div> <!-- /.col -->

                </div> <!-- /.form-group -->



                <div class="form-group">

                  <label for="bedrooms" class="col-sm-2 control-label">Bedroom (s)</label>
                      <div id="bedrooms" class="col-sm-4">
                        <select class="form-control" th:field="*{bedrooms}">
                          <option value="" th:text="#{label.select.empty}">- Select the number of bedroom(s)-</option>
                          <option value="0">0</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">+5</option>
                        </select>
                        <span class="help-block"><span th:if="${#fields.hasErrors('bedrooms')}" th:errors="*{bedrooms}" class="block text-danger"></span></span>
                      </div>

                      <label for="bathrooms" class="col-sm-2 control-label">Bathroom (s)</label>
                      <div id="bathrooms" class="col-sm-4">
                        <select class="form-control" th:field="*{bathrooms}">
                          <option value="" th:text="#{label.select.empty}">- Select the number of bathroom(s)-</option>
                          <option value="0">0</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <pption value="5">+5</pption>
                        </select>
                        <span class="help-block"><span th:if="${#fields.hasErrors('bathrooms')}" th:errors="*{bathrooms}" class="block text-danger"></span></span>
                  </div> <!-- /.col -->

                </div> <!-- /.form-group -->



                <div class="form-group">
                      <label for="sqfeet" class="col-sm-2 control-label">square feet</label>
                      <div id="sqfeet" class="col-sm-4">
                        <select th:field="*{sqfeet}" class="form-control">
                          <option value="">Min. Sq Feet (ft&#178;):</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                            <option value="60">60</option>
                            <option value="70">70</option>
                            <option value="80">80</option>
                            <option value="90">90</option>
                            <option value="100">100</option>
                            <option value="150">150</option>
                            <option value="200">200</option>
                            <option value="250">250</option>
                            <option value="300">300</option>
                            <option value="350">350</option>
                            <option value="400">400</option>
                            <option value="450">450</option>
                            <option value="500">500</option>
                            <option value="600">600</option>
                            <option value="700">700</option>
                            <option value="800">800</option>
                            <option value="900">900</option>
                            <option value="1000">1000</option>
                            <option value="1250">1250</option>
                            <option value="1500">1500</option>
                            <option value="1750">1750</option>
                            <option value="2000">2000</option>
                            <option value="3000">3000</option>
                            <option value="4000">4000</option>
                            <option value="5000">5000+</option>
                        </select>
                        <span class="help-block"><span th:if="${#fields.hasErrors('sqfeet')}" th:errors="*{sqfeet}" class="block text-danger"></span></span>
                      </div>

                      <label for="floorLevel" class="col-sm-2 control-label">number of floors</label>
                      <div id="floorLevel" class="col-sm-4">
                       <select th:field="*{floorLevel}" class="form-control">
                        <option value="">Floor Level:</option>
                        <option value="Basement">Basement</option>
                        <option value="Ground floor">Ground floor</option>
                        <option value="Mezzanine">Mezzanine</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10+">10+</option>
                        <option value="1 - 20">1 - 20</option>
                        <option value="Last Floor">Last Floor</option>
                        <option value="Attic">Attic</option>
                        <option value="Penthouse">Penthouse</option>
                        <option value="Back Split">Back Split</option>
                        <option value="Main">Main</option>
                        <option value="Maisonette">Maisonette</option>
                        <option value="Service flat">Service flat</option>
                        <option value="Top Floor">Top Floor</option>
                        <option value="Tri-level Apartment">Tri-level Apartment</option>
                        <option value="Whole building">Whole building</option>
                        <option value="Gallery">Gallery</option>
                        <option value="Downstairs flat">Downstairs flat</option>
                        <option value="Garret">Garret</option>
                        <option value="Bi-level apartment">Bi-level apartment</option>
                        <option value="0">0+</option>
                      </select>
                      <span class="help-block"><span th:if="${#fields.hasErrors('floorLevel')}" th:errors="*{floorLevel}" class="block text-danger"></span></span>

                      </div>
                    </div> <!-- /.form-group -->



                <div class="form-group col-md-2">
                      <label for="propertyDescription" class="col-sm-12 control-labels">Description</label>
                    </div>
                    <div id="propertyDescription" class="form-group col-md-10">
                      <textarea th:field="*{propertyDescription}" cols="250" class="form-control" />
                      <span class="help-block"><span th:if="${#fields.hasErrors('propertyDescription')}" th:errors="*{propertyDescription}" class="block text-danger"></span></span>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="features" class="col-sm-12 control-labels">Features</label>
                    </div>
                    <div class="form-group col-md-10" th:id="'features'">
                  <label th:each="type : ${featuresRent}" class="col-sm-4">
                    <th:block th:if="${not #lists.isEmpty(property.propertyFeatures)}">
                      <input  type="checkbox" name="propertyFeatures"
                                          th:value="${type}"
                                          th:checked="${#lists.contains(property.propertyFeatures, '' + type)}" />
                    </th:block>
                    <th:block th:if="${#lists.isEmpty(property.propertyFeatures)}">
                      <input type="checkbox" th:field="*{propertyFeatures}"
                                         th:value="${type}" />
                    </th:block>
                    <span th:text="#{${'label.' + type}}">label.type</span>
                  </label>
                  <span class="help-block"><span th:if="${#fields.hasErrors('propertyFeatures')}" th:errors="*{propertyFeatures}" class="block text-danger"></span></span>
                </div> <!-- /.form-group -->

                    <div class="row">
                      <div class="col-lg-10 col-md-offset-4 padding-left-0 padding-top-10 padding-right-30">
                        <hr />
                      </div>
                    </div> <!-- /.form-group -->



                <div class="form-group">
                  <div class="col-md-7 col-md-push-3">
                    <button type="submit" class="btn btn-primary" th:text="#{label.changes.submit}">Save Changes</button>
                    &nbsp;
                    <button type="reset" class="btn btn-default" th:text="#{label.changes.cancel}">Cancel</button>
                  </div> <!-- /.col -->
                </div> <!-- /.form-group -->

              </form>
                      </div>
                </div>
              </div>
            </div>






                </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer">
                    2015 © Ubold.
                </footer>

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


            <!-- Right Sidebar -->
            <div class="side-bar right-bar nicescroll">
                <h4 class="text-center">Chat</h4>
                <div class="contact-list nicescroll">
                    <ul class="list-group contacts-list">
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="images/users/avatar-1.jpg" alt="" />
                                </div>
                                <span class="name">Chadengle</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="images/users/avatar-2.jpg" alt="" />
                                </div>
                                <span class="name">Tomaslau</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="images/users/avatar-3.jpg" alt="" />
                                </div>
                                <span class="name">Stillnotdavid</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="images/users/avatar-4.jpg" alt="" />
                                </div>
                                <span class="name">Kurafire</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="images/users/avatar-5.jpg" alt="" />
                                </div>
                                <span class="name">Shahedk</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="images/users/avatar-6.jpg" alt="" />
                                </div>
                                <span class="name">Adhamdannaway</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="images/users/avatar-7.jpg" alt="" />
                                </div>
                                <span class="name">Ok</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="images/users/avatar-8.jpg" alt="" />
                                </div>
                                <span class="name">Arashasghari</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="images/users/avatar-9.jpg" alt="" />
                                </div>
                                <span class="name">Joshaustin</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="images/users/avatar-10.jpg" alt="" />
                                </div>
                                <span class="name">Sortino</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Right-bar -->


        </div>
        <!-- END wrapper -->

        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
  <th:block th:replace="footer_js :: footer_js">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be included -->
  <!-- from "footer_js.html" at runtime                                             -->
  <!-- ============================================================================ -->
  </th:block>





  </body>
</html>
