<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Remote file for scheduleAppointement</title>  
</head>
<body>
            <form accept-charset="UTF-8" class="ejb_eb form-horizontal" method="post" th:action="@{/property/__${#httpServletRequest.getParameter('id')}__}">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">New scheduleAppointement</h4>
          </div>
          <div class="modal-body">
      <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7" id="inl"></div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" id="inlvc">Value: <span id="inlv">(choose)</span>
    <input type="hidden" id="dateAppointment" name="dateAppointment" value="" />
    </div>
    </div>
      </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-default" th:text="#{label.changes.cancel}" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" th:text="#{label.changes.submit}">Save Changes</button>
          </div>
          </form>

  <th:block th:replace="footer_js :: footer_js">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "footer_js.html" at runtime                                             -->
    <!-- ============================================================================ -->
  </th:block>
</body>
</html>