<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Remote file for searchbuyingproposal</title>  
</head>
<body>
            <form accept-charset="UTF-8" class="ejb_eb form-horizontal" th:action="@{/profile/search/buy}" th:object="${proposalSearch}" method="post">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">New Buying proposal search</h4>
          </div>
          <div class="modal-body">
            
          <input type="hidden" th:if="${proposalSearch.id != null}" name="id" th:attr="value=${proposalSearch.id}" />
              <div class="row pl20">
                <div class="form-group col-sm-4 mr20" style="margin-right:1%;" th:id="'locationcountryid'">
                  <label for="locationcountryid" th:id="'country1'">Country</label>
                  <select th:id="'country1'" th:field="*{country}" class="ajaxList form-control required" data-target="province1" th:attr="data-url=@{/province.json}">
                    <option value="" th:text="#{label.country}">-- Select Country --</option>
                    <option th:each="type : ${country}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                  </select>
                  <span class="help-block"><span th:if="${#fields.hasErrors('country')}" th:errors="*{location.country.id}" class="block text-danger"></span></span>
                </div>

                <div class="form-group col-sm-4" style="margin-right:1%;" th:id="'locationprovinceid'">
                  <label th:id="'locationprovinceid'">Province</label>
                  <select th:id="'province1'" th:field="*{province}" class="ajaxList form-control required" data-target="city1" th:attr="data-url=@{/city.json}">
                    <option value="" th:text="#{label.province}">-- Select Province --</option>
                    <option th:each="type : ${province}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                  </select>
                  <span class="help-block"><span th:if="${#fields.hasErrors('province')}" th:errors="*{location.province.id}" class="block text-danger"></span></span>
                </div>

                <div class="form-group col-sm-4" th:id="'locationcityid'">
                  <label th:id="'locationcityid'">City</label>
                  <select th:id="'city1'" th:field="*{city}" class="form-control required">
                    <option value="" th:text="#{label.city}">-- Select City --</option>
                    <option th:each="type : ${city}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                  </select>
                  <span class="help-block"><span th:if="${#fields.hasErrors('city')}" th:errors="*{location.city.id}" class="block text-danger"></span></span>
                </div>
              </div>



              <hr />

                        <h4>Type</h4>
                        <div class="form-group">
                          <label for="propertyTypeInProposal" class="col-sm-2 control-label">Property Type</label>
                          <div class="col-sm-10">
                            <select th:field="*{propertyTypeInProposal}" class="form-control required">
                              <option value="" th:text="#{label.select.empty}"> - Select the type of the property - </option>
                              <option th:each="type : ${propertyTypeOfProperty}" th:value="${type}" th:text="#{${'label.' + type}}">Wireframe</option>
                            </select>
                            <span class="errors"> </span>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="minimumPrice" class="col-sm-2 control-label">minimum price</label>
                          <div class="col-sm-4">
                            <input th:field="*{minimumPrice}" class="form-control" id="minimumPrice" th:placeholder="#{label.placeholder.minimumPrice}" />
                            <span class="errors"></span>
                          </div>

                          <label for="maximumPrice" class="col-sm-2 control-label">maximumPrice</label>
                          <div class="col-sm-4">
                            <input th:field="*{maximumPrice}" class="form-control" id="maximumPrice" th:placeholder="#{label.placeholder.maximumPrice}" />
                            <span class="errors"> </span>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="rushPriority" class="col-sm-2 control-label">Rush</label>
                          <div class="col-sm-10">
                            <select th:field="*{rushPriority}" class="form-control required">
                              <option th:value="0" th:text="#{label.InRush.emptyValue}"> - When would you like to get the property - </option>
                              <option th:value="0-3" th:text="#{label.InRush.0_3}"> - Within three months to come - </option>
                              <option th:value="3-6" th:text="#{label.InRush.3_6}"> - Between the next three months and six to come - </option>
                            </select>
                            <span class="error"></span>
                          </div>
                        </div>
              <!-- /.form-group -->

      
          </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-default" th:text="#{label.changes.cancel}" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" th:text="#{label.changes.submit}">Save Changes</button>
          </div>
          </form>

  <th:block th:replace="footer_js :: footer_js">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "footer_js.html" at runtime                                             -->
    <!-- ============================================================================ -->
  </th:block>
</body>
</html>