<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Remote file for searchproperty</title>  
</head>
<body>		
			<form accept-charset="UTF-8" class="ejb_eb form-horizontal" th:action="@{/profile/search/property}" th:object="${propertySearch}" method="post">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">New property search</h4>
            </div>			<!-- /modal-header -->
            <div class="modal-body">
            
            <input type="hidden" th:if="${propertySearch.id != null}" name="id" th:attr="value=${propertySearch.id}" />
              <div class="row pl20">
                <div class="form-group col-sm-4 mr20" style="margin-right:1%;" th:id="'locationcountryid'">
                  <label for="locationcountryid" th:id="'country1'">Country</label>
                  <select th:id="'country1'" th:field="*{country}" class="ajaxList form-control required" data-target="province1" th:attr="data-url=@{/province.json}">
                    <option value="" th:text="#{label.country}">-- Select Country --</option>
                        <option th:each="type : ${country}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                  </select>
                  <span class="help-block"><span th:if="${#fields.hasErrors('country')}" th:errors="*{location.country.id}" class="block text-danger"></span></span>
                </div>

                <div class="form-group col-sm-4" style="margin-right:1%;" th:id="'locationprovinceid'">
                  <label th:id="'locationprovinceid'">Province</label>
                  <select th:id="'province1'" th:field="*{province}" class="ajaxList form-control required" data-target="city1" th:attr="data-url=@{/city.json}">
                    <option value="" th:text="#{label.province}">-- Select Province --</option>
                        <option th:each="type : ${province}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                  </select>
                  <span class="help-block"><span th:if="${#fields.hasErrors('province')}" th:errors="*{location.province.id}" class="block text-danger"></span></span>
                </div>

                <div class="form-group col-sm-4" th:id="'locationcityid'">
                  <label th:id="'locationcityid'">City</label>
                  <select th:id="'city1'" th:field="*{city}" class="form-control required">
                    <option value="" th:text="#{label.city}">-- Select Province --</option>
                        <option th:each="type : ${city}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                  </select>
                  <span class="help-block"><span th:if="${#fields.hasErrors('city')}" th:errors="*{location.city.id}" class="block text-danger"></span></span>
                </div>
              </div>



              <div class="form-group">
                <label for="propertyType" class="col-sm-2 control-label">Property Type</label>
                <div id="propertyType" class="col-sm-4">
                  <select th:field="*{propertyType}" id="propertyType" class="form-control">
                    <option value="" th:text="#{label.select.empty}"> - Select the type of the property - </option>
                    <option th:each="type : ${propertyTypeOfProperty}" th:value="${type}" th:text="#{${'label.' + type}}">Wireframe</option>
                  </select>
                  <span class="help-block"><span th:if="${#fields.hasErrors('propertyType')}" th:errors="*{propertyType}" class="block text-danger"></span></span>
                </div>

                <label for="propertySaleType" class="col-sm-2 control-label">Sale Type</label>
                <div id="propertySaleType" class="col-sm-4">
                  <select th:field="*{propertySaleType}" class="form-control">
                    <option value="" th:text="#{label.select.empty}">-- Select the sale type --</option>
                    <option th:each="type : ${propertySaleType}" th:value="${type}" th:text="#{${'label.for.' + type}}">Wireframe</option>
                  </select>
                  <span class="help-block"><span th:if="${#fields.hasErrors('propertySaleType')}" th:errors="*{propertySaleType}" class="block text-danger"></span></span>
                </div>
              </div>
              <!-- /.form-group -->



              <div class="form-group">

                <label for="propertyPriceMin" class="col-sm-2 control-label">Property price</label>
                <div id="propertyPriceMin" class="col-sm-4">
                  <input type="text" th:field="*{propertyPriceMin}" placeholder="Property price" class="form-control" />
                  <span class="help-block"><span th:if="${#fields.hasErrors('propertyPriceMin')}" th:errors="*{propertyPriceMin}" class="block text-danger"></span></span>
                </div>

                <label for="propertyAge" class="col-sm-2 control-label">Property age</label>
                <div id="propertyAge" class="col-sm-4">
                  <select class="form-control" th:field="*{propertyAge}">
                    <option value="" th:text="#{label.select.empty}">- Select the age of the property- </option>
                    <option value="0">0</option>
                    <option value="5">+5</option>
                    <option value="10">+10</option>
                    <option value="15">+15</option>
                    <option value="20">+20</option>
                  </select>
                  <span class="help-block"><span th:if="${#fields.hasErrors('propertyAge')}" th:errors="*{propertyAge}" class="block text-danger"></span></span>
                </div>
                <!-- /.col -->

              </div>
              <!-- /.form-group -->



              <div class="form-group">

                <label for="propertyNumOfBedrooms" class="col-sm-2 control-label">Bedroom (s)</label>
                <div id="propertyNumOfBedrooms" class="col-sm-4">
                  <select class="form-control" th:field="*{propertyNumOfBedrooms}">
                    <option value="" th:text="#{label.select.empty}">- Select the number of bedroom(s)-</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">+5</option>
                  </select>
                  <span class="help-block"><span th:if="${#fields.hasErrors('propertyNumOfBedrooms')}" th:errors="*{propertyNumOfBedrooms}" class="block text-danger"></span></span>
                </div>

                <label for="propertyNumOfBathrooms" class="col-sm-2 control-label">Bathroom (s)</label>
                <div id="propertyNumOfBathrooms" class="col-sm-4">
                  <select class="form-control" th:field="*{propertyNumOfBathrooms}">
                    <option value="" th:text="#{label.select.empty}">- Select the number of bathroom(s)-</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <pption value="5">+5</pption>
                  </select>
                  <span class="help-block"><span th:if="${#fields.hasErrors('propertyNumOfBathrooms')}" th:errors="*{propertyNumOfBathrooms}" class="block text-danger"></span></span>
                </div>
                <!-- /.col -->

              </div>
              <!-- /.form-group -->



              <div class="form-group">
                <label for="propertySqFeet" class="col-sm-2 control-label">square feet</label>
                <div id="propertySqFeet" class="col-sm-4">
                  <select th:field="*{propertySqFeet}" class="form-control">
                    <option value="">Min. Sq Feet (ft&#178;):</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                    <option value="100">100</option>
                    <option value="150">150</option>
                    <option value="200">200</option>
                    <option value="250">250</option>
                    <option value="300">300</option>
                    <option value="350">350</option>
                    <option value="400">400</option>
                    <option value="450">450</option>
                    <option value="500">500</option>
                    <option value="600">600</option>
                    <option value="700">700</option>
                    <option value="800">800</option>
                    <option value="900">900</option>
                    <option value="1000">1000</option>
                    <option value="1250">1250</option>
                    <option value="1500">1500</option>
                    <option value="1750">1750</option>
                    <option value="2000">2000</option>
                    <option value="3000">3000</option>
                    <option value="4000">4000</option>
                    <option value="5000">5000+</option>
                  </select>
                  <span class="help-block"><span th:if="${#fields.hasErrors('propertySqFeet')}" th:errors="*{propertySqFeet}" class="block text-danger"></span></span>
                </div>

                <label for="propertyNumOfFloors" class="col-sm-2 control-label">number of floors</label>
                <div id="propertyNumOfFloors" class="col-sm-4">
                  <select th:field="*{propertyNumOfFloors}" class="form-control">
                    <option value="">Floor Level:</option>
                    <option value="Basement">Basement</option>
                    <option value="Ground floor">Ground floor</option>
                    <option value="Mezzanine">Mezzanine</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10+">10+</option>
                    <option value="1 - 20">1 - 20</option>
                    <option value="Last Floor">Last Floor</option>
                    <option value="Attic">Attic</option>
                    <option value="Penthouse">Penthouse</option>
                    <option value="Back Split">Back Split</option>
                    <option value="Main">Main</option>
                    <option value="Maisonette">Maisonette</option>
                    <option value="Service flat">Service flat</option>
                    <option value="Top Floor">Top Floor</option>
                    <option value="Tri-level Apartment">Tri-level Apartment</option>
                    <option value="Whole building">Whole building</option>
                    <option value="Gallery">Gallery</option>
                    <option value="Downstairs flat">Downstairs flat</option>
                    <option value="Garret">Garret</option>
                    <option value="Bi-level apartment">Bi-level apartment</option>
                    <option value="0">0+</option>
                  </select>
                  <span class="help-block"><span th:if="${#fields.hasErrors('propertyNumOfFloors')}" th:errors="*{propertyNumOfFloors}" class="block text-danger"></span></span>

                </div>
              </div>
              <!-- /.form-group -->

      
          </div>			<!-- /modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" th:text="#{label.changes.submit}">Save Changes</button>
            </div>			<!-- /modal-footer -->
            </form>

  <th:block th:replace="footer_js :: footer_js">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "footer_js.html" at runtime                                             -->
    <!-- ============================================================================ -->
  </th:block>
</body>
</html>