<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Remote file for searchrentingproposal</title>  
</head>
<body>
            <form accept-charset="UTF-8" class="ejb_eb form-horizontal" th:action="@{/profile/search/rent}" th:object="${proposalSearch}" method="post">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">New renting proposal search</h4>
          </div>
          <div class="modal-body">
            
            <input type="hidden" th:if="${proposalSearch.id != null}" name="id" th:attr="value=${proposalSearch.id}" />
              <div th:if="${message != null and message != 'null'}" class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button" th:text="'x'">×</button>
                <th:block th:text="${message}">
                </th:block>
              </div>
              <div class="form-group">

                <div class="col-md-4" th:id="'location.country.id'">
                  <select id="country" th:field="*{country}" class="ajaxList form-control required" data-target="province" th:attr="data-url=@{/province.json}">
                    <option value="" th:text="#{label.country}">-- Select Country --</option>
                    <option th:each="type : ${country}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                  </select>
                  <span class="help-block"><span th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="block text-danger"></span></span>
                </div>
                <div class="col-md-4" th:id="'location.province.id'">
                  <select id="province" th:field="*{province}" class="ajaxList form-control required" data-target="city" th:attr="data-url=@{/city.json}">
                    <option value="" th:text="#{label.province}">-- Select Province --</option>
                    <option th:each="type : ${province}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                  </select>
                  <span class="help-block"><span th:if="${#fields.hasErrors('province')}" th:errors="*{province}" class="block text-danger"></span></span>
                </div>
                <div class="col-md-4" th:id="'location.city.id'">
                  <select id="city" th:field="*{city}" class="form-control required">
                    <option value="" th:text="#{label.city}">-- Select City --</option>
                    <option th:each="type : ${city}" th:value="${type.id}" th:text="${type.name}">Wireframe</option>
                  </select>
                  <span class="help-block"><span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="block text-danger"></span></span>
                </div>

              </div>
              <!-- /.form-group -->

              <hr />

              <h4>Type</h4>
              <div class="form-group" th:id="'propertyTypeInProposal'">
                <label for="propertyTypeInProposal" class="col-sm-2 control-label">Property Type</label>
                <div class="col-sm-10">
                  <select th:field="*{propertyTypeInProposal}" class="form-control">
                    <option value="" th:text="#{label.select.empty}"> - Select the type of the property - </option>
                    <option th:each="type : ${propertyTypeOfProperty}" th:value="${type}" th:text="#{${'label.' + type}}">Wireframe</option>
                  </select>
                  <span class="help-block"><span th:if="${#fields.hasErrors('propertyTypeInProposal')}" th:errors="*{propertyTypeInProposal}" class="block text-danger"></span></span>
                </div>
              </div>

              <div class="form-group">
                <label for="minimumPrice" class="col-sm-2 control-label">minimum price</label>
                <div class="col-sm-4" th:id="'minimumPrice'">
                  <input th:field="*{minimumPrice}" class="form-control" id="minimumPrice" th:placeholder="#{label.placeholder.minimumPrice}" />
                  <span class="help-block"><span th:if="${#fields.hasErrors('minimumPrice')}" th:errors="*{minimumPrice}" class="block text-danger"></span></span>
                </div>

                <label for="maximumPrice" class="col-sm-2 control-label">maximumPrice</label>
                <div class="col-sm-4" th:id="'maximumPrice'">
                  <input th:field="*{maximumPrice}" class="form-control" id="maximumPrice" th:placeholder="#{label.placeholder.maximumPrice}" />
                  <span class="help-block"><span th:if="${#fields.hasErrors('maximumPrice')}" th:errors="*{maximumPrice}" class="block text-danger"></span></span>
                </div>
              </div>

              <div class="form-group">
                <label for="bathroomsMin" class="col-sm-2 control-label">Room (s) bathrooms</label>
                <div class="col-sm-2" th:id="'bathroomsMin'">
                  <select class="form-control" th:field="*{bathroomsMin}">
                    <option value="" th:text="#{label.select.empty}">-- Select the item --</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">+5</option>
                  </select>
                  <span class="help-block"><span th:if="${#fields.hasErrors('bathroomsMin')}" th:errors="*{bathroomsMin}" class="block text-danger"></span></span>
                </div>
                <div class="col-sm-2" th:id="'bathroomsMax'">
                  <select class="form-control" th:field="*{bathroomsMax}">
                    <option value="" th:text="#{label.select.empty}">-- Select the item --</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">+5</option>
                  </select>
                  <span class="help-block"><span th:if="${#fields.hasErrors('bathroomsMax')}" th:errors="*{bathroomsMax}" class="block text-danger"></span></span>
                </div>

                <label for="bedroomsMin" class="col-sm-2 control-label">Room (s) bedrooms</label>
                <div class="col-sm-2" th:id="'bedroomsMin'">
                  <select class="form-control" th:field="*{bedroomsMin}">
                    <option value="" th:text="#{label.select.empty}">-- Select the item --</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">+5</option>
                  </select>
                  <span class="help-block"><span th:if="${#fields.hasErrors('bedroomsMin')}" th:errors="*{bedroomsMin}" class="block text-danger"></span></span>
                </div>
                <div class="col-sm-2" th:id="'bedroomsMax'">
                  <select class="form-control" th:field="*{bedroomsMax}">
                    <option value="" th:text="#{label.select.empty}">-- Select the item --</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">+5</option>
                  </select>
                  <span class="help-block"><span th:if="${#fields.hasErrors('bedroomsMax')}" th:errors="*{bedroomsMax}" class="block text-danger"></span></span>
                </div>

              </div>

              <hr />
              <h4>Features</h4>
              <div class="form-group">
                <label for="furnished" class="col-sm-2 control-label">Furnished</label>
                <div class="col-sm-4" th:id="'furnished'">
                  <select th:field="*{furnished}" class="form-control">
                    <option value="" th:text="#{label.select.empty}">-- Select the item --</option>
                    <option th:each="type : ${labelYesNo}" th:value="${type}" th:text="#{${'label.' + type}}">Wireframe</option>

                  </select>
                  <span class="help-block"><span th:if="${#fields.hasErrors('furnished')}" th:errors="*{furnished}" class="block text-danger"></span></span>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.form-group -->
            
          </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-default m-l-10" th:text="#{label.changes.cancel}" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" th:text="#{label.changes.submit}">Save Changes</button>
          </div>
          </form>

  <th:block th:replace="footer_js :: footer_js">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "footer_js.html" at runtime                                             -->
    <!-- ============================================================================ -->
  </th:block>

</body>
</html>